force-app/main/default/flows/Accruals_Estates_Acct_Interest_Calc_ACCEA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_field_values</name>
        <label>Store field values</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>forename: {!caseForename};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>surname: {!caseSurname};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>caseReference: {!caseReference};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>username: {!username};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>costAdministration: {!costAdministration};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>costConveyancing: {!costConveyancing};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>costLitigation: {!costLitigation};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>vatFormula: {!vatFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>costConveyancingFormula: {!costConveyancingFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>costLitigationFormula: {!costLitigationFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>currentDate: {!currentDate};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_history_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_field_values_for_No_outcome</name>
        <label>Store field values for &apos;No&apos; outcome</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dateInterestPayable: {!Copy_1_of_Enter_date_from_which_interest_is_payable2};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>completedCWS: False;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_field_values_for_Yes_outcome</name>
        <label>Store field values for &apos;Yes&apos; outcome</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dateInterestPayable: {!Enter_date_from_which_interest_is_payable2};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dateOfCWS: {!Enter_date_of_Certainty_search1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>completedCWS: True;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Was_a_Certainty_Will_search_completed2</name>
        <label>Was a Certainty Will search completed?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Was_a_Certainty_Will_search_completed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_of_Certainty_search</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Was_a_Certainty_Will_search_completed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_You_must_calculate_costs_or_ensure_details_entered_on_costs_screen_bef</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>costConveyancingFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!costConveyancing}&gt;0.00, True, False)</expression>
    </formulas>
    <formulas>
        <name>costLitigationFormula</name>
        <dataType>Boolean</dataType>
        <expression>if({!costLitigation}&gt;0.00,True,False)</expression>
    </formulas>
    <formulas>
        <name>daysAdd14</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <formulas>
        <name>vatFormula</name>
        <dataType>Number</dataType>
        <expression>{!costAdministration}*0.2</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Accruals - Estates Acct &amp; Interest Calc (ACCEA) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accruals - Estates Acct &amp; Interest Calc (ACCEA)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_history_record</name>
        <label>Create history record</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_task_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Asked BV Finance to provide estate account &amp; interest - accruals only</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_task_record</name>
        <label>Create task record</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case_Lookup__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>daysAdd14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Interest Calculation Received?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>BV_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_case</name>
        <label>Get BV Case</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>costConveyancing</assignToReference>
            <field>Conveyancing_Costs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseForename</assignToReference>
            <field>Forenames__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>costLitigation</assignToReference>
            <field>Litigation_Costs_Inc_Vat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseReference</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseSurname</assignToReference>
            <field>Surname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>costAdministration</assignToReference>
            <field>Total_Administration_Costs__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_field_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>username</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Enter_date_from_which_interest_is_payable</name>
        <label>Copy 1 of Enter date from which interest is payable</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_field_values_for_No_outcome</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_date_from_which_interest_is_payable2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date from which interest is payable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_You_must_calculate_costs_or_ensure_details_entered_on_costs_screen_bef</name>
        <label>Copy 1 of You must calculate costs or ensure details entered on costs screen before producing this document</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_date_from_which_interest_is_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Youmustcalculatecostsorensuredetailsenteredoncostsscreenbeforeproduc1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>You must calculate costs or ensure details entered on costs screen before producing this document</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_from_which_interest_is_payable1</name>
        <label>Enter date from which interest is payable</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_field_values_for_Yes_outcome</targetReference>
        </connector>
        <fields>
            <name>Enter_date_from_which_interest_is_payable2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date from which interest is payable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_Certainty_search</name>
        <label>Enter date of Certainty search</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>You_must_calculate_costs_or_ensure_details_entered_on_costs_screen_before_produc</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_Certainty_search1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of Certainty search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Was_a_Certainty_Will_search_completed</name>
        <label>Was a Certainty Will search completed?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_a_Certainty_Will_search_completed2</targetReference>
        </connector>
        <fields>
            <name>Was_a_Certainty_Will_search_completed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was a Certainty Will search completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_must_calculate_costs_or_ensure_details_entered_on_costs_screen_before_produc</name>
        <label>You must calculate costs or ensure details entered on costs screen before producing this document</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_from_which_interest_is_payable1</targetReference>
        </connector>
        <fields>
            <name>Youmustcalculatecostsorensuredetailsenteredoncostsscreenbeforeproduc1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>You must calculate costs or ensure details entered on costs screen before producing this document</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_a_Certainty_Will_search_completed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseForename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSurname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>costAdministration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>costConveyancing</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>costLitigation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflowValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
