force-app/main/default/flows/Acknowledge_receipt_of_kin_claim_KINACK.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Claimant</name>
        <choiceText>Claimant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claimant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genealogist</name>
        <choiceText>Genealogist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genealogist</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Please_select_recipient2</name>
        <label>Please select recipient</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Claimant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_recipient1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claimant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_address_or_list_and_select_as_required</targetReference>
            </connector>
            <label>Selected Claimant</label>
        </rules>
        <rules>
            <name>Selected_Genealogist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_recipient1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Genealogist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class</targetReference>
            </connector>
            <label>Selected Genealogist</label>
        </rules>
        <rules>
            <name>Selected_Solicitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_recipient1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Solicitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_address_or_list_and_select_as_required</targetReference>
            </connector>
            <label>Selected Solicitor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Acknowledge receipt of kin claim (KINACK) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Acknowledge receipt of kin claim (KINACK)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_required</name>
        <label>Add address, or list and select as required</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claimant1</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address, or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_you_sending_this_by_Signed_for_1st_Class</name>
        <label>Are you sending this by Signed for 1st Class?</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_their_Ref</targetReference>
        </connector>
        <fields>
            <name>Are_you_sending_this_by_Signed_for_1st_Class2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sending this by Signed for 1st Class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimant1</name>
        <label>Claimant</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_you_sending_this_by_Signed_for_1st_Class</targetReference>
        </connector>
        <fields>
            <name>Claimant1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN01</name>
                    <dataType>String</dataType>
                    <fieldText>Surname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Claimant1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN04</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimant2</name>
        <label>Claimant</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_salutation</targetReference>
        </connector>
        <fields>
            <name>Claimant2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN20</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimants_Solicitors</name>
        <label>Claimant&apos;s Solicitors</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Are_you_sending_this_by_Signed_for_1st_Class</targetReference>
        </connector>
        <fields>
            <name>Claimants_Solicitors_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimants_Solicitors_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KSO01</name>
                    <dataType>String</dataType>
                    <fieldText>Claimant&apos;s Solicitor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Claimants_Solicitors_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KSO09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Add_address_or_list_and_select_as_required</name>
        <label>Copy 1 of Add address, or list and select as required</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claimants_Solicitors</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address, or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class</name>
        <label>Copy 1 of Are you sending this by Signed for 1st Class?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claimant2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sending this by Signed for 1st Class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_date_of_letter_received</name>
        <label>Copy 1 of Enter date of letter received</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Enter_date_of_letter_received2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_salutation</name>
        <label>Copy 1 of Enter salutation</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_date_of_letter_received</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_salutation2</name>
            <dataType>String</dataType>
            <fieldText>Enter salutation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Are_you_sending_this_by_Signed_for_1st_Class</name>
        <label>Copy 2 of Are you sending this by Signed for 1st Class?</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_date_of_letter_received</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Are_you_sending_this_by_Signed_for_1st_Class2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sending this by Signed for 1st Class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_date_of_letter_received</name>
        <label>Copy 2 of Enter date of letter received</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Enter_date_of_letter_received2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_letter_received</name>
        <label>Enter date of letter received</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Enter_date_of_letter_received2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_salutation</name>
        <label>Enter salutation</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_letter_received</targetReference>
        </connector>
        <fields>
            <name>Enter_salutation2</name>
            <dataType>String</dataType>
            <fieldText>Enter salutation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_their_Ref</name>
        <label>Enter their Ref.</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_salutation</targetReference>
        </connector>
        <fields>
            <name>Enter_their_ref2</name>
            <dataType>String</dataType>
            <fieldText>Enter their ref.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_recipient</name>
        <label>Please select recipient</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_select_recipient2</targetReference>
        </connector>
        <fields>
            <name>Please_select_recipient1</name>
            <choiceReferences>Claimant</choiceReferences>
            <choiceReferences>Genealogist</choiceReferences>
            <choiceReferences>Solicitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select recipient</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_select_recipient</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
