force-app/main/default/flows/Ad_colligenda_grant_property_deceased_alien_ADCOLL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_and_last_known_to_be_alive</name>
        <choiceText>Yes_and_last_known_to_be_alive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes_and_last_known_to_be_alive</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_and_last_seen_alive</name>
        <choiceText>Yes_and_last_seen_alive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes_and_last_seen_alive</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Found_dead2</name>
        <label>Found dead?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found_dead1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_age_of_deceased</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
        <rules>
            <name>SelectedYes_and_last_seen_alive2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found_dead1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_and_last_seen_alive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_last_seen_alive</targetReference>
            </connector>
            <label>Selected Yes_and_last_seen_alive</label>
        </rules>
        <rules>
            <name>Selected_Yes_and_last_known_to_be_alive2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Found_dead1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_and_last_known_to_be_alive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_last_known_to_be_alive</targetReference>
            </connector>
            <label>Selected Yes_and_last_known_to_be_alive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ad colligenda grant (property/deceased alien) (ADCOLL) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ad colligenda grant (property/deceased alien) (ADCOLL)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_Deed_holder</name>
        <label>Copy 1 of Deed holder</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_details_of_the_assets</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Deed_holder_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Deed_holder_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_DEE10</name>
                    <dataType>String</dataType>
                    <fieldText>Tenure</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_age_of_deceased</name>
        <label>Copy 1 of Enter age of deceased</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_country_of_origin</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_age_of_deceased3</name>
            <dataType>Number</dataType>
            <fieldText>Enter age of deceased</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_country_of_origin</name>
        <label>Copy 1 of Enter country of origin</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Deed_holder</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_country_of_origin2</name>
            <dataType>String</dataType>
            <fieldText>Enter country of origin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_details_of_the_assets</name>
        <label>Copy 1 of Enter details of the assets</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Is_an_IHT205_required</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_details_of_the_assets2</name>
            <fieldText>Enter details of the assets</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Is_an_IHT205_required</name>
        <label>Copy 1 of Is_an_IHT205_required?</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Is_an_IHT205_required2</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is_an_IHT205_required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Deed_holder</name>
        <label>Copy 2 of Deed holder</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_details_of_the_assets</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Deed_holder_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Deed_holder_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_DEE10</name>
                    <dataType>String</dataType>
                    <fieldText>Tenure</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_age_of_deceased</name>
        <label>Copy 2 of Enter age of deceased</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_country_of_origin</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_age_of_deceased3</name>
            <dataType>Number</dataType>
            <fieldText>Enter age of deceased</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_country_of_origin</name>
        <label>Copy 2 of Enter country of origin</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Deed_holder</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_country_of_origin2</name>
            <dataType>String</dataType>
            <fieldText>Enter country of origin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_details_of_the_assets</name>
        <label>Copy 2 of Enter details of the assets</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Is_an_IHT205_required</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_details_of_the_assets2</name>
            <fieldText>Enter details of the assets</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Is_an_IHT205_required</name>
        <label>Copy 2 of Is_an_IHT205_required?</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Is_an_IHT205_required2</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is_an_IHT205_required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deceased_died_in_same_locality_as_last_residence</name>
        <label>Deceased died in same locality as last residence?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Found_dead</targetReference>
        </connector>
        <fields>
            <name>Deceased_died_in_same_locality_as_last_residence1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deceased died in same locality as last residence?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deed_holder</name>
        <label>Deed holder</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_details_of_the_assets</targetReference>
        </connector>
        <fields>
            <name>Deed_holder_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Deed_holder_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DEE10</name>
                    <dataType>String</dataType>
                    <fieldText>Tenure</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_age_of_deceased</name>
        <label>Enter age of deceased</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_country_of_origin</targetReference>
        </connector>
        <fields>
            <name>Enter_age_of_deceased3</name>
            <dataType>Number</dataType>
            <fieldText>Enter age of deceased</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_country_of_origin</name>
        <label>Enter country of origin</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deed_holder</targetReference>
        </connector>
        <fields>
            <name>Enter_country_of_origin2</name>
            <dataType>String</dataType>
            <fieldText>Enter country of origin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_last_known_to_be_alive</name>
        <label>Enter date last known to be alive</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_age_of_deceased</targetReference>
        </connector>
        <fields>
            <name>Enter_date_last_known_to_be_alive2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date last known to be alive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_last_seen_alive</name>
        <label>Enter date last seen alive</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_age_of_deceased</targetReference>
        </connector>
        <fields>
            <name>Enter_date_last_seen_alive2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date last seen alive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_details_of_the_assets</name>
        <label>Enter details of the assets</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_an_IHT205_required</targetReference>
        </connector>
        <fields>
            <name>Enter_details_of_the_assets2</name>
            <fieldText>Enter details of the assets</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Found_dead</name>
        <label>Found dead?</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Found_dead2</targetReference>
        </connector>
        <fields>
            <name>Found_dead1</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes_and_last_seen_alive</choiceReferences>
            <choiceReferences>Yes_and_last_known_to_be_alive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Found dead?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_many_sealed_copies_do_you_want</name>
        <label>How many sealed copies do you want?</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_enter_your_full_name</targetReference>
        </connector>
        <fields>
            <name>How_many_sealed_copies_do_you_want1</name>
            <dataType>Number</dataType>
            <fieldText>How many sealed copies do you want?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_an_IHT205_required</name>
        <label>Is_an_IHT205_required?</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Is_an_IHT205_required2</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is_an_IHT205_required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_enter_your_full_name</name>
        <label>Please enter your full name</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deceased_died_in_same_locality_as_last_residence</targetReference>
        </connector>
        <fields>
            <name>Please_enter_your_full_name1</name>
            <dataType>String</dataType>
            <fieldText>Please enter your full name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_many_sealed_copies_do_you_want</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
