force-app/main/default/flows/Balance_due_to_kin_Accruals_No_VAT_ACRKIN2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_field_values</name>
        <label>Store field values</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>caseReference: {!caseReference};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>forename: {!caseForename};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>surname: {!caseSurname};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>currentDate: {!currentDate};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>username: {!username};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>balance: {!Enter_balance_on_estate_account1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>grossInterest: {!Enter_gross_interest1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>taxOnInterest: {!Enter_tax_on_interest1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>kinClaimCosts: {!Enter_kin_claim_costs_no_VAT1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>balanceAccrued: {!balanceAccruedFormula};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_history_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>balanceAccruedFormula</name>
        <dataType>Number</dataType>
        <expression>{!Enter_balance_on_estate_account1}+{!Enter_gross_interest1}-{!Enter_tax_on_interest1}-{!Enter_kin_claim_costs_no_VAT1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>currentDate</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY())</expression>
    </formulas>
    <interviewLabel>Balance due to kin - Accruals No VAT (ACRKIN2) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Balance due to kin - Accruals No VAT (ACRKIN2)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_history_record</name>
        <label>Create history record</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Accruals Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>caseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>caseOfficer</assignToReference>
            <field>Case_Officer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseForename</assignToReference>
            <field>Forenames__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseReference</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseSurname</assignToReference>
            <field>Surname__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_user</name>
        <label>Get user</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_field_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Profile.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>username</assignToReference>
            <field>Username</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Enter_balance_on_estate_account</name>
        <label>Enter balance on estate account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_gross_interest</targetReference>
        </connector>
        <fields>
            <name>Enter_balance_on_estate_account1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter balance on estate account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_gross_interest</name>
        <label>Enter gross interest</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_tax_on_interest</targetReference>
        </connector>
        <fields>
            <name>Enter_gross_interest1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter gross interest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_kin_claim_costs_no_VAT</name>
        <label>Enter kin claim costs (no VAT)</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
        <fields>
            <name>Enter_kin_claim_costs_no_VAT1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter kin claim costs (no VAT)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_tax_on_interest</name>
        <label>Enter tax on interest</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_kin_claim_costs_no_VAT</targetReference>
        </connector>
        <fields>
            <name>Enter_tax_on_interest1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter tax on interest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_balance_on_estate_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseForename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSurname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflowValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
