force-app/main/default/flows/Blank_document_BLANK.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Blank document (BLANK) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Blank document (BLANK)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>Enter_description_of_document_for_history1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <screens>
        <name>Enter_description_of_document_for_history</name>
        <label>Enter description of document for history</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_a_history_record</targetReference>
        </connector>
        <fields>
            <name>Enter_description_of_document_for_history1</name>
            <dataType>String</dataType>
            <fieldText>Enter description of document for history</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_description_of_document_for_history</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
