force-app/main/default/flows/Calendar_search_SEARCH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_field_values</name>
        <label>Store field values</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>caseReference: {!caseReference};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>otherNameFormula: {!otherNameFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>fullNameOfSearch: {!Enter_full_name_of_person_whose_grant_you_are_searching_for2};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>lastKnownAddress: {!lastKnownAddressConcatenation};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>inputDateOfDeath: {!Enter_date_of_death2};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>forename: {!caseForename};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>surname: {!caseSurname};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_history_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_field_values_for_existing_grant</name>
        <label>Store field values for existing grant</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tsolFormula: {!tsolFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dateOfDeath: {!dateOfDeathCasting};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>deceasedAddress: {!deceasedAddress};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>otherNameFormula: {!otherNameFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>forename: {!caseForename};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>surname: {!caseSurname};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_history_record_for_existing_grant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_field_values_for_TSol_grant</name>
        <label>Store field values for TSol grant</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>caseReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tsolFormula: {!tsolFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dateOfDeath: {!dateOfDeathCasting};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>deceasedAddress: {!deceasedAddress};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>otherNameFormula: {!otherNameFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>forename: {!caseForename};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>surname: {!caseSurname};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_history_record_for_tsol_grant</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Existing_grant_to_this_estate</name>
        <choiceText>Existing grant to this estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing grant to this estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_TSol_grant_to_this_estate</name>
        <choiceText>Existing TSol grant to this estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing TSol grant to this estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Name</name>
        <choiceText>Other Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Name</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Please_select_what_grant_you_are_requesting2</name>
        <label>Please select what grant you are requesting</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Existing_grant_to_this_estate2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_what_grant_you_are_requesting1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing_grant_to_this_estate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_case_detail_for_existing_grant</targetReference>
            </connector>
            <label>Selected Existing grant to this estate</label>
        </rules>
        <rules>
            <name>Selected_Other_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_what_grant_you_are_requesting1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_full_name_of_person_whose_grant_you_are_searching_for</targetReference>
            </connector>
            <label>Selected Other Name</label>
        </rules>
        <rules>
            <name>SelectedExistingTSolgranttothisestate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_what_grant_you_are_requesting1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Existing_TSol_grant_to_this_estate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_case_detail_for_tsol_grant</targetReference>
            </connector>
            <label>Selected Existing TSol grant to this estate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateOfDeathCasting</name>
        <dataType>String</dataType>
        <expression>TEXT({!dateOfDeath})</expression>
    </formulas>
    <formulas>
        <name>daysAdd10</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <formulas>
        <name>lastKnownAddressConcatenation</name>
        <dataType>String</dataType>
        <expression>{!Enter_last_known_address2.street}+&quot;, &quot;+{!Enter_last_known_address2.city}+&quot;, &quot;+{!Enter_last_known_address2.postalCode}+&quot;, &quot;+{!Enter_last_known_address2.province}+&quot;, &quot;+{!Enter_last_known_address2.country}</expression>
    </formulas>
    <formulas>
        <name>otherNameFormula</name>
        <dataType>Boolean</dataType>
        <expression>if(CONTAINS({!Please_select_what_grant_you_are_requesting1}, &quot;Other Name&quot;), True, False)</expression>
    </formulas>
    <formulas>
        <name>tsolFormula</name>
        <dataType>Boolean</dataType>
        <expression>if(CONTAINS({!Please_select_what_grant_you_are_requesting1}, &quot;TSol&quot;), True, False)</expression>
    </formulas>
    <interviewLabel>Calendar search (SEARCH) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calendar search (SEARCH)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_history_record</name>
        <label>Create history record</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_task_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Calender search requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_history_record_for_existing_grant</name>
        <label>Create history record for existing grant</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_task_record_for_existing_grant</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Calender search requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_history_record_for_tsol_grant</name>
        <label>Create history record for TSol grant</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_task_record_for_tsol_grant</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Calender search requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_task_record</name>
        <label>Create task record</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>caseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case_Lookup__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>daysAdd10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Calendar Search?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <object>BV_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_record_for_existing_grant</name>
        <label>Create task record for existing grant</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>caseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case_Lookup__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>daysAdd10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Calendar Search?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <object>BV_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_record_for_tsol_grant</name>
        <label>Create task record for TSol grant</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>caseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case_Lookup__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>daysAdd10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Calendar Search?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <object>BV_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Please_select_what_grant_you_are_requesting2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>caseOfficer</assignToReference>
            <field>Case_Officer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>dateOfDeath</assignToReference>
            <field>Date_Of_Death__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseForename</assignToReference>
            <field>Forenames__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseReference</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseSurname</assignToReference>
            <field>Surname__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_case_detail_for_existing_grant</name>
        <label>Get case detail for existing grant</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_field_values_for_existing_grant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>deceasedAddress</assignToReference>
            <field>Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_case_detail_for_tsol_grant</name>
        <label>Get case detail for TSol grant</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_field_values_for_TSol_grant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>deceasedAddress</assignToReference>
            <field>Address__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Enter_date_of_death</name>
        <label>Enter date of death</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_field_values</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_death2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of death</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_full_name_of_person_whose_grant_you_are_searching_for</name>
        <label>Enter full name of person whose grant you are searching for</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_last_known_address</targetReference>
        </connector>
        <fields>
            <name>Enter_full_name_of_person_whose_grant_you_are_searching_for2</name>
            <dataType>String</dataType>
            <fieldText>Enter full name of person whose grant you are searching for</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_last_known_address</name>
        <label>Enter last known address</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_death</targetReference>
        </connector>
        <fields>
            <name>Enter_last_known_address2</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_what_grant_you_are_requesting</name>
        <label>Please select what grant you are requesting</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
        <fields>
            <name>Please_select_what_grant_you_are_requesting1</name>
            <choiceReferences>Existing_grant_to_this_estate</choiceReferences>
            <choiceReferences>Other_Name</choiceReferences>
            <choiceReferences>Existing_TSol_grant_to_this_estate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select what grant you are requesting</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_select_what_grant_you_are_requesting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseForename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSurname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateOfDeath</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deceasedAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflowValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
