force-app/main/default/flows/Case_Creation_Freedom_of_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Get_Next_FOIR_Number</name>
        <label>Get Next FOIR Number</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <actionName>BVCaseNumberHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Front_Cover_Follow_Up</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>RecordCaseType</name>
            <value>
                <stringValue>FOIR</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FOINumber</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Get_Next_FOIR_Number</name>
        <label>Get Next FOIR Number</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <actionName>BVCaseNumberHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Int_Front_Cover</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>RecordCaseType</name>
            <value>
                <stringValue>FOIR</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FOINumber</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Next_FOIR_Number</name>
        <label>Get Next FOIR Number</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <actionName>BVCaseNumberHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Front_Cover</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>RecordCaseType</name>
            <value>
                <stringValue>FOIR</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FOINumber</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Date</name>
        <label>Assign Date</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>InputDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Recieved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkingDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recieved_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Recieved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_Follow_Up</name>
        <label>Assign Date (Follow Up)</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>InputDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOI_Date_Recieved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkingDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recieved_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOI_Date_Recieved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Dates_Follow_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_IR</name>
        <label>Assign Date (Internal Review)</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>InputDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Int_Date_Recieved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkingDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recieved_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Int_Date_Recieved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Dates_Internal_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Internal_Review</name>
        <label>Assign Internal Review</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>requestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Review_Decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Review_Num</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Request</name>
        <label>Assign New Request</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>requestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Request_Decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Date_Recieved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_North_Ireland</name>
        <label>Assign Northern Ireland</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NorthernIrelandTicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FOI_Request_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Northern_Ireland_No</name>
        <label>Assign Northern Ireland to false</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NorthernIrelandTicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FOI_Request_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_request_to_Follow_Up</name>
        <label>Assign request to Follow Up</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>requestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_Up_decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FOI_Follow_Up_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A_SRA_Intestate</name>
        <choiceText>A - SRA Intestate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A - SRA Intestate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Dwellings</name>
        <choiceText>Auction - Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Land</name>
        <choiceText>Auction - Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>B_Freehold_Leasehold_Property</name>
        <choiceText>B - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bachelor</name>
        <choiceText>Bachelor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bachelor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank</name>
        <choiceText>Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Transfer</name>
        <choiceText>Bank Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Barclays</name>
        <choiceText>Barclays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barclays</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV18</name>
        <choiceText>BV18</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV18</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV1A_Letter_BV1A_Online_Referral_Form</name>
        <choiceText>BV1A Letter/BV1A Online Referral Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV1A Letter/BV1A Online Referral Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Officer</name>
        <choiceText>BV Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Policy</name>
        <choiceText>BV Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>BVC14_Form</name>
        <choiceText>BVC14 Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BVC14 Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Freedom_of_Information_Request</name>
        <choiceText>C1 - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2_Net_Estate_over_15_000_no_grant_required</name>
        <choiceText>C2 - Net Estate over £15,000 no grant required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C2 - Net Estate over £15,000 no grant required</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4_Net_Estate_over_15_000_collection_only</name>
        <choiceText>C4 - Net Estate over £15,000 collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C4 - Net Estate over £15,000 collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Net_Estate_over_5000_pre_January</name>
        <choiceText>C - Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C - Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Officer</name>
        <choiceText>Case Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_operative_Bank</name>
        <choiceText>Co-operative Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-operative Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conveyancing</name>
        <choiceText>Conveyencing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conveyencing</stringValue>
        </value>
    </choices>
    <choices>
        <name>D1_Net_Estate_under_5000</name>
        <choiceText>D1 - Net Estate under £5000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D1 - Net Estate under £5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D2_Net_Estate_over_5000_under_15_000</name>
        <choiceText>D2 - Net Estate over £5000 &amp; under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D2 - Net Estate over £5000 &amp; under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D3_Net_Estate_under_15_000</name>
        <choiceText>D3 - Net Estate under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D3 - Net Estate under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D4_Net_Estate_Under_15k_collection_only</name>
        <choiceText>D4 - Net Estate Under £15k - collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D4 - Net Estate Under £15k - collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_Net_Estate_less_than_5000_pre_Jan_2009</name>
        <choiceText>D - Net Estate less than £5000 (pre Jan 2009)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D - Net Estate less than £5000 (pre Jan 2009)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_Company</name>
        <choiceText>Dissolved Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_LLP</name>
        <choiceText>Dissolved LLP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved LLP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Docket_Book</name>
        <choiceText>Docket Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Docket Book</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dwellings</name>
        <choiceText>Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>E1_Discretionary_Grants</name>
        <choiceText>E1 - Discretionary Grants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E1 - Discretionary Grants</stringValue>
        </value>
    </choices>
    <choices>
        <name>E2_Intellectual_Property</name>
        <choiceText>E2 - Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E2 - Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3_Land_Charges_Mortgages_Shares</name>
        <choiceText>E3 - Land Charges / Mortgages / Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3 - Land Charges / Mortgages / Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3A_Mortgages_and_Charges</name>
        <choiceText>E3A - Mortgages and Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3A - Mortgages and Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3B_Other_Restrictions_on_Title</name>
        <choiceText>E3B - Other Restrictions on Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3B - Other Restrictions on Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3D_Quoted_Shares</name>
        <choiceText>E3D - Quoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3D - Quoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3E_Unquoted_Shares</name>
        <choiceText>E3E - Unquoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3E - Unquoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4_Freehold_Reversions</name>
        <choiceText>E4 - Freehold Reversions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4 - Freehold Reversions</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4A_Simple_Freehold_Reversion</name>
        <choiceText>E4A - Simple Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4A - Simple Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4B_Complex_Freehold_Reversion</name>
        <choiceText>E4B - Complex Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4B - Complex Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5_Other_Land</name>
        <choiceText>E5 - Other Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5 - Other Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5A_Simple_land</name>
        <choiceText>E5A - Simple land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5A - Simple land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E6_Pension_Schemes</name>
        <choiceText>E6 - Pension Schemes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E6 - Pension Schemes</stringValue>
        </value>
    </choices>
    <choices>
        <name>E7_Miscellaneous</name>
        <choiceText>E7 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E7 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Mail</name>
        <choiceText>E-Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estate</name>
        <choiceText>Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>F</name>
        <choiceText>F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>F_Collect</name>
        <choiceText>F - Collect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F - Collect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed_Trust</name>
        <choiceText>Failed Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_F</name>
        <choiceText>Female (F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female (F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Data</name>
        <choiceText>First Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>FOI_FC_Follow_Up_Question</name>
        <choiceText>Follow up?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Northern_Ireland_Question</name>
        <choiceText>Northern Ireland?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Organisation</name>
        <choiceText>Organisation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If the FOI Request is NOT being dealt with on behalf of the Crown Solicitor</description>
        <name>FOINo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If FOI Request is being dealt with on behalf of the Crown Solicitor</description>
        <name>FOIYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Follow_Up</name>
        <choiceText>Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>FollowUp</name>
        <choiceText>FOLLOW UP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FOLLOW UP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freedom_of_Information</name>
        <choiceText>Freedom of Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freedom of Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>G_General</name>
        <choiceText>G - General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G - General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_request</name>
        <choiceText>General request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General request</stringValue>
        </value>
    </choices>
    <choices>
        <name>H2_Complex_Claims</name>
        <choiceText>H2 - Complex Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H2 - Complex Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>HSBC</name>
        <choiceText>HSBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HSBC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Husband</name>
        <choiceText>Husband</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Husband</stringValue>
        </value>
    </choices>
    <choices>
        <name>Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Review</name>
        <choiceText>Internal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternalReview</name>
        <choiceText>INTERNAL REVIEW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INTERNAL REVIEW</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_claim_only</name>
        <choiceText>Kin claim only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin claim only</stringValue>
        </value>
    </choices>
    <choices>
        <name>L_Limitation_Period_Cases</name>
        <choiceText>L - Limitation Period Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L - Limitation Period Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter_Email</name>
        <choiceText>Letter/Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter/Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lloyds</name>
        <choiceText>Lloyds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lloyds</stringValue>
        </value>
    </choices>
    <choices>
        <name>M</name>
        <choiceText>M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_Costs_Case</name>
        <choiceText>M - Costs Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M - Costs Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam</name>
        <choiceText>Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_DASH_Sir</name>
        <choiceText>Madam/Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam/Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_Sir</name>
        <choiceText>Madam &amp; Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam &amp; Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male_M</name>
        <choiceText>Male (M)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male (M)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married_Woman</name>
        <choiceText>Married Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memo</name>
        <choiceText>Memo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mesdames</name>
        <choiceText>Mesdames</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mesdames</stringValue>
        </value>
    </choices>
    <choices>
        <name>Natwest</name>
        <choiceText>Natwest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Natwest</stringValue>
        </value>
    </choices>
    <choices>
        <name>NE_Northern_Ireland</name>
        <choiceText>NE - Northern Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE - Northern Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_estate_under_15000</name>
        <choiceText>Net estate under £15,000</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_case_call</name>
        <choiceText>New case call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New case call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Case_Call_Choice</name>
        <choiceText>New Case Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Case Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Request</name>
        <choiceText>New Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insolvent</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_occupiers_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_other_addresses_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_will_located</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online_Form</name>
        <choiceText>Online Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>Organisation</name>
        <choiceText>Organisation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Organisation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Corporate_Body</name>
        <choiceText>Other Corporate Body</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Corporate Body</stringValue>
        </value>
    </choices>
    <choices>
        <name>P_Pre_1997_Case</name>
        <choiceText>P - Pre-1997 Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P - Pre-1997 Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>PANo</name>
        <choiceText>PANo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PANo</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAYes</name>
        <choiceText>PAYes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAYes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_individual</name>
        <choiceText>Private individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Authority</name>
        <choiceText>Public Authority</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Authority</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q_Query</name>
        <choiceText>Q - Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q - Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_BV_Registry_queries</name>
        <choiceText>R - BV Registry queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R - BV Registry queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>RBS</name>
        <choiceText>RBS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RBS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reversion</name>
        <choiceText>Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Santander</name>
        <choiceText>Santander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1000_Companies_Act_2006</name>
        <choiceText>Section 1000 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1000 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1001_Companies_Act_2006</name>
        <choiceText>Section 1001 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1001 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1002_Companies_Act_2006</name>
        <choiceText>Section 1002 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1002 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1003_Companies_Act_2006</name>
        <choiceText>Section 1003 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1003 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_201_Insolvency_Act_1986</name>
        <choiceText>Section 201 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 201 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_202_Insolvency_Act_1986</name>
        <choiceText>Section 202 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 202 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_290_Companies_Act_1948</name>
        <choiceText>Section 290 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 290 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_300_Companies_Act_1948</name>
        <choiceText>Section 300 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 300 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_353_Companies_Act_1948</name>
        <choiceText>Section 353 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 353 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_585_595_Companies_Act_1985</name>
        <choiceText>Section 585/595 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 585/595 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_5_Companies_Act_1985</name>
        <choiceText>Section 652(5) Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652(5) Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_Companies_Act_1985</name>
        <choiceText>Section 652 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652A_Companies_Act_1985</name>
        <choiceText>Section 652A Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652A Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Man</name>
        <choiceText>Single Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Woman</name>
        <choiceText>Single Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir</name>
        <choiceText>Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_AND_Madam</name>
        <choiceText>Sir &amp; Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir &amp; Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_Madam</name>
        <choiceText>Sir/Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir/Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sirs</name>
        <choiceText>Sirs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sirs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spinster</name>
        <choiceText>Spinster</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spinster</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_test</name>
        <choiceText>Status test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surviving_Civil_Partner</name>
        <choiceText>Surviving Civil Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surviving Civil Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenure</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>V_BV_Registry_Queries</name>
        <choiceText>V - BV Registry Queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V - BV Registry Queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>W_Reopened_Case</name>
        <choiceText>W - Reopened Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W - Reopened Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widow</name>
        <choiceText>Widow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widower</name>
        <choiceText>Widower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y_Kin_Claims</name>
        <choiceText>Y - Kin Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y - Kin Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>YA_Reopened_Other</name>
        <choiceText>YA - Reopened Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YA - Reopened Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insolvent</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_other_addresses_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_will_located</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z1_Transfer_of_Land_All_other_types</name>
        <choiceText>Z1 - Transfer of Land (All other types)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z1 - Transfer of Land (All other types)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z2_Transfer_of_Land_freehold_leasehold_reversions</name>
        <choiceText>Z2 - Transfer of Land (freehold / leasehold reversions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z2 - Transfer of Land (freehold / leasehold reversions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z3_Reports_on_title_and_advisory_work</name>
        <choiceText>Z3 - Reports on title and advisory work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z3 - Reports on title and advisory work</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z4_Miscellaneous</name>
        <choiceText>Z4 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z4 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Conveyancing</name>
        <choiceText>Z - Conveyancing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z - Conveyancing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>FOI_Request_Type_Decision</name>
        <label>FOI Request Type Decision</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>New_Request_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOI_Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Request</targetReference>
            </connector>
            <label>New Request</label>
        </rules>
        <rules>
            <name>Follow_Up_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOI_Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Follow_Up</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_request_to_Follow_Up</targetReference>
            </connector>
            <label>Follow Up</label>
        </rules>
        <rules>
            <name>Internal_Review_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOI_Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Internal_Review</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Review</targetReference>
            </connector>
            <label>Internal Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>FOI_Solicitor_Question</name>
        <label>FOI Solicitor Question</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Northern_Ireland_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Solicitor_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOI_Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_North_Ireland</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BVCaseRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FOIR</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>FrontCoverAcknowledgedDate</assignToReference>
            <field>Acknowledged__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantAddressLine1</assignToReference>
            <field>Applicant_Address_Line_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantAddressLine2</assignToReference>
            <field>Applicant_Address_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantAddressLine3</assignToReference>
            <field>Applicant_Address_Line_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantAddressLine4</assignToReference>
            <field>Applicant_Address_Line_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantFax</assignToReference>
            <field>Applicant_Fax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantPostcode</assignToReference>
            <field>Applicant_PC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantTelephone</assignToReference>
            <field>Applicant_Telephone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantType</assignToReference>
            <field>Applicant_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverApplicant</assignToReference>
            <field>Applicant__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverCaseName</assignToReference>
            <field>Case_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverCaseNumber</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverDateReplySent</assignToReference>
            <field>Date_Reply_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverWithdrawnDate</assignToReference>
            <field>Date_Withdrawn__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverDestructionDate</assignToReference>
            <field>Destruction_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverFOINumber</assignToReference>
            <field>Foi_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverFollowUp</assignToReference>
            <field>Follow_Up__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverILO</assignToReference>
            <field>Ilo__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverIntReviewOfficer</assignToReference>
            <field>Int_Review_Officer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ApplicantName</assignToReference>
            <field>Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverNorthernIreland</assignToReference>
            <field>Northern_Ireland__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverNumberofRequests</assignToReference>
            <field>Number_Of_Requests__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverDateReceived</assignToReference>
            <field>Received__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverReplyDue</assignToReference>
            <field>Reply_Due__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverRequestType</assignToReference>
            <field>Request_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FrontCoverWithdrawn</assignToReference>
            <field>Withdrawn__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Clear_left_brackets_for_aliases</name>
        <dataType>String</dataType>
        <expression>TRIM(left({!Clearrightbracketsforaliases}, (LEN({!Clearrightbracketsforaliases}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Clear_special_characters_from_aliases</name>
        <dataType>String</dataType>
        <expression>LEFT(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - 1) &amp; 
MID(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) + 1, LEN(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)))</expression>
    </formulas>
    <formulas>
        <name>Clearrightbracketsforaliases</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!Aliases_Template}, (LEN({!Aliases_Template}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Disclosure_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!FirstMethodDisclosure})), 
    {!FirstMethodDisclosure}, 
    {!Enter_method_of_disclosure}
)</expression>
    </formulas>
    <formulas>
        <name>Follow_Up_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (FOLLOW UP)&quot;</expression>
    </formulas>
    <formulas>
        <name>Internal_Review_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (INTERNAL REVIEW)&quot;</expression>
    </formulas>
    <formulas>
        <name>ReferralFormula</name>
        <dataType>String</dataType>
        <expression>{!FOI_FC_Individual}</expression>
    </formulas>
    <formulas>
        <name>TodayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Add 19 days to the date given by user</description>
        <name>WorkingDays</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD(
    {!InputDate} - DATE(1985, 6, 24), 
    7
  ), 
  0, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  1, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  2, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  3, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  4, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  5, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  6, 
    CASE(
      MOD({!InputDate} + 25 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 27,
      6, {!InputDate} + 26,
      {!InputDate} + 25
    ), 
  {!InputDate}
)</expression>
    </formulas>
    <interviewLabel>Case Creation Freedom of Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Freedom of Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Officer_Record</name>
        <label>Create Case Officer Record</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>Create_FOI_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Officer__c</field>
            <value>
                <elementReference>selectcaseofficernormal.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseDetailCaseOfficerRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Officer_Record_Follow_Up</name>
        <label>Create Case Officer Record (Follow Up)</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>create_foi_record_follow_up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Officer__c</field>
            <value>
                <elementReference>selectcaseofficerfollowup.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseDetailCaseOfficerRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Officer_Record_Internal_Review</name>
        <label>Create Case Officer Record (Internal Review)</label>
        <locationX>578</locationX>
        <locationY>2162</locationY>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>Create_FOI_Record_Internal_Review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Officer__c</field>
            <value>
                <elementReference>selectcaseofficerinternalreview.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseDetailCaseOfficerRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FOI_Record</name>
        <label>Create FOI Record</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Create_Case_Officer_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Acknowledged__c</field>
            <value>
                <elementReference>FOI_FC_Acknowledged_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_1__c</field>
            <value>
                <elementReference>FOI_AD_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_2__c</field>
            <value>
                <elementReference>FOI_AD_Address_Line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_3__c</field>
            <value>
                <elementReference>FOI_AD_Address_Line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_4__c</field>
            <value>
                <elementReference>FOI_AD_Address_Line_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Fax__c</field>
            <value>
                <elementReference>FOI_AD_Fax_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_PC__c</field>
            <value>
                <elementReference>FOI_AD_Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Type__c</field>
            <value>
                <elementReference>FOI_AD_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>FOI_FC_Applicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Name__c</field>
            <value>
                <elementReference>FOI_FC_Case_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>FOI_FC_Case_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>selectcaseofficernormal.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Reply_Sent__c</field>
            <value>
                <elementReference>FOI_FC_Date_Reply_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Withdrawn__c</field>
            <value>
                <elementReference>FOI_FC_Date_Withdrawn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>FOI_FC_Destruction_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foi_No__c</field>
            <value>
                <elementReference>FOINumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up__c</field>
            <value>
                <elementReference>FOI_FC_Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ilo__c</field>
            <value>
                <elementReference>FOI_FC_ILO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Int_Review_Officer__c</field>
            <value>
                <elementReference>FOI_FC_IR_Officer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>FOI_AD_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Northern_Ireland__c</field>
            <value>
                <elementReference>FOI_FC_Northern_Ireland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Requests__c</field>
            <value>
                <elementReference>FOI_FC_Number_of_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>selectcaseofficernormal.selectedCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received__c</field>
            <value>
                <elementReference>FOI_FC_Date_Recieved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BVCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Due__c</field>
            <value>
                <elementReference>FOI_FC_Reply_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>FOI_FC_Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawn__c</field>
            <value>
                <elementReference>FOI_FC_Withdrawn</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_foi_record_follow_up</name>
        <label>Create FOI Record (Follow Up)</label>
        <locationX>314</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Create_Case_Officer_Record_Follow_Up</targetReference>
        </connector>
        <inputAssignments>
            <field>Acknowledged__c</field>
            <value>
                <elementReference>Follow_Up_Acknowledged_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_1__c</field>
            <value>
                <elementReference>Follow_Up_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_2__c</field>
            <value>
                <elementReference>Follow_Up_Address_Line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_3__c</field>
            <value>
                <elementReference>Follow_Up_Address_Line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_4__c</field>
            <value>
                <elementReference>Follow_Up_Address_Line_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Fax__c</field>
            <value>
                <elementReference>Follow_Up_Fax_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_PC__c</field>
            <value>
                <elementReference>Follow_Up_Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Type__c</field>
            <value>
                <elementReference>Follow_Up_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>Follow_Up_Applicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Name__c</field>
            <value>
                <elementReference>Follow_Up_Case_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>FOINumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>selectcaseofficerfollowup.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Reply_Sent__c</field>
            <value>
                <elementReference>Follow_Up_Date_Reply_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Withdrawn__c</field>
            <value>
                <elementReference>Follow_Up_Date_Withdrawn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>Follow_Up_Destruction_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foi_No__c</field>
            <value>
                <elementReference>Follow_Up_FOI_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up__c</field>
            <value>
                <elementReference>Follow_Up_Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ilo__c</field>
            <value>
                <elementReference>Follow_Up_ILO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Int_Review_Officer__c</field>
            <value>
                <elementReference>Follow_Up_IR_Officer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Follow_Up_AD_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Northern_Ireland__c</field>
            <value>
                <elementReference>Follow_Up_Northern_Ireland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Requests__c</field>
            <value>
                <elementReference>Follow_Up_Number_of_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>selectcaseofficerfollowup.selectedCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received__c</field>
            <value>
                <elementReference>Follow_Up_Date_Recieved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BVCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Due__c</field>
            <value>
                <elementReference>Follow_Up_Reply_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Follow_Up_Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawn__c</field>
            <value>
                <elementReference>Follow_Up_Withdrawn</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FOI_Record_Internal_Review</name>
        <label>Create FOI Record (Internal Review)</label>
        <locationX>578</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Create_Case_Officer_Record_Internal_Review</targetReference>
        </connector>
        <inputAssignments>
            <field>Acknowledged__c</field>
            <value>
                <elementReference>Int_Acknowledged_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_1__c</field>
            <value>
                <elementReference>Int_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_2__c</field>
            <value>
                <elementReference>Int_Address_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_3__c</field>
            <value>
                <elementReference>Int_Address_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Address_Line_4__c</field>
            <value>
                <elementReference>Int_Address_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Fax__c</field>
            <value>
                <elementReference>Int_Fax_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_PC__c</field>
            <value>
                <elementReference>Int_Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant_Type__c</field>
            <value>
                <elementReference>Int_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>Int_Applicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Name__c</field>
            <value>
                <elementReference>Int_Case_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>FOINumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>selectcaseofficerinternalreview.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Reply_Sent__c</field>
            <value>
                <elementReference>Int_Date_Reply_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Withdrawn__c</field>
            <value>
                <elementReference>Int_Date_Withdrawn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>Int_Destruction_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foi_No__c</field>
            <value>
                <elementReference>FrontCoverFOINumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up__c</field>
            <value>
                <elementReference>Int_Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ilo__c</field>
            <value>
                <elementReference>Int_ILO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Int_Review_Officer__c</field>
            <value>
                <elementReference>What_is_name_of_the_officer_handling_the_internal_review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Int_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Northern_Ireland__c</field>
            <value>
                <elementReference>Int_Northern_Ireland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Requests__c</field>
            <value>
                <elementReference>Int_Number_of_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>selectcaseofficerinternalreview.selectedCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received__c</field>
            <value>
                <elementReference>Int_Date_Recieved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BVCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Due__c</field>
            <value>
                <elementReference>Int_Reply_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Int_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawn__c</field>
            <value>
                <elementReference>Int_Withdrawn</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Officer_RecordTypeId</name>
        <label>Get Case Officer RecordTypeId</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOI_Request_Type_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailCaseOfficerRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Same as Get BV Case RecordTypeId</description>
        <name>Get_FOI_RecordTypeId</name>
        <label>Get FOI RecordTypeId</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Officer_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FOIR</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>BVCaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Shows the applicant&apos;s details screen to be completed</description>
        <name>Applicant_Details</name>
        <label>Applicant Details</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_Details</targetReference>
        </connector>
        <fields>
            <name>FOI_AD_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Address</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Address_Line_2</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Address_Line_3</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Address_Line_4</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Postcode</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Fax_Number</name>
            <dataType>String</dataType>
            <fieldText>Fax Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Type</name>
            <choiceReferences>FOI_FC_Individual</choiceReferences>
            <choiceReferences>FOI_FC_Organisation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows the applicant&apos;s details screen to be completed</description>
        <name>Applicant_Details_Follow_Up</name>
        <label>Applicant Details</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_Details_Follow_Up</targetReference>
        </connector>
        <fields>
            <name>Follow_Up_AD_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantAddressLine1</elementReference>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Address_Line_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantAddressLine2</elementReference>
            </defaultValue>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Address_Line_3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantAddressLine3</elementReference>
            </defaultValue>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Address_Line_4</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantAddressLine4</elementReference>
            </defaultValue>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantPostcode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantTelephone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Fax_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantFax</elementReference>
            </defaultValue>
            <fieldText>Fax Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_Up_Type</name>
            <choiceReferences>Individual</choiceReferences>
            <choiceReferences>Organisation</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantType</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Date_Recieved</name>
        <label>Enter Date Recieved</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Date</targetReference>
        </connector>
        <fields>
            <name>Date_Recieved</name>
            <dataType>Date</dataType>
            <fieldText>Date Recieved</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Date_Recieved_Follow_Up</name>
        <label>Enter Date Recieved</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Date_Follow_Up</targetReference>
        </connector>
        <fields>
            <name>FOI_Date_Recieved</name>
            <dataType>Date</dataType>
            <fieldText>Enter Date Recieved</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FOI_Follow_Up_Screen</name>
        <label>FOI Follow Up Screen</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Date_Recieved_Follow_Up</targetReference>
        </connector>
        <fields>
            <name>Select_a_FOI_Number_to_Follow_Up</name>
            <choiceReferences>BVCaseRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select a FOI Number to Follow Up</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FOI_Request_Type_Screen</name>
        <label>FOI Request Type Screen</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FOI_Solicitor_Question</targetReference>
        </connector>
        <fields>
            <name>FOI_Request_Type</name>
            <choiceReferences>Follow_Up</choiceReferences>
            <choiceReferences>Internal_Review</choiceReferences>
            <choiceReferences>New_Request</choiceReferences>
            <dataType>String</dataType>
            <fieldText>FOI Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FOI_Question</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this FOI request being dealt with on behalf of the Crown Solicitor of Northern Ireland?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows the Front Cover screen for details to be entered</description>
        <name>Front_Cover</name>
        <label>Front Cover</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Applicant_Details</targetReference>
        </connector>
        <fields>
            <name>Front_Cover_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Front_Cover_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FOI_FC_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FOINumber</elementReference>
                    </defaultValue>
                    <fieldText>FOI No.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Applicant</name>
                    <dataType>String</dataType>
                    <fieldText>Applicant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Case_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Case Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Case_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Case Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Request_Type</name>
                    <choiceReferences>Estates</choiceReferences>
                    <choiceReferences>Companies</choiceReferences>
                    <choiceReferences>BV_Policy</choiceReferences>
                    <choiceReferences>Internal_Review</choiceReferences>
                    <choiceReferences>General_request</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>Kin_claim_only</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_IR_Officer</name>
                    <dataType>String</dataType>
                    <fieldText>Internal Review Officer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Front_Cover_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Front_Cover_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FOI_FC_Number_of_Requests</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Requests</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>FOI_FC_Date_Recieved</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_Recieved</elementReference>
                    </defaultValue>
                    <fieldText>Date Recieved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Reply_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>InputDate</elementReference>
                    </defaultValue>
                    <fieldText>Reply Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Withdrawn</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Withdrawn?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Date_Withdrawn</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Withdrawn</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>FOI_FC_Withdrawn</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Front_Cover_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FOI_FC_ILO</name>
                    <dataType>String</dataType>
                    <fieldText>ILO</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Acknowledged_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Acknowledged Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Date_Reply_Sent</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Reply Sent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Destruction_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Destruction Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Follow_Up</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Follow Up?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Northern_Ireland</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>NorthernIrelandTicked</elementReference>
                    </defaultValue>
                    <fieldText>Northern Ireland?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows the Front Cover screen for details to be entered</description>
        <name>Front_Cover_Follow_Up</name>
        <label>Front Cover</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Applicant_Details_Follow_Up</targetReference>
        </connector>
        <fields>
            <name>Front_Cover_Follow_Up_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Front_Cover_Follow_Up_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Follow_Up_FOI_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverFOINumber</elementReference>
                    </defaultValue>
                    <fieldText>FOI No.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Applicant</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverApplicant</elementReference>
                    </defaultValue>
                    <fieldText>Applicant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Case_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverCaseName</elementReference>
                    </defaultValue>
                    <fieldText>Case Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Case_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FOINumber</elementReference>
                    </defaultValue>
                    <fieldText>Case Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Request_Type</name>
                    <choiceReferences>Estates</choiceReferences>
                    <choiceReferences>Companies</choiceReferences>
                    <choiceReferences>BV_Policy</choiceReferences>
                    <choiceReferences>Internal_Review</choiceReferences>
                    <choiceReferences>General_request</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>Kin_claim_only</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverRequestType</elementReference>
                    </defaultValue>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_IR_Officer</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverIntReviewOfficer</elementReference>
                    </defaultValue>
                    <fieldText>Internal Review Officer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Front_Cover_Follow_Up_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Front_Cover_Follow_Up_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Follow_Up_Number_of_Requests</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverNumberofRequests</elementReference>
                    </defaultValue>
                    <fieldText>Number of Requests</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Follow_Up_Date_Recieved</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FOI_Date_Recieved</elementReference>
                    </defaultValue>
                    <fieldText>Date Recieved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Reply_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>InputDate</elementReference>
                    </defaultValue>
                    <fieldText>Reply Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Withdrawn</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverWithdrawn</elementReference>
                    </defaultValue>
                    <fieldText>Withdrawn?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Date_Withdrawn</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverWithdrawnDate</elementReference>
                    </defaultValue>
                    <fieldText>Date Withdrawn</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>FOI_FC_Withdrawn</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Front_Cover_Follow_Up_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Follow_Up_ILO</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverILO</elementReference>
                    </defaultValue>
                    <fieldText>ILO</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Acknowledged_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverAcknowledgedDate</elementReference>
                    </defaultValue>
                    <fieldText>Acknowledged Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Date_Reply_Sent</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverDateReplySent</elementReference>
                    </defaultValue>
                    <fieldText>Date Reply Sent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Destruction_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverDestructionDate</elementReference>
                    </defaultValue>
                    <fieldText>Destruction Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Follow_Up</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Follow Up?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Follow_Up_Northern_Ireland</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>NorthernIrelandTicked</elementReference>
                    </defaultValue>
                    <fieldText>Northern Ireland?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows the applicant&apos;s details screen to be completed</description>
        <name>Int_Applicant_Details</name>
        <label>Applicant Details</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_Details_Internal_Review</targetReference>
        </connector>
        <fields>
            <name>Int_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Int_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantAddressLine1</elementReference>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Int_Address_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantAddressLine2</elementReference>
            </defaultValue>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Int_Address_3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantAddressLine3</elementReference>
            </defaultValue>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Int_Address_4</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantAddressLine4</elementReference>
            </defaultValue>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Int_Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantPostcode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Int_Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantTelephone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Int_Fax_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantFax</elementReference>
            </defaultValue>
            <fieldText>Fax Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Int_Type</name>
            <choiceReferences>Individual</choiceReferences>
            <choiceReferences>Organisation</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ApplicantType</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Int_Enter_Date_Recieved</name>
        <label>Enter Date Recieved</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Date_IR</targetReference>
        </connector>
        <fields>
            <name>Int_Date_Recieved</name>
            <dataType>Date</dataType>
            <fieldText>Enter Date Recieved</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows the Front Cover screen for details to be entered</description>
        <name>Int_Front_Cover</name>
        <label>Front Cover</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Int_Applicant_Details</targetReference>
        </connector>
        <fields>
            <name>Int_Front_Cover_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Int_Front_Cover_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Int_FOI_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverFOINumber</elementReference>
                    </defaultValue>
                    <fieldText>FOI No.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Applicant</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ApplicantName</elementReference>
                    </defaultValue>
                    <fieldText>Applicant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Case_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverCaseName</elementReference>
                    </defaultValue>
                    <fieldText>Case Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Case_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FOINumber</elementReference>
                    </defaultValue>
                    <fieldText>Case Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Request_Type</name>
                    <choiceReferences>Estates</choiceReferences>
                    <choiceReferences>Companies</choiceReferences>
                    <choiceReferences>BV_Policy</choiceReferences>
                    <choiceReferences>Internal_Review</choiceReferences>
                    <choiceReferences>General_request</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>Kin_claim_only</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverRequestType</elementReference>
                    </defaultValue>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_IR_Officer</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>What_is_name_of_the_officer_handling_the_internal_review</elementReference>
                    </defaultValue>
                    <fieldText>Internal Review Officer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Int_Front_Cover_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Int_Front_Cover_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Int_Number_of_Requests</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverNumberofRequests</elementReference>
                    </defaultValue>
                    <fieldText>Number of Requests</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Int_FC_Date_Recieved</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Int_Date_Recieved</elementReference>
                    </defaultValue>
                    <fieldText>Date Recieved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Reply_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>InputDate</elementReference>
                    </defaultValue>
                    <fieldText>Reply Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Withdrawn</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverWithdrawn</elementReference>
                    </defaultValue>
                    <fieldText>Withdrawn?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Int_Date_Withdrawn</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverWithdrawnDate</elementReference>
                    </defaultValue>
                    <fieldText>Date Withdrawn</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>FOI_FC_Withdrawn</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Int_Front_Cover_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Int_ILO</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverILO</elementReference>
                    </defaultValue>
                    <fieldText>ILO</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Acknowledged_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverAcknowledgedDate</elementReference>
                    </defaultValue>
                    <fieldText>Acknowledged Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Date_Reply_Sent</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverDateReplySent</elementReference>
                    </defaultValue>
                    <fieldText>Date Reply Sent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Destruction_date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FrontCoverDestructionDate</elementReference>
                    </defaultValue>
                    <fieldText>Destruction Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Int_Follow_Up</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Follow Up?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Int_Northern_Ireland</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>NorthernIrelandTicked</elementReference>
                    </defaultValue>
                    <fieldText>Northern Ireland?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Internal_Review_Num</name>
        <label>Internal Review Screen</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Int_Enter_Date_Recieved</targetReference>
        </connector>
        <fields>
            <name>Select_a_FOI_Case</name>
            <choiceReferences>BVCaseRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select a FOI Case</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Dates</name>
        <label>Review Dates</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Next_FOIR_Number</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_DT_ReviewDate_Follow_Up</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Date Recieved&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Recieved_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reply Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!InputDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Dates_Follow_Up</name>
        <label>Review Dates (Follow Up)</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Get_Next_FOIR_Number</targetReference>
        </connector>
        <fields>
            <name>DT_ReviewDate_Follow_Up</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Date Recieved&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Recieved_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reply Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!InputDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Dates_Internal_Review</name>
        <label>Review Dates (Internal Review)</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_is_the_name_of_the_officer_handling_the_internal_review_screen</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_DT_ReviewDate_Follow_Up</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Date Recieved&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Recieved_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reply Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!InputDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Details</name>
        <label>Review Details</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_a_Case_Officer</targetReference>
        </connector>
        <fields>
            <name>Front_Cover_Details</name>
            <fieldText>Front Cover Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Front_Cover_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_Review_Details_Front_Cover</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;FOI Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Applicant}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Case_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Case_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Request Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Request_Type}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Internal Review Officer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number of Requests&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Number_of_Requests}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ILO&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Received&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Date_Recieved}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Acknowledged Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Acknowledged_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reply Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Reply_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Reply Sent&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Date_Reply_Sent}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Withdrawn?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Withdrawn}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Withdrawn&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Date_Withdrawn}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Destruction Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Destruction_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Follow Up?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Follow_Up}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Northern Ireland?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Northern_Ireland}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Applicant_Details_Review</name>
            <fieldText>Applicant Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Applicant_Details_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_AD_Review</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Applicant Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_AD_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_AD_Address}&lt;/p&gt;&lt;p&gt;{!FOI_AD_Address_Line_2}&lt;/p&gt;&lt;p&gt;{!FOI_AD_Address_Line_3}&lt;/p&gt;&lt;p&gt;{!FOI_AD_Address_Line_4}&lt;/p&gt;&lt;p&gt;{!FOI_AD_Postcode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Phone Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_AD_Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Fax Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_AD_Fax_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_AD_Type}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Details_Follow_Up</name>
        <label>Review Details (Follow Up)</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_a_Case_Officer_Follow_Up</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Front_Cover_Details</name>
            <fieldText>Front Cover Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Front_Cover_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_DT_Review_Details_Front_Cover</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;FOI Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FrontCoverFOINumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Applicant}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Case_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOINumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Request Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Request_Type}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Internal Review Officer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_IR_Officer}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number of Requests&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Number_of_Requests}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ILO&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_ILO}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Received&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Date_Recieved}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Acknowledged Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Acknowledged_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reply Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Reply_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Reply Sent&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Date_Reply_Sent}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Withdrawn?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Withdrawn}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Withdrawn&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Date_Withdrawn}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Destruction Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOI_FC_Destruction_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Follow Up?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Follow_Up}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Northern Ireland?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Northern_Ireland}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Applicant_Details_Review</name>
            <fieldText>Applicant Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Applicant_Details_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_DT_AD_Review</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Applicant Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_AD_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Address}&lt;/p&gt;&lt;p&gt;{!Follow_Up_Address_Line_2}&lt;/p&gt;&lt;p&gt;{!Follow_Up_Address_Line_3}&lt;/p&gt;&lt;p&gt;{!Follow_Up_Address_Line_4}&lt;/p&gt;&lt;p&gt;{!Follow_Up_Postcode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Phone Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Fax Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Fax_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Follow_Up_Type}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Details_Internal_Review</name>
        <label>Review Details (Internal Review)</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_a_Case_Officer_Internal_Review</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Front_Cover_Details</name>
            <fieldText>Front Cover Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Front_Cover_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_DT_Review_Details_Front_Cover</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;FOI Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FrontCoverFOINumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Applicant}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Case_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!FOINumber}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Request Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Request_Type}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Internal Review Officer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!What_is_name_of_the_officer_handling_the_internal_review}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number of Requests&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Number_of_Requests}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ILO&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_ILO}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Received&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Date_Recieved}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Acknowledged Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Acknowledged_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reply Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Reply_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Reply Sent&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Date_Reply_Sent}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Withdrawn?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Withdrawn}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Withdrawn&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Date_Withdrawn}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Destruction Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Destruction_date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Follow Up?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Follow_Up}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Northern Ireland?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Northern_Ireland}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_1_of_Applicant_Details_Review</name>
            <fieldText>Applicant Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Applicant_Details_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_DT_AD_Review</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Applicant Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Address}&lt;/p&gt;&lt;p&gt;{!Int_Address_2}&lt;/p&gt;&lt;p&gt;{!Int_Address_3}&lt;/p&gt;&lt;p&gt;{!Int_Address_4}&lt;/p&gt;&lt;p&gt;{!Int_Postcode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Phone Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Fax Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Fax_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Applicant Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Int_Type}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Case_Officer</name>
        <label>Select a Case Officer</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FOI_Record</targetReference>
        </connector>
        <fields>
            <name>selectcaseofficernormal</name>
            <extensionName>c:caseOfficerSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Case_Officer_Follow_Up</name>
        <label>Select a Case Officer (Follow Up)</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_foi_record_follow_up</targetReference>
        </connector>
        <fields>
            <name>selectcaseofficerfollowup</name>
            <extensionName>c:caseOfficerSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_Case_Officer_Internal_Review</name>
        <label>Select a Case Officer (Internal Review)</label>
        <locationX>578</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FOI_Record_Internal_Review</targetReference>
        </connector>
        <fields>
            <name>selectcaseofficerinternalreview</name>
            <extensionName>c:caseOfficerSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_is_the_name_of_the_officer_handling_the_internal_review_screen</name>
        <label>What is the name of the officer handling the internal review?</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Get_Next_FOIR_Number</targetReference>
        </connector>
        <fields>
            <name>What_is_name_of_the_officer_handling_the_internal_review</name>
            <dataType>String</dataType>
            <fieldText>What is name of the officer handling the internal review?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_FOI_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Aliases_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Surname &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!b3c81903-8c3e-4de7-8f29-cb9b26cbd80c.Surname__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Forename &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!b3c81903-8c3e-4de7-8f29-cb9b26cbd80c.Forenames__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Occupiers_Address_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Address_Line_2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Address_Line_3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Address_Line_4__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Postcode__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Owned&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Owned__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tenanted&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Tenanted__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tenure&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Tenure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title No.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!9818bba4-505e-425f-ae6b-11c7a277d665.Title_No__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Temeplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Address_Line_2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Address_Line_3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Address_Line_4__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Postcode__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Reference&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Reference__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Salutation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Salutation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Telephone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Telephone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Mobile Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Mobile_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!f3d189d5-68b3-44cf-bc24-9f93c59e365e.Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Alias_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Aliases_Text_data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allAliases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliases_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliasesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddressesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddressListWIthId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>ApplicantAddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantAddressLine2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantAddressLine3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantAddressLine4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantFax</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantPostcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantTelephone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApplicantType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BVCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailAliasesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailCaseOfficerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailFormerNamesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOccupiersAddressRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOtherAddressesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisclosureMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayAliases</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_other_addresses_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enter_method_of_disclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstMethodDisclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverAcknowledgedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverApplicant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverCaseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverDateReceived</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverDateReplySent</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverDestructionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverFollowUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverILO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverIntReviewOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverNorthernIreland</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverNumberofRequests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FrontCoverReplyDue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverWithdrawn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FrontCoverWithdrawnDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_FOI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BV_Case__c</objectType>
    </variables>
    <variables>
        <name>NewFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NorthernIrelandTicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Occupiers_Address_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenAllocatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Addresses_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recieved_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCaseOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singeAlias</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOccupierAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOtherAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>SpreadsheetNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Telephone_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
