force-app/main/default/flows/Case_Creation_Estates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Alias_to_List_of_Aliases</name>
        <label>Assign Alias to List of Aliases</label>
        <locationX>468</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>allAliases_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singeAlias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Aliases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MOD_Picklist</name>
        <label>Assign MOD Picklist</label>
        <locationX>512</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DisclosureMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Method_of_Disclosure_Estates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Informant_from_address_book_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MOD_to_Other</name>
        <label>Assign MOD to Other</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DisclosureMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_other_method_of_disclosure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Informant_from_address_book_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_occupier_address_to_a_List</name>
        <label>Assign new occupier address to a List</label>
        <locationX>468</locationX>
        <locationY>5534</locationY>
        <assignmentItems>
            <assignToReference>allOccupiersAddressesListWithId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Occupiers_Addresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Occupiers_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_other_addresses_to_a_List</name>
        <label>Assign new other addresses to a List</label>
        <locationX>468</locationX>
        <locationY>5942</locationY>
        <assignmentItems>
            <assignToReference>allOtherAddressListWIthId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Other_Addresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Other_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_occupier_addresses_to_a_List</name>
        <label>Assign occupier addresses to a List</label>
        <locationX>468</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>allOccupiersAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleOccupierAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Occupiers_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_other_address_to_a_list</name>
        <label>Assign other address to a list</label>
        <locationX>468</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>allOtherAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleOtherAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_other_addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_new_Alias_to_List_of_Aliases</name>
        <label>Assign the new Alias to List of Aliases</label>
        <locationX>468</locationX>
        <locationY>5126</locationY>
        <assignmentItems>
            <assignToReference>allAliasesListWithId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Aliases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Aliases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_other_address</name>
        <label>Create a other address</label>
        <locationX>468</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Postcode_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDetailOtherAddressesRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Address_line_1_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Address_line_2_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Address_Line_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Address_line_3_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Address_Line_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Address_line_4_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Postcode_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Reference_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Email_other_addresses_Estates.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Other_Addressee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Other_Addressee_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Salutation_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Telephone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Telephone_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Mobile_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_other_addresses.Mobile_other_addresses_Estates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_other_address_to_a_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_an_alias</name>
        <label>Create an alias</label>
        <locationX>468</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>singeAlias.Surname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aliases.Surname_aliases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeAlias.Forenames__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aliases.Forenames_aliases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeAlias.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDetailAliasesRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Alias_to_List_of_Aliases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_an_occupier_address</name>
        <label>Create an occupier address</label>
        <locationX>468</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Postcode_occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Title_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Title_number_Occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDetailOccupiersAddressRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Address_Line_1_occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Address_line_2_occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Address_Line_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Address_line_3_occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Address_Line_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Address_line_4_occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Owned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Owned_Occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Tenure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Tenure_Occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Tenanted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Occupiers_Addresses.Tenanted_Occupiers_Estates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_occupier_addresses_to_a_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Aliases_Text</name>
        <label>Set Aliases Text</label>
        <locationX>468</locationX>
        <locationY>3686</locationY>
        <assignmentItems>
            <assignToReference>Aliases_Text_data</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aliases_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Aliases_for_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BV_Case_ID_To_Aliases</name>
        <label>Set BV Case ID to Aliases</label>
        <locationX>468</locationX>
        <locationY>5018</locationY>
        <assignmentItems>
            <assignToReference>Loop_Aliases.BV_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_BV_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_new_Alias_to_List_of_Aliases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BV_Case_ID_to_Occupiers_Addresses</name>
        <label>Set BV Case ID to Occupiers Addresses</label>
        <locationX>468</locationX>
        <locationY>5426</locationY>
        <assignmentItems>
            <assignToReference>Loop_Occupiers_Addresses.BV_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_BV_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_occupier_address_to_a_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BV_Case_ID_to_Other_Addresses</name>
        <label>Set BV Case ID to Other Addresses</label>
        <locationX>468</locationX>
        <locationY>5834</locationY>
        <assignmentItems>
            <assignToReference>Loop_Other_Addresses.BV_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_BV_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_other_addresses_to_a_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Occupiers_Address_Text</name>
        <label>Set Occupiers Address Text</label>
        <locationX>468</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>Occupiers_Address_Text_Data</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Occupiers_Address_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Occupiers_Addresses_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Addesses_Text</name>
        <label>Set Other Addesses Text</label>
        <locationX>468</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>Other_Addresses_Text_Data</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Other_Addresses_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Other_Addresses_Text</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A_SRA_Intestate</name>
        <choiceText>A - SRA Intestate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A - SRA Intestate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Dwellings</name>
        <choiceText>Auction - Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Land</name>
        <choiceText>Auction - Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>B1_Freehold_Leasehold_Property</name>
        <choiceText>B1 - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B1 - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>B_Freehold_Leasehold_Property</name>
        <choiceText>B - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bachelor</name>
        <choiceText>Bachelor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bachelor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank</name>
        <choiceText>Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Transfer</name>
        <choiceText>Bank Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Barclays</name>
        <choiceText>Barclays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barclays</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV18</name>
        <choiceText>BV18</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV18</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV1A_Letter_BV1A_Online_Referral_Form</name>
        <choiceText>BV1A Letter/BV1A Online Referral Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV1A Letter/BV1A Online Referral Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Officer</name>
        <choiceText>BV Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Policy</name>
        <choiceText>BV Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>BVC14_Form</name>
        <choiceText>BVC14 Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BVC14 Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Freedom_of_Information_Request</name>
        <choiceText>C1 - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Net_Estate_over_15_000</name>
        <choiceText>C1 - Net Estate over £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Net Estate over £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2_Net_Estate_over_15_000_no_grant_required</name>
        <choiceText>C2 - Net Estate over £15,000 no grant required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C2 - Net Estate over £15,000 no grant required</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4_Net_Estate_over_15_000_collection_only</name>
        <choiceText>C4 - Net Estate over £15,000 collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C4 - Net Estate over £15,000 collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Net_Estate_over_5000_pre_January</name>
        <choiceText>C - Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C - Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Officer</name>
        <choiceText>Case Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_operative_Bank</name>
        <choiceText>Co-operative Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-operative Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conveyancing</name>
        <choiceText>Conveyencing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conveyencing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Critical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>D1_Net_Estate_under_5000</name>
        <choiceText>D1 - Net Estate under £5000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D1 - Net Estate under £5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D2_Net_Estate_over_5000_under_15_000</name>
        <choiceText>D2 - Net Estate over £5000 &amp; under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D2 - Net Estate over £5000 &amp; under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D3_Net_Estate_under_15_000</name>
        <choiceText>D3 - Net Estate under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D3 - Net Estate under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D4_Net_Estate_Under_15k_collection_only</name>
        <choiceText>D4 - Net Estate Under £15k - collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D4 - Net Estate Under £15k - collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_Net_Estate_less_than_5000_pre_Jan_2009</name>
        <choiceText>D - Net Estate less than £5000 (pre Jan 2009)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D - Net Estate less than £5000 (pre Jan 2009)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_Company</name>
        <choiceText>Dissolved Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_LLP</name>
        <choiceText>Dissolved LLP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved LLP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Docket_Book</name>
        <choiceText>Docket Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Docket Book</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dwellings</name>
        <choiceText>Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>E1_Discretionary_Grants</name>
        <choiceText>E1 - Discretionary Grants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E1 - Discretionary Grants</stringValue>
        </value>
    </choices>
    <choices>
        <name>E2_Intellectual_Property</name>
        <choiceText>E2 - Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E2 - Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3_Land_Charges_Mortgages_Shares</name>
        <choiceText>E3 - Land Charges / Mortgages / Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3 - Land Charges / Mortgages / Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3A_Mortgages_and_Charges</name>
        <choiceText>E3A - Mortgages and Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3A - Mortgages and Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3B_Other_Restrictions_on_Title</name>
        <choiceText>E3B - Other Restrictions on Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3B - Other Restrictions on Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3D_Quoted_Shares</name>
        <choiceText>E3D - Quoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3D - Quoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3E_Unquoted_Shares</name>
        <choiceText>E3E - Unquoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3E - Unquoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4_Freehold_Reversions</name>
        <choiceText>E4 - Freehold Reversions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4 - Freehold Reversions</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4A_Simple_Freehold_Reversion</name>
        <choiceText>E4A - Simple Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4A - Simple Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4B_Complex_Freehold_Reversion</name>
        <choiceText>E4B - Complex Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4B - Complex Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5_Other_Land</name>
        <choiceText>E5 - Other Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5 - Other Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5A_Simple_land</name>
        <choiceText>E5A - Simple land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5A - Simple land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E6_Pension_Schemes</name>
        <choiceText>E6 - Pension Schemes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E6 - Pension Schemes</stringValue>
        </value>
    </choices>
    <choices>
        <name>E7_Miscellaneous</name>
        <choiceText>E7 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E7 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Mail</name>
        <choiceText>E-Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estate</name>
        <choiceText>Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>F</name>
        <choiceText>F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>F_Collect</name>
        <choiceText>F - Collect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F - Collect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed_Trust</name>
        <choiceText>Failed Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_F</name>
        <choiceText>Female (F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female (F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Data</name>
        <choiceText>First Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>FOI_FC_Follow_Up_Question</name>
        <choiceText>Follow up?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Northern_Ireland_Question</name>
        <choiceText>Northern Ireland?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Organisation</name>
        <choiceText>Organisation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If the FOI Request is NOT being dealt with on behalf of the Crown Solicitor</description>
        <name>FOINo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If FOI Request is being dealt with on behalf of the Crown Solicitor</description>
        <name>FOIYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Follow_Up</name>
        <choiceText>Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>FollowUp</name>
        <choiceText>FOLLOW UP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FOLLOW UP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freedom_of_Information</name>
        <choiceText>Freedom of Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freedom of Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>G_General</name>
        <choiceText>G - General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G - General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_request</name>
        <choiceText>General request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General request</stringValue>
        </value>
    </choices>
    <choices>
        <name>H2_Complex_Claims</name>
        <choiceText>H2 - Complex Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H2 - Complex Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>HSBC</name>
        <choiceText>HSBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HSBC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Husband</name>
        <choiceText>Husband</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Husband</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Review</name>
        <choiceText>Internal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternalReview</name>
        <choiceText>INTERNAL REVIEW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INTERNAL REVIEW</stringValue>
        </value>
    </choices>
    <choices>
        <name>J_Freedom_of_Information_Request</name>
        <choiceText>J - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>J - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_claim_only</name>
        <choiceText>Kin claim only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin claim only</stringValue>
        </value>
    </choices>
    <choices>
        <name>L_Limitation_Period_Cases</name>
        <choiceText>L - Limitation Period Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L - Limitation Period Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter_Email</name>
        <choiceText>Letter/Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter/Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lloyds</name>
        <choiceText>Lloyds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lloyds</stringValue>
        </value>
    </choices>
    <choices>
        <name>M</name>
        <choiceText>M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_Costs_Case</name>
        <choiceText>M - Costs Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M - Costs Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam</name>
        <choiceText>Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_DASH_Sir</name>
        <choiceText>Madam/Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam/Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_Sir</name>
        <choiceText>Madam &amp; Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam &amp; Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male_M</name>
        <choiceText>Male (M)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male (M)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married_Woman</name>
        <choiceText>Married Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memo</name>
        <choiceText>Memo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mesdames</name>
        <choiceText>Mesdames</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mesdames</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms</stringValue>
        </value>
    </choices>
    <choices>
        <name>Natwest</name>
        <choiceText>Natwest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Natwest</stringValue>
        </value>
    </choices>
    <choices>
        <name>NE_Northern_Ireland</name>
        <choiceText>NE - Northern Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE - Northern Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_estate_under_15000</name>
        <choiceText>Net estate under £15,000</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_case_call</name>
        <choiceText>New case call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New case call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Case_Call_Choice</name>
        <choiceText>New Case Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Case Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Request</name>
        <choiceText>New Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insolvent</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_occupiers_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_other_addresses_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_will_located</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal</name>
        <choiceText>Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online_Form</name>
        <choiceText>Online Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Corporate_Body</name>
        <choiceText>Other Corporate Body</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Corporate Body</stringValue>
        </value>
    </choices>
    <choices>
        <name>P_Pre_1997_Case</name>
        <choiceText>P - Pre-1997 Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P - Pre-1997 Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>PANo</name>
        <choiceText>PANo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PANo</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAYes</name>
        <choiceText>PAYes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAYes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_individual</name>
        <choiceText>Private individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Authority</name>
        <choiceText>Public Authority</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Authority</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_Initial_Enquiries</name>
        <choiceText>Q1 - Initial Enquiries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q1 - Initial Enquiries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Pre_Admin_Enquiries</name>
        <choiceText>Q2 - Pre Admin Enquiries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2 - Pre Admin Enquiries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q_Query</name>
        <choiceText>Q - Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q - Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_BV_Registry_queries</name>
        <choiceText>R - BV Registry queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R - BV Registry queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>RBS</name>
        <choiceText>RBS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RBS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reversion</name>
        <choiceText>Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Santander</name>
        <choiceText>Santander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1000_Companies_Act_2006</name>
        <choiceText>Section 1000 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1000 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1001_Companies_Act_2006</name>
        <choiceText>Section 1001 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1001 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1002_Companies_Act_2006</name>
        <choiceText>Section 1002 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1002 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1003_Companies_Act_2006</name>
        <choiceText>Section 1003 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1003 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_201_Insolvency_Act_1986</name>
        <choiceText>Section 201 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 201 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_202_Insolvency_Act_1986</name>
        <choiceText>Section 202 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 202 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_290_Companies_Act_1948</name>
        <choiceText>Section 290 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 290 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_300_Companies_Act_1948</name>
        <choiceText>Section 300 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 300 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_353_Companies_Act_1948</name>
        <choiceText>Section 353 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 353 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_585_595_Companies_Act_1985</name>
        <choiceText>Section 585/595 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 585/595 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_5_Companies_Act_1985</name>
        <choiceText>Section 652(5) Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652(5) Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_Companies_Act_1985</name>
        <choiceText>Section 652 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652A_Companies_Act_1985</name>
        <choiceText>Section 652A Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652A Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Man</name>
        <choiceText>Single Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Woman</name>
        <choiceText>Single Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir</name>
        <choiceText>Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_AND_Madam</name>
        <choiceText>Sir &amp; Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir &amp; Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_Madam</name>
        <choiceText>Sir/Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir/Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sirs</name>
        <choiceText>Sirs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sirs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spinster</name>
        <choiceText>Spinster</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spinster</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_test</name>
        <choiceText>Status test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surviving_Civil_Partner</name>
        <choiceText>Surviving Civil Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surviving Civil Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenure</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>V_BV_Registry_Queries</name>
        <choiceText>V - BV Registry Queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V - BV Registry Queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>W_Reopened_Case</name>
        <choiceText>W - Reopened Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W - Reopened Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widow</name>
        <choiceText>Widow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widower</name>
        <choiceText>Widower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y_Kin_Claims</name>
        <choiceText>Y - Kin Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y - Kin Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>YA_Reopened_Other</name>
        <choiceText>YA - Reopened Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YA - Reopened Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insolvent</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_other_addresses_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_will_located</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z1_Transfer_of_Land_All_other_types</name>
        <choiceText>Z1 - Transfer of Land (All other types)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z1 - Transfer of Land (All other types)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z2_Transfer_of_Land_freehold_leasehold_reversions</name>
        <choiceText>Z2 - Transfer of Land (freehold / leasehold reversions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z2 - Transfer of Land (freehold / leasehold reversions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z3_Reports_on_title_and_advisory_work</name>
        <choiceText>Z3 - Reports on title and advisory work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z3 - Reports on title and advisory work</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z4_Miscellaneous</name>
        <choiceText>Z4 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z4 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Conveyancing</name>
        <choiceText>Z - Conveyancing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z - Conveyancing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_BV1A</name>
        <label>If BV1A</label>
        <locationX>380</locationX>
        <locationY>6566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_BV1A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Method_of_Disclosure_Estates</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BV1A_Letter_BV1A_Online_Referral_Form</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_a_kin_claim</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_MOD_Other</name>
        <label>If MOD Other</label>
        <locationX>380</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_MOD_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Method_of_Disclosure_Estates</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MOD_to_Other</targetReference>
            </connector>
            <label>Other - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_kin_claim</name>
        <label>Is a kin claim?</label>
        <locationX>182</locationX>
        <locationY>6674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_is_Kin_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Y_Kin_Claims</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_of_Task</targetReference>
            </connector>
            <label>Yes is Kin Claim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Informant_from_Address_Book</name>
        <label>Select Informant from Address Book</label>
        <locationX>380</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Informant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Select_Informant_from_Address_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Informant_from_Address_Book_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Informant_Address_Book_Screen</targetReference>
            </connector>
            <label>Yes - Select Informant from Address Book</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AddressBookRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ShippingAddressName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shippingAddress</assignToReference>
            <field>ShippingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingAddressCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingAddressCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingAddressPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingAddressState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingAddressStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Clear_left_brackets_for_aliases</name>
        <dataType>String</dataType>
        <expression>TRIM(left({!Clearrightbracketsforaliases}, (LEN({!Clearrightbracketsforaliases}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Clear_special_characters_from_aliases</name>
        <dataType>String</dataType>
        <expression>LEFT(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - 1) &amp; 
MID(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) + 1, LEN(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)))</expression>
    </formulas>
    <formulas>
        <name>Clearrightbracketsforaliases</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!Aliases_Template}, (LEN({!Aliases_Template}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Disclosure_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!FirstMethodDisclosure})), 
    {!FirstMethodDisclosure}, 
    {!Enter_method_of_disclosure}
)</expression>
    </formulas>
    <formulas>
        <name>Follow_Up_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (FOLLOW UP)&quot;</expression>
    </formulas>
    <formulas>
        <name>Internal_Review_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (INTERNAL REVIEW)&quot;</expression>
    </formulas>
    <formulas>
        <name>ReferralFormula</name>
        <dataType>String</dataType>
        <expression>{!Case_type_selection}</expression>
    </formulas>
    <formulas>
        <name>TodayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Add 19 days to the date given by user</description>
        <name>WorkingDays</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD(
    {!InputDate} - DATE(1985, 6, 24), 
    7
  ), 
  0, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  1, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  2, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  3, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  4, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  5, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  6, 
    CASE(
      MOD({!InputDate} + 25 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 27,
      6, {!InputDate} + 26,
      {!InputDate} + 25
    ), 
  {!InputDate}
)</expression>
    </formulas>
    <interviewLabel>Case Creation Estates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Estates</label>
    <loops>
        <name>Get_Aliases</name>
        <label>Get Aliases</label>
        <locationX>380</locationX>
        <locationY>3062</locationY>
        <collectionReference>Aliases_repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_an_alias</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Occupiers_Addresses</name>
        <label>Get Occupiers Addresses</label>
        <locationX>380</locationX>
        <locationY>2030</locationY>
        <collectionReference>Occupiers_address_repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_an_occupier_address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Other_addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_other_addresses</name>
        <label>Get other addresses</label>
        <locationX>380</locationX>
        <locationY>2546</locationY>
        <collectionReference>Other_addresses_repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_other_address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Aliases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Aliases</name>
        <label>Loop Aliases</label>
        <locationX>380</locationX>
        <locationY>4910</locationY>
        <collectionReference>allAliases_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_BV_Case_ID_To_Aliases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Occupiers_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Aliases_for_Text</name>
        <label>Loop Aliases for Text</label>
        <locationX>380</locationX>
        <locationY>3578</locationY>
        <collectionReference>allAliases_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Aliases_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Occupiers_Addresses_Text</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Occupiers_Addresses</name>
        <label>Loop Occupiers Addresses</label>
        <locationX>380</locationX>
        <locationY>5318</locationY>
        <collectionReference>allOccupiersAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_BV_Case_ID_to_Occupiers_Addresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Other_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Occupiers_Addresses_Text</name>
        <label>Loop Occupiers Addresses Text</label>
        <locationX>380</locationX>
        <locationY>3878</locationY>
        <collectionReference>allOccupiersAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Occupiers_Address_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Other_Addresses_Text</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Other_Addresses</name>
        <label>Loop Other Addresses</label>
        <locationX>380</locationX>
        <locationY>5726</locationY>
        <collectionReference>allOtherAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_BV_Case_ID_to_Other_Addresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_occupiers_addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Other_Addresses_Text</name>
        <label>Loop Other Addresses Text</label>
        <locationX>380</locationX>
        <locationY>4178</locationY>
        <collectionReference>allOtherAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Other_Addesses_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Review_and_confirm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Aliases</name>
        <label>Create Aliases</label>
        <locationX>380</locationX>
        <locationY>6350</locationY>
        <connector>
            <targetReference>Create_Case_Officer</targetReference>
        </connector>
        <inputReference>allAliasesListWithId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_BV_Case</name>
        <label>Create BV_Case__c</label>
        <locationX>380</locationX>
        <locationY>4694</locationY>
        <connector>
            <targetReference>Add_documents</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>case_officer_select_estates.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Case_type_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Informant_Contact_name_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Disclosed__c</field>
            <value>
                <elementReference>Enter_Disclosure_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Kin_Located__c</field>
            <value>
                <elementReference>Intestate_Date_Kin_Located_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>Intestate_Date_of_Birth_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Death__c</field>
            <value>
                <elementReference>Intestate_Died_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_1__c</field>
            <value>
                <elementReference>Intestate_Died_at_address_line_1_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_2__c</field>
            <value>
                <elementReference>Intestate_Died_at_address_line_2_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_3__c</field>
            <value>
                <elementReference>Intestate_Died_at_address_line_3_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_4__c</field>
            <value>
                <elementReference>Intestate_Died_at_address_line_4_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_PC__c</field>
            <value>
                <elementReference>Intestate_Died_at_postcode_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forenames__c</field>
            <value>
                <elementReference>Intestate_Forename_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Intestate_Gender_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_1__c</field>
            <value>
                <elementReference>Informant_Address_Line_1_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_2__c</field>
            <value>
                <elementReference>Informant_Address_line_2_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_3__c</field>
            <value>
                <elementReference>Informant_Address_line_3_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_4__c</field>
            <value>
                <elementReference>Informant_Address_line_4_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_PC__c</field>
            <value>
                <elementReference>Informant_Postcode_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Email__c</field>
            <value>
                <elementReference>Informant_Email_Estates.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Mobile__c</field>
            <value>
                <elementReference>Informant_Mobile_number_field_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Reference__c</field>
            <value>
                <elementReference>Informant_Reference_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Salutation__c</field>
            <value>
                <elementReference>Informant_Salutation_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Telephone__c</field>
            <value>
                <elementReference>Informant_Telephone_number_field_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Type__c</field>
            <value>
                <elementReference>Informant_type_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant__c</field>
            <value>
                <elementReference>Informant_text_field_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insolvent__c</field>
            <value>
                <elementReference>Intestate_Insolvent_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kin_Located__c</field>
            <value>
                <elementReference>Intestate_Kin_located_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maiden_Name__c</field>
            <value>
                <elementReference>Intestate_Maiden_name_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>DisclosureMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>case_officer_select_estates.selectedCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Birth__c</field>
            <value>
                <elementReference>Intestate_Place_of_Birth_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BVCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Place__c</field>
            <value>
                <elementReference>Intestate_Short_place_name_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Intestate_Status_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surname__c</field>
            <value>
                <elementReference>Intestate_Surname_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Intestate_Title_Estates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Will_Located__c</field>
            <value>
                <elementReference>Intestate_Will_located_Estates</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Officer</name>
        <label>Create Case Officer</label>
        <locationX>380</locationX>
        <locationY>6458</locationY>
        <connector>
            <targetReference>If_BV1A</targetReference>
        </connector>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>Create_BV_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Officer__c</field>
            <value>
                <elementReference>case_officer_select_estates.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseDetailCaseOfficerRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_occupiers_addresses</name>
        <label>Create occupiers addresses</label>
        <locationX>380</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>Create_other_addresses</targetReference>
        </connector>
        <inputReference>allOccupiersAddressesListWithId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_other_addresses</name>
        <label>Create other addresses</label>
        <locationX>380</locationX>
        <locationY>6242</locationY>
        <connector>
            <targetReference>Create_Aliases</targetReference>
        </connector>
        <inputReference>allOtherAddressListWIthId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>6998</locationY>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>case_officer_select_estates.selectedCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case_Lookup__c</field>
            <value>
                <elementReference>Create_BV_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Estate Task Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Enter_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Estate Task Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>What_is_the_Priority_of_the_claim</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Aliases_RecordTypeId</name>
        <label>Get Aliases RecordTypeId</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Officer_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estates_Aliases</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailAliasesRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_BV_Case_RecordTypeId</name>
        <label>Get BV Case RecordTypeId</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Occupiers_Address_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESTA</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>BVCaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Officer_RecordTypeId</name>
        <label>Get Case Officer RecordTypeId</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Disclosure_Date_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailCaseOfficerRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Occupiers_Address_RecordTypeId</name>
        <label>Get Occupiers Address RecordTypeId</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Other_Addresses_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estates_Occupiers_Address</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailOccupiersAddressRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Addresses_RecordTypeId</name>
        <label>Get Other Addresses RecordTypeId</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Aliases_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estates_Other_addresses</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailOtherAddressesRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_documents</name>
        <label>Add documents</label>
        <locationX>380</locationX>
        <locationY>4802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Aliases</targetReference>
        </connector>
        <fields>
            <name>Progress_Add_Document</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;(Optional) Select Informant from Address Book&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Informant &lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Intestate Details&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Occupiers address﻿&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Other addresses&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Aliases&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Case Type&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  &amp;gt;&lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Review and Confirm&amp;gt; &lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;(Optional) Select Case Officer &amp;gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;(Optional) Add Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>file_upload_document_screen</name>
            <extensionName>c:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_BV_Case</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Aliases</name>
        <label>Aliases</label>
        <locationX>380</locationX>
        <locationY>2954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Aliases</targetReference>
        </connector>
        <fields>
            <name>Progress_Aliases</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informant &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Intestate Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Occupiers address﻿&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Other addresses&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Aliases &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; Case Type &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Aliases_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Surname_aliases</name>
                <dataType>String</dataType>
                <fieldText>Surname</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Forenames_aliases</name>
                <dataType>String</dataType>
                <fieldText>Forenames</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_Officer_Selection_Estates</name>
        <label>Case Officer Selection</label>
        <locationX>380</locationX>
        <locationY>4586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_BV_Case</targetReference>
        </connector>
        <fields>
            <name>Display_progress_select_case_officer</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;(Optional) Select Informant from Address Book&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Informant &lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Intestate Details&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Occupiers address﻿&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Other addresses&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Aliases&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Case Type&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;  &amp;gt;&lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Review and Confirm&amp;gt; &lt;/em&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;(Optional) Select Case Officer&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>case_officer_select_estates</name>
            <extensionName>c:caseOfficerSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_type</name>
        <label>Case type</label>
        <locationX>380</locationX>
        <locationY>3470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Aliases_for_Text</targetReference>
        </connector>
        <fields>
            <name>Progress_Case_Type</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informant &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Intestate Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Occupiers address﻿&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Other addresses&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Aliases&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case Type&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_type_picklist</name>
            <choiceReferences>A_SRA_Intestate</choiceReferences>
            <choiceReferences>B_Freehold_Leasehold_Property</choiceReferences>
            <choiceReferences>B1_Freehold_Leasehold_Property</choiceReferences>
            <choiceReferences>C_Net_Estate_over_5000_pre_January</choiceReferences>
            <choiceReferences>C1_Net_Estate_over_15_000</choiceReferences>
            <choiceReferences>C2_Net_Estate_over_15_000_no_grant_required</choiceReferences>
            <choiceReferences>C4_Net_Estate_over_15_000_collection_only</choiceReferences>
            <choiceReferences>D_Net_Estate_less_than_5000_pre_Jan_2009</choiceReferences>
            <choiceReferences>D1_Net_Estate_under_5000</choiceReferences>
            <choiceReferences>D2_Net_Estate_over_5000_under_15_000</choiceReferences>
            <choiceReferences>D3_Net_Estate_under_15_000</choiceReferences>
            <choiceReferences>D4_Net_Estate_Under_15k_collection_only</choiceReferences>
            <choiceReferences>F_Collect</choiceReferences>
            <choiceReferences>G_General</choiceReferences>
            <choiceReferences>J_Freedom_of_Information_Request</choiceReferences>
            <choiceReferences>L_Limitation_Period_Cases</choiceReferences>
            <choiceReferences>M_Costs_Case</choiceReferences>
            <choiceReferences>NE_Northern_Ireland</choiceReferences>
            <choiceReferences>P_Pre_1997_Case</choiceReferences>
            <choiceReferences>Q_Query</choiceReferences>
            <choiceReferences>Q1_Initial_Enquiries</choiceReferences>
            <choiceReferences>Q2_Pre_Admin_Enquiries</choiceReferences>
            <choiceReferences>R_BV_Registry_queries</choiceReferences>
            <choiceReferences>Y_Kin_Claims</choiceReferences>
            <choiceReferences>YA_Reopened_Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Q_Query</defaultSelectedChoiceReference>
            <fieldText>Case type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Disclosure_Date_Screen</name>
        <label>Enter Disclosure Date</label>
        <locationX>380</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Method_of_Disclosure_Estates_Screen</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Disclosure_Date</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Enter Method of Disclosure &amp;gt; (Optional) Select Informant from Address Book &amp;gt; Informant &amp;gt; Intestate Details &amp;gt; Occupiers address &amp;gt; Other addresses &amp;gt; Aliases &amp;gt; Case Type  &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Disclosure_Date</name>
            <dataType>Date</dataType>
            <fieldText>Enter Disclosure Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Due_Date_Screen</name>
        <label>Enter Due Date</label>
        <locationX>50</locationX>
        <locationY>6890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <fields>
            <name>Enter_Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Enter Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informant</name>
        <label>Informant</label>
        <locationX>380</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Intestate_details</targetReference>
        </connector>
        <fields>
            <name>Progress_Informant</name>
            <fieldText>&lt;p&gt;&lt;em&gt;Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&amp;gt; &lt;em&gt;(Optional) Select Informant from Address Book&lt;/em&gt; &amp;gt; &lt;strong&gt;Informant &lt;/strong&gt;&amp;gt; Intestate Details &amp;gt; Occupiers address &amp;gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Other addresses &amp;gt; Aliases &amp;gt; Case Type  &amp;gt; Review and Confirm &amp;gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Informant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_type_Estates</name>
                    <choiceReferences>Private_individual</choiceReferences>
                    <choiceReferences>Solicitor</choiceReferences>
                    <choiceReferences>Bank</choiceReferences>
                    <choiceReferences>Public_Authority</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Informant type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;For the historic unclaimed estates list&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_text_field_Estates</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ShippingAddressName</elementReference>
                    </defaultValue>
                    <fieldText>Informant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Address_Line_1_Estates</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ShippingAddressStreet</elementReference>
                    </defaultValue>
                    <fieldText>Informant Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Address_line_2_Estates</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ShippingAddressCity</elementReference>
                    </defaultValue>
                    <fieldText>Informant Address line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Address_line_3_Estates</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ShippingAddressCountry</elementReference>
                    </defaultValue>
                    <fieldText>Informant Address line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Address_line_4_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Informant Address line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Postcode_Estates</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ShippingAddressPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Informant Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informant_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_Salutation_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Informant Salutation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Contact_name_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Contact name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Mobile_number_field_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Informant Mobile Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Telephone_number_field_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Informant Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Reference_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Informant Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Email_Estates</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email_informant_field</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Informant Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intestate_details</name>
        <label>Intestate details</label>
        <locationX>380</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Occupiers_address</targetReference>
        </connector>
        <fields>
            <name>Progress_Intestate_Details</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informant &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Intestate Details&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Occupiers address &amp;gt; Other addresses &amp;gt; Aliases &amp;gt; Case Type &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intestate_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intestate_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intestate_Surname_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Surname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Forename_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Forenames</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Title_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Status_Estates</name>
                    <choiceReferences>Husband</choiceReferences>
                    <choiceReferences>Widow</choiceReferences>
                    <choiceReferences>Widower</choiceReferences>
                    <choiceReferences>Married_Woman</choiceReferences>
                    <choiceReferences>Single_Man</choiceReferences>
                    <choiceReferences>Single_Woman</choiceReferences>
                    <choiceReferences>Unknown</choiceReferences>
                    <choiceReferences>Spinster</choiceReferences>
                    <choiceReferences>Bachelor</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Gender_Estates</name>
                    <choiceReferences>Male_M</choiceReferences>
                    <choiceReferences>Female_F</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Maiden_name_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Maiden Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Date_of_Birth_Estates</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Place_of_Birth_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Place of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Kin_located_Estates</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Kin Located</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Date_Kin_Located_Estates</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Kin Located</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intestate_details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intestate_Died_Estates</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Death</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Died_at_address_line_1_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Died at Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Died_at_address_line_2_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Died at Address 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Died_at_address_line_3_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Died at Address 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Died_at_address_line_4_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Died at Address 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Died_at_postcode_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Died at Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Short_place_name_Estates</name>
                    <dataType>String</dataType>
                    <fieldText>Short Place</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Will_located_Estates</name>
                    <choiceReferences>Yes_will_located</choiceReferences>
                    <choiceReferences>No_will_located</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will Located</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Intestate_Insolvent_Estates</name>
                    <choiceReferences>Yes_insolvent</choiceReferences>
                    <choiceReferences>No_insolvent</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Insolvent/NI/1230</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Method_of_Disclosure_Estates_Screen</name>
        <label>Method of Disclosure</label>
        <locationX>380</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_MOD_Other</targetReference>
        </connector>
        <fields>
            <name>dt_method</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter Disclosure Date&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Enter Method of Disclosure&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; (Optional) Select Informant from Address Book &amp;gt; Informant &amp;gt; Intestate Details &amp;gt; Occupiers address &amp;gt; Other addresses &amp;gt; Aliases &amp;gt; Case Type  &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Method_of_Disclosure_Estates</name>
            <choiceReferences>Letter_Email</choiceReferences>
            <choiceReferences>BV1A_Letter_BV1A_Online_Referral_Form</choiceReferences>
            <choiceReferences>New_case_call</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method of Disclosure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_other_method_of_disclosure</name>
            <dataType>String</dataType>
            <fieldText>Enter Disclosure Method</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Method_of_Disclosure_Estates</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Occupiers_address</name>
        <label>Occupiers address</label>
        <locationX>380</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Occupiers_Addresses</targetReference>
        </connector>
        <fields>
            <name>Progress_Occupiers</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informant &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Intestate Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Occupiers address﻿&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Other addresses &amp;gt; Aliases &amp;gt; Case Type &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Occupiers_address_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Address_Line_1_occupiers_Estates</name>
                <dataType>String</dataType>
                <fieldText>Address Line 1</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_2_occupiers_Estates</name>
                <dataType>String</dataType>
                <fieldText>Address line 2</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_3_occupiers_Estates</name>
                <dataType>String</dataType>
                <fieldText>Address line 3</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_4_occupiers_Estates</name>
                <dataType>String</dataType>
                <fieldText>Address line 4</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postcode_occupiers_Estates</name>
                <dataType>String</dataType>
                <fieldText>Postcode</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Owned_Occupiers_Estates</name>
                <choiceReferences>Yes_other_addresses_owned</choiceReferences>
                <choiceReferences>No_other_addresses_owned</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Owned</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenanted_Occupiers_Estates</name>
                <choiceReferences>Unknown_other_addresses_tenanted</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenanted</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenure_Occupiers_Estates</name>
                <choiceReferences>Unknown_other_addresses_tenure</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenure</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Title_number_Occupiers_Estates</name>
                <dataType>String</dataType>
                <fieldText>Title No.</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_addresses</name>
        <label>Other addresses</label>
        <locationX>380</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_other_addresses</targetReference>
        </connector>
        <fields>
            <name>Progress_Other_Addresses</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Disclosure Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informant &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Intestate Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Occupiers address﻿&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Other addresses&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Aliases &amp;gt; Case Type &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_addresses_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Other_Addressee_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Other Addressee</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_1_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Address line 1</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_2_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Address line 2</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_3_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Address line 3</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_4_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Address line 4</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postcode_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Postcode</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reference_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Reference</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Salutation_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Salutation</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Telephone_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Telephone</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mobile_other_addresses_Estates</name>
                <dataType>String</dataType>
                <fieldText>Mobile Number</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Email_other_addresses_Estates</name>
                <extensionName>flowruntime:email</extensionName>
                <fieldType>ComponentInstance</fieldType>
                <inputParameters>
                    <name>value</name>
                    <value>
                        <elementReference>Email_other_addresses_field</elementReference>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Priority_of_Task</name>
        <label>Priority of Task</label>
        <locationX>50</locationX>
        <locationY>6782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Due_Date_Screen</targetReference>
        </connector>
        <fields>
            <name>What_is_the_Priority_of_the_claim</name>
            <choiceReferences>Normal</choiceReferences>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Critical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the priority of the claim?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_and_confirm</name>
        <label>Review and confirm</label>
        <locationX>380</locationX>
        <locationY>4478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Officer_Selection_Estates</targetReference>
        </connector>
        <fields>
            <name>Progress_Review</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date &amp;gt; Enter Method of Disclosure &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informant &lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Intestate Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Occupiers address﻿&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Other addresses&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Aliases&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case Type&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Review and Confirm &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Disclosure_Review</name>
            <fieldText>Disclosure</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Disclosure_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disclosure_Review_Fields</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Date disclosed&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Enter_Disclosure_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Method of disclosure&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!DisclosureMethod}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Informant_Review</name>
            <fieldText>Informant</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informant_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_Review_Fields</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Informant&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_text_field_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Informant Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_Address_Line_1_Estates}&lt;/p&gt;&lt;p&gt;{!Informant_Address_line_2_Estates}&lt;/p&gt;&lt;p&gt;{!Informant_Address_line_3_Estates}&lt;/p&gt;&lt;p&gt;{!Informant_Address_line_4_Estates}&lt;/p&gt;&lt;p&gt;{!Informant_Postcode_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Informant &lt;/strong&gt;&lt;strong&gt;Salutation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_Salutation_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contact name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_Contact_name_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Informant &lt;/strong&gt;&lt;strong&gt;Reference&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_Reference_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Informant &lt;/strong&gt;&lt;strong&gt;Telephone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_Telephone_number_field_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informant &lt;/strong&gt;&lt;strong&gt;Mobile Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_Mobile_number_field_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Informant Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_type_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Informant &lt;/strong&gt;&lt;strong&gt;Email&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Informant_Email_Estates.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Intestate_Details_Review</name>
            <fieldText>Intestate Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intestate_Details_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Intestate_Review_Fields</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Surname&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Surname_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Forenames&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Forename_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Title_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Status_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Gender&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Gender_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Maiden Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Maiden_name_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date of Birth&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Date_of_Birth_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Place of Birth&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Place_of_Birth_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Kin Located&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Kin_located_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Kin Located&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Date_Kin_Located_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date of Death&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Died_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Died at Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Died_at_address_line_1_Estates}&lt;/p&gt;&lt;p&gt;{!Intestate_Died_at_address_line_2_Estates}&lt;/p&gt;&lt;p&gt;{!Intestate_Died_at_address_line_3_Estates}&lt;/p&gt;&lt;p&gt;{!Intestate_Died_at_address_line_4_Estates}&lt;/p&gt;&lt;p&gt;{!Intestate_Died_at_postcode_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Short Place&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Short_place_name_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Will Located&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Will_located_Estates}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Insolvent/NI/1230&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Insolvent_Estates}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Occupier_Addresses_Review</name>
            <fieldText>Occupier Addresses</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Occupier_Addresses_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Occupiers_Address_Review</name>
                    <fieldText>&lt;p&gt;{!Occupiers_Address_Text_Data}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Addresses_Review</name>
            <fieldText>Other Addresses</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Addresses_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Addresses_Review_Fields</name>
                    <fieldText>&lt;p&gt;{!Other_Addresses_Text_Data}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Aliases_Review</name>
            <fieldText>Aliases</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Aliases_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Aliases_Review_Fields</name>
                    <fieldText>&lt;p&gt;{!Aliases_Text_data}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Type_Review</name>
            <fieldText>Case Type</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Type_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Type_Review_Fields</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Case Type &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Case_type_picklist}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_of_Informant_Address</name>
        <label>Review of Informant Address</label>
        <locationX>248</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Informant</targetReference>
        </connector>
        <fields>
            <name>dt_i_ad_2</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Informant &amp;gt; Intestate Details &amp;gt; Occupiers address &amp;gt; Other addresses &amp;gt; Aliases &amp;gt; Case Type  &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>temp_review_of_shipping</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Informant Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ShippingAddressName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Informant Street&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ShippingAddressStreet}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Informant City&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ShippingAddressCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Informant Postal Code&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ShippingAddressPostalCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Informant Country&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ShippingAddressCountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Informant_Address_Book_Screen</name>
        <label>Select Informant Address Book</label>
        <locationX>248</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_of_Informant_Address</targetReference>
        </connector>
        <fields>
            <name>dt_i_ad</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Informant &amp;gt; Intestate Details &amp;gt; Occupiers address &amp;gt; Other addresses &amp;gt; Aliases &amp;gt; Case Type  &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Informant_address_book</name>
            <choiceReferences>AddressBookRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Informant</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Informant_from_address_book_screen</name>
        <label>Select Informant from address book</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Informant_from_Address_Book</targetReference>
        </connector>
        <fields>
            <name>DT_Informant_Select</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Disclosure Date&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Informant from Address Book&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Informant &amp;gt; Intestate Details &amp;gt; Occupiers address &amp;gt; Other addresses &amp;gt; Aliases &amp;gt; Case Type  &amp;gt; Review and Confirm &amp;gt; (Optional) Select Case Officer &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Informant_from_Address_Book_Picklist</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Informant from Address Book?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BV_Case_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Aliases_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Surname &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Aliases_for_Text.Surname__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Forename &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Aliases_for_Text.Forenames__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Occupiers_Address_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Occupiers_Addresses_Text.Address_Line_2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Occupiers_Addresses_Text.Address_Line_3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Occupiers_Addresses_Text.Address_Line_4__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Postcode__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Owned&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Owned__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tenanted&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Tenanted__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tenure&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Tenure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title No.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Title_No__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Temeplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_Other_Addresses_Text}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Other Addressee&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Other_Addresses_Text.Other_Addressee__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Other_Addresses_Text.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Address_Line_2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Address_Line_3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Address_Line_4__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Postcode__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Reference&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Reference__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Salutation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Salutation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Telephone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Telephone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Mobile Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Mobile_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Email&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Other_Addresses_Text.Email__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Alias_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Aliases_Text_data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allAliases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliases_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliasesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddressesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddressListWIthId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>BankChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BVCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BVTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case_type_selection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseDetailAliasesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailCaseOfficerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailFormerNamesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOccupiersAddressRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOtherAddressesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_disclosed</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisclosureMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayAliases</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_other_addresses_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enter_method_of_disclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FilteredShippingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstMethodDisclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_FOI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BV_Case__c</objectType>
    </variables>
    <variables>
        <name>NewFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Occupiers_Address_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenAllocatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Addresses_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCaseOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>shippingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingAddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingAddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingAddressName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingAddressPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingAddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingAddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singeAlias</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOccupierAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOtherAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>SpreadsheetNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Telephone_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
