force-app/main/default/flows/Case_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Alias_to_List_of_Aliases</name>
        <label>Assign Alias to List of Aliases</label>
        <locationX>886</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>allAliases_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singeAlias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Aliases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_occupier_address_to_a_List</name>
        <label>Assign new occupier address to a List</label>
        <locationX>886</locationX>
        <locationY>5426</locationY>
        <assignmentItems>
            <assignToReference>allOccupiersAddressesListWithId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Occupiers_Addresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Occupiers_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_other_addresses_to_a_List</name>
        <label>Assign new other addresses to a List</label>
        <locationX>886</locationX>
        <locationY>5834</locationY>
        <assignmentItems>
            <assignToReference>allOtherAddressListWIthId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Other_Addresses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Other_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_occupier_addresses_to_a_List</name>
        <label>Assign occupier addresses to a List</label>
        <locationX>886</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>allOccupiersAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleOccupierAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Occupiers_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_other_address_to_a_list</name>
        <label>Assign other address to a list</label>
        <locationX>886</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>allOtherAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleOtherAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_other_addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_new_Alias_to_List_of_Aliases</name>
        <label>Assign the new Alias to List of Aliases</label>
        <locationX>886</locationX>
        <locationY>5018</locationY>
        <assignmentItems>
            <assignToReference>allAliasesListWithId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Aliases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Aliases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_a_other_address</name>
        <label>Create a other address</label>
        <locationX>886</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Address_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_line_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Address_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_line_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Address_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_line_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Tenanted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unknown_other_addresses_tenanted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Tenure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unknown_other_addresses_tenanted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.Title_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOtherAddress.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDetailOtherAddressesRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_other_address_to_a_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_an_alias</name>
        <label>Create an alias</label>
        <locationX>886</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>singeAlias.Surname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aliases.Surname_aliases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeAlias.Forenames__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Aliases.Forenames_aliases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeAlias.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDetailAliasesRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Alias_to_List_of_Aliases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_an_occupier_address</name>
        <label>Create an occupier address</label>
        <locationX>886</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Address_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_line_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Address_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_line_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Address_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_line_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Postcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Owned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_other_addresses_owned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Owned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yes_other_addresses_owned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Tenure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unknown_other_addresses_tenure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Tenanted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unknown_other_addresses_tenanted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.Title_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOccupierAddress.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDetailOccupiersAddressRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_occupier_addresses_to_a_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Formula</name>
        <label>Date Assignment</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>InputDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Recieved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkingDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Front_Cover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Aliases_Text</name>
        <label>Set Aliases Text</label>
        <locationX>886</locationX>
        <locationY>3794</locationY>
        <assignmentItems>
            <assignToReference>Aliases_Text_data</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Aliases_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Aliases_for_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BV_Case_ID_To_Aliases</name>
        <label>Set BV Case ID to Aliases</label>
        <locationX>886</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>Loop_Aliases.BV_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_BV_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_the_new_Alias_to_List_of_Aliases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BV_Case_ID_to_Occupiers_Addresses</name>
        <label>Set BV Case ID to Occupiers Addresses</label>
        <locationX>886</locationX>
        <locationY>5318</locationY>
        <assignmentItems>
            <assignToReference>Loop_Occupiers_Addresses.BV_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_BV_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_occupier_address_to_a_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BV_Case_ID_to_Other_Addresses</name>
        <label>Set BV Case ID to Other Addresses</label>
        <locationX>886</locationX>
        <locationY>5726</locationY>
        <assignmentItems>
            <assignToReference>Loop_Other_Addresses.BV_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_BV_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_other_addresses_to_a_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Occupiers_Address_Text</name>
        <label>Set Occupiers Address Text</label>
        <locationX>886</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>Occupiers_Address_Text_Data</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Occupiers_Address_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Occupiers_Addresses_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Other_Addesses_Text</name>
        <label>Set Other Addesses Text</label>
        <locationX>886</locationX>
        <locationY>4394</locationY>
        <assignmentItems>
            <assignToReference>Other_Addresses_Text_Data</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Other_Addresses_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Other_Addresses_Text</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_F</name>
        <choiceText>Female (F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female (F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>FOI_FC_Follow_Up_Question</name>
        <choiceText>Follow up?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Northern_Ireland_Question</name>
        <choiceText>Northern Ireland?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Organisation</name>
        <choiceText>Organisation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If the FOI Request is NOT being dealt with on behalf of the Crown Solicitor</description>
        <name>FOINo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If FOI Request is being dealt with on behalf of the Crown Solicitor</description>
        <name>FOIYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Follow_Up</name>
        <choiceText>Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freedom_of_Information</name>
        <choiceText>Freedom of Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freedom of Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Review</name>
        <choiceText>Internal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male_M</name>
        <choiceText>Male (M)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male (M)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_estate_under_15000</name>
        <choiceText>Net estate under £15,000</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_case_call</name>
        <choiceText>New case call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New case call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Request</name>
        <choiceText>New Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insolvent</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_occupiers_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_other_addresses_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_will_located</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_individual</name>
        <choiceText>Private individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_test</name>
        <choiceText>Status test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenure</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insolvent</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_other_addresses_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_will_located</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Type_Decision</name>
        <label>Case Type Decision</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Informant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FOI_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type_selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Freedom_of_Information</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FOI_Request_Type_Screen</targetReference>
            </connector>
            <label>FOI Decision</label>
        </rules>
        <rules>
            <name>Estates_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type_selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Estates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BV_Case_RecordTypeId</targetReference>
            </connector>
            <label>Estates Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>FOI_Request_Type_Decision</name>
        <label>FOI Request Type Decision</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_FOI_RecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOI_Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Follow_Up</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_Up_Num</targetReference>
            </connector>
            <label>Follow Up decision</label>
        </rules>
        <rules>
            <name>New_Request_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOI_Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FOI_RecordTypeId</targetReference>
            </connector>
            <label>New Request Decision</label>
        </rules>
        <rules>
            <name>Internal_Review_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOI_Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Internal_Review</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Review_Num</targetReference>
            </connector>
            <label>Internal Review Decision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Clear_left_brackets_for_aliases</name>
        <dataType>String</dataType>
        <expression>TRIM(left({!Clearrightbracketsforaliases}, (LEN({!Clearrightbracketsforaliases}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Clear_special_characters_from_aliases</name>
        <dataType>String</dataType>
        <expression>LEFT(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - 1) &amp; 
MID(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) + 1, LEN(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)))</expression>
    </formulas>
    <formulas>
        <name>Clearrightbracketsforaliases</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!Aliases_Template}, (LEN({!Aliases_Template}) - 1)))</expression>
    </formulas>
    <formulas>
        <description>Add 19 days to the date given by user</description>
        <name>WorkingDays</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD(
    {!InputDate} - DATE(1985, 6, 24), 
    7
  ), 
  0, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  1, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  2, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  3, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  4, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  5, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  6, 
    CASE(
      MOD({!InputDate} + 25 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 27,
      6, {!InputDate} + 26,
      {!InputDate} + 25
    ), 
  {!InputDate}
)</expression>
    </formulas>
    <interviewLabel>Case Creation Estates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Flow</label>
    <loops>
        <name>Get_Aliases</name>
        <label>Get Aliases</label>
        <locationX>798</locationX>
        <locationY>3062</locationY>
        <collectionReference>Aliases_repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_an_alias</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Case_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Occupiers_Addresses</name>
        <label>Get Occupiers Addresses</label>
        <locationX>798</locationX>
        <locationY>2030</locationY>
        <collectionReference>Occupiers_address_repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_an_occupier_address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Other_addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_other_addresses</name>
        <label>Get other addresses</label>
        <locationX>798</locationX>
        <locationY>2546</locationY>
        <collectionReference>Other_addresses_repeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_other_address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Aliases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Aliases</name>
        <label>Loop Aliases</label>
        <locationX>798</locationX>
        <locationY>4802</locationY>
        <collectionReference>allAliases_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_BV_Case_ID_To_Aliases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Occupiers_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Aliases_for_Text</name>
        <label>Loop Aliases for Text</label>
        <locationX>798</locationX>
        <locationY>3686</locationY>
        <collectionReference>allAliases_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Aliases_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Occupiers_Addresses_Text</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Occupiers_Addresses</name>
        <label>Loop Occupiers Addresses</label>
        <locationX>798</locationX>
        <locationY>5210</locationY>
        <collectionReference>allOccupiersAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_BV_Case_ID_to_Occupiers_Addresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Other_Addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Occupiers_Addresses_Text</name>
        <label>Loop Occupiers Addresses Text</label>
        <locationX>798</locationX>
        <locationY>3986</locationY>
        <collectionReference>allOccupiersAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Occupiers_Address_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Other_Addresses_Text</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Other_Addresses</name>
        <label>Loop Other Addresses</label>
        <locationX>798</locationX>
        <locationY>5618</locationY>
        <collectionReference>allOtherAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_BV_Case_ID_to_Other_Addresses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_occupiers_addresses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Other_Addresses_Text</name>
        <label>Loop Other Addresses Text</label>
        <locationX>798</locationX>
        <locationY>4286</locationY>
        <collectionReference>allOtherAddresses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Other_Addesses_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Review_and_confirm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Aliases</name>
        <label>Create Aliases</label>
        <locationX>798</locationX>
        <locationY>6242</locationY>
        <inputReference>allAliasesListWithId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_BV_Case</name>
        <label>Create BV_Case__c</label>
        <locationX>798</locationX>
        <locationY>4694</locationY>
        <connector>
            <targetReference>Loop_Aliases</targetReference>
        </connector>
        <inputAssignments>
            <field>Born_At__c</field>
            <value>
                <elementReference>Born_at</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Contact_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Disclosed__c</field>
            <value>
                <elementReference>Date_disclosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>Date_of_birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_1__c</field>
            <value>
                <elementReference>Died_at_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_2__c</field>
            <value>
                <elementReference>Died_at_address_line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_3__c</field>
            <value>
                <elementReference>Died_at_address_line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_4__c</field>
            <value>
                <elementReference>Died_at_address_line_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_PC__c</field>
            <value>
                <elementReference>Died_at_postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died__c</field>
            <value>
                <elementReference>Died</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forenames__c</field>
            <value>
                <elementReference>Forename</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_1__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_2__c</field>
            <value>
                <elementReference>Address_line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_3__c</field>
            <value>
                <elementReference>Address_line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_4__c</field>
            <value>
                <elementReference>Address_line_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_PC__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Email__c</field>
            <value>
                <elementReference>Email_informant_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Mobile__c</field>
            <value>
                <elementReference>Mobile_number_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Reference__c</field>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Salutation__c</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Telephone__c</field>
            <value>
                <elementReference>Telephone_number_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Type__c</field>
            <value>
                <elementReference>Informant_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant__c</field>
            <value>
                <elementReference>Informant_text_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kin_Located__c</field>
            <value>
                <elementReference>Kin_located</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maiden_Name__c</field>
            <value>
                <elementReference>Maiden_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>Method_of_disclosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BVCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Place__c</field>
            <value>
                <elementReference>Short_place_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surname__c</field>
            <value>
                <elementReference>Surname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Will_Located__c</field>
            <value>
                <elementReference>Will_located</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create an case for FOI</description>
        <name>Create_FOI_Case</name>
        <label>Create FOI Case</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <inputAssignments>
            <field>Acknowledged__c</field>
            <value>
                <elementReference>FOI_FC_Acknowledged_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_1__c</field>
            <value>
                <elementReference>FOI_AD_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_2__c</field>
            <value>
                <elementReference>FOI_AD_Address_Line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_3__c</field>
            <value>
                <elementReference>FOI_AD_Address_Line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_4__c</field>
            <value>
                <elementReference>FOI_AD_Address_Line_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant__c</field>
            <value>
                <elementReference>FOI_FC_Applicant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Name__c</field>
            <value>
                <elementReference>FOI_FC_Case_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Number__c</field>
            <value>
                <elementReference>FOI_FC_Case_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Reply_Sent__c</field>
            <value>
                <elementReference>FOI_FC_Date_Reply_Sent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Withdrawn__c</field>
            <value>
                <elementReference>FOI_FC_Date_Withdrawn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>FOI_FC_Destruction_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax_Number__c</field>
            <value>
                <elementReference>FOI_AD_Fax_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foi_No__c</field>
            <value>
                <elementReference>FOI_FC_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up__c</field>
            <value>
                <elementReference>FOI_FC_Follow_Up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ilo__c</field>
            <value>
                <elementReference>FOI_FC_ILO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Int_Review_Officer__c</field>
            <value>
                <elementReference>FOI_FC_IR_Officer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>FOI_AD_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Northern_Ireland__c</field>
            <value>
                <elementReference>FOI_FC_Northern_Ireland</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Requests__c</field>
            <value>
                <elementReference>FOI_FC_Number_of_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>FOI_AD_Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received__c</field>
            <value>
                <elementReference>FOI_FC_Date_Recieved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reply_Due__c</field>
            <value>
                <elementReference>FOI_FC_Reply_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>FOI_FC_Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Advertising</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telephone__c</field>
            <value>
                <elementReference>FOI_AD_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>FOI_AD_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawn__c</field>
            <value>
                <elementReference>FOI_FC_Withdrawn</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_occupiers_addresses</name>
        <label>Create occupiers addresses</label>
        <locationX>798</locationX>
        <locationY>6026</locationY>
        <connector>
            <targetReference>Create_other_addresses</targetReference>
        </connector>
        <inputReference>allOccupiersAddressesListWithId</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_other_addresses</name>
        <label>Create other addresses</label>
        <locationX>798</locationX>
        <locationY>6134</locationY>
        <connector>
            <targetReference>Create_Aliases</targetReference>
        </connector>
        <inputReference>allOtherAddressListWIthId</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Aliases_RecordTypeId</name>
        <label>Get Aliases RecordTypeId</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Informant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estates_Aliases</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailAliasesRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_BV_Case_RecordTypeId</name>
        <label>Get BV Case RecordTypeId</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Occupiers_Address_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESTA</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>BVCaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Same as Get BV Case RecordTypeId</description>
        <name>Get_FOI_RecordTypeId</name>
        <label>Get FOI RecordTypeId</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Date_Recieved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESTA</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>BVCaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Occupiers_Address_RecordTypeId</name>
        <label>Get Occupiers Address RecordTypeId</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Other_Addresses_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estates_Occupiers_Address</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailOccupiersAddressRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Addresses_RecordTypeId</name>
        <label>Get Other Addresses RecordTypeId</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Aliases_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estates_Other_addresses</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailOtherAddressesRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_documents</name>
        <label>Add documents</label>
        <locationX>798</locationX>
        <locationY>3578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Aliases_for_Text</targetReference>
        </connector>
        <fields>
            <name>Add_documents_field</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add documents</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>flow_navigation_component_add_documents</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Aliases</name>
        <label>Aliases</label>
        <locationX>798</locationX>
        <locationY>2954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Aliases</targetReference>
        </connector>
        <fields>
            <name>Aliases_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Surname_aliases</name>
                <dataType>String</dataType>
                <fieldText>Surname</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Forenames_aliases</name>
                <dataType>String</dataType>
                <fieldText>Forenames</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_aliases</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows the applicant&apos;s details screen to be completed</description>
        <name>Applicant_Details</name>
        <label>Applicant Details</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FOI_Case</targetReference>
        </connector>
        <fields>
            <name>FOI_AD_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Address</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Address_Line_2</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Address_Line_3</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Address_Line_4</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Postcode</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FOI_AD_Fax_Number</name>
            <dataType>Number</dataType>
            <fieldText>Fax Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>FOI_AD_Type</name>
            <choiceReferences>FOI_FC_Individual</choiceReferences>
            <choiceReferences>FOI_FC_Organisation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_applicant_details</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_type</name>
        <label>Case type</label>
        <locationX>798</locationX>
        <locationY>3470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_documents</targetReference>
        </connector>
        <fields>
            <name>Case_type_picklist</name>
            <choiceReferences>Net_estate_under_15000</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_case_type</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Disclosure</name>
        <label>Disclosure</label>
        <locationX>798</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Case_type_selection</name>
            <choiceReferences>Estates</choiceReferences>
            <choiceReferences>Companies</choiceReferences>
            <choiceReferences>Freedom_of_Information</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case type selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_disclosed</name>
            <dataType>Date</dataType>
            <fieldText>Date disclosed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Method_of_disclosure</name>
            <choiceReferences>New_case_call</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method of disclosure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_case_type_selection</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseType</name>
                <value>
                    <elementReference>Case_type_selection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Date_Recieved</name>
        <label>Enter Date Recieved</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Date_Formula</targetReference>
        </connector>
        <fields>
            <name>Date_Recieved</name>
            <dataType>Date</dataType>
            <fieldText>Date Recieved</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_date_received</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FOI_Request_Type_Screen</name>
        <label>FOI Request Type Screen</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FOI_Request_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>FOI_Request_Type</name>
            <choiceReferences>Follow_Up</choiceReferences>
            <choiceReferences>Internal_Review</choiceReferences>
            <choiceReferences>New_Request</choiceReferences>
            <dataType>String</dataType>
            <fieldText>FOI Request Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FOI_Question</name>
            <choiceReferences>FOIYes</choiceReferences>
            <choiceReferences>FOINo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this FOI request being dealt with on behalf of the Crown Solicitor of Northern Ireland?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_foi_request_type</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Follow_Up_Num</name>
        <label>Enter FOI Number</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_FOI_RecordTypeId</targetReference>
        </connector>
        <fields>
            <name>Enter_FOI_no_to_which_this_follow_up_relates</name>
            <dataType>String</dataType>
            <fieldText>Enter FOI no. to which this follow-up relates</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_enter_foi_follow_up</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows the Front Cover screen for details to be entered</description>
        <name>Front_Cover</name>
        <label>Front Cover</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Applicant_Details</targetReference>
        </connector>
        <fields>
            <name>Front_Cover_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Front_Cover_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FOI_FC_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>FOI No.</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>FOI_FC_Applicant</name>
                    <dataType>String</dataType>
                    <fieldText>Applicant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Case_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Case Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Case_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Case Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>FOI_FC_Request_Type</name>
                    <choiceReferences>Estates</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_IR_Officer</name>
                    <dataType>String</dataType>
                    <fieldText>Internal Review Officer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Front_Cover_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Front_Cover_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Front_Cover_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FOI_FC_Number_of_Requests</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Requests</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>FOI_FC_Date_Recieved</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_Recieved</elementReference>
                    </defaultValue>
                    <fieldText>Date Recieved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Reply_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>InputDate</elementReference>
                    </defaultValue>
                    <fieldText>Reply Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Withdrawn</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Withdrawn?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Date_Withdrawn</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Withdrawn</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>FOI_FC_Withdrawn</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Front_Cover_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FOI_FC_ILO</name>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>ILO</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Acknowledged_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Acknowledged Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Date_Reply_Sent</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Reply Sent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Destruction_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Destruction Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Follow_Up</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Follow Up?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FOI_FC_Northern_Ireland</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Northern Ireland?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Front_Cover_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>flow_navigation_component_front_cover</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informant</name>
        <label>Informant</label>
        <locationX>798</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Intestate_details</targetReference>
        </connector>
        <fields>
            <name>Informant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_type</name>
                    <choiceReferences>Private_individual</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Informant type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;For the historic unclaimed estates list&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_text_field</name>
                    <dataType>String</dataType>
                    <fieldText>Informant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address</name>
                    <dataType>String</dataType>
                    <fieldText>Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_line_2</name>
                    <dataType>String</dataType>
                    <fieldText>Address line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_line_3</name>
                    <dataType>String</dataType>
                    <fieldText>Address line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_line_4</name>
                    <dataType>String</dataType>
                    <fieldText>Address line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informant_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salutation</name>
                    <dataType>String</dataType>
                    <fieldText>Salutation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contact_name</name>
                    <dataType>String</dataType>
                    <fieldText>Contact name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mobile_number_field</name>
                    <dataType>Number</dataType>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Telephone_number_field</name>
                    <dataType>Number</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email_informant_field</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>flow_navigation_component_informant</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Internal_Officer_Screen</name>
        <label>Internal Officer Name</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_FOI_RecordTypeId</targetReference>
        </connector>
        <fields>
            <name>Internal_Officer_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter name of officer handling the Internal Review</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_enter_name_of_officer</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Internal_Review_Num</name>
        <label>Internal Review Screen</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Internal_Officer_Screen</targetReference>
        </connector>
        <fields>
            <name>Enter_FOI_no_to_which_this_internal_review_relates</name>
            <dataType>String</dataType>
            <fieldText>Enter FOI no. to which this internal review relates</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_enter_foi_no_internal</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intestate_details</name>
        <label>Intestate details</label>
        <locationX>798</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Occupiers_address</targetReference>
        </connector>
        <fields>
            <name>Intestate_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intestate_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Surname</name>
                    <dataType>String</dataType>
                    <fieldText>Surname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Forename</name>
                    <dataType>String</dataType>
                    <fieldText>Forenames</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>Status_test</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>Male_M</choiceReferences>
                    <choiceReferences>Female_F</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Maiden_name</name>
                    <dataType>String</dataType>
                    <fieldText>Maiden name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Born_at</name>
                    <dataType>String</dataType>
                    <fieldText>Born at</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Kin_located</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Kin located?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intestate_details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Died</name>
                    <dataType>Date</dataType>
                    <fieldText>Died</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_address</name>
                    <dataType>String</dataType>
                    <fieldText>Died at address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_address_line_2</name>
                    <dataType>String</dataType>
                    <fieldText>Died at address line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_address_line_3</name>
                    <dataType>String</dataType>
                    <fieldText>Died at address line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_address_line_4</name>
                    <dataType>String</dataType>
                    <fieldText>Died at address line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Died at postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Short_place_name</name>
                    <dataType>String</dataType>
                    <fieldText>Short place name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Will_located</name>
                    <choiceReferences>Yes_will_located</choiceReferences>
                    <choiceReferences>No_will_located</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will located</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Insolvennt</name>
                    <choiceReferences>Yes_insolvent</choiceReferences>
                    <choiceReferences>No_insolvent</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Insolvent/NI/1230</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>flow_navigation_component_intestate</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Occupiers_address</name>
        <label>Occupiers address</label>
        <locationX>798</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Occupiers_Addresses</targetReference>
        </connector>
        <fields>
            <name>Occupiers_address_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Address_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Address</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_2_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Address line 2</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_3_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Address line 3</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_4_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Address line 4</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postcode_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Postcode</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Owned</name>
                <choiceReferences>Yes_other_addresses_owned</choiceReferences>
                <choiceReferences>No_other_addresses_owned</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Owned</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenanted</name>
                <choiceReferences>Unknown_other_addresses_tenanted</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenanted</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenure</name>
                <choiceReferences>Unknown_other_addresses_tenure</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenure</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Title_number</name>
                <dataType>String</dataType>
                <fieldText>Title number</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_occupiers</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_addresses</name>
        <label>Other addresses</label>
        <locationX>798</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_other_addresses</targetReference>
        </connector>
        <fields>
            <name>Other_addresses_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Address_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Address</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_2_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Address line 2</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_3_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Address line 3</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_4_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Address line 4</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postcode_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Postcode</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Owned_other_addresses</name>
                <choiceReferences>Yes_other_addresses_owned</choiceReferences>
                <choiceReferences>No_other_addresses_owned</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Owned</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenanted_other_addresses</name>
                <choiceReferences>Unknown_other_addresses_tenanted</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenanted</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenure_other_addresses</name>
                <choiceReferences>Unknown_other_addresses_tenure</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenure</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Title_number_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Title number</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_other_addresses</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_and_confirm</name>
        <label>Review and confirm</label>
        <locationX>798</locationX>
        <locationY>4586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_BV_Case</targetReference>
        </connector>
        <fields>
            <name>Disclosure_Review</name>
            <fieldText>Disclosure</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Disclosure_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disclosure_Review_Fields</name>
                    <fieldText>&lt;p&gt;Case type selection {!Case_type_selection}&lt;/p&gt;&lt;p&gt;Date disclosed {!Date_disclosed}&lt;/p&gt;&lt;p&gt;Method of disclosure {!Method_of_disclosure}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Informant_Review</name>
            <fieldText>Informant</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informant_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_Review_Fields</name>
                    <fieldText>&lt;p&gt;Informant type {!Informant_type}&lt;/p&gt;&lt;p&gt;Informant {!Informant_text_field}&lt;/p&gt;&lt;p&gt;Address {!Address}&lt;/p&gt;&lt;p&gt;{!Address_line_2}&lt;/p&gt;&lt;p&gt;{!Address_line_3}&lt;/p&gt;&lt;p&gt;{!Address_line_4}&lt;/p&gt;&lt;p&gt;{!Postcode}&lt;/p&gt;&lt;p&gt;Salutation {!Salutation}&lt;/p&gt;&lt;p&gt;Contact name {!Contact_name}&lt;/p&gt;&lt;p&gt;Reference {!Reference}&lt;/p&gt;&lt;p&gt;Telephone {!Telephone_number_field}&lt;/p&gt;&lt;p&gt;Mobile {!Mobile_number_field}&lt;/p&gt;&lt;p&gt;Email {!Email_informant_field}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Aliases_Review</name>
            <fieldText>Aliases</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Aliases_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Aliases_Review_Fields</name>
                    <fieldText>&lt;p&gt;{!Aliases_Text_data}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Occupier_Addresses_Review</name>
            <fieldText>Occupier Addresses</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Occupier_Addresses_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Occupiers_Address_Review</name>
                    <fieldText>&lt;p&gt;{!Occupiers_Address_Text_Data}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Addresses_Review</name>
            <fieldText>Other Addresses</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Addresses_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Addresses_Review_Fields</name>
                    <fieldText>&lt;p&gt;{!Other_Addresses_Text_Data}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Type_Review</name>
            <fieldText>Case Type</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Type_Review_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Type_Review_Fields</name>
                    <fieldText>&lt;p&gt;Case Type {!Case_type_picklist}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disclosure</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Aliases_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Surname {!Loop_Aliases_for_Text.Surname__c}&lt;/p&gt;&lt;p&gt;Forename {!Loop_Aliases_for_Text.Forenames__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Cleaned_Aliases_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;123&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Occupiers_Address_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Address {!Loop_Occupiers_Addresses_Text.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Address_Line_2__c}&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Address_Line_3__c}&lt;/p&gt;&lt;p&gt;{!Loop_Occupiers_Addresses_Text.Address_Line_4__c}&lt;/p&gt;&lt;p&gt;Postcode {!Loop_Occupiers_Addresses_Text.Postcode__c}&lt;/p&gt;&lt;p&gt;Owned {!Loop_Occupiers_Addresses_Text.Owned__c}&lt;/p&gt;&lt;p&gt;Tenure {!Loop_Occupiers_Addresses_Text.Tenure__c}&lt;/p&gt;&lt;p&gt;Tenanted {!Loop_Occupiers_Addresses_Text.Tenanted__c}&lt;/p&gt;&lt;p&gt;Title {!Loop_Occupiers_Addresses_Text.Title__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Temeplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_Other_Addresses_Text}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Address {!Loop_Other_Addresses_Text.Address_1__c}&lt;/p&gt;&lt;p&gt;{!Loop_Other_Addresses_Text.Address_2__c}&lt;/p&gt;&lt;p&gt;{!Loop_Other_Addresses_Text.Address_3__c}&lt;/p&gt;&lt;p&gt;{!Loop_Other_Addresses_Text.Address_4__c}&lt;/p&gt;&lt;p&gt;Postcode {!Loop_Other_Addresses_Text.Postcode__c}&lt;/p&gt;&lt;p&gt;Tenanted {!Loop_Other_Addresses_Text.Tenanted__c}&lt;/p&gt;&lt;p&gt;Tenure {!Loop_Other_Addresses_Text.Tenure__c}&lt;/p&gt;&lt;p&gt;Title Number {!Loop_Other_Addresses_Text.Title_Number__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Alias_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Aliases_Text_data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allAliases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliases_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliasesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddressesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddressListWIthId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>BVCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailAliasesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOccupiersAddressRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOtherAddressesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayAliases</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Occupiers_Address_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Addresses_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singeAlias</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOccupierAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOtherAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>Telephone_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
