force-app/main/default/flows/Case_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_F</name>
        <choiceText>Female (F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female (F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male_M</name>
        <choiceText>Male (M)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male (M)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_estate_under_15000</name>
        <choiceText>Net estate under £15,000</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_case_call</name>
        <choiceText>New case call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New case call</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insolvent</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_occupiers_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_other_addresses_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_will_located</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_individual</name>
        <choiceText>Private individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_test</name>
        <choiceText>Status test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenure</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insolvent</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_other_addresses_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_will_located</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Case Creation Estates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_BV_Case</name>
        <label>Create BV_Case__c</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>Born_At__c</field>
            <value>
                <elementReference>Born_at</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Contact_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Disclosed__c</field>
            <value>
                <elementReference>Date_disclosed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Birth__c</field>
            <value>
                <elementReference>Date_of_birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_1__c</field>
            <value>
                <elementReference>Died_at_address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_2__c</field>
            <value>
                <elementReference>Died_at_address_line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_3__c</field>
            <value>
                <elementReference>Died_at_address_line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_4__c</field>
            <value>
                <elementReference>Died_at_address_line_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died_At_Addr_PC__c</field>
            <value>
                <elementReference>Died_at_postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Died__c</field>
            <value>
                <elementReference>Died</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forenames__c</field>
            <value>
                <elementReference>Forename</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_1__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_2__c</field>
            <value>
                <elementReference>Address_line_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_3__c</field>
            <value>
                <elementReference>Address_line_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_4__c</field>
            <value>
                <elementReference>Address_line_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_PC__c</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Email__c</field>
            <value>
                <elementReference>Email_informant_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Mobile__c</field>
            <value>
                <elementReference>Mobile_number_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Reference__c</field>
            <value>
                <elementReference>Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Salutation__c</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Telephone__c</field>
            <value>
                <elementReference>Telephone_number_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Type__c</field>
            <value>
                <elementReference>Informant_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant__c</field>
            <value>
                <elementReference>Informant_text_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kin_Located__c</field>
            <value>
                <elementReference>Kin_located</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maiden_Name__c</field>
            <value>
                <elementReference>Maiden_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>Method_of_disclosure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Short_Place__c</field>
            <value>
                <elementReference>Short_place_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surname__c</field>
            <value>
                <elementReference>Surname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Will_Located__c</field>
            <value>
                <elementReference>Will_located</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Add_documents</name>
        <label>Add documents</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_BV_Case</targetReference>
        </connector>
        <fields>
            <name>Add_documents_field</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add documents</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Aliases</name>
        <label>Aliases</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_type</targetReference>
        </connector>
        <fields>
            <name>Aliases_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Surname_aliases</name>
                <dataType>String</dataType>
                <fieldText>Surname</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Forenames_aliases</name>
                <dataType>String</dataType>
                <fieldText>Forenames</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_type</name>
        <label>Case type</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_documents</targetReference>
        </connector>
        <fields>
            <name>Case_type_picklist</name>
            <choiceReferences>Net_estate_under_15000</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disclosure</name>
        <label>Disclosure</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Informant</targetReference>
        </connector>
        <fields>
            <name>Case_type_selection</name>
            <choiceReferences>Estates</choiceReferences>
            <choiceReferences>Companies</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case type selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_disclosed</name>
            <dataType>Date</dataType>
            <fieldText>Date disclosed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Method_of_disclosure</name>
            <choiceReferences>New_case_call</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method of disclosure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informant</name>
        <label>Informant</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Intestate_details</targetReference>
        </connector>
        <fields>
            <name>Informant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_type</name>
                    <choiceReferences>Private_individual</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Informant type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;For the historic unclaimed estates list&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_text_field</name>
                    <dataType>String</dataType>
                    <fieldText>Informant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address</name>
                    <dataType>String</dataType>
                    <fieldText>Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_line_2</name>
                    <dataType>String</dataType>
                    <fieldText>Address line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_line_3</name>
                    <dataType>String</dataType>
                    <fieldText>Address line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_line_4</name>
                    <dataType>String</dataType>
                    <fieldText>Address line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informant_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salutation</name>
                    <dataType>String</dataType>
                    <fieldText>Salutation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contact_name</name>
                    <dataType>String</dataType>
                    <fieldText>Contact name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mobile_number_field</name>
                    <dataType>Number</dataType>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Telephone_number_field</name>
                    <dataType>Number</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Email_informant_field</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intestate_details</name>
        <label>Intestate details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Occupiers_address</targetReference>
        </connector>
        <fields>
            <name>Intestate_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intestate_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Surname</name>
                    <dataType>String</dataType>
                    <fieldText>Surname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Forename</name>
                    <dataType>String</dataType>
                    <fieldText>Forenames</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>Status_test</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>Male_M</choiceReferences>
                    <choiceReferences>Female_F</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Maiden_name</name>
                    <dataType>String</dataType>
                    <fieldText>Maiden name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_of_birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Born_at</name>
                    <dataType>String</dataType>
                    <fieldText>Born at</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Kin_located</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Kin located?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intestate_details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Died</name>
                    <dataType>Date</dataType>
                    <fieldText>Died</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_address</name>
                    <dataType>String</dataType>
                    <fieldText>Died at address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_address_line_2</name>
                    <dataType>String</dataType>
                    <fieldText>Died at address line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_address_line_3</name>
                    <dataType>String</dataType>
                    <fieldText>Died at address line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_address_line_4</name>
                    <dataType>String</dataType>
                    <fieldText>Died at address line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Died_at_postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Died at postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Short_place_name</name>
                    <dataType>String</dataType>
                    <fieldText>Short place name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Will_located</name>
                    <choiceReferences>Yes_will_located</choiceReferences>
                    <choiceReferences>No_will_located</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Will located</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Insolvennt</name>
                    <choiceReferences>Yes_insolvent</choiceReferences>
                    <choiceReferences>No_insolvent</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Insolvent/NI/1230</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Occupiers_address</name>
        <label>Occupiers address</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_addresses</targetReference>
        </connector>
        <fields>
            <name>Occupiers_address_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Address_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Address</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_2_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Address line 2</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_3_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Address line 3</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_4_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Address line 4</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postcode_occupiers</name>
                <dataType>String</dataType>
                <fieldText>Postcode</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Owned</name>
                <choiceReferences>Yes_other_addresses_owned</choiceReferences>
                <choiceReferences>No_other_addresses_owned</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Owned</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenanted</name>
                <choiceReferences>Unknown_other_addresses_tenanted</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenanted</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenure</name>
                <choiceReferences>Unknown_other_addresses_tenure</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenure</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Title_number</name>
                <dataType>String</dataType>
                <fieldText>Title number</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_addresses</name>
        <label>Other addresses</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Aliases</targetReference>
        </connector>
        <fields>
            <name>Other_addresses_repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Address_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Address</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_2_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Address line 2</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_3_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Address line 3</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_line_4_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Address line 4</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Postcode_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Postcode</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Owned_other_addresses</name>
                <choiceReferences>Yes_other_addresses_owned</choiceReferences>
                <choiceReferences>No_other_addresses_owned</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Owned</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenanted_other_addresses</name>
                <choiceReferences>Unknown_other_addresses_tenanted</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenanted</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Tenure_other_addresses</name>
                <choiceReferences>Unknown_other_addresses_tenure</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Tenure</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Title_number_other_addresses</name>
                <dataType>String</dataType>
                <fieldText>Title number</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disclosure</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Email_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Telephone_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
