force-app/main/default/flows/Case_Creation_General_Files.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_disclosure_date</name>
        <label>Assign disclosure date</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AssignDisclosureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Disclosure_Date_General</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Method_of_Disclosure_General_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A_SRA_Intestate</name>
        <choiceText>A - SRA Intestate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A - SRA Intestate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Dwellings</name>
        <choiceText>Auction - Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Land</name>
        <choiceText>Auction - Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>B_Freehold_Leasehold_Property</name>
        <choiceText>B - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bachelor</name>
        <choiceText>Bachelor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bachelor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank</name>
        <choiceText>Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Transfer</name>
        <choiceText>Bank Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Barclays</name>
        <choiceText>Barclays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barclays</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV18</name>
        <choiceText>BV18</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV18</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV1A_Letter_BV1A_Online_Referral_Form</name>
        <choiceText>BV1A Letter/BV1A Online Referral Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV1A Letter/BV1A Online Referral Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Officer</name>
        <choiceText>BV Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Policy</name>
        <choiceText>BV Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>BVC14_Form</name>
        <choiceText>BVC14 Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BVC14 Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Freedom_of_Information_Request</name>
        <choiceText>C1 - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2_Net_Estate_over_15_000_no_grant_required</name>
        <choiceText>C2 - Net Estate over £15,000 no grant required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C2 - Net Estate over £15,000 no grant required</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4_Net_Estate_over_15_000_collection_only</name>
        <choiceText>C4 - Net Estate over £15,000 collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C4 - Net Estate over £15,000 collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Net_Estate_over_5000_pre_January</name>
        <choiceText>C - Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C - Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Officer</name>
        <choiceText>Case Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_operative_Bank</name>
        <choiceText>Co-operative Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-operative Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conveyancing</name>
        <choiceText>Conveyencing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conveyencing</stringValue>
        </value>
    </choices>
    <choices>
        <name>D1_Net_Estate_under_5000</name>
        <choiceText>D1 - Net Estate under £5000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D1 - Net Estate under £5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D2_Net_Estate_over_5000_under_15_000</name>
        <choiceText>D2 - Net Estate over £5000 &amp; under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D2 - Net Estate over £5000 &amp; under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D3_Net_Estate_under_15_000</name>
        <choiceText>D3 - Net Estate under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D3 - Net Estate under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D4_Net_Estate_Under_15k_collection_only</name>
        <choiceText>D4 - Net Estate Under £15k - collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D4 - Net Estate Under £15k - collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_Net_Estate_less_than_5000_pre_Jan_2009</name>
        <choiceText>D - Net Estate less than £5000 (pre Jan 2009)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D - Net Estate less than £5000 (pre Jan 2009)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_Company</name>
        <choiceText>Dissolved Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_LLP</name>
        <choiceText>Dissolved LLP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved LLP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Docket_Book</name>
        <choiceText>Docket Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Docket Book</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dwellings</name>
        <choiceText>Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>E1_Discretionary_Grants</name>
        <choiceText>E1 - Discretionary Grants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E1 - Discretionary Grants</stringValue>
        </value>
    </choices>
    <choices>
        <name>E2_Intellectual_Property</name>
        <choiceText>E2 - Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E2 - Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3_Land_Charges_Mortgages_Shares</name>
        <choiceText>E3 - Land Charges / Mortgages / Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3 - Land Charges / Mortgages / Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3A_Mortgages_and_Charges</name>
        <choiceText>E3A - Mortgages and Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3A - Mortgages and Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3B_Other_Restrictions_on_Title</name>
        <choiceText>E3B - Other Restrictions on Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3B - Other Restrictions on Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3D_Quoted_Shares</name>
        <choiceText>E3D - Quoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3D - Quoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3E_Unquoted_Shares</name>
        <choiceText>E3E - Unquoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3E - Unquoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4_Freehold_Reversions</name>
        <choiceText>E4 - Freehold Reversions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4 - Freehold Reversions</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4A_Simple_Freehold_Reversion</name>
        <choiceText>E4A - Simple Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4A - Simple Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4B_Complex_Freehold_Reversion</name>
        <choiceText>E4B - Complex Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4B - Complex Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5_Other_Land</name>
        <choiceText>E5 - Other Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5 - Other Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5A_Simple_land</name>
        <choiceText>E5A - Simple land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5A - Simple land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E6_Pension_Schemes</name>
        <choiceText>E6 - Pension Schemes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E6 - Pension Schemes</stringValue>
        </value>
    </choices>
    <choices>
        <name>E7_Miscellaneous</name>
        <choiceText>E7 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E7 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Mail</name>
        <choiceText>E-Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estate</name>
        <choiceText>Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>F</name>
        <choiceText>F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>F_Collect</name>
        <choiceText>F - Collect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F - Collect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed_Trust</name>
        <choiceText>Failed Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_F</name>
        <choiceText>Female (F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female (F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Data</name>
        <choiceText>First Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>FOI_FC_Follow_Up_Question</name>
        <choiceText>Follow up?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Northern_Ireland_Question</name>
        <choiceText>Northern Ireland?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Organisation</name>
        <choiceText>Organisation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If the FOI Request is NOT being dealt with on behalf of the Crown Solicitor</description>
        <name>FOINo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If FOI Request is being dealt with on behalf of the Crown Solicitor</description>
        <name>FOIYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Follow_Up</name>
        <choiceText>Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>FollowUp</name>
        <choiceText>FOLLOW UP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FOLLOW UP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freedom_of_Information</name>
        <choiceText>Freedom of Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freedom of Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>G_General</name>
        <choiceText>G - General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G - General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_request</name>
        <choiceText>General request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General request</stringValue>
        </value>
    </choices>
    <choices>
        <name>H2_Complex_Claims</name>
        <choiceText>H2 - Complex Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H2 - Complex Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>HSBC</name>
        <choiceText>HSBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HSBC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Husband</name>
        <choiceText>Husband</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Husband</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Review</name>
        <choiceText>Internal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternalReview</name>
        <choiceText>INTERNAL REVIEW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INTERNAL REVIEW</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_claim_only</name>
        <choiceText>Kin claim only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin claim only</stringValue>
        </value>
    </choices>
    <choices>
        <name>L_Limitation_Period_Cases</name>
        <choiceText>L - Limitation Period Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L - Limitation Period Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter_Email</name>
        <choiceText>Letter/Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter/Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lloyds</name>
        <choiceText>Lloyds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lloyds</stringValue>
        </value>
    </choices>
    <choices>
        <name>M</name>
        <choiceText>M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_Costs_Case</name>
        <choiceText>M - Costs Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M - Costs Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam</name>
        <choiceText>Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_DASH_Sir</name>
        <choiceText>Madam/Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam/Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_Sir</name>
        <choiceText>Madam &amp; Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam &amp; Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male_M</name>
        <choiceText>Male (M)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male (M)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married_Woman</name>
        <choiceText>Married Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memo</name>
        <choiceText>Memo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mesdames</name>
        <choiceText>Mesdames</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mesdames</stringValue>
        </value>
    </choices>
    <choices>
        <name>Natwest</name>
        <choiceText>Natwest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Natwest</stringValue>
        </value>
    </choices>
    <choices>
        <name>NE_Northern_Ireland</name>
        <choiceText>NE - Northern Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE - Northern Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_estate_under_15000</name>
        <choiceText>Net estate under £15,000</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_case_call</name>
        <choiceText>New case call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New case call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Case_Call_Choice</name>
        <choiceText>New Case Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Case Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Request</name>
        <choiceText>New Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insolvent</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_occupiers_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_other_addresses_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_will_located</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online_Form</name>
        <choiceText>Online Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Corporate_Body</name>
        <choiceText>Other Corporate Body</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Corporate Body</stringValue>
        </value>
    </choices>
    <choices>
        <name>P_Pre_1997_Case</name>
        <choiceText>P - Pre-1997 Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P - Pre-1997 Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>PANo</name>
        <choiceText>PANo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PANo</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAYes</name>
        <choiceText>PAYes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAYes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_individual</name>
        <choiceText>Private individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Authority</name>
        <choiceText>Public Authority</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Authority</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q_Query</name>
        <choiceText>Q - Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q - Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_BV_Registry_queries</name>
        <choiceText>R - BV Registry queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R - BV Registry queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>RBS</name>
        <choiceText>RBS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RBS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reversion</name>
        <choiceText>Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Santander</name>
        <choiceText>Santander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1000_Companies_Act_2006</name>
        <choiceText>Section 1000 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1000 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1001_Companies_Act_2006</name>
        <choiceText>Section 1001 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1001 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1002_Companies_Act_2006</name>
        <choiceText>Section 1002 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1002 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1003_Companies_Act_2006</name>
        <choiceText>Section 1003 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1003 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_201_Insolvency_Act_1986</name>
        <choiceText>Section 201 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 201 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_202_Insolvency_Act_1986</name>
        <choiceText>Section 202 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 202 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_290_Companies_Act_1948</name>
        <choiceText>Section 290 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 290 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_300_Companies_Act_1948</name>
        <choiceText>Section 300 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 300 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_353_Companies_Act_1948</name>
        <choiceText>Section 353 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 353 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_585_595_Companies_Act_1985</name>
        <choiceText>Section 585/595 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 585/595 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_5_Companies_Act_1985</name>
        <choiceText>Section 652(5) Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652(5) Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_Companies_Act_1985</name>
        <choiceText>Section 652 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652A_Companies_Act_1985</name>
        <choiceText>Section 652A Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652A Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Man</name>
        <choiceText>Single Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Woman</name>
        <choiceText>Single Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir</name>
        <choiceText>Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_AND_Madam</name>
        <choiceText>Sir &amp; Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir &amp; Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_Madam</name>
        <choiceText>Sir/Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir/Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sirs</name>
        <choiceText>Sirs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sirs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spinster</name>
        <choiceText>Spinster</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spinster</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_test</name>
        <choiceText>Status test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surviving_Civil_Partner</name>
        <choiceText>Surviving Civil Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surviving Civil Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenure</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>V_BV_Registry_Queries</name>
        <choiceText>V - BV Registry Queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V - BV Registry Queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>W_Reopened_Case</name>
        <choiceText>W - Reopened Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W - Reopened Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widow</name>
        <choiceText>Widow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widower</name>
        <choiceText>Widower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y_Kin_Claims</name>
        <choiceText>Y - Kin Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y - Kin Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>YA_Reopened_Other</name>
        <choiceText>YA - Reopened Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YA - Reopened Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insolvent</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_other_addresses_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_will_located</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z1_Transfer_of_Land_All_other_types</name>
        <choiceText>Z1 - Transfer of Land (All other types)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z1 - Transfer of Land (All other types)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z2_Transfer_of_Land_freehold_leasehold_reversions</name>
        <choiceText>Z2 - Transfer of Land (freehold / leasehold reversions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z2 - Transfer of Land (freehold / leasehold reversions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z3_Reports_on_title_and_advisory_work</name>
        <choiceText>Z3 - Reports on title and advisory work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z3 - Reports on title and advisory work</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z4_Miscellaneous</name>
        <choiceText>Z4 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z4 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Conveyancing</name>
        <choiceText>Z - Conveyancing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z - Conveyancing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Method_of_Disclosure_Choice_General</name>
        <label>Method of Disclosure Choice</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Informant_General_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Selected_BV_Officer_General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Method_of_Disclosure_General</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BV_Officer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_name_of_Officer_General_Screen</targetReference>
            </connector>
            <label>Selected BV Officer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Clear_left_brackets_for_aliases</name>
        <dataType>String</dataType>
        <expression>TRIM(left({!Clearrightbracketsforaliases}, (LEN({!Clearrightbracketsforaliases}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Clear_special_characters_from_aliases</name>
        <dataType>String</dataType>
        <expression>LEFT(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - 1) &amp; 
MID(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) + 1, LEN(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)))</expression>
    </formulas>
    <formulas>
        <name>Clearrightbracketsforaliases</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!Aliases_Template}, (LEN({!Aliases_Template}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Disclosure_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!FirstMethodDisclosure})), 
    {!FirstMethodDisclosure}, 
    {!Enter_method_of_disclosure}
)</expression>
    </formulas>
    <formulas>
        <name>Follow_Up_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (FOLLOW UP)&quot;</expression>
    </formulas>
    <formulas>
        <name>Internal_Review_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (INTERNAL REVIEW)&quot;</expression>
    </formulas>
    <formulas>
        <name>ReferralFormula</name>
        <dataType>String</dataType>
        <expression>{!General}</expression>
    </formulas>
    <formulas>
        <name>TodayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Add 19 days to the date given by user</description>
        <name>WorkingDays</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD(
    {!InputDate} - DATE(1985, 6, 24), 
    7
  ), 
  0, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  1, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  2, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  3, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  4, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  5, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  6, 
    CASE(
      MOD({!InputDate} + 25 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 27,
      6, {!InputDate} + 26,
      {!InputDate} + 25
    ), 
  {!InputDate}
)</expression>
    </formulas>
    <interviewLabel>Case Creation General Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation General Files</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_General_Records</name>
        <label>Create General Records</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Add_Documents</targetReference>
        </connector>
        <inputAssignments>
            <field>Allocation_Date__c</field>
            <value>
                <elementReference>Allocated_Date_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>Case_Officer_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Case_Type_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Informant_Contact_Name_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Case_Opened__c</field>
            <value>
                <elementReference>Opened_Date_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Disclosed__c</field>
            <value>
                <elementReference>Informant_Date_Disclosed_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Death_or_Dissolution__c</field>
            <value>
                <elementReference>Date_of_Death_Dissolution_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Former_Ref__c</field>
            <value>
                <elementReference>Former_Ref_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_1__c</field>
            <value>
                <elementReference>Informant_Address_Line_1_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_2__c</field>
            <value>
                <elementReference>Informant_Address_Line_2_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_3__c</field>
            <value>
                <elementReference>Informant_Address_Line_3_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_4__c</field>
            <value>
                <elementReference>Informant_Address_Line_4_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Address_PC__c</field>
            <value>
                <elementReference>Informant_Postcode_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Email__c</field>
            <value>
                <elementReference>Informant_Email_Address_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Fax__c</field>
            <value>
                <elementReference>Informant_Fax_Number_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Mobile__c</field>
            <value>
                <elementReference>Informant_Mobile_Number_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Reference__c</field>
            <value>
                <elementReference>Informant_Ref_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Salutation__c</field>
            <value>
                <elementReference>Informant_Salutation_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Telephone__c</field>
            <value>
                <elementReference>Informant_Telephone_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant_Type__c</field>
            <value>
                <elementReference>Informant_Type_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Informant__c</field>
            <value>
                <elementReference>Informant_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Name__c</field>
            <value>
                <elementReference>Key_Name_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Action_Date__c</field>
            <value>
                <elementReference>Last_Action_Date_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Action__c</field>
            <value>
                <elementReference>Last_Action_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>Method_of_Disclosure_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_file__c</field>
            <value>
                <elementReference>Name_of_File_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Information__c</field>
            <value>
                <elementReference>Other_Information_General</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Enter_name_of_officer_General.selectedCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BVCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Advertising</stringValue>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Same as Get BV Case RecordTypeId</description>
        <name>Get_General_RecordTypeId</name>
        <label>Get General RecordTypeId</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Disclosure_Date_General_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GENE</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>BVCaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_Documents</name>
        <label>Add Documents</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fileupload</name>
            <extensionName>c:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_General_Records</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Summary_General</name>
        <label>Case Summary</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_General_Records</targetReference>
        </connector>
        <fields>
            <name>Key_Name_General</name>
            <dataType>String</dataType>
            <fieldText>Key Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Summary_General_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Summary_General_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Type_General</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>General</elementReference>
                    </defaultValue>
                    <fieldText>Case Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Case_Officer_General</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Enter_name_of_officer_General.newCaseOfficer</elementReference>
                    </defaultValue>
                    <fieldText>Case Officer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Former_Ref_General</name>
                    <dataType>String</dataType>
                    <fieldText>Former Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Summary_General_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opened_Date_General</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayFormula</elementReference>
                    </defaultValue>
                    <fieldText>Opened Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Allocated_Date_General</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayFormula</elementReference>
                    </defaultValue>
                    <fieldText>Allocated Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Summary_General_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Summary_General_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Action_General</name>
                    <dataType>String</dataType>
                    <fieldText>Last Action</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Summary_General_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Action_Date_General</name>
                    <dataType>Date</dataType>
                    <fieldText>Last Action Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Disclosure_Date_General_Screen</name>
        <label>Enter Disclosure Date</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_disclosure_date</targetReference>
        </connector>
        <fields>
            <name>Enter_Disclosure_Date_General</name>
            <dataType>Date</dataType>
            <fieldText>Enter Disclosure Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_name_of_Officer_General_Screen</name>
        <label>Enter name of Officer</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Informant_General_Screen</targetReference>
        </connector>
        <fields>
            <name>Enter_name_of_officer_General</name>
            <extensionName>c:caseOfficerSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_File_Details_Screen</name>
        <label>General File Details</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Summary_General</targetReference>
        </connector>
        <fields>
            <name>Name_of_File_General</name>
            <dataType>String</dataType>
            <fieldText>Name of File</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_Death_Dissolution_General</name>
            <dataType>Date</dataType>
            <fieldText>Date of Death / Dissolution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Information_General</name>
            <dataType>String</dataType>
            <fieldText>Other Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Informant_General_Screen</name>
        <label>Informant</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>General_File_Details_Screen</targetReference>
        </connector>
        <fields>
            <name>Informant_General_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informant_General_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_General</name>
                    <dataType>String</dataType>
                    <fieldText>Informant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Informant_Address_Line_1_General</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Informant_Address_Line_2_General</name>
                    <dataType>String</dataType>
                    <fieldText>Address_Line_2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Address_Line_3_General</name>
                    <dataType>String</dataType>
                    <fieldText>Address_Line_3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Address_Line_4_General</name>
                    <dataType>String</dataType>
                    <fieldText>Address_Line_4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Postcode_General</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informant_General_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_Date_Disclosed_General</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>AssignDisclosureDate</elementReference>
                    </defaultValue>
                    <fieldText>Date Disclosed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Method_General</name>
                    <dataType>String</dataType>
                    <fieldText>Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Informant_General_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informant_General_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_Contact_Name_General</name>
                    <dataType>String</dataType>
                    <fieldText>Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Ref_General</name>
                    <dataType>String</dataType>
                    <fieldText>Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Salutation_General</name>
                    <choiceReferences>Sir</choiceReferences>
                    <choiceReferences>Madam</choiceReferences>
                    <choiceReferences>Sir_Madam</choiceReferences>
                    <choiceReferences>Sir_AND_Madam</choiceReferences>
                    <choiceReferences>Sirs</choiceReferences>
                    <choiceReferences>Mesdames</choiceReferences>
                    <choiceReferences>Madam_Sir</choiceReferences>
                    <choiceReferences>Madam_DASH_Sir</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Informant_Telephone_General</name>
                    <dataType>Number</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Informant_Mobile_Number_General</name>
                    <dataType>Number</dataType>
                    <fieldText>Mobile Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Informant_Fax_Number_General</name>
                    <dataType>Number</dataType>
                    <fieldText>Fax Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Informant_Email_Address_General</name>
                    <dataType>String</dataType>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informant_General_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Informant_Type_General</name>
                    <choiceReferences>Private_individual</choiceReferences>
                    <choiceReferences>Solicitor</choiceReferences>
                    <choiceReferences>Bank</choiceReferences>
                    <choiceReferences>Public_Authority</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Informant Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Method_of_Disclosure_General_Screen</name>
        <label>Method of Disclosure</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Method_of_Disclosure_Choice_General</targetReference>
        </connector>
        <fields>
            <name>Method_of_Disclosure_General</name>
            <choiceReferences>Letter</choiceReferences>
            <choiceReferences>BV_Officer</choiceReferences>
            <choiceReferences>Docket_Book</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method of Disclosure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_General_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Aliases_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Surname &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ecac224e-9781-489b-8e82-1a709fa3fcaf.Surname__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Forename &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ecac224e-9781-489b-8e82-1a709fa3fcaf.Forenames__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Occupiers_Address_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Address_Line_2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Address_Line_3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Address_Line_4__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Postcode__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Owned&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Owned__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tenanted&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Tenanted__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tenure&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Tenure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title No.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!20c5e604-aec5-4adf-892a-04042103c93a.Title_No__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Temeplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Address_Line_2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Address_Line_3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Address_Line_4__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Postcode__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Reference&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Reference__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Salutation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Salutation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Telephone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Telephone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Mobile Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Mobile_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!a1af30be-31ab-46e4-b9d1-c0ed44c02c10.Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Alias_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Aliases_Text_data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allAliases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliases_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliasesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddressesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddressListWIthId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <description>salesforce doesn&apos;t like to update the value if going back and changing the value - so we need to assign it manually</description>
        <name>AssignDisclosureDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BVCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailAliasesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailCaseOfficerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailFormerNamesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOccupiersAddressRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOtherAddressesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisclosureMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayAliases</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_other_addresses_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enter_method_of_disclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstMethodDisclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_FOI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BV_Case__c</objectType>
    </variables>
    <variables>
        <name>NewFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Occupiers_Address_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenAllocatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Addresses_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCaseOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singeAlias</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOccupierAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOtherAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>SpreadsheetNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Telephone_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
