force-app/main/default/flows/Case_Creation_Conveyancing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Disclosure_Method_to_Method_picklist</name>
        <label>Assign Disclosure Method to Method picklist</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>DisclosureMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Method_of_Disclosure_Conv_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Screen_Case_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Disclosure_Method_to_other</name>
        <label>Assign Disclosure Method to other (PA)</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>DisclosureMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_method_of_disclosure_Conv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Screen_Case_Summary</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A_SRA_Intestate</name>
        <choiceText>A - SRA Intestate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A - SRA Intestate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Dwellings</name>
        <choiceText>Auction - Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Land</name>
        <choiceText>Auction - Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>B_Freehold_Leasehold_Property</name>
        <choiceText>B - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bachelor</name>
        <choiceText>Bachelor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bachelor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank</name>
        <choiceText>Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Transfer</name>
        <choiceText>Bank Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Barclays</name>
        <choiceText>Barclays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barclays</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV18</name>
        <choiceText>BV18</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV18</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV1A_Letter_BV1A_Online_Referral_Form</name>
        <choiceText>BV1A Letter/BV1A Online Referral Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV1A Letter/BV1A Online Referral Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Officer</name>
        <choiceText>BV Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Policy</name>
        <choiceText>BV Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>BVC14_Form</name>
        <choiceText>BVC14 Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BVC14 Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Freedom_of_Information_Request</name>
        <choiceText>C1 - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2_Net_Estate_over_15_000_no_grant_required</name>
        <choiceText>C2 - Net Estate over £15,000 no grant required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C2 - Net Estate over £15,000 no grant required</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4_Net_Estate_over_15_000_collection_only</name>
        <choiceText>C4 - Net Estate over £15,000 collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C4 - Net Estate over £15,000 collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Net_Estate_over_5000_pre_January</name>
        <choiceText>C - Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C - Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Officer</name>
        <choiceText>Case Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_operative_Bank</name>
        <choiceText>Co-operative Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-operative Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conveyancing</name>
        <choiceText>Conveyencing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conveyencing</stringValue>
        </value>
    </choices>
    <choices>
        <name>D1_Net_Estate_under_5000</name>
        <choiceText>D1 - Net Estate under £5000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D1 - Net Estate under £5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D2_Net_Estate_over_5000_under_15_000</name>
        <choiceText>D2 - Net Estate over £5000 &amp; under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D2 - Net Estate over £5000 &amp; under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D3_Net_Estate_under_15_000</name>
        <choiceText>D3 - Net Estate under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D3 - Net Estate under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D4_Net_Estate_Under_15k_collection_only</name>
        <choiceText>D4 - Net Estate Under £15k - collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D4 - Net Estate Under £15k - collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_Net_Estate_less_than_5000_pre_Jan_2009</name>
        <choiceText>D - Net Estate less than £5000 (pre Jan 2009)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D - Net Estate less than £5000 (pre Jan 2009)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_Company</name>
        <choiceText>Dissolved Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_LLP</name>
        <choiceText>Dissolved LLP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved LLP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Docket_Book</name>
        <choiceText>Docket Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Docket Book</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dwellings</name>
        <choiceText>Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>E1_Discretionary_Grants</name>
        <choiceText>E1 - Discretionary Grants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E1 - Discretionary Grants</stringValue>
        </value>
    </choices>
    <choices>
        <name>E2_Intellectual_Property</name>
        <choiceText>E2 - Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E2 - Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3_Land_Charges_Mortgages_Shares</name>
        <choiceText>E3 - Land Charges / Mortgages / Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3 - Land Charges / Mortgages / Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3A_Mortgages_and_Charges</name>
        <choiceText>E3A - Mortgages and Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3A - Mortgages and Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3B_Other_Restrictions_on_Title</name>
        <choiceText>E3B - Other Restrictions on Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3B - Other Restrictions on Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3D_Quoted_Shares</name>
        <choiceText>E3D - Quoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3D - Quoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3E_Unquoted_Shares</name>
        <choiceText>E3E - Unquoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3E - Unquoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4_Freehold_Reversions</name>
        <choiceText>E4 - Freehold Reversions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4 - Freehold Reversions</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4A_Simple_Freehold_Reversion</name>
        <choiceText>E4A - Simple Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4A - Simple Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4B_Complex_Freehold_Reversion</name>
        <choiceText>E4B - Complex Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4B - Complex Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5_Other_Land</name>
        <choiceText>E5 - Other Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5 - Other Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5A_Simple_land</name>
        <choiceText>E5A - Simple land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5A - Simple land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E6_Pension_Schemes</name>
        <choiceText>E6 - Pension Schemes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E6 - Pension Schemes</stringValue>
        </value>
    </choices>
    <choices>
        <name>E7_Miscellaneous</name>
        <choiceText>E7 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E7 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Mail</name>
        <choiceText>E-Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estate</name>
        <choiceText>Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>F</name>
        <choiceText>F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>F_Collect</name>
        <choiceText>F - Collect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F - Collect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed_Trust</name>
        <choiceText>Failed Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_F</name>
        <choiceText>Female (F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female (F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Data</name>
        <choiceText>First Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>FOI_FC_Follow_Up_Question</name>
        <choiceText>Follow up?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Northern_Ireland_Question</name>
        <choiceText>Northern Ireland?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Organisation</name>
        <choiceText>Organisation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If the FOI Request is NOT being dealt with on behalf of the Crown Solicitor</description>
        <name>FOINo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If FOI Request is being dealt with on behalf of the Crown Solicitor</description>
        <name>FOIYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Follow_Up</name>
        <choiceText>Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>FollowUp</name>
        <choiceText>FOLLOW UP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FOLLOW UP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freedom_of_Information</name>
        <choiceText>Freedom of Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freedom of Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>G_General</name>
        <choiceText>G - General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G - General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_request</name>
        <choiceText>General request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General request</stringValue>
        </value>
    </choices>
    <choices>
        <name>H2_Complex_Claims</name>
        <choiceText>H2 - Complex Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H2 - Complex Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>HSBC</name>
        <choiceText>HSBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HSBC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Husband</name>
        <choiceText>Husband</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Husband</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Review</name>
        <choiceText>Internal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternalReview</name>
        <choiceText>INTERNAL REVIEW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INTERNAL REVIEW</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_claim_only</name>
        <choiceText>Kin claim only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin claim only</stringValue>
        </value>
    </choices>
    <choices>
        <name>L_Limitation_Period_Cases</name>
        <choiceText>L - Limitation Period Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L - Limitation Period Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter_Email</name>
        <choiceText>Letter/Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter/Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lloyds</name>
        <choiceText>Lloyds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lloyds</stringValue>
        </value>
    </choices>
    <choices>
        <name>M</name>
        <choiceText>M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_Costs_Case</name>
        <choiceText>M - Costs Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M - Costs Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam</name>
        <choiceText>Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_DASH_Sir</name>
        <choiceText>Madam/Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam/Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_Sir</name>
        <choiceText>Madam &amp; Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam &amp; Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male_M</name>
        <choiceText>Male (M)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male (M)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married_Woman</name>
        <choiceText>Married Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memo</name>
        <choiceText>Memo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mesdames</name>
        <choiceText>Mesdames</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mesdames</stringValue>
        </value>
    </choices>
    <choices>
        <name>Natwest</name>
        <choiceText>Natwest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Natwest</stringValue>
        </value>
    </choices>
    <choices>
        <name>NE_Northern_Ireland</name>
        <choiceText>NE - Northern Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE - Northern Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_estate_under_15000</name>
        <choiceText>Net estate under £15,000</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_case_call</name>
        <choiceText>New case call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New case call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Case_Call_Choice</name>
        <choiceText>New Case Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Case Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Request</name>
        <choiceText>New Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insolvent</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_occupiers_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_other_addresses_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_will_located</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online_Form</name>
        <choiceText>Online Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Corporate_Body</name>
        <choiceText>Other Corporate Body</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Corporate Body</stringValue>
        </value>
    </choices>
    <choices>
        <name>P_Pre_1997_Case</name>
        <choiceText>P - Pre-1997 Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P - Pre-1997 Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_individual</name>
        <choiceText>Private individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Authority</name>
        <choiceText>Public Authority</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Authority</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q_Query</name>
        <choiceText>Q - Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q - Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_BV_Registry_queries</name>
        <choiceText>R - BV Registry queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R - BV Registry queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>RBS</name>
        <choiceText>RBS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RBS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reversion</name>
        <choiceText>Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Santander</name>
        <choiceText>Santander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1000_Companies_Act_2006</name>
        <choiceText>Section 1000 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1000 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1001_Companies_Act_2006</name>
        <choiceText>Section 1001 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1001 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1002_Companies_Act_2006</name>
        <choiceText>Section 1002 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1002 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1003_Companies_Act_2006</name>
        <choiceText>Section 1003 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1003 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_201_Insolvency_Act_1986</name>
        <choiceText>Section 201 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 201 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_202_Insolvency_Act_1986</name>
        <choiceText>Section 202 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 202 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_290_Companies_Act_1948</name>
        <choiceText>Section 290 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 290 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_300_Companies_Act_1948</name>
        <choiceText>Section 300 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 300 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_353_Companies_Act_1948</name>
        <choiceText>Section 353 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 353 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_585_595_Companies_Act_1985</name>
        <choiceText>Section 585/595 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 585/595 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_5_Companies_Act_1985</name>
        <choiceText>Section 652(5) Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652(5) Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_Companies_Act_1985</name>
        <choiceText>Section 652 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652A_Companies_Act_1985</name>
        <choiceText>Section 652A Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652A Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Man</name>
        <choiceText>Single Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Woman</name>
        <choiceText>Single Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir</name>
        <choiceText>Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_AND_Madam</name>
        <choiceText>Sir &amp; Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir &amp; Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_Madam</name>
        <choiceText>Sir/Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir/Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sirs</name>
        <choiceText>Sirs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sirs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spinster</name>
        <choiceText>Spinster</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spinster</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_test</name>
        <choiceText>Status test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surviving_Civil_Partner</name>
        <choiceText>Surviving Civil Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surviving Civil Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenure</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>V_BV_Registry_Queries</name>
        <choiceText>V - BV Registry Queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V - BV Registry Queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>W_Reopened_Case</name>
        <choiceText>W - Reopened Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W - Reopened Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widow</name>
        <choiceText>Widow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widower</name>
        <choiceText>Widower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y_Kin_Claims</name>
        <choiceText>Y - Kin Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y - Kin Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>YA_Reopened_Other</name>
        <choiceText>YA - Reopened Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YA - Reopened Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insolvent</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_other_addresses_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_will_located</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z1_Transfer_of_Land_All_other_types</name>
        <choiceText>Z1 - Transfer of Land (All other types)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z1 - Transfer of Land (All other types)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z2_Transfer_of_Land_freehold_leasehold_reversions</name>
        <choiceText>Z2 - Transfer of Land (freehold / leasehold reversions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z2 - Transfer of Land (freehold / leasehold reversions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z3_Reports_on_title_and_advisory_work</name>
        <choiceText>Z3 - Reports on title and advisory work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z3 - Reports on title and advisory work</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z4_Miscellaneous</name>
        <choiceText>Z4 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z4 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Conveyancing</name>
        <choiceText>Z - Conveyancing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z - Conveyancing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>If_Other_Method_of_Disclosure</name>
        <label>If Other Method of Disclosure</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Disclosure_Method_to_Method_picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Conv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Method_of_Disclosure_Conv_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Disclosure_Method_to_other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Originating_Case_Type_Decision</name>
        <label>Originating Case Type Decision</label>
        <locationX>314</locationX>
        <locationY>2462</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Estate_Decision_Conv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Originating_Case_Type_Conv</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Estate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Intestate_Details_Screen</targetReference>
            </connector>
            <label>Estate Decision</label>
        </rules>
        <rules>
            <name>Company_Decision_Conv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Originating_Case_Type_Conv</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Company</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Company_Details_Screen</targetReference>
            </connector>
            <label>Company Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solicitor_select</name>
        <label>Solicitor select</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Purchaser_Solicitors_Screen_Conv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_solicitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Solicitor_from_address_book_comp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Solicitor_from_address_book</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>addressBookRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ShippingName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingAddress</assignToReference>
            <field>ShippingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingPostalCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShippingStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BVCaseRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COMP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESTA</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>CaseSummaryAllocationDate</assignToReference>
            <field>Allocation_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryCaseOfficer</assignToReference>
            <field>Case_Officer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BVCaseType</assignToReference>
            <field>Case_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Number</assignToReference>
            <field>Company_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryCurrentStatusDate</assignToReference>
            <field>Current_Status_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryCurrentStatus</assignToReference>
            <field>Current_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryDateLastReviewed</assignToReference>
            <field>Date_Case_Last_Reviewed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryOpenedDate</assignToReference>
            <field>Date_Case_Opened__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryDisclosedDate</assignToReference>
            <field>Date_Disclosed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Date_Dissolved</assignToReference>
            <field>Date_Dissolved__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Incorporated</assignToReference>
            <field>Date_Incorporated__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Kin_Located_Date</assignToReference>
            <field>Date_Kin_Located__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Date_of_Birth</assignToReference>
            <field>Date_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Died</assignToReference>
            <field>Date_Of_Death__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryDateofLastLMReview</assignToReference>
            <field>Date_Of_Last_Lm_Review__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryDiedDiss</assignToReference>
            <field>Date_of_Death_or_Dissolution__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Died_At_Line_1</assignToReference>
            <field>Died_At_Addr_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Died_At_Line_2</assignToReference>
            <field>Died_At_Addr_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Died_At_Line_3</assignToReference>
            <field>Died_At_Addr_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Died_At_Line_4</assignToReference>
            <field>Died_At_Addr_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Postcode</assignToReference>
            <field>Died_At_Addr_PC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryDisclaimBy</assignToReference>
            <field>Disclaim_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Disclaimer_Date</assignToReference>
            <field>Disclaimer_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryDisclosedBy</assignToReference>
            <field>Disclosed_by__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Forenames</assignToReference>
            <field>Forenames__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Gender</assignToReference>
            <field>Gender__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryHIPSRequired</assignToReference>
            <field>HIPS_required__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Insolvent_NI_1230</assignToReference>
            <field>Insolvent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryKeyAddress</assignToReference>
            <field>Key_Address__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryKeyName</assignToReference>
            <field>Key_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Kin_Located</assignToReference>
            <field>Kin_Located__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryLastActionDate</assignToReference>
            <field>Last_Action_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryLastAction</assignToReference>
            <field>Last_Action__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Maiden_Name</assignToReference>
            <field>Maiden_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BVCaseName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryOnReportToDate</assignToReference>
            <field>On_Report_To_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryOnReportTo</assignToReference>
            <field>On_Report_To__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryPartSale</assignToReference>
            <field>Part_sale__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Born_At</assignToReference>
            <field>Place_Of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Postcode</assignToReference>
            <field>Postcode__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryReferredToDate</assignToReference>
            <field>Referred_To_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseSummaryReferredTo</assignToReference>
            <field>Referred_To__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Reg_Name</assignToReference>
            <field>Reg_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Reg_Office_Address_1</assignToReference>
            <field>Reg_Office_Addr_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Reg_Office_Address_2</assignToReference>
            <field>Reg_Office_Addr_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Reg_Office_Address_3</assignToReference>
            <field>Reg_Office_Addr_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Reg_Office_Address_4</assignToReference>
            <field>Reg_Office_Addr_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Surename</assignToReference>
            <field>Surname__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Title</assignToReference>
            <field>Title__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Company_Type</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Intestate_Will_Located</assignToReference>
            <field>Will_Located__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Clear_left_brackets_for_aliases</name>
        <dataType>String</dataType>
        <expression>TRIM(left({!Clearrightbracketsforaliases}, (LEN({!Clearrightbracketsforaliases}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Clear_special_characters_from_aliases</name>
        <dataType>String</dataType>
        <expression>LEFT(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - 1) &amp; 
MID(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) + 1, LEN(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)))</expression>
    </formulas>
    <formulas>
        <name>Clearrightbracketsforaliases</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!Aliases_Template}, (LEN({!Aliases_Template}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Disclosure_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!FirstMethodDisclosure})), 
    {!FirstMethodDisclosure}, 
    {!Enter_method_of_disclosure}
)</expression>
    </formulas>
    <formulas>
        <name>Follow_Up_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (FOLLOW UP)&quot;</expression>
    </formulas>
    <formulas>
        <name>Internal_Review_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (INTERNAL REVIEW)&quot;</expression>
    </formulas>
    <formulas>
        <name>ReferralFormula</name>
        <dataType>String</dataType>
        <expression>{!Conveyancing}</expression>
    </formulas>
    <formulas>
        <name>TodayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Add 19 days to the date given by user</description>
        <name>WorkingDays</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD(
    {!InputDate} - DATE(1985, 6, 24), 
    7
  ), 
  0, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  1, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  2, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  3, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  4, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  5, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  6, 
    CASE(
      MOD({!InputDate} + 25 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 27,
      6, {!InputDate} + 26,
      {!InputDate} + 25
    ), 
  {!InputDate}
)</expression>
    </formulas>
    <interviewLabel>Case Creation Conveyancing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Conveyancing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Conv_Create_Records</name>
        <label>Conv - Create Records</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>Create_Purchaser_Solicitors_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Allocation_Date__c</field>
            <value>
                <elementReference>CaseSummaryAllocationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>Case_Officer_Selection.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>BVCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Status_Date__c</field>
            <value>
                <elementReference>CaseSummaryCurrentStatusDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Status__c</field>
            <value>
                <elementReference>CaseSummaryCurrentStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Case_Last_Reviewed__c</field>
            <value>
                <elementReference>CaseSummaryDateLastReviewed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Case_Opened__c</field>
            <value>
                <elementReference>CaseSummaryOpenedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Disclosed__c</field>
            <value>
                <elementReference>CaseSummaryDisclosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Of_Last_Lm_Review__c</field>
            <value>
                <elementReference>CaseSummaryDateofLastLMReview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Death_or_Dissolution__c</field>
            <value>
                <elementReference>CaseSummaryDiedDiss</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclaim_by__c</field>
            <value>
                <elementReference>CaseSummaryDisclaimBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclosed_by__c</field>
            <value>
                <elementReference>CaseSummaryDisclosedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HIPS_required__c</field>
            <value>
                <elementReference>CaseSummaryHIPSRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Address__c</field>
            <value>
                <elementReference>CaseSummaryKeyAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Name__c</field>
            <value>
                <elementReference>CaseSummaryKeyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Action_Date__c</field>
            <value>
                <elementReference>CaseSummaryLastActionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Action__c</field>
            <value>
                <elementReference>CaseSummaryLastAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method__c</field>
            <value>
                <elementReference>DisclosureMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Report_To_Date__c</field>
            <value>
                <elementReference>CaseSummaryOnReportToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_Report_To__c</field>
            <value>
                <elementReference>CaseSummaryOnReportTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Case_Officer_Selection.selectedCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_sale__c</field>
            <value>
                <elementReference>CaseSummaryPartSale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BVCaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_To_Date__c</field>
            <value>
                <elementReference>CaseSummaryReferredToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_To__c</field>
            <value>
                <elementReference>CaseSummaryReferredTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Advertising</stringValue>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_Officer_Record</name>
        <label>Create Case Officer Record</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Originating_Case_Type_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>Conv_Create_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Officer__c</field>
            <value>
                <elementReference>Case_Officer_Selection.newCaseOfficer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseDetailCaseOfficerRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchaser_Solicitors_Record</name>
        <label>Create Purchaser Solicitors Record</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Create_Case_Officer_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Solicitor_Address_Line_1_Conv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>Solicitor_Address_Line_2_Conv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_3__c</field>
            <value>
                <elementReference>Solicitor_Address_Line_3_Conv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_4__c</field>
            <value>
                <elementReference>Solicitor_Address_Line_4_Conv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Of_Purchaser__c</field>
            <value>
                <elementReference>Address_of_Purchasers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>Conv_Create_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax__c</field>
            <value>
                <elementReference>Solicitor_Fax_Number_Conv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Names_Of_Purchasers__c</field>
            <value>
                <elementReference>Names_of_Purchasers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Solicitor_Postcode_Conv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PurchasersSolicitorsRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference__c</field>
            <value>
                <elementReference>Solicitor_Reference_Conv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicitors__c</field>
            <value>
                <elementReference>Solicitor_Conv</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telephone__c</field>
            <value>
                <elementReference>Solicitor_Telephone_Conv</elementReference>
            </value>
        </inputAssignments>
        <object>AssetLiability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sale_Property_Record_Companies</name>
        <label>Create Sale Property Record - Companies</label>
        <locationX>314</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Add_Documents_Companies</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Property_Address_Line_1_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>Property_Address_Line_2_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_3__c</field>
            <value>
                <elementReference>Property_Address_Line_3_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_4__c</field>
            <value>
                <elementReference>Property_Address_Line_4_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auction_Fee_Commission__c</field>
            <value>
                <elementReference>Auction_Fee_Commission_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>Conv_Create_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COE_Expiry_Date__c</field>
            <value>
                <elementReference>COE_Expiry_Date_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clawback_Overage_Enhanced__c</field>
            <value>
                <elementReference>Clawback_Overage_Enhanced_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>Completion_Date_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deeds_Reference__c</field>
            <value>
                <elementReference>Deeds_Ref_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclaimer_date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange_Date__c</field>
            <value>
                <elementReference>Exchange_Date_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guide_Reserve_Price__c</field>
            <value>
                <elementReference>Guide_Reserve_Price_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hips__c</field>
            <value>
                <elementReference>HIPS_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_Disposal__c</field>
            <value>
                <elementReference>Method_of_Disposal_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Costs__c</field>
            <value>
                <elementReference>Net_Costs_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Period_of_Claw_Over_Enhanced__c</field>
            <value>
                <elementReference>Enter_Period_of_Claw_Over_Enhanced_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Property_Postcode_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalePropertyRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered__c</field>
            <value>
                <elementReference>Registered_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Price__c</field>
            <value>
                <elementReference>Sale_Price_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenure__c</field>
            <value>
                <elementReference>Tenure_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_No__c</field>
            <value>
                <elementReference>Title_Number_Conv_Comp</elementReference>
            </value>
        </inputAssignments>
        <object>AssetLiability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sale_Property_Record_Estates</name>
        <label>Create Sale Property Record - Estates</label>
        <locationX>50</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Add_Documents_Estates</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Property_Address_Line_1_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>Property_Address_Line_2_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_3__c</field>
            <value>
                <elementReference>Property_Address_Line_3_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_4__c</field>
            <value>
                <elementReference>Property_Address_Line_4_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auction_Fee_Commission__c</field>
            <value>
                <elementReference>Auction_Fee_Commission_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>Conv_Create_Records</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>COE_Expiry_Date__c</field>
            <value>
                <elementReference>COE_Expiry_Date_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clawback_Overage_Enhanced__c</field>
            <value>
                <elementReference>Clawback_Overage_Enhanced_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>Completion_Date_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deeds_Reference__c</field>
            <value>
                <elementReference>Deeds_Ref_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disclaimer_date__c</field>
            <value>
                <elementReference>Disclaimer_Date_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange_Date__c</field>
            <value>
                <elementReference>Exchange_Date_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guide_Reserve_Price__c</field>
            <value>
                <elementReference>Guide_Reserve_Price_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hips__c</field>
            <value>
                <elementReference>HIPS_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_of_Disposal__c</field>
            <value>
                <elementReference>Method_of_Disposal_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Net_Costs__c</field>
            <value>
                <elementReference>Net_Costs_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Period_of_Claw_Over_Enhanced__c</field>
            <value>
                <elementReference>Enter_Period_of_Claw_Over_Enhanced_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>Property_Postcode_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>SalePropertyRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered__c</field>
            <value>
                <elementReference>Registered_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Price__c</field>
            <value>
                <elementReference>Sale_Price_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenure__c</field>
            <value>
                <elementReference>Tenure_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_No__c</field>
            <value>
                <elementReference>Title_Number_Conv_Estate</elementReference>
            </value>
        </inputAssignments>
        <object>AssetLiability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Officer_RecordTypeId</name>
        <label>Get Case Officer RecordTypeId</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>CaseDetailCaseOfficerRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Same as Get BV Case RecordTypeId</description>
        <name>Get_Conveyancing_RecordTypeId</name>
        <label>Get Conveyancing RecordTypeId</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Purchasers_Solicitors_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CONV</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>BVCaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Same as Get BV Case RecordTypeId</description>
        <name>Get_Purchasers_Solicitors_RecordTypeId</name>
        <label>Get Purchaser&apos;s Solicitors RecordTypeId</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sale_Property_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conveyancing_Purchaser_s_solicitors</stringValue>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>PurchasersSolicitorsRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Same as Get BV Case RecordTypeId</description>
        <name>Get_Sale_Property_RecordTypeId</name>
        <label>Get Sale Property RecordTypeId</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Officer_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conveyancing_Sale_property</stringValue>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>SalePropertyRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Add_Documents_Companies</name>
        <label>Add Documents (Companies)</label>
        <locationX>314</locationX>
        <locationY>2894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_12</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchaser Solicitors&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Case Officer&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Originating Case Type&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Review Case Type Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sale Property&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Add Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>file_upload_companies</name>
            <extensionName>c:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Sale_Property_Record_Companies</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Documents_Estates</name>
        <label>Add Documents (Estates)</label>
        <locationX>50</locationX>
        <locationY>2894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DT_13</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchaser Solicitors&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Case Officer&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Originating Case Type&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Review Case Type Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sale Property&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Add Documents&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>file_upload_estates</name>
            <extensionName>c:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Sale_Property_Record_Estates</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Case_Summary_Conv_After_Method</name>
        <label>Case Summary</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Solicitor_from_address_book_screen</targetReference>
        </connector>
        <fields>
            <name>Key_Name_Conv_After_Method</name>
            <dataType>String</dataType>
            <fieldText>Key Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Summary_Conv_After_Method_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Summary_Conv_After_Method_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Key_Address_Conv_After_Method</name>
                    <dataType>String</dataType>
                    <fieldText>Key Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Case_Type_Conv_After_Method</name>
                    <choiceReferences>W_Reopened_Case</choiceReferences>
                    <choiceReferences>Z_Conveyancing</choiceReferences>
                    <choiceReferences>Z1_Transfer_of_Land_All_other_types</choiceReferences>
                    <choiceReferences>Z2_Transfer_of_Land_freehold_leasehold_reversions</choiceReferences>
                    <choiceReferences>Z3_Reports_on_title_and_advisory_work</choiceReferences>
                    <choiceReferences>Z4_Miscellaneous</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Z_Conveyancing</defaultSelectedChoiceReference>
                    <fieldText>Case Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Case_Officer_Conv_After_Method</name>
                    <dataType>String</dataType>
                    <fieldText>Case Officer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>On_Report_To_Conv_After_Method</name>
                    <choiceReferences>BV_Officer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>On Report To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Referred_To_Conv_After_Method</name>
                    <dataType>String</dataType>
                    <fieldText>Referred To</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Action_Conv_After_Method</name>
                    <dataType>String</dataType>
                    <fieldText>Last Action</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_Status_Conv_After_Method</name>
                    <dataType>String</dataType>
                    <fieldText>Current Status</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Disclaim_By_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Disclaim By</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Summary_Conv_After_Method_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Died_Diss_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Died/Diss</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Opened_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Opened</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Allocated_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Allocated</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Conv_On_Report_To_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Referred_To_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Last_Action_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Current_Status_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Part_Sale_Conv_After_Method</name>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Part Sale</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Summary_Conv_After_Method_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Summary_Conv_After_Method_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Summary_Conv_After_Method_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Disclosed_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Disclosed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>HIPS_Required_Conv_After_Method</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>HIPS Required</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Summary_Conv_After_Method_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>By_Conv_After_Method</name>
                    <choiceReferences>BV_Officer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_Last_Reviewed_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Last Reviewed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Summary_Conv_After_Method_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Method_Conv_After_Method</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Method_of_Disclosure_Conv_Choice</elementReference>
                    </defaultValue>
                    <fieldText>Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Method_of_Disclosure_Conv_Choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>BV18</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Method_of_Disclosure_Conv_Choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Memo</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Method_Other_Conv</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>What_method_of_disclosure_Conv</elementReference>
                    </defaultValue>
                    <fieldText>Method</fieldText>
                    <fieldType>InputField</fieldType>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Method_of_Disclosure_Conv_Choice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Date_of_last_LM_Review_Conv_After_Method</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of last LM Review</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Method_of_Disclosure_Conv</name>
        <label>Method of Disclosure</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Other_Method_of_Disclosure</targetReference>
        </connector>
        <fields>
            <name>DT_2</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; (Optional) Select Solicitor from Address Book &amp;gt; Purchaser Solicitors &amp;gt; Select a Case Officer &amp;gt; Originating Case Type &amp;gt; Review Case Type Details &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Method_of_Disclosure_Conv_Choice</name>
            <choiceReferences>BV18</choiceReferences>
            <choiceReferences>Memo</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Method of Disclosure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_method_of_disclosure_Conv</name>
            <dataType>String</dataType>
            <fieldText>Enter disclosure method</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Method_of_Disclosure_Conv_Choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Originating_Case_Type_Screen</name>
        <label>Originating Case Type?</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Originating_Case_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>DT_9</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchaser Solicitors&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Case Officer&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Originating Case Type&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Review Case Type Details &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Originating_Case_Type_Conv</name>
            <choiceReferences>Estate</choiceReferences>
            <choiceReferences>Company</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Originating Case Type?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchaser_Solicitors_Screen_Conv</name>
        <label>Purchaser Solicitors</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Case_Officer</targetReference>
        </connector>
        <fields>
            <name>DT_6</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchaser Solicitors&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Select a Case Officer &amp;gt; Originating Case Type &amp;gt; Review Case Type Details &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Solicitor_Conv</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShippingName</elementReference>
            </defaultValue>
            <fieldText>Solicitor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solicitor_Address_Line_1_Conv</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShippingStreet</elementReference>
            </defaultValue>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solicitor_Address_Line_2_Conv</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShippingCity</elementReference>
            </defaultValue>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Solicitor_Address_Line_3_Conv</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShippingCountry</elementReference>
            </defaultValue>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Solicitor_Address_Line_4_Conv</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Solicitor_Postcode_Conv</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ShippingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Purchaser_Solicitors_Screen_Conv_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Purchaser_Solicitors_Screen_Conv_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Solicitor_Telephone_Conv</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Purchaser_Solicitors_Screen_Conv_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Solicitor_Fax_Number_Conv</name>
                    <dataType>String</dataType>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Solicitor_Reference_Conv</name>
            <dataType>String</dataType>
            <fieldText>Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Names_of_Purchasers</name>
            <dataType>String</dataType>
            <fieldText>Name(s) of Purchaser(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_of_Purchasers</name>
            <dataType>String</dataType>
            <fieldText>Address of Purchasers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Company_Details_Screen</name>
        <label>Review Company Details</label>
        <locationX>314</locationX>
        <locationY>2570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sale_Property_Conv_Screen</targetReference>
        </connector>
        <fields>
            <name>DT_10</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Purchaser Solicitors&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select a Case Officer&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Originating Case Type&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Review Case Type Details&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Details_Header</name>
            <fieldText>Company Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Company_Details_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_Comapny_Details_Estate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Company Reg Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Company_Reg_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Company_Type}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Company_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Company_Reg_Office_Address_1}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Company_Reg_Office_Address_2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Company_Reg_Office_Address_3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Company_Reg_Office_Address_4}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Company_Postcode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company Date Dissolved&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Company_Date_Dissolved}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company Section of Act&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Company_Section_of_Act}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company Disclaimer Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Company_Disclaimer_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company Incorporated&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Company_Incorporated}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Intestate_Details_Screen</name>
        <label>Review Intestate Details</label>
        <locationX>50</locationX>
        <locationY>2570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sale_Property_Conv_Estate_Screen</targetReference>
        </connector>
        <fields>
            <name>DT_15</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchaser Solicitors&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Case Officer&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Originating Case Type&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Review Case Type Details&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Intestate_Details</name>
            <fieldText>Intestate Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intestate_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DT_ID</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Surename&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Surename}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Forenames&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Forenames}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Gender&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Gender}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Status}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Maiden Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Maiden_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Died Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Died}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Intestate Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Died_At_Line_1}&lt;/p&gt;&lt;p&gt;{!Intestate_Died_At_Line_2}&lt;/p&gt;&lt;p&gt;{!Intestate_Died_At_Line_3}&lt;/p&gt;&lt;p&gt;{!Intestate_Died_At_Line_4}&lt;/p&gt;&lt;p&gt;{!Intestate_Postcode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date of Birth&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Date_of_Birth}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Place of Birth&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Born_At}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Kin Located?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Kin_Located}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Kin Located&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Kin_Located_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Will Located&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Will_Located}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Insolvent/NI/1230&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Intestate_Insolvent_NI_1230}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Screen_Case_Summary</name>
        <label>Review Screen (Case Summary)</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Summary_Conv_After_Method</targetReference>
        </connector>
        <fields>
            <name>Case_Summary_Details</name>
            <fieldText>Case Summary Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Summary_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Summary_DT</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Key Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryKeyName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Key Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryKeyAddress}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!BVCaseType}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Officer&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryCaseOfficer}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;On Report To&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryOnReportTo}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;On Report To Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryOnReportToDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Referred To&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryReferredTo}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Referred To Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryReferredToDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Died / Dissolution Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryDiedDiss}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Opened Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryOpenedDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Allocation Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryAllocationDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Action&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryLastAction}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Action Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryLastActionDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryCurrentStatus}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Status Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryCurrentStatusDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Disclosed By&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryDisclosedBy}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Disclosed&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryDisclosedDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Method of Disclosure&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!DisclosureMethod}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;HIPS Required?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryHIPSRequired}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date Last Reviewed&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryDateLastReviewed}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date of Last LM Review&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CaseSummaryDateofLastLMReview}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_the_solicitor</name>
        <label>Review the solicitor</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Purchaser_Solicitors_Screen_Conv</targetReference>
        </connector>
        <fields>
            <name>DT_5</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Purchaser Solicitors &amp;gt; Select a Case Officer &amp;gt; Originating Case Type &amp;gt; Review Case Type Details &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DT_for_solicitor</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿Solicitor Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ShippingName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Solicitor &lt;/strong&gt;&lt;strong&gt;Street&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ShippingStreet}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Solicitor &lt;/strong&gt;&lt;strong&gt;City&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!ShippingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Solicitor &lt;/strong&gt;&lt;strong&gt;Postal Code&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ShippingPostalCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Solicitor &lt;/strong&gt;&lt;strong&gt;Country&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!ShippingCountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sale_Property_Conv_Estate_Screen</name>
        <label>Sale Property</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Sale_Property_Record_Estates</targetReference>
        </connector>
        <fields>
            <name>DT_14</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchaser Solicitors&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Case Officer&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Originating Case Type&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Review Case Type Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sale Property&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sale_Property_Conv_Estate_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Property_Conv_Estate_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Address_Line_1_Conv_Estate</name>
                    <dataType>String</dataType>
                    <fieldText>Property Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Address_Line_2_Conv_Estate</name>
                    <dataType>String</dataType>
                    <fieldText>Property Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Address_Line_3_Conv_Estate</name>
                    <dataType>String</dataType>
                    <fieldText>Property Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Address_Line_4_Conv_Estate</name>
                    <dataType>String</dataType>
                    <fieldText>Property Address Line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Conv_Estate_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disclaimer_Date_Conv_Estate</name>
                    <dataType>Date</dataType>
                    <fieldText>Disclaimer Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Deeds_Ref_Conv_Estate</name>
                    <dataType>String</dataType>
                    <fieldText>Deeds Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sale_Property_Conv_Estate_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Property_Conv_Estate_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Postcode_Conv_Estate</name>
                    <dataType>String</dataType>
                    <fieldText>Property Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Conv_Estate_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Method_of_Disposal_Conv_Estate</name>
                    <dataType>String</dataType>
                    <fieldText>Method of Disposal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sale_Property_Conv_Estate_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Property_Conv_Estate_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tenure_Conv_Estate</name>
                    <choiceReferences>Freehold</choiceReferences>
                    <choiceReferences>Leasehold</choiceReferences>
                    <choiceReferences>Both</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tenure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Title_Number_Conv_Estate</name>
                    <dataType>String</dataType>
                    <fieldText>Title Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Registered_Conv_Estate</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Both</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Registered</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Exchange_Date_Conv_Estate</name>
                    <dataType>Date</dataType>
                    <fieldText>Exchange Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Completion_Date_Conv_Estate</name>
                    <dataType>Date</dataType>
                    <fieldText>Completion Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Conv_Estate_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Net_Costs_Conv_Estate</name>
                    <dataType>Currency</dataType>
                    <fieldText>Net Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Conv_Estate_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auction_Fee_Commission_Conv_Estate</name>
                    <dataType>Number</dataType>
                    <fieldText>Auction Fee Commission %</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Guide_Reserve_Price_Conv_Estate</name>
                    <dataType>Currency</dataType>
                    <fieldText>Guide/Reserve Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Sale_Price_Conv_Estate</name>
                    <dataType>Currency</dataType>
                    <fieldText>Sale Price £</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>HIPS_Conv_Estate</name>
                    <choiceReferences>Reversion</choiceReferences>
                    <choiceReferences>Dwellings</choiceReferences>
                    <choiceReferences>Land</choiceReferences>
                    <choiceReferences>Auction_Land</choiceReferences>
                    <choiceReferences>Auction_Dwellings</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>HIPS?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Clawback_Overage_Enhanced_Conv_Estate</name>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Clawback/Overage/Enhanced?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Enter_Period_of_Claw_Over_Enhanced_Conv_Estate</name>
                    <dataType>Number</dataType>
                    <fieldText>Enter Period of Claw/Over/Enhanced</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Clawback_Overage_Enhanced_Conv_Estate</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>COE_Expiry_Date_Conv_Estate</name>
                    <dataType>Date</dataType>
                    <fieldText>COE Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Clawback_Overage_Enhanced_Conv_Estate</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sale_Property_Conv_Screen</name>
        <label>Sale Property</label>
        <locationX>314</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Sale_Property_Record_Companies</targetReference>
        </connector>
        <fields>
            <name>DT_11</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchaser Solicitors&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Case Officer&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Originating Case Type&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Review Case Type Details&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sale Property&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sale_Property_Conv_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Property_Conv_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Address_Line_1_Conv_Comp</name>
                    <dataType>String</dataType>
                    <fieldText>Property Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Address_Line_2_Conv_Comp</name>
                    <dataType>String</dataType>
                    <fieldText>Property Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Address_Line_3_Conv_Comp</name>
                    <dataType>String</dataType>
                    <fieldText>Property Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Address_Line_4_Conv_Comp</name>
                    <dataType>String</dataType>
                    <fieldText>Property Address Line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Conv_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disclaimer_Date_Conv_Comp_SP</name>
                    <dataType>String</dataType>
                    <fieldText>Disclaimer Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Deeds_Ref_Conv_Comp</name>
                    <dataType>String</dataType>
                    <fieldText>Deeds Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sale_Property_Conv_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Property_Conv_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Postcode_Conv_Comp</name>
                    <dataType>String</dataType>
                    <fieldText>Property Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Conv_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Method_of_Disposal_Conv_Comp</name>
                    <dataType>String</dataType>
                    <fieldText>Method of Disposal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sale_Property_Conv_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Property_Conv_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tenure_Conv_Comp</name>
                    <choiceReferences>Freehold</choiceReferences>
                    <choiceReferences>Leasehold</choiceReferences>
                    <choiceReferences>Both</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tenure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Title_Number_Conv_Comp</name>
                    <dataType>String</dataType>
                    <fieldText>Title Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Registered_Conv_Comp</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Both</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Registered</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Exchange_Date_Conv_Comp</name>
                    <dataType>Date</dataType>
                    <fieldText>Exchange Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Completion_Date_Conv_Comp</name>
                    <dataType>Date</dataType>
                    <fieldText>Completion Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Conv_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Net_Costs_Conv_Comp</name>
                    <dataType>Currency</dataType>
                    <fieldText>Net Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Conv_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auction_Fee_Commission_Conv_Comp</name>
                    <dataType>Number</dataType>
                    <fieldText>Auction Fee Commission %</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Guide_Reserve_Price_Conv_Comp</name>
                    <dataType>Currency</dataType>
                    <fieldText>Guide/Reserve Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Sale_Price_Conv_Comp</name>
                    <dataType>Currency</dataType>
                    <fieldText>Sale Price £</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>HIPS_Conv_Comp</name>
                    <choiceReferences>Reversion</choiceReferences>
                    <choiceReferences>Dwellings</choiceReferences>
                    <choiceReferences>Land</choiceReferences>
                    <choiceReferences>Auction_Land</choiceReferences>
                    <choiceReferences>Auction_Dwellings</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>HIPS?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Clawback_Overage_Enhanced_Conv_Comp</name>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Clawback/Overage/Enhanced?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Enter_Period_of_Claw_Over_Enhanced_Conv_Comp</name>
                    <dataType>Number</dataType>
                    <fieldText>Enter Period of Claw/Over/Enhanced</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Clawback_Overage_Enhanced_Conv_Comp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>COE_Expiry_Date_Conv_Comp</name>
                    <dataType>Date</dataType>
                    <fieldText>COE Expiry Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Clawback_Overage_Enhanced_Conv_Comp</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Case</name>
        <label>Select Case</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Method_of_Disclosure_Conv</targetReference>
        </connector>
        <fields>
            <name>DT_1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select Case&lt;/strong&gt; &amp;gt; Method of Disclosure &amp;gt; (Optional) Select Solicitor from Address Book &amp;gt; Purchaser Solicitors &amp;gt; Select a Case Officer &amp;gt; Originating Case Type &amp;gt; Review Case Type Details &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_a_case</name>
            <choiceReferences>BVCaseRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a case</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Case_Officer</name>
        <label>Select Case Officer</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Conv_Create_Records</targetReference>
        </connector>
        <fields>
            <name>DT_7</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Purchaser Solicitors&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select a Case Officer&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Originating Case Type &amp;gt; Review Case Type Details &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Officer_Selection</name>
            <extensionName>c:caseOfficerSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Solicitor_from_address_book</name>
        <label>Select Solicitor from address book</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_the_solicitor</targetReference>
        </connector>
        <fields>
            <name>DT_4</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Purchaser Solicitors &amp;gt; Select a Case Officer &amp;gt; Originating Case Type &amp;gt; Review Case Type Details &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_a_solicitor_comp</name>
            <choiceReferences>addressBookRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select a solicitor</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Solicitor_from_address_book_screen</name>
        <label>Select Solicitor from address book?</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Solicitor_select</targetReference>
        </connector>
        <fields>
            <name>DT_3</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Case&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Method of Disclosure&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;(Optional) Select Solicitor from Address Book&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &amp;gt; Purchaser Solicitors &amp;gt; Select a Case Officer &amp;gt; Originating Case Type &amp;gt; Review Case Type Details &amp;gt; Sale Property &amp;gt; (Optional) Add Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Solicitor_from_address_book_comp</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Solicitor from address book?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Conveyancing_RecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Aliases_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Surname &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!4a5afd06-be65-4b4c-825b-396fea199265.Surname__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Forename &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!4a5afd06-be65-4b4c-825b-396fea199265.Forenames__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Occupiers_Address_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Address_Line_2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Address_Line_3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Address_Line_4__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Postcode__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Owned&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Owned__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tenanted&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Tenanted__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tenure&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Tenure__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title No.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!d098af0d-943b-468d-9b7c-9729eb9b1d0b.Title_No__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Temeplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Address_Line_1__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Address_Line_2__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Address_Line_3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Address_Line_4__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Postcode__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Reference&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Reference__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Salutation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Salutation__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Telephone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Telephone__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Mobile Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Mobile_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!07b188fb-dbfd-4e4b-8250-08a8f42f6449.Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Alias_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Aliases_Text_data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allAliases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliases_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliasesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddressesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddressListWIthId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>BankChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BVCaseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BVCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BVCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseDetailAliasesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailCaseOfficerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailFormerNamesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOccupiersAddressRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOtherAddressesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryAllocationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryCaseOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryCurrentStatusDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryDateLastReviewed</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryDateofLastLMReview</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryDiedDiss</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryDisclaimBy</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryDisclosedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryDisclosedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryHIPSRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryKeyAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryKeyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryLastAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryLastActionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryOnReportTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryOnReportToDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryOpenedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryPartSale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryReferredTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseSummaryReferredToDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Date_Dissolved</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Disclaimer_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Incorporated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Reg_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Reg_Office_Address_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Reg_Office_Address_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Reg_Office_Address_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Reg_Office_Address_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Section_of_Act</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Company_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisclosureMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayAliases</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_other_addresses_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enter_method_of_disclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstMethodDisclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Born_At</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Date_of_Birth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Died</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Died_At_Line_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Died_At_Line_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Died_At_Line_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Died_At_Line_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Forenames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Insolvent_NI_1230</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Kin_Located</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Kin_Located_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Maiden_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Surename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Intestate_Will_Located</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_FOI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BV_Case__c</objectType>
    </variables>
    <variables>
        <name>NewFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Occupiers_Address_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenAllocatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Addresses_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PurchasersSolicitorsRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalePropertyRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCaseOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShippingAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singeAlias</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOccupierAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOtherAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>SpreadsheetNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Telephone_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
