force-app/main/default/flows/Case_Creation_Flow_Reworked.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>A_SRA_Intestate</name>
        <choiceText>A - SRA Intestate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A - SRA Intestate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Dwellings</name>
        <choiceText>Auction - Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Auction_Land</name>
        <choiceText>Auction - Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Auction - Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>B_Freehold_Leasehold_Property</name>
        <choiceText>B - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bachelor</name>
        <choiceText>Bachelor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bachelor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank</name>
        <choiceText>Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Transfer</name>
        <choiceText>Bank Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BankYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Barclays</name>
        <choiceText>Barclays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barclays</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV18</name>
        <choiceText>BV18</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV18</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV1A_Letter_BV1A_Online_Referral_Form</name>
        <choiceText>BV1A Letter/BV1A Online Referral Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV1A Letter/BV1A Online Referral Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Officer</name>
        <choiceText>BV Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>BV_Policy</name>
        <choiceText>BV Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BV Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>BVC14_Form</name>
        <choiceText>BVC14 Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BVC14 Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Freedom_of_Information_Request</name>
        <choiceText>C1 - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2_Net_Estate_over_15_000_no_grant_required</name>
        <choiceText>C2 - Net Estate over £15,000 no grant required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C2 - Net Estate over £15,000 no grant required</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4_Net_Estate_over_15_000_collection_only</name>
        <choiceText>C4 - Net Estate over £15,000 collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C4 - Net Estate over £15,000 collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Net_Estate_over_5000_pre_January</name>
        <choiceText>C - Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C - Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_Officer</name>
        <choiceText>Case Officer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case Officer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Co_operative_Bank</name>
        <choiceText>Co-operative Bank</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Co-operative Bank</stringValue>
        </value>
    </choices>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Conveyancing</name>
        <choiceText>Conveyencing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Conveyencing</stringValue>
        </value>
    </choices>
    <choices>
        <name>D1_Net_Estate_under_5000</name>
        <choiceText>D1 - Net Estate under £5000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D1 - Net Estate under £5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D2_Net_Estate_over_5000_under_15_000</name>
        <choiceText>D2 - Net Estate over £5000 &amp; under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D2 - Net Estate over £5000 &amp; under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D3_Net_Estate_under_15_000</name>
        <choiceText>D3 - Net Estate under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D3 - Net Estate under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D4_Net_Estate_Under_15k_collection_only</name>
        <choiceText>D4 - Net Estate Under £15k - collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D4 - Net Estate Under £15k - collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_Net_Estate_less_than_5000_pre_Jan_2009</name>
        <choiceText>D - Net Estate less than £5000 (pre Jan 2009)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D - Net Estate less than £5000 (pre Jan 2009)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_Company</name>
        <choiceText>Dissolved Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dissolved_LLP</name>
        <choiceText>Dissolved LLP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dissolved LLP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Docket_Book</name>
        <choiceText>Docket Book</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Docket Book</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dwellings</name>
        <choiceText>Dwellings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dwellings</stringValue>
        </value>
    </choices>
    <choices>
        <name>E1_Discretionary_Grants</name>
        <choiceText>E1 - Discretionary Grants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E1 - Discretionary Grants</stringValue>
        </value>
    </choices>
    <choices>
        <name>E2_Intellectual_Property</name>
        <choiceText>E2 - Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E2 - Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3_Land_Charges_Mortgages_Shares</name>
        <choiceText>E3 - Land Charges / Mortgages / Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3 - Land Charges / Mortgages / Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3A_Mortgages_and_Charges</name>
        <choiceText>E3A - Mortgages and Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3A - Mortgages and Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3B_Other_Restrictions_on_Title</name>
        <choiceText>E3B - Other Restrictions on Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3B - Other Restrictions on Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3D_Quoted_Shares</name>
        <choiceText>E3D - Quoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3D - Quoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3E_Unquoted_Shares</name>
        <choiceText>E3E - Unquoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3E - Unquoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4_Freehold_Reversions</name>
        <choiceText>E4 - Freehold Reversions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4 - Freehold Reversions</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4A_Simple_Freehold_Reversion</name>
        <choiceText>E4A - Simple Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4A - Simple Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4B_Complex_Freehold_Reversion</name>
        <choiceText>E4B - Complex Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4B - Complex Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5_Other_Land</name>
        <choiceText>E5 - Other Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5 - Other Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5A_Simple_land</name>
        <choiceText>E5A - Simple land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5A - Simple land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E6_Pension_Schemes</name>
        <choiceText>E6 - Pension Schemes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E6 - Pension Schemes</stringValue>
        </value>
    </choices>
    <choices>
        <name>E7_Miscellaneous</name>
        <choiceText>E7 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E7 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>E_Mail</name>
        <choiceText>E-Mail</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E-Mail</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estate</name>
        <choiceText>Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>F</name>
        <choiceText>F</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F</stringValue>
        </value>
    </choices>
    <choices>
        <name>F_Collect</name>
        <choiceText>F - Collect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F - Collect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed_Trust</name>
        <choiceText>Failed Trust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed Trust</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female_F</name>
        <choiceText>Female (F)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female (F)</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Data</name>
        <choiceText>First Data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Data</stringValue>
        </value>
    </choices>
    <choices>
        <name>FOI_FC_Follow_Up_Question</name>
        <choiceText>Follow up?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Individual</name>
        <choiceText>Individual</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Northern_Ireland_Question</name>
        <choiceText>Northern Ireland?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FOI_FC_Organisation</name>
        <choiceText>Organisation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If the FOI Request is NOT being dealt with on behalf of the Crown Solicitor</description>
        <name>FOINo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>If FOI Request is being dealt with on behalf of the Crown Solicitor</description>
        <name>FOIYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Follow_Up</name>
        <choiceText>Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>FollowUp</name>
        <choiceText>FOLLOW UP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FOLLOW UP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freedom_of_Information</name>
        <choiceText>Freedom of Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freedom of Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>G_General</name>
        <choiceText>G - General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G - General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_request</name>
        <choiceText>General request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General request</stringValue>
        </value>
    </choices>
    <choices>
        <name>H2_Complex_Claims</name>
        <choiceText>H2 - Complex Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H2 - Complex Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>HSBC</name>
        <choiceText>HSBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HSBC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Husband</name>
        <choiceText>Husband</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Husband</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Review</name>
        <choiceText>Internal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>InternalReview</name>
        <choiceText>INTERNAL REVIEW</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INTERNAL REVIEW</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_claim_only</name>
        <choiceText>Kin claim only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin claim only</stringValue>
        </value>
    </choices>
    <choices>
        <name>L_Limitation_Period_Cases</name>
        <choiceText>L - Limitation Period Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L - Limitation Period Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter_Email</name>
        <choiceText>Letter/Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Letter/Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lloyds</name>
        <choiceText>Lloyds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lloyds</stringValue>
        </value>
    </choices>
    <choices>
        <name>M</name>
        <choiceText>M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_Costs_Case</name>
        <choiceText>M - Costs Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M - Costs Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam</name>
        <choiceText>Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_DASH_Sir</name>
        <choiceText>Madam/Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam/Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Madam_Sir</name>
        <choiceText>Madam &amp; Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Madam &amp; Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male_M</name>
        <choiceText>Male (M)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male (M)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Married_Woman</name>
        <choiceText>Married Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Married Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memo</name>
        <choiceText>Memo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mesdames</name>
        <choiceText>Mesdames</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mesdames</stringValue>
        </value>
    </choices>
    <choices>
        <name>Natwest</name>
        <choiceText>Natwest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Natwest</stringValue>
        </value>
    </choices>
    <choices>
        <name>NE_Northern_Ireland</name>
        <choiceText>NE - Northern Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE - Northern Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_estate_under_15000</name>
        <choiceText>Net estate under £15,000</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>New_case_call</name>
        <choiceText>New case call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New case call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Case_Call_Choice</name>
        <choiceText>New Case Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Case Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Request</name>
        <choiceText>New Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insolvent</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_occupiers_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_other_addresses_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_will_located</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online_Form</name>
        <choiceText>Online Form</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online Form</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Corporate_Body</name>
        <choiceText>Other Corporate Body</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Corporate Body</stringValue>
        </value>
    </choices>
    <choices>
        <name>P_Pre_1997_Case</name>
        <choiceText>P - Pre-1997 Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P - Pre-1997 Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>PANo</name>
        <choiceText>PANo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PANo</stringValue>
        </value>
    </choices>
    <choices>
        <name>PAYes</name>
        <choiceText>PAYes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PAYes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_individual</name>
        <choiceText>Private individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public_Authority</name>
        <choiceText>Public Authority</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public Authority</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q_Query</name>
        <choiceText>Q - Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q - Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_BV_Registry_queries</name>
        <choiceText>R - BV Registry queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R - BV Registry queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>RBS</name>
        <choiceText>RBS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RBS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reversion</name>
        <choiceText>Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Santander</name>
        <choiceText>Santander</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Santander</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1000_Companies_Act_2006</name>
        <choiceText>Section 1000 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1000 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1001_Companies_Act_2006</name>
        <choiceText>Section 1001 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1001 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1002_Companies_Act_2006</name>
        <choiceText>Section 1002 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1002 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_1003_Companies_Act_2006</name>
        <choiceText>Section 1003 Companies Act 2006</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 1003 Companies Act 2006</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_201_Insolvency_Act_1986</name>
        <choiceText>Section 201 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 201 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_202_Insolvency_Act_1986</name>
        <choiceText>Section 202 Insolvency Act 1986</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 202 Insolvency Act 1986</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_290_Companies_Act_1948</name>
        <choiceText>Section 290 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 290 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_300_Companies_Act_1948</name>
        <choiceText>Section 300 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 300 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_353_Companies_Act_1948</name>
        <choiceText>Section 353 Companies Act 1948</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 353 Companies Act 1948</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_585_595_Companies_Act_1985</name>
        <choiceText>Section 585/595 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 585/595 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_5_Companies_Act_1985</name>
        <choiceText>Section 652(5) Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652(5) Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652_Companies_Act_1985</name>
        <choiceText>Section 652 Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652 Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Section_652A_Companies_Act_1985</name>
        <choiceText>Section 652A Companies Act 1985</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Section 652A Companies Act 1985</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Man</name>
        <choiceText>Single Man</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Man</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Woman</name>
        <choiceText>Single Woman</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Woman</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir</name>
        <choiceText>Sir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_AND_Madam</name>
        <choiceText>Sir &amp; Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir &amp; Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sir_Madam</name>
        <choiceText>Sir/Madam</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sir/Madam</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sirs</name>
        <choiceText>Sirs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sirs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spinster</name>
        <choiceText>Spinster</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spinster</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_test</name>
        <choiceText>Status test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Status test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surviving_Civil_Partner</name>
        <choiceText>Surviving Civil Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surviving Civil Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_other_addresses_tenure</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>V_BV_Registry_Queries</name>
        <choiceText>V - BV Registry Queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V - BV Registry Queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>W_Reopened_Case</name>
        <choiceText>W - Reopened Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>W - Reopened Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widow</name>
        <choiceText>Widow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widow</stringValue>
        </value>
    </choices>
    <choices>
        <name>Widower</name>
        <choiceText>Widower</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Widower</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y_Kin_Claims</name>
        <choiceText>Y - Kin Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y - Kin Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>YA_Reopened_Other</name>
        <choiceText>YA - Reopened Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YA - Reopened Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insolvent</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_other_addresses_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_will_located</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z1_Transfer_of_Land_All_other_types</name>
        <choiceText>Z1 - Transfer of Land (All other types)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z1 - Transfer of Land (All other types)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z2_Transfer_of_Land_freehold_leasehold_reversions</name>
        <choiceText>Z2 - Transfer of Land (freehold / leasehold reversions)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z2 - Transfer of Land (freehold / leasehold reversions)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z3_Reports_on_title_and_advisory_work</name>
        <choiceText>Z3 - Reports on title and advisory work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z3 - Reports on title and advisory work</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z4_Miscellaneous</name>
        <choiceText>Z4 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z4 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Z_Conveyancing</name>
        <choiceText>Z - Conveyancing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Z - Conveyancing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Type_Decision</name>
        <label>Case Type Decision</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FOI_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type_selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Freedom_of_Information</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Freedom_of_Information_Subflow</targetReference>
            </connector>
            <label>FOI Decision</label>
        </rules>
        <rules>
            <name>Company_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type_selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Companies</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Company_Subflow</targetReference>
            </connector>
            <label>Company Decision</label>
        </rules>
        <rules>
            <name>General_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type_selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>General</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>General_Subflow</targetReference>
            </connector>
            <label>General Decision</label>
        </rules>
        <rules>
            <name>Conveyencing_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type_selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Conveyancing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conveyancing_Subflow</targetReference>
            </connector>
            <label>Conveyancing Decision</label>
        </rules>
        <rules>
            <name>Estates_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_type_selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Estates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estates_Subflow</targetReference>
            </connector>
            <label>Estates Decision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Clear_left_brackets_for_aliases</name>
        <dataType>String</dataType>
        <expression>TRIM(left({!Clearrightbracketsforaliases}, (LEN({!Clearrightbracketsforaliases}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Clear_special_characters_from_aliases</name>
        <dataType>String</dataType>
        <expression>LEFT(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - 1) &amp; 
MID(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2), FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) + 1, LEN(MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)) - FIND(&quot;,&quot;, MID({!Aliases_Template}, 2, LEN({!Aliases_Template}) - 2)))</expression>
    </formulas>
    <formulas>
        <name>Clearrightbracketsforaliases</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!Aliases_Template}, (LEN({!Aliases_Template}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Follow_Up_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (FOLLOW UP)&quot;</expression>
    </formulas>
    <formulas>
        <name>Internal_Review_Name</name>
        <dataType>String</dataType>
        <expression>{!New_FOI_Record.Foi_No__c} &amp; &quot; (INTERNAL REVIEW)&quot;</expression>
    </formulas>
    <formulas>
        <name>ReferralFormula</name>
        <dataType>String</dataType>
        <expression>{!DisclosureMethod}</expression>
    </formulas>
    <formulas>
        <name>TodayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Add 19 days to the date given by user</description>
        <name>WorkingDays</name>
        <dataType>Date</dataType>
        <expression>CASE(
  MOD(
    {!InputDate} - DATE(1985, 6, 24), 
    7
  ), 
  0, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  1, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  2, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  3, 
    CASE(
      MOD({!InputDate} + 24 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 26,
      6, {!InputDate} + 25,
      {!InputDate} + 24
    ), 
  4, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  5, 
    CASE(
      MOD({!InputDate} + 26 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 28,
      6, {!InputDate} + 27,
      {!InputDate} + 26
    ), 
  6, 
    CASE(
      MOD({!InputDate} + 25 - DATE(1985, 6, 24), 7),
      5, {!InputDate} + 27,
      6, {!InputDate} + 26,
      {!InputDate} + 25
    ), 
  {!InputDate}
)</expression>
    </formulas>
    <interviewLabel>Case Creation Flow Reworked {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Creation Flow Reworked</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Disclosure</name>
        <label>Disclosure</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Progress_Disclosure</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Disclosure&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_type_selection</name>
            <choiceReferences>Estates</choiceReferences>
            <choiceReferences>Companies</choiceReferences>
            <choiceReferences>Freedom_of_Information</choiceReferences>
            <choiceReferences>General</choiceReferences>
            <choiceReferences>Conveyancing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case type selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>flow_navigation_component_case_type_selection</name>
            <extensionName>c:flowNavigationComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseType</name>
                <value>
                    <elementReference>Case_type_selection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disclosure</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Company_Subflow</name>
        <label>Company Subflow</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>Case_Creation_Companies</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Conveyancing_Subflow</name>
        <label>Conveyancing Subflow</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <flowName>Case_Creation_Conveyancing</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Estates_Subflow</name>
        <label>Estates Subflow</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <flowName>Case_Creation_Estates</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Freedom_of_Information_Subflow</name>
        <label>Freedom of Information Subflow</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>Case_Creation_Freedom_of_Information</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>General_Subflow</name>
        <label>General Subflow</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <flowName>Case_Creation_General_Files</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Aliases_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;123&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Occupiers_Address_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;123&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Temeplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;123&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Other_Addresses_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;123&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Alias_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Aliases_Text_data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allAliases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliases_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allAliasesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOccupiersAddressesListWithId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddresses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>allOtherAddressListWIthId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>BankChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BVCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailAliasesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailCaseOfficerRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailFormerNamesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOccupiersAddressRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailOtherAddressesRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentAlias</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisclosureMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>displayAliases</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_other_addresses_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstMethodDisclosure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormattedNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mobile_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_FOI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BV_Case__c</objectType>
    </variables>
    <variables>
        <name>NewFOINumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Occupiers_Address_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenAllocatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Other_Addresses_Text_Data</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedCaseOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singeAlias</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOccupierAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>singleOtherAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>SpreadsheetNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Telephone_informant_field</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
