force-app/main/default/flows/Change_case_category_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>A_SRA_Intestate</name>
        <choiceText>A - SRA Intestate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A - SRA Intestate</stringValue>
        </value>
    </choices>
    <choices>
        <name>B_Freehold_Leasehold_Property</name>
        <choiceText>B - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Freedom_of_Information_Request</name>
        <choiceText>C1 - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2_Net_Estate_over_15_000_no_grant_required</name>
        <choiceText>C2 - Net Estate over £15,000 no grant required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C2 - Net Estate over £15,000 no grant required</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4_Net_Estate_over_15_000_collection_only</name>
        <choiceText>C4 - Net Estate over £15,000 collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C4 - Net Estate over £15,000 collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Net_Estate_over_5000_pre_January</name>
        <choiceText>C - Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C - Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>D1_Net_Estate_under_5000</name>
        <choiceText>D1 - Net Estate under £5000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D1 - Net Estate under £5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D2_Net_Estate_over_5000_under_15_000</name>
        <choiceText>D2 - Net Estate over £5000 &amp; under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D2 - Net Estate over £5000 &amp; under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D3_Net_Estate_under_15_000</name>
        <choiceText>D3 - Net Estate under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D3 - Net Estate under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D4_Net_Estate_Under_15k_collection_only</name>
        <choiceText>D4 - Net Estate Under £15k - collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D4 - Net Estate Under £15k - collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_Net_Estate_less_than_5000_pre_Jan_2009</name>
        <choiceText>D - Net Estate less than £5000 (pre Jan 2009)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D - Net Estate less than £5000 (pre Jan 2009)</stringValue>
        </value>
    </choices>
    <choices>
        <name>F_Collect</name>
        <choiceText>F - Collect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F - Collect</stringValue>
        </value>
    </choices>
    <choices>
        <name>G_General</name>
        <choiceText>G - General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G - General</stringValue>
        </value>
    </choices>
    <choices>
        <name>L_Limitation_Period_Cases</name>
        <choiceText>L - Limitation Period Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L - Limitation Period Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_Costs_Case</name>
        <choiceText>M - Costs Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M - Costs Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>NE_Northern_Ireland</name>
        <choiceText>NE - Northern Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE - Northern Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_Estate_over_5000_pre_January</name>
        <choiceText>- Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>- Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ok</name>
        <choiceText>Ok</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ok</stringValue>
        </value>
    </choices>
    <choices>
        <name>P_Pre_1997_Case</name>
        <choiceText>P - Pre-1997 Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P - Pre-1997 Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q_Query</name>
        <choiceText>Q - Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q - Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_BV_Registry_queries</name>
        <choiceText>R - BV Registry queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R - BV Registry queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y_Kin_Claims</name>
        <choiceText>Y - Kin Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y - Kin Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>YA_Reopened_Other</name>
        <choiceText>YA - Reopened Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YA - Reopened Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Change_case_category_confirmation</name>
        <label>Change case category confirmation</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_you_want_to_change_the_case_category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_you_want_to_change_the_case_category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change case category flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change case category flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_BV_Case_Category</name>
        <label>Update BV Case Category</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>Select_a_case_type</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
    </recordUpdates>
    <screens>
        <name>Case_Category_Changed_To</name>
        <label>Case Category Changed To</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_BV_Case_Category</targetReference>
        </connector>
        <fields>
            <name>Case_category_changed_display_text</name>
            <fieldText>&lt;p&gt;Case category changed to {!Select_a_case_type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_a_new_case_type</targetReference>
        </connector>
        <fields>
            <name>Select_new_case_type</name>
            <choiceReferences>Ok</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select new case type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question</name>
        <label>Question</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_case_category_confirmation</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_change_the_case_category</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to change the case category?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_new_case_type</name>
        <label>Select a new case type</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Category_Changed_To</targetReference>
        </connector>
        <fields>
            <name>Select_a_case_type</name>
            <choiceReferences>R_BV_Registry_queries</choiceReferences>
            <choiceReferences>B_Freehold_Leasehold_Property</choiceReferences>
            <choiceReferences>C_Net_Estate_over_5000_pre_January</choiceReferences>
            <choiceReferences>D_Net_Estate_less_than_5000_pre_Jan_2009</choiceReferences>
            <choiceReferences>A_SRA_Intestate</choiceReferences>
            <choiceReferences>Q_Query</choiceReferences>
            <choiceReferences>G_General</choiceReferences>
            <choiceReferences>NE_Northern_Ireland</choiceReferences>
            <choiceReferences>Y_Kin_Claims</choiceReferences>
            <choiceReferences>F_Collect</choiceReferences>
            <choiceReferences>M_Costs_Case</choiceReferences>
            <choiceReferences>L_Limitation_Period_Cases</choiceReferences>
            <choiceReferences>D1_Net_Estate_under_5000</choiceReferences>
            <choiceReferences>D2_Net_Estate_over_5000_under_15_000</choiceReferences>
            <choiceReferences>C1_Freedom_of_Information_Request</choiceReferences>
            <choiceReferences>YA_Reopened_Other</choiceReferences>
            <choiceReferences>D3_Net_Estate_under_15_000</choiceReferences>
            <choiceReferences>P_Pre_1997_Case</choiceReferences>
            <choiceReferences>D4_Net_Estate_Under_15k_collection_only</choiceReferences>
            <choiceReferences>C2_Net_Estate_over_15_000_no_grant_required</choiceReferences>
            <choiceReferences>C4_Net_Estate_over_15_000_collection_only</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a case type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Question</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
