force-app/main/default/flows/Change_case_category_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_confirmAction</name>
        <label>Assign confirmAction</label>
        <locationX>864</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>confirmAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_sure_you_want_to_change_the_case_category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_case_category_confirmation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A_SRA_Intestate</name>
        <choiceText>A - SRA Intestate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A - SRA Intestate</stringValue>
        </value>
    </choices>
    <choices>
        <name>B1_Freehold_Leasehold_Property</name>
        <choiceText>B1 - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B1 - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>B_Freehold_Leasehold_Property</name>
        <choiceText>B - Freehold/Leasehold Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B - Freehold/Leasehold Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Freedom_of_Information_Request</name>
        <choiceText>C1 - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>C1_Net_Estate_over_15_000</name>
        <choiceText>C1 - Net Estate over £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C1 - Net Estate over £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>C2_Net_Estate_over_15_000_no_grant_required</name>
        <choiceText>C2 - Net Estate over £15,000 no grant required</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C2 - Net Estate over £15,000 no grant required</stringValue>
        </value>
    </choices>
    <choices>
        <name>C4_Net_Estate_over_15_000_collection_only</name>
        <choiceText>C4 - Net Estate over £15,000 collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C4 - Net Estate over £15,000 collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>C_Net_Estate_over_5000_pre_January</name>
        <choiceText>C - Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C - Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Company</name>
        <choiceText>Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>D1_Net_Estate_under_5000</name>
        <choiceText>D1 - Net Estate under £5000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D1 - Net Estate under £5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D2_Net_Estate_over_5000_under_15_000</name>
        <choiceText>D2 - Net Estate over £5000 &amp; under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D2 - Net Estate over £5000 &amp; under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D3_Net_Estate_under_15_000</name>
        <choiceText>D3 - Net Estate under £15,000</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D3 - Net Estate under £15,000</stringValue>
        </value>
    </choices>
    <choices>
        <name>D4_Net_Estate_Under_15k_collection_only</name>
        <choiceText>D4 - Net Estate Under £15k - collection only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D4 - Net Estate Under £15k - collection only</stringValue>
        </value>
    </choices>
    <choices>
        <name>D_Net_Estate_less_than_5000_pre_Jan_2009</name>
        <choiceText>D - Net Estate less than £5000 (pre Jan 2009)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>D - Net Estate less than £5000 (pre Jan 2009)</stringValue>
        </value>
    </choices>
    <choices>
        <name>E10_Admin_Restoration_Waivers</name>
        <choiceText>E10 - Admin Restoration Waivers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E10 - Admin Restoration Waivers</stringValue>
        </value>
    </choices>
    <choices>
        <name>E11_VAT_refund_of_admin_restoration_fee</name>
        <choiceText>E11 - VAT refund of admin restoration fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E11 - VAT refund of admin restoration fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>E1_Discretionary_Grants</name>
        <choiceText>E1 - Discretionary Grants</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E1 - Discretionary Grants</stringValue>
        </value>
    </choices>
    <choices>
        <name>E2_Intellectual_Property</name>
        <choiceText>E2 - Intellectual Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E2 - Intellectual Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3_Land_Charges_Mortgages_Shares</name>
        <choiceText>E3 - Land Charges / Mortgages / Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3 - Land Charges / Mortgages / Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3A_Mortgages_and_Charges</name>
        <choiceText>E3A - Mortgages and Charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3A - Mortgages and Charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3B_Other_Restrictions_on_Title</name>
        <choiceText>E3B - Other Restrictions on Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3B - Other Restrictions on Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3D_Quoted_Shares</name>
        <choiceText>E3D - Quoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3D - Quoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E3E_Unquoted_Shares</name>
        <choiceText>E3E - Unquoted Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E3E - Unquoted Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4_Freehold_Reversions</name>
        <choiceText>E4 - Freehold Reversions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4 - Freehold Reversions</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4A_Simple_Freehold_Reversion</name>
        <choiceText>E4A - Simple Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4A - Simple Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E4B_Complex_Freehold_Reversion</name>
        <choiceText>E4B - Complex Freehold Reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E4B - Complex Freehold Reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5_Other_Land</name>
        <choiceText>E5 - Other Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5 - Other Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5A_Simple_land</name>
        <choiceText>E5A - Simple land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5A - Simple land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5B_Complex_Land</name>
        <choiceText>E5B - Complex Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5B - Complex Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>E5C_Sale_by_Mortgagee_in_Possession</name>
        <choiceText>E5C - Sale by Mortgagee in Possession</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E5C - Sale by Mortgagee in Possession</stringValue>
        </value>
    </choices>
    <choices>
        <name>E6_Pension_Schemes</name>
        <choiceText>E6 - Pension Schemes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E6 - Pension Schemes</stringValue>
        </value>
    </choices>
    <choices>
        <name>E7_Miscellaneous</name>
        <choiceText>E7 - Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E7 - Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>E8_Domain_Name</name>
        <choiceText>E8 - Domain Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E8 - Domain Name</stringValue>
        </value>
    </choices>
    <choices>
        <name>E9_Disclaimer</name>
        <choiceText>E9 - Disclaimer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>E9 - Disclaimer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estate</name>
        <choiceText>Estate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estate</stringValue>
        </value>
    </choices>
    <choices>
        <name>F_Collect</name>
        <choiceText>F - Collect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>F - Collect</stringValue>
        </value>
    </choices>
    <choices>
        <name>G_General</name>
        <choiceText>G - General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>G - General</stringValue>
        </value>
    </choices>
    <choices>
        <name>H1_Restoration</name>
        <choiceText>H1 - Restoration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H1 - Restoration</stringValue>
        </value>
    </choices>
    <choices>
        <name>H2_Complex_Claims</name>
        <choiceText>H2 - Complex Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H2 - Complex Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>H3_Electronic_Bulk_Referral</name>
        <choiceText>H3 - Electronic Bulk Referral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H3 - Electronic Bulk Referral</stringValue>
        </value>
    </choices>
    <choices>
        <name>H_Bank_and_Other_Cash_Balances</name>
        <choiceText>H - Bank and Other Cash Balances</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>H - Bank and Other Cash Balances</stringValue>
        </value>
    </choices>
    <choices>
        <name>J_Freedom_of_Information_Request</name>
        <choiceText>J - Freedom of Information Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>J - Freedom of Information Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>L_Limitation_Period_Cases</name>
        <choiceText>L - Limitation Period Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L - Limitation Period Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>M_Costs_Case</name>
        <choiceText>M - Costs Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>M - Costs Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>NC_Northern_Ireland</name>
        <choiceText>NC - Northern Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NC - Northern Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>NE_Northern_Ireland</name>
        <choiceText>NE - Northern Ireland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NE - Northern Ireland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Net_Estate_over_5000_pre_January</name>
        <choiceText>- Net Estate over £5000 (pre January)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>- Net Estate over £5000 (pre January)</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ok</name>
        <choiceText>Ok</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ok</stringValue>
        </value>
    </choices>
    <choices>
        <name>P_Pre_1997_Case</name>
        <choiceText>P - Pre-1997 Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P - Pre-1997 Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q1_Initial_Enquiries</name>
        <choiceText>Q1 - Initial Enquiries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q1 - Initial Enquiries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q2_Pre_Admin_Enquiries</name>
        <choiceText>Q2 - Pre Admin Enquiries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q2 - Pre Admin Enquiries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Q_Query</name>
        <choiceText>Q - Query</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Q - Query</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_BV_Registry_queries</name>
        <choiceText>R - BV Registry queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>R - BV Registry queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>V_BV_Registry_Queries</name>
        <choiceText>V - BV Registry Queries</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>V - BV Registry Queries</stringValue>
        </value>
    </choices>
    <choices>
        <name>Y_Kin_Claims</name>
        <choiceText>Y - Kin Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y - Kin Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>YA_Reopened_Other</name>
        <choiceText>YA - Reopened Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YA - Reopened Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Category_selection_based_on_case_type</name>
        <label>Case Category selection based on case type</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_BV_Case_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ESTA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESTA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_a_new_case_type</targetReference>
            </connector>
            <label>ESTA</label>
        </rules>
        <rules>
            <name>COMP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Select_a_new_case_type</targetReference>
            </connector>
            <label>COMP</label>
        </rules>
        <rules>
            <name>CONV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Select_a_new_case_type</targetReference>
            </connector>
            <label>CONV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_case_category_confirmation</name>
        <label>Change case category confirmation</label>
        <locationX>864</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Category_selection_based_on_case_type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Select_a_case_type})),
    {!Select_a_case_type},
    IF(
        NOT(ISBLANK({!Select_a_case_type_comp})),
        {!Select_a_case_type_comp},
        IF(
            NOT(ISBLANK({!Select_a_case_type_conv})),
            {!Select_a_case_type_conv},
            &quot;&quot;
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Change case category flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change case category flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_history_record_for_case_category_changed</name>
        <label>Create a history record</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Update_BV_Case_Category</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Case category changed from {!originalCaseCategory} to {!Select_a_case_type}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_BV_Case_Category</name>
        <label>Get BV Case Category</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_history_record_for_case_category_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>originalCaseCategory</assignToReference>
            <field>Case_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_BV_Case_Category</name>
        <label>Update BV Case Category</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Case_Category_Changed_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <elementReference>caseTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
    </recordUpdates>
    <screens>
        <name>Case_Category_Changed_To</name>
        <label>Case Category Changed To</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_category_changed_display_text</name>
            <fieldText>&lt;p&gt;Case category changed to {!Select_a_case_type}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Select_a_new_case_type</name>
        <label>Select a new case type</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_BV_Case_Category</targetReference>
        </connector>
        <fields>
            <name>Select_a_case_type_comp</name>
            <choiceReferences>E1_Discretionary_Grants</choiceReferences>
            <choiceReferences>E2_Intellectual_Property</choiceReferences>
            <choiceReferences>E3_Land_Charges_Mortgages_Shares</choiceReferences>
            <choiceReferences>E3A_Mortgages_and_Charges</choiceReferences>
            <choiceReferences>E3B_Other_Restrictions_on_Title</choiceReferences>
            <choiceReferences>E3D_Quoted_Shares</choiceReferences>
            <choiceReferences>E3E_Unquoted_Shares</choiceReferences>
            <choiceReferences>E4_Freehold_Reversions</choiceReferences>
            <choiceReferences>E4A_Simple_Freehold_Reversion</choiceReferences>
            <choiceReferences>E4B_Complex_Freehold_Reversion</choiceReferences>
            <choiceReferences>E5_Other_Land</choiceReferences>
            <choiceReferences>E5A_Simple_land</choiceReferences>
            <choiceReferences>E5B_Complex_Land</choiceReferences>
            <choiceReferences>E5C_Sale_by_Mortgagee_in_Possession</choiceReferences>
            <choiceReferences>E6_Pension_Schemes</choiceReferences>
            <choiceReferences>E7_Miscellaneous</choiceReferences>
            <choiceReferences>E8_Domain_Name</choiceReferences>
            <choiceReferences>E9_Disclaimer</choiceReferences>
            <choiceReferences>E10_Admin_Restoration_Waivers</choiceReferences>
            <choiceReferences>E11_VAT_refund_of_admin_restoration_fee</choiceReferences>
            <choiceReferences>G_General</choiceReferences>
            <choiceReferences>H_Bank_and_Other_Cash_Balances</choiceReferences>
            <choiceReferences>H1_Restoration</choiceReferences>
            <choiceReferences>H2_Complex_Claims</choiceReferences>
            <choiceReferences>H3_Electronic_Bulk_Referral</choiceReferences>
            <choiceReferences>NC_Northern_Ireland</choiceReferences>
            <choiceReferences>V_BV_Registry_Queries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a case type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Select_a_new_case_type</name>
        <label>Select a new case type</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_BV_Case_Category</targetReference>
        </connector>
        <fields>
            <name>Select_a_case_type_conv</name>
            <choiceReferences>Estate</choiceReferences>
            <choiceReferences>Company</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a case type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question</name>
        <label>Question</label>
        <locationX>864</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_confirmAction</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_change_the_case_category</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure you want to change the case category?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_new_case_type</name>
        <label>Select a new case type</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_BV_Case_Category</targetReference>
        </connector>
        <fields>
            <name>Select_a_case_type</name>
            <choiceReferences>A_SRA_Intestate</choiceReferences>
            <choiceReferences>B_Freehold_Leasehold_Property</choiceReferences>
            <choiceReferences>B1_Freehold_Leasehold_Property</choiceReferences>
            <choiceReferences>C_Net_Estate_over_5000_pre_January</choiceReferences>
            <choiceReferences>C1_Net_Estate_over_15_000</choiceReferences>
            <choiceReferences>C2_Net_Estate_over_15_000_no_grant_required</choiceReferences>
            <choiceReferences>C4_Net_Estate_over_15_000_collection_only</choiceReferences>
            <choiceReferences>D_Net_Estate_less_than_5000_pre_Jan_2009</choiceReferences>
            <choiceReferences>D1_Net_Estate_under_5000</choiceReferences>
            <choiceReferences>D2_Net_Estate_over_5000_under_15_000</choiceReferences>
            <choiceReferences>D3_Net_Estate_under_15_000</choiceReferences>
            <choiceReferences>D4_Net_Estate_Under_15k_collection_only</choiceReferences>
            <choiceReferences>F_Collect</choiceReferences>
            <choiceReferences>G_General</choiceReferences>
            <choiceReferences>J_Freedom_of_Information_Request</choiceReferences>
            <choiceReferences>L_Limitation_Period_Cases</choiceReferences>
            <choiceReferences>M_Costs_Case</choiceReferences>
            <choiceReferences>NE_Northern_Ireland</choiceReferences>
            <choiceReferences>P_Pre_1997_Case</choiceReferences>
            <choiceReferences>Q_Query</choiceReferences>
            <choiceReferences>Q1_Initial_Enquiries</choiceReferences>
            <choiceReferences>Q2_Pre_Admin_Enquiries</choiceReferences>
            <choiceReferences>R_BV_Registry_queries</choiceReferences>
            <choiceReferences>Y_Kin_Claims</choiceReferences>
            <choiceReferences>YA_Reopened_Other</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Q_Query</defaultSelectedChoiceReference>
            <fieldText>Select a case type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Question</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>confirmAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>originalCaseCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
