force-app/main/default/flows/Chase_purchaser_letter_No_2_CHA02.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Informant</name>
        <choiceText>Informant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informant</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Addressee</name>
        <choiceText>Other Addressee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Addressee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Please_choose_addressee2</name>
        <label>&apos;Please choose addressee&apos;</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Enter_date_of_last_letter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Informant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Informant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_of_last_letter</targetReference>
            </connector>
            <label>Selected Informant</label>
        </rules>
        <rules>
            <name>Selected_Other_Addressee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Addressee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_address_or_list_and_select_as_required</targetReference>
            </connector>
            <label>Selected Other Addressee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Chase purchaser letter No.2 (CHA02) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chase purchaser letter No.2 (CHA02)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_required</name>
        <label>Add address or list and select as required</label>
        <locationX>132</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Addresses</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_disclaimer_warning</name>
        <label>Add disclaimer warning?</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Add_disclaimer_warning1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add disclaimer warning?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_last_letter</name>
        <label>Enter date of last letter</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_disclaimer_warning</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_last_letter1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of last letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Addresses</name>
        <label>Other Addresses</label>
        <locationX>132</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_last_letter</targetReference>
        </connector>
        <fields>
            <name>Other_Addresses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Addresses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD01</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OAD09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_choose_addressee</name>
        <label>Please choose addressee</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_choose_addressee2</targetReference>
        </connector>
        <fields>
            <name>Please_choose_addressee1</name>
            <choiceReferences>Informant</choiceReferences>
            <choiceReferences>Other_Addressee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose addressee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_choose_addressee</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
