force-app/main/default/flows/Complation_statement_G1_case_DOCSEAL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_any_DV_fees2</name>
        <label>Are there any DV fees</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_DV_fees1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_DV_fees_inclusive_of_VAT</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>SelectedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_DV_fees1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Purchase_monies_and_costs_etc_outstanding2</name>
        <label>Purchase monies and costs etc outstanding?</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Purchase_monies_and_costs_etc_outstanding1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_total_payment_required</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Purchase_monies_and_costs_etc_outstanding1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Complation statement - G1 case (DOCSEAL) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complation statement - G1 case (DOCSEAL)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Are_there_any_DV_fees</name>
        <label>Are there any DV fees</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_DV_fees2</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_DV_fees1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any DV fees</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_costs_and_disbursements</name>
        <label>Confirm costs and disbursements</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Costs</targetReference>
        </connector>
        <fields>
            <name>Confirm_costs_and_disbursements1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm costs and disbursements</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Solicitors_reference</name>
        <label>Confirm Solicitors reference</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Purchaser_s_Solicitors</targetReference>
        </connector>
        <fields>
            <name>Confirm_Solicitors_reference1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm Solicitors reference</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Costs</name>
        <label>Costs</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_DV_fees</targetReference>
        </connector>
        <fields>
            <name>Costs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Costs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CVS05</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total Conveyancing costs £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Costs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CVS06</name>
                    <dataType>Currency</dataType>
                    <fieldText>VAT £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Costs_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CVS08</name>
                    <dataType>Number</dataType>
                    <fieldText>Disburstments</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_we_have_Transfer_in_duplicate</name>
        <label>‘Do we have Transfer in duplicate</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Purchase_monies_and_costs_etc_outstanding</targetReference>
        </connector>
        <fields>
            <name>Do_we_have_Transfer_in_duplicate1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>‘Do we have Transfer in duplicate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_letter_received</name>
        <label>Enter date of letter received</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_we_have_Transfer_in_duplicate</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_letter_received1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_DV_fees_inclusive_of_VAT</name>
        <label>Enter DV fees inclusive of VAT £</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Enter_DV_fees_inclusive_of_VAT1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter DV fees inclusive of VAT £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_total_payment_required</name>
        <label>Enter total payment required £</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sale_Property</targetReference>
        </connector>
        <fields>
            <name>Enter_total_payment_required1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total payment required £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchase_monies_and_costs_etc_outstanding</name>
        <label>Purchase monies and costs etc outstanding?</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Purchase_monies_and_costs_etc_outstanding2</targetReference>
        </connector>
        <fields>
            <name>Purchase_monies_and_costs_etc_outstanding1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purchase monies and costs etc outstanding?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchaser_s_Solicitors</name>
        <label>Purchaser&apos;s Solicitors</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_letter_received</targetReference>
        </connector>
        <fields>
            <name>Purchaser_s_Solicitors_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Purchaser_s_Solicitors_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SOL09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sale_Property</name>
        <label>Sale Property</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_costs_and_disbursements</targetReference>
        </connector>
        <fields>
            <name>Sale_Property_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Property_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PRS10</name>
                    <dataType>String</dataType>
                    <fieldText>Sale Price: £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Solicitors_reference</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
