force-app/main/default/flows/Conference_Attendance_Note_COUNSEL2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_field_values</name>
        <label>Store field values</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>nameOfParties_LONG: {!Insert_names_of_the_parties_present_at_conference1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dateOfConference: {!Insert_date_of_the_conference1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>conferenceAgreed_LONG: {!Insert_details_of_any_actions_agreed1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>conferenceAgenda_LONG: {!Insert_details_of_the_conference_agenda1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>conferenceConclusions_LONG: {!Insert_details_of_any_conclusions_reached1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>caseReference: {!caseReference};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>currentOfficer: {!currentOfficer};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EST02: {!EST02};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_history_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Conference Attendance Note (COUNSEL2) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conference Attendance Note (COUNSEL2)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Counsel Attendance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_case_details</name>
        <label>Get case details</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_case_details_case_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>EST02</assignToReference>
            <field>Forenames__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseReference</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_case_details_case_details</name>
        <label>Get case details (case details)</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_field_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>currentOfficer</assignToReference>
            <field>Current_Officer__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Insert_date_of_the_conference</name>
        <label>Insert date of the conference</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_details_of_the_conference_agenda</targetReference>
        </connector>
        <fields>
            <name>Insert_date_of_the_conference1</name>
            <dataType>Date</dataType>
            <fieldText>Insert date of the conference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_details_of_any_actions_agreed</name>
        <label>Insert details of any actions agreed</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_details_of_any_conclusions_reached</targetReference>
        </connector>
        <fields>
            <name>Insert_details_of_any_actions_agreed1</name>
            <fieldText>Insert details of any actions agreed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_details_of_any_conclusions_reached</name>
        <label>Insert details of any conclusions reached</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_case_details</targetReference>
        </connector>
        <fields>
            <name>Insert_details_of_any_conclusions_reached1</name>
            <fieldText>Insert details of any conclusions reached</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_details_of_the_conference_agenda</name>
        <label>Insert details of the conference agenda</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_details_of_any_actions_agreed</targetReference>
        </connector>
        <fields>
            <name>Insert_details_of_the_conference_agenda1</name>
            <fieldText>Insert details of the conference agenda</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_names_of_the_parties_present_at_conference</name>
        <label>Insert names of the parties present at conference</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_date_of_the_conference</targetReference>
        </connector>
        <fields>
            <name>Insert_names_of_the_parties_present_at_conference1</name>
            <fieldText>Insert names of the parties present at conference</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_names_of_the_parties_present_at_conference</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EST02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedFieldValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
