force-app/main/default/flows/De_bonis_non_grant_application_subject_interstate_DEBON_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Subject_died_in_same_locality_as_last_residence3</name>
        <label>Subject died in same locality as last residence?</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Enter_marital_status_of_subject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subject_died_in_same_locality_as_last_residence1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_of_death_of_subject</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subject_died_in_same_locality_as_last_residence1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_date_of_death_of_subject</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>De bonis non grant application - subject interstate (DEBON.1) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>De bonis non grant application - subject interstate (DEBON.1)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_Enter_date_of_death_of_subject</name>
        <label>Copy 1 of Enter date of death of subject</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_full_address_of_place_of_death_of_subject3</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_date_of_death_of_subject1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of death of subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_death_of_subject</name>
        <label>Enter date of death of subject</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_marital_status_of_subject</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_death_of_subject1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of death of subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_grant</name>
        <label>Enter date of grant</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_value_and_details_of_uncollected_assets_of_the_estate_of_the_subject</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_grant1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_full_address_of_place_of_death_of_subject3</name>
        <label>Enter full address of place of death of subject</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_marital_status_of_subject</targetReference>
        </connector>
        <fields>
            <name>Enterfulladdressofplaceofdeathofsubject</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Enter full address of place of death of subject</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_last_residence_of_subject</name>
        <label>Enter last residence of subject</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Subject_died_in_same_locality_as_last_residence</targetReference>
        </connector>
        <fields>
            <name>Enter_last_residence_of_subject1</name>
            <dataType>String</dataType>
            <fieldText>Enter last residence of subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_marital_status_of_subject</name>
        <label>Enter marital status of subject</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Gender_of_subject</targetReference>
        </connector>
        <fields>
            <name>Enter_marital_status_of_subject1</name>
            <dataType>String</dataType>
            <fieldText>Enter marital status of subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Name_Of_Subject_In_Whose_Estate_Our_Deceased_Has_An_Interest</name>
        <label>Enter Name Of Subject In Whose Estate Our Deceased Has An Interest</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_note_in_the_following_questions_that_SUBJECT_means_the_person_to_whose_es</targetReference>
        </connector>
        <fields>
            <name>Enter_Name_Of_Subject_In_Whose_Estate_Our_Deceased_Has_An_Interest1</name>
            <dataType>String</dataType>
            <fieldText>Enter Name Of Subject In Whose Estate Our Deceased Has An Interest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_nature_whole_or_half_blood_of_relationship_of_our_deceased_to_subject</name>
        <label>Enter nature, whole or half blood, of relationship of our deceased to subject</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Probate_Registry_from_where_our_deceased_obtained_grant</targetReference>
        </connector>
        <fields>
            <name>Enter_nature_whole_or_half_blood_of_relationship_of_our_deceased_to_subject1</name>
            <dataType>String</dataType>
            <fieldText>Enter nature, whole or half blood, of relationship of our deceased to subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Probate_Registry_from_where_our_deceased_obtained_grant</name>
        <label>Enter Probate Registry from where our deceased obtained grant</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_grant</targetReference>
        </connector>
        <fields>
            <name>Enter_Probate_Registry_from_where_our_deceased_obtained_grant1</name>
            <dataType>String</dataType>
            <fieldText>Enter Probate Registry from where our deceased obtained grant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_value_and_details_of_uncollected_assets_of_the_estate_of_the_subject</name>
        <label>Enter value and details of uncollected assets of the estate of the subject</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>nter_net_value_of_the_estate_of_the_subject_rounded_up_to_the_nearest_whole_thou</targetReference>
        </connector>
        <fields>
            <name>Enter_value_and_details_of_uncollected_assets_of_the_estate_of_the_subject1</name>
            <fieldText>Enter value and details of uncollected assets of the estate of the subject</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gender_of_subject</name>
        <label>Gender of subject?</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_nature_whole_or_half_blood_of_relationship_of_our_deceased_to_subject</targetReference>
        </connector>
        <fields>
            <name>Gender_of_subject1</name>
            <choiceReferences>Male</choiceReferences>
            <choiceReferences>Female</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender of subject?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_many_sealed_copies_do_you_want</name>
        <label>How many sealed copies do you want?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Name_Of_Subject_In_Whose_Estate_Our_Deceased_Has_An_Interest</targetReference>
        </connector>
        <fields>
            <name>How_many_sealed_copies_do_you_want1</name>
            <dataType>Number</dataType>
            <fieldText>How many sealed copies do you want?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_an_IHT205_required</name>
        <label>Is_an_IHT205_required?</label>
        <locationX>314</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Is_an_IHT205_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is_an_IHT205_required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>nter_net_value_of_the_estate_of_the_subject_rounded_up_to_the_nearest_whole_thou</name>
        <label>Enter net value of the estate of the subject rounded up to the nearest whole thousand pounds</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_an_IHT205_required</targetReference>
        </connector>
        <fields>
            <name>nter_net_value_of_the_estate_of_the_subject</name>
            <dataType>Currency</dataType>
            <fieldText>Enter net value of the estate of the subject rounded up to the nearest whole thousand pounds</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_enter_your_full_name</name>
        <label>Please enter your full name</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_last_residence_of_subject</targetReference>
        </connector>
        <fields>
            <name>Please_enter_your_full_name1</name>
            <dataType>String</dataType>
            <fieldText>Please enter your full name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_note_in_the_following_questions_that_SUBJECT_means_the_person_to_whose_es</name>
        <label>Please note in the following questions that SUBJECT means the person to whose estate you are applying for a de bonis non grant and that OUR DECEASED refers to the estate to which we have already obtained a grant.</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_enter_your_full_name</targetReference>
        </connector>
        <fields>
            <name>Please_note</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please note in the following questions that SUBJECT means the person to whose estate you are applying for a de bonis non grant and that OUR DECEASED refers to the estate to which we have already obtained a grant.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Subject_died_in_same_locality_as_last_residence</name>
        <label>Subject died in same locality as last residence?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Subject_died_in_same_locality_as_last_residence3</targetReference>
        </connector>
        <fields>
            <name>Subject_died_in_same_locality_as_last_residence1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subject died in same locality as last residence?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_many_sealed_copies_do_you_want</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
