force-app/main/default/flows/Delete_tasks_when_a_case_is_deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Delete tasks when a case is deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete tasks when a case is deleted</label>
    <loops>
        <name>Loop_main_tasks</name>
        <label>Loop main tasks</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <collectionReference>Get_main_tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fetch_sub_tasks_if_any</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_related_main_task_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_subtasks</name>
        <label>Loop subtasks</label>
        <locationX>352</locationX>
        <locationY>611</locationY>
        <collectionReference>Fetch_sub_tasks_if_any</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_sub_tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_main_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_related_main_task_records</name>
        <label>Delete related main task records</label>
        <locationX>176</locationX>
        <locationY>995</locationY>
        <inputReference>Get_main_tasks</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_sub_tasks</name>
        <label>Delete sub tasks</label>
        <locationX>440</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Loop_subtasks</targetReference>
        </connector>
        <inputReference>Loop_subtasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Fetch_sub_tasks_if_any</name>
        <label>Fetch sub tasks if any</label>
        <locationX>352</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_subtasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_main_tasks.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BV_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_main_tasks</name>
        <label>Get main tasks</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_main_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case_Lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BV_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_main_tasks</targetReference>
        </connector>
        <object>BV_Case__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
