force-app/main/default/flows/Enquiry_letter_to_director_shareholder_liquidator_ENQ02.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Director</name>
        <choiceText>Director</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Director</stringValue>
        </value>
    </choices>
    <choices>
        <name>Liquidator</name>
        <choiceText>Liquidator</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Liquidator</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shareholder</name>
        <choiceText>Shareholder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shareholder</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Please_choose_addressee2</name>
        <label>Please choose addressee</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Please_enter_salutation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Director</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Director</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shareholder_Director</targetReference>
            </connector>
            <label>Selected Director</label>
        </rules>
        <rules>
            <name>Selected_Shareholder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shareholder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Shareholder_Director</targetReference>
            </connector>
            <label>Selected Shareholder</label>
        </rules>
        <rules>
            <name>Selected_Liquidator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Liquidator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Liquidator1</targetReference>
            </connector>
            <label>Selected Liquidator</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Enquiry letter to director shareholder liquidator (ENQ02) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enquiry letter to director shareholder liquidator (ENQ02)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_Enter_their_ref</name>
        <label>Copy 1 of Enter their ref</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_enter_salutation</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_their_ref1</name>
            <dataType>String</dataType>
            <fieldText>Enter their ref</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Shareholder_Director</name>
        <label>Copy 1 of Shareholder / Director</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_their_ref</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Shareholder_Director_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Shareholder_Director_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_SHH01</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_their_ref</name>
        <label>Enter their ref</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_enter_salutation</targetReference>
        </connector>
        <fields>
            <name>Enter_their_ref1</name>
            <dataType>String</dataType>
            <fieldText>Enter their ref</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liquidator1</name>
        <label>Liquidator</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_enter_salutation</targetReference>
        </connector>
        <fields>
            <name>Liquidator1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Liquidator1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LIQ01</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Liquidator1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LIQ11</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_choose_addressee</name>
        <label>Please choose addressee</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_choose_addressee2</targetReference>
        </connector>
        <fields>
            <name>Please_choose_addressee1</name>
            <choiceReferences>Director</choiceReferences>
            <choiceReferences>Shareholder</choiceReferences>
            <choiceReferences>Liquidator</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose addressee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_enter_salutation</name>
        <label>Please enter salutation</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Please_enter_salutation1</name>
            <dataType>String</dataType>
            <fieldText>Please enter salutation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shareholder_Director</name>
        <label>Shareholder / Director</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_their_ref</targetReference>
        </connector>
        <fields>
            <name>Shareholder_Director_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shareholder_Director_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SHH01</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_choose_addressee</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
