force-app/main/default/flows/Estates_Account_Auto_BACS_EAB02.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Claimant</name>
        <choiceText>Claimant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claimant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genealogist</name>
        <choiceText>Genealogist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genealogist</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_interest_payable2</name>
        <label>Is interest payable?</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_interest_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_from_which_interest_is_payable</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_interest_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select2</name>
        <label>Select</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Is_interest_payable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Claimant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claimant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claimant3</targetReference>
            </connector>
            <label>Selected Claimant</label>
        </rules>
        <rules>
            <name>Selected_Genealogist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Genealogist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Genealogist3</targetReference>
            </connector>
            <label>Selected Genealogist</label>
        </rules>
        <rules>
            <name>Selected_Solicitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Solicitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Solicitor3</targetReference>
            </connector>
            <label>Selected Solicitor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Estates Account Auto BACS (EAB02) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Estates Account Auto BACS (EAB02)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Claimant3</name>
        <label>Claimant</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_interest_payable</targetReference>
        </connector>
        <fields>
            <name>Claimant3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN01</name>
                    <dataType>String</dataType>
                    <fieldText>Surname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Claimant3_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN02</name>
                    <dataType>String</dataType>
                    <fieldText>Fornames</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>KIN04</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_from_which_interest_is_payable</name>
        <label>‘Enter date from which interest is payable.</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Enter_date_from_which_interest_is_payable1</name>
            <dataType>Date</dataType>
            <fieldText>‘Enter date from which interest is payable.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Genealogist3</name>
        <label>Genealogist</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_interest_payable</targetReference>
        </connector>
        <fields>
            <name>Genealogist3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Genealogist3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN11</name>
                    <dataType>String</dataType>
                    <fieldText>Genealogist</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>KIN12</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_interest_payable</name>
        <label>Is interest payable?</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_interest_payable2</targetReference>
        </connector>
        <fields>
            <name>Is_interest_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is interest payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select</name>
        <label>Select</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select2</targetReference>
        </connector>
        <fields>
            <name>Select1</name>
            <choiceReferences>Claimant</choiceReferences>
            <choiceReferences>Genealogist</choiceReferences>
            <choiceReferences>Solicitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Solicitor3</name>
        <label>Solicitor</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_interest_payable</targetReference>
        </connector>
        <fields>
            <name>KSO01</name>
            <dataType>String</dataType>
            <fieldText>Claimant&apos;s Solicitor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>KSO02</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
