force-app/main/default/flows/Generate_a_document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>setValuesForDocGen</name>
        <label>Set valuesForDocGen</label>
        <locationX>1326</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>valuesForDocGen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_subflow_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Document_Type_to_Generate</name>
        <label>Document Type to Generate</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_subflow_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SEALDOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEALDOC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Sealing_Minute_SEALDOC_Flow</targetReference>
            </connector>
            <label>SEALDOC</label>
        </rules>
        <rules>
            <name>COUNSEL1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COUNSEL1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instructions_to_council_COUNSEL1</targetReference>
            </connector>
            <label>COUNSEL1</label>
        </rules>
        <rules>
            <name>COUNSEL2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COUNSEL2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conference_Attendance_Note_COUNSEL2</targetReference>
            </connector>
            <label>COUNSEL2</label>
        </rules>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blank</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_document_BLANK</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
        <rules>
            <name>minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>minute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minute_Minute</targetReference>
            </connector>
            <label>minute</label>
        </rules>
        <rules>
            <name>Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_request_to_BV_Finance_Pay</targetReference>
            </connector>
            <label>Pay</label>
        </rules>
        <rules>
            <name>PROB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Letter_to_probate_registry_re_missing_off_copies_PROB</targetReference>
            </connector>
            <label>PROB</label>
        </rules>
        <rules>
            <name>telnote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>telnote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telephone_Note_telnote</targetReference>
            </connector>
            <label>telnote</label>
        </rules>
        <rules>
            <name>FOLLOW_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FOLLOW.1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Following_on_grant_subject_interstate_FOLLOW_1</targetReference>
            </connector>
            <label>FOLLOW.1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate a document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate a document</label>
    <loops>
        <name>Loop_subflow_values</name>
        <label>Loop subflow values</label>
        <locationX>1238</locationX>
        <locationY>542</locationY>
        <collectionReference>subflowValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setValuesForDocGen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generated_document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Generate_a_document</name>
        <label>Select a document to generate</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Document_Type_to_Generate</targetReference>
        </connector>
        <fields>
            <name>Generate_a_document_flow_LWC</name>
            <extensionName>c:generateDocumentFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedDocumentId</name>
                <value>
                    <elementReference>selectedDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedDocumentType</name>
                <value>
                    <elementReference>selectedDocumentType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generated_document</name>
        <label>Generated document</label>
        <locationX>1238</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_generated_document</targetReference>
        </connector>
        <fields>
            <name>Apryse_Generate_Document_Modal</name>
            <extensionName>c:pdftronWvInstanceFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedDocumentId</name>
                <value>
                    <elementReference>Generate_a_document_flow_LWC.selectedDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowData</name>
                <value>
                    <elementReference>valuesForDocGen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>historyRecordId</name>
                <value>
                    <elementReference>historyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_generated_document</name>
        <label>Open generated document</label>
        <locationX>1238</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>opengenerateddocumentlwc</name>
            <extensionName>c:generateOpenDocumentFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>documentUrl</name>
                <value>
                    <elementReference>Apryse_Generate_Document_Modal.serverRelativeUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_a_document</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Blank_document_BLANK</name>
        <label>Blank document (BLANK)</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Blank_document_BLANK</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Conference_Attendance_Note_COUNSEL2</name>
        <label>Conference Attendance Note (COUNSEL2)</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Conference_Attendance_Note_COUNSEL2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Document_Sealing_Minute_SEALDOC_Flow</name>
        <label>Document Sealing Minute (SEALDOC)</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Document_Sealing_Minute_SEALDOC</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Following_on_grant_subject_interstate_FOLLOW_1</name>
        <label>Following on grant - subject interstate (FOLLOW.1)</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Following_on_grant_subject_interstate_FOLLOW_1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Instructions_to_council_COUNSEL1</name>
        <label>Instructions to council (COUNSEL1)</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Instructions_to_council_COUNSEL1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Letter_to_probate_registry_re_missing_off_copies_PROB</name>
        <label>Letter to probate registry re: missing off. copies (PROB)</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Letter_to_probate_registry_re_missing_off_copies_PROB</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Minute_Minute</name>
        <label>Minute (Minute)</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Minute_Minute</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Payment_request_to_BV_Finance_Pay</name>
        <label>Payment request to BV Finance (Pay)</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Payment_request_to_BV_Finance_PAY</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Telephone_Note_telnote</name>
        <label>Telephone Note (telnote)</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Telephone_note_TELNOTE</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serverRelativeURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>subflowValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>valuesForDocGen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
