force-app/main/default/flows/Generate_a_document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>setValuesForDocGen</name>
        <label>Set valuesForDocGen</label>
        <locationX>3174</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>valuesForDocGen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_subflow_values</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Document_Type_to_Generate</name>
        <label>Document Type to Generate</label>
        <locationX>3086</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Loop_subflow_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SEALDOC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEALDOC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Sealing_Minute_SEALDOC_Flow</targetReference>
            </connector>
            <label>SEALDOC</label>
        </rules>
        <rules>
            <name>COUNSEL1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COUNSEL1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instructions_to_council_COUNSEL1</targetReference>
            </connector>
            <label>COUNSEL1</label>
        </rules>
        <rules>
            <name>COUNSEL2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COUNSEL2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conference_Attendance_Note_COUNSEL2</targetReference>
            </connector>
            <label>COUNSEL2</label>
        </rules>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blank</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_document_BLANK</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
        <rules>
            <name>minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>minute</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minute_Minute</targetReference>
            </connector>
            <label>minute</label>
        </rules>
        <rules>
            <name>Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_request_to_BV_Finance_Pay</targetReference>
            </connector>
            <label>Pay</label>
        </rules>
        <rules>
            <name>PROB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Letter_to_probate_registry_re_missing_off_copies_PROB</targetReference>
            </connector>
            <label>PROB</label>
        </rules>
        <rules>
            <name>telnote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>telnote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Telephone_Note_telnote</targetReference>
            </connector>
            <label>telnote</label>
        </rules>
        <rules>
            <name>FOLLOW_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FOLLOW.1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Following_on_grant_subject_interstate_FOLLOW_1</targetReference>
            </connector>
            <label>FOLLOW.1</label>
        </rules>
        <rules>
            <name>LMREV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LMREV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LM_Review_Flow_LMREV</targetReference>
            </connector>
            <label>LMREV</label>
        </rules>
        <rules>
            <name>withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>withdraw</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Letter_to_probate_registry_withdrawing_grant_application_withdraw</targetReference>
            </connector>
            <label>withdraw</label>
        </rules>
        <rules>
            <name>Search</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Search</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calendar_search_Search</targetReference>
            </connector>
            <label>Search</label>
        </rules>
        <rules>
            <name>FOLLOW_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FOLLOW.2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Following_on_grant_subject_testate_FOLLOW_2</targetReference>
            </connector>
            <label>FOLLOW.2</label>
        </rules>
        <rules>
            <name>ACRKIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACRKIN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Balance_due_to_kin_Accruals_Note_ACRKIN</targetReference>
            </connector>
            <label>ACRKIN</label>
        </rules>
        <rules>
            <name>ACRKIN2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACRKIN2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Balance_due_to_kin_Accruals_No_VAT_ACRKIN2</targetReference>
            </connector>
            <label>ACRKIN2</label>
        </rules>
        <rules>
            <name>ACCOUNT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_to_BV_Finance_for_Estates_account_Account</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>DEBON_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DEBON.1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>De_bonis_non_grant_application_subject_interstate_DEBON_1</targetReference>
            </connector>
            <label>DEBON.1</label>
        </rules>
        <rules>
            <name>Caveat1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Caveat1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Letter_to_probate_registry_withdrawing_caveat_Caveat1</targetReference>
            </connector>
            <label>Caveat1</label>
        </rules>
        <rules>
            <name>FIN02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIN02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recover_liability_from_Crown_s_Nominee_account_FIN02</targetReference>
            </connector>
            <label>FIN02</label>
        </rules>
        <rules>
            <name>PPORT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PPORT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Letter_to_passport_office_returning_passports_PPORT</targetReference>
            </connector>
            <label>PPORT</label>
        </rules>
        <rules>
            <name>ACCEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accruals_Estates_Acct_Interest_Calc_ACCEA</targetReference>
            </connector>
            <label>ACCEA</label>
        </rules>
        <rules>
            <name>REV1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REV1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_review_record_sheet_REV1</targetReference>
            </connector>
            <label>REV1</label>
        </rules>
        <rules>
            <name>BV5A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_a_document_flow_LWC.selectedDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BV5A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Hospital_Hospice_re_kin_will_etc_BV5A</targetReference>
            </connector>
            <label>BV5A</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate a document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate a document</label>
    <loops>
        <name>Loop_subflow_values</name>
        <label>Loop subflow values</label>
        <locationX>3086</locationX>
        <locationY>542</locationY>
        <collectionReference>subflowValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setValuesForDocGen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generated_document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Generate_a_document</name>
        <label>Select a document to generate</label>
        <locationX>3086</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Document_Type_to_Generate</targetReference>
        </connector>
        <fields>
            <name>Generate_a_document_flow_LWC</name>
            <extensionName>c:generateDocumentFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedDocumentId</name>
                <value>
                    <elementReference>selectedDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedDocumentType</name>
                <value>
                    <elementReference>selectedDocumentType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generated_document</name>
        <label>Generated document</label>
        <locationX>3086</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_generated_document</targetReference>
        </connector>
        <fields>
            <name>Apryse_Generate_Document_Modal</name>
            <extensionName>c:pdftronWvInstanceFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedDocumentId</name>
                <value>
                    <elementReference>Generate_a_document_flow_LWC.selectedDocumentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowData</name>
                <value>
                    <elementReference>valuesForDocGen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>historyRecordId</name>
                <value>
                    <elementReference>historyRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>taskId</name>
                <value>
                    <elementReference>taskId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_generated_document</name>
        <label>Open generated document</label>
        <locationX>3086</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>opengenerateddocumentlwc</name>
            <extensionName>c:generateOpenDocumentFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>documentUrl</name>
                <value>
                    <elementReference>Apryse_Generate_Document_Modal.serverRelativeUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2960</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_a_document</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accruals_Estates_Acct_Interest_Calc_ACCEA</name>
        <label>Accruals - Estates Acct &amp; Interest Calc (ACCEA)</label>
        <locationX>5330</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Accruals_Estates_Acct_Interest_Calc_ACCEA</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Balance_due_to_kin_Accruals_No_VAT_ACRKIN2</name>
        <label>Balance due to kin - Accruals No VAT (ACRKIN2)</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Balance_due_to_kin_Accruals_No_VAT_ACRKIN2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Balance_due_to_kin_Accruals_Note_ACRKIN</name>
        <label>Balance due to kin - Accruals Note (ACRKIN)</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Balance_due_to_kin_Accruals_Note_ACRKIN</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Blank_document_BLANK</name>
        <label>Blank document (BLANK)</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Blank_document_BLANK</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calendar_search_Search</name>
        <label>Calendar search (Search)</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Calendar_search_SEARCH</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Case_review_record_sheet_REV1</name>
        <label>Case review record sheet (REV1)</label>
        <locationX>5594</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Case_review_record_sheet_REV1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Conference_Attendance_Note_COUNSEL2</name>
        <label>Conference Attendance Note (COUNSEL2)</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Conference_Attendance_Note_COUNSEL2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>De_bonis_non_grant_application_subject_interstate_DEBON_1</name>
        <label>De bonis non grant application - subject interstate (DEBON.1)</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>De_bonis_non_grant_application_subject_interstate_DEBON_1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Document_Sealing_Minute_SEALDOC_Flow</name>
        <label>Document Sealing Minute (SEALDOC)</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Document_Sealing_Minute_SEALDOC</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Following_on_grant_subject_interstate_FOLLOW_1</name>
        <label>Following on grant - subject interstate (FOLLOW.1)</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Following_on_grant_subject_interstate_FOLLOW_1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Following_on_grant_subject_testate_FOLLOW_2</name>
        <label>Following on grant - subject testate (FOLLOW.2)</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Following_on_grant_subject_testate_FOLLOW_2</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Instructions_to_council_COUNSEL1</name>
        <label>Instructions to council (COUNSEL1)</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Instructions_to_council_COUNSEL1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Letter_to_passport_office_returning_passports_PPORT</name>
        <label>Letter to passport office returning passports (PPORT)</label>
        <locationX>5066</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Letter_to_passport_office_returning_passports_PPORT</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Letter_to_probate_registry_re_missing_off_copies_PROB</name>
        <label>Letter to probate registry re: missing off. copies (PROB)</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Letter_to_probate_registry_re_missing_off_copies_PROB</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Letter_to_probate_registry_withdrawing_caveat_Caveat1</name>
        <label>Letter to probate registry withdrawing caveat (Caveat1)</label>
        <locationX>4538</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Letter_to_probate_registry_withdrawing_caveat_CAVEAT1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Letter_to_probate_registry_withdrawing_grant_application_withdraw</name>
        <label>Letter to probate registry withdrawing grant application (withdraw)</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Letter_to_probate_registry_withdrawing_grant_application_WITHDRAW</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>LM_Review_Flow_LMREV</name>
        <label>LM Review Flow (LMREV)</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>LM_Review_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Minute_Minute</name>
        <label>Minute (Minute)</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Minute_Minute</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Payment_request_to_BV_Finance_Pay</name>
        <label>Payment request to BV Finance (Pay)</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Payment_request_to_BV_Finance_PAY</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>storedFieldValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Recover_liability_from_Crown_s_Nominee_account_FIN02</name>
        <label>Recover liability from Crown&apos;s Nominee account (FIN02)</label>
        <locationX>4802</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Recover_liability_from_Crown_s_Nominee_account_FIN02</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Request_to_BV_Finance_for_Estates_account_Account</name>
        <label>Request to BV Finance for Estates account (Account)</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Request_to_BV_Finance_for_Estates_account_ACCOUNT</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Telephone_Note_telnote</name>
        <label>Telephone Note (telnote)</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>Telephone_note_TELNOTE</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>To_Hospital_Hospice_re_kin_will_etc_BV5A</name>
        <label>To Hospital/Hospice re kin, will etc. (BV5A)</label>
        <locationX>5858</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Loop_subflow_values</targetReference>
        </connector>
        <flowName>To_Hospital_Hospice_re_kin_will_etc_BV5A</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Generate_a_document_flow_LWC.caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>historyRecordId</assignToReference>
            <name>historyRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>subflowValues</assignToReference>
            <name>subflowValues</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedDocumentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serverRelativeURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>subflowValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>valuesForDocGen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
