force-app/main/default/flows/GLD_Costs_costs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Appears_to_be_kin</name>
        <choiceText>Appears to be kin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appears to be kin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case_administered_NO_claims</name>
        <choiceText>Case administered, NO claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case administered, NO claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discretionary_payment</name>
        <choiceText>Discretionary payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discretionary payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discretionary_payment1</name>
        <choiceText>Discretionary payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discretionary payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_admitted_administered</name>
        <choiceText>Kin admitted, administered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin admitted, administered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_admitted_NOT_administered</name>
        <choiceText>Kin admitted, NOT administered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin admitted, NOT administered</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Valid_Will</name>
        <choiceText>Valid Will</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Valid Will”:”Appears to be kin</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Why_are_you_calculating_costs2</name>
        <label>Why are you calculating costs?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Kin_admitted_administered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_are_you_calculating_costs1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Kin_admitted_administered</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_highlighted_fields_on_Costs_screen_as_appropriate</targetReference>
            </connector>
            <label>Selected Kin admitted, administered</label>
        </rules>
        <rules>
            <name>SelectedKinadmittedNOTadministered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_are_you_calculating_costs1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Kin_admitted_NOT_administered</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</targetReference>
            </connector>
            <label>Selected Kin admitted, NOT administered</label>
        </rules>
        <rules>
            <name>SelectedValidWill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_are_you_calculating_costs1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Valid_Will</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</targetReference>
            </connector>
            <label>Selected Valid Will</label>
        </rules>
        <rules>
            <name>Selected_Appears_to_be_kin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_are_you_calculating_costs1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Appears_to_be_kin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</targetReference>
            </connector>
            <label>Selected Appears to be kin</label>
        </rules>
        <rules>
            <name>Selected_Discretionary_payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_are_you_calculating_costs1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Discretionary_payment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</targetReference>
            </connector>
            <label>Selected Discretionary payment</label>
        </rules>
        <rules>
            <name>Selected_Case_administered_NO_claims</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Why_are_you_calculating_costs1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Case_administered_NO_claims</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</targetReference>
            </connector>
            <label>Selected Case administered, NO claims</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GLD Costs (costs) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GLD Costs (costs)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Complete_highlighted_fields_on_Costs_screen_as_appropriate</name>
        <label>Complete highlighted fields on Costs screen as appropriate</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Costs</targetReference>
        </connector>
        <fields>
            <name>Complete_highlighted_fields_on_Costs_screen_as_appropriate1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complete highlighted fields on Costs screen as appropriate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</name>
        <label>Copy 1 of Complete highlighted fields on Costs screen as appropriate</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Costs</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complete highlighted fields on Costs screen as appropriate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Costs</name>
        <label>Copy 1 of Costs</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_details_of_disbursements_values</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Costs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Costs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS01</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. in:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Costs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS02</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. out:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Costs_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS05</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total administration costs £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Costs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Costs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS11</name>
                    <dataType>Number</dataType>
                    <fieldText>Case Officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Costs_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS12</name>
                    <dataType>Number</dataType>
                    <fieldText>Enquiry officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Costs_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS07</name>
                    <dataType>Currency</dataType>
                    <fieldText>Conveyancing costs £ (inc. VAT)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Costs_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Costs_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS08</name>
                    <dataType>Currency</dataType>
                    <fieldText>Litigation costs £ (inc. VAT):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Costs_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS09</name>
                    <dataType>Currency</dataType>
                    <fieldText>Disburstments £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Costs_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_COS15</name>
                    <dataType>Currency</dataType>
                    <fieldText>Monies held by TS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_details_of_disbursements_values</name>
        <label>Copy 1 of Enter details of disbursements &amp; values</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Enter_details_of_disbursements_values1</name>
            <fieldText>Enter details of disbursements &amp; values</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</name>
        <label>Copy 2 of Complete highlighted fields on Costs screen as appropriate</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Costs</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complete highlighted fields on Costs screen as appropriate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Costs</name>
        <label>Copy 2 of Costs</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_details_of_disbursements_values</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Costs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Costs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS01</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. in:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Costs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS02</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. out:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Costs_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS05</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total administration costs £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_Costs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Costs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS11</name>
                    <dataType>Number</dataType>
                    <fieldText>Case Officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Costs_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS12</name>
                    <dataType>Number</dataType>
                    <fieldText>Enquiry officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Costs_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS07</name>
                    <dataType>Currency</dataType>
                    <fieldText>Conveyancing costs £ (inc. VAT)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_2_of_Costs_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Costs_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS08</name>
                    <dataType>Currency</dataType>
                    <fieldText>Litigation costs £ (inc. VAT):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Costs_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS09</name>
                    <dataType>Currency</dataType>
                    <fieldText>Disburstments £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_2_of_Costs_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_COS15</name>
                    <dataType>Currency</dataType>
                    <fieldText>Monies held by TS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_details_of_disbursements_values</name>
        <label>Copy 2 of Enter details of disbursements &amp; values</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Enter_details_of_disbursements_values1</name>
            <fieldText>Enter details of disbursements &amp; values</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</name>
        <label>Copy 3 of Complete highlighted fields on Costs screen as appropriate</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Costs</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complete highlighted fields on Costs screen as appropriate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Costs</name>
        <label>Copy 3 of Costs</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Enter_details_of_disbursements_values</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Costs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Costs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS01</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. in:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Costs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS02</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. out:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Costs_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS05</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total administration costs £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_Costs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Costs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS11</name>
                    <dataType>Number</dataType>
                    <fieldText>Case Officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Costs_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS12</name>
                    <dataType>Number</dataType>
                    <fieldText>Enquiry officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Costs_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS07</name>
                    <dataType>Currency</dataType>
                    <fieldText>Conveyancing costs £ (inc. VAT)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_3_of_Costs_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_3_of_Costs_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS08</name>
                    <dataType>Currency</dataType>
                    <fieldText>Litigation costs £ (inc. VAT):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Costs_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS09</name>
                    <dataType>Currency</dataType>
                    <fieldText>Disburstments £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_3_of_Costs_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_3_of_COS15</name>
                    <dataType>Currency</dataType>
                    <fieldText>Monies held by TS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Enter_details_of_disbursements_values</name>
        <label>Copy 3 of Enter details of disbursements &amp; values</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Enter_details_of_disbursements_values1</name>
            <fieldText>Enter details of disbursements &amp; values</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</name>
        <label>Copy 4 of Complete highlighted fields on Costs screen as appropriate</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Costs</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complete highlighted fields on Costs screen as appropriate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Costs</name>
        <label>Copy 4 of Costs</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_4_of_Costs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_4_of_Costs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS01</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. in:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_4_of_Costs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS02</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. out:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_4_of_Costs_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS05</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total administration costs £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_4_of_Costs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_4_of_Costs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS11</name>
                    <dataType>Number</dataType>
                    <fieldText>Case Officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_4_of_Costs_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS12</name>
                    <dataType>Number</dataType>
                    <fieldText>Enquiry officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_4_of_Costs_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS07</name>
                    <dataType>Currency</dataType>
                    <fieldText>Conveyancing costs £ (inc. VAT)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_4_of_Costs_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_4_of_Costs_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS08</name>
                    <dataType>Currency</dataType>
                    <fieldText>Litigation costs £ (inc. VAT):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_4_of_Costs_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS09</name>
                    <dataType>Currency</dataType>
                    <fieldText>Disburstments £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_4_of_Costs_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_4_of_COS15</name>
                    <dataType>Currency</dataType>
                    <fieldText>Monies held by TS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate</name>
        <label>Copy 5 of Complete highlighted fields on Costs screen as appropriate</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Costs</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_Complete_highlighted_fields_on_Costs_screen_as_appropriate1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complete highlighted fields on Costs screen as appropriate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Costs</name>
        <label>Copy 5 of Costs</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_5_of_Costs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_5_of_Costs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS01</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. in:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_5_of_Costs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS02</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. out:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_5_of_Costs_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS05</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total administration costs £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_5_of_Costs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_5_of_Costs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS11</name>
                    <dataType>Number</dataType>
                    <fieldText>Case Officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_5_of_Costs_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS12</name>
                    <dataType>Number</dataType>
                    <fieldText>Enquiry officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_5_of_Costs_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS07</name>
                    <dataType>Currency</dataType>
                    <fieldText>Conveyancing costs £ (inc. VAT)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_5_of_Costs_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_5_of_Costs_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS08</name>
                    <dataType>Currency</dataType>
                    <fieldText>Litigation costs £ (inc. VAT):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_5_of_Costs_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS09</name>
                    <dataType>Currency</dataType>
                    <fieldText>Disburstments £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_5_of_Costs_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_5_of_COS15</name>
                    <dataType>Currency</dataType>
                    <fieldText>Monies held by TS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Costs</name>
        <label>Costs</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_details_of_disbursements_values</targetReference>
        </connector>
        <fields>
            <name>Costs_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Costs_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS01</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. in:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Costs_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS02</name>
                    <dataType>Number</dataType>
                    <fieldText>No. of letters/phone calls etc. out:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Costs_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS05</name>
                    <dataType>Currency</dataType>
                    <fieldText>Total administration costs £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Costs_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Costs_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS11</name>
                    <dataType>Number</dataType>
                    <fieldText>Case Officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Costs_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS12</name>
                    <dataType>Number</dataType>
                    <fieldText>Enquiry officer&apos;s time (hrs):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Costs_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS07</name>
                    <dataType>Currency</dataType>
                    <fieldText>Conveyancing costs £ (inc. VAT)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Costs_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Costs_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS08</name>
                    <dataType>Currency</dataType>
                    <fieldText>Litigation costs £ (inc. VAT):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Costs_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS09</name>
                    <dataType>Currency</dataType>
                    <fieldText>Disburstments £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Costs_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COS15</name>
                    <dataType>Currency</dataType>
                    <fieldText>Monies held by TS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_details_of_disbursements_values</name>
        <label>Enter details of disbursements &amp; values</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Enter_details_of_disbursements_values1</name>
            <fieldText>Enter details of disbursements &amp; values</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Why_are_you_calculating_costs</name>
        <label>Why are you calculating costs?</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Why_are_you_calculating_costs2</targetReference>
        </connector>
        <fields>
            <name>Why_are_you_calculating_costs1</name>
            <choiceReferences>Kin_admitted_administered</choiceReferences>
            <choiceReferences>Kin_admitted_NOT_administered</choiceReferences>
            <choiceReferences>Valid_Will</choiceReferences>
            <choiceReferences>Appears_to_be_kin</choiceReferences>
            <choiceReferences>Discretionary_payment1</choiceReferences>
            <choiceReferences>Case_administered_NO_claims</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why are you calculating costs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Why_are_you_calculating_costs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
