force-app/main/default/flows/HoD_Approve.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Cleared_for_Publishing_Collection</name>
        <label>Set Cleared for Publishing Collection</label>
        <locationX>798</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ClearedForPublishingYesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_Hidden_Screen_Records_for_Cleared_for_Publishing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_Hidden_Screen_Records_for_Cleared_for_Publishing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cleared_for_Publishing_as_No</name>
        <label>Set Cleared for Publishing as No</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_Hidden_Screen_Records_for_Cleared_for_Publishing.Cleared_For_Publishing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Hidden_Screen_Records_for_Cleared_for_Publishing.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Cleared_for_Publishing_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cleared_for_Publishing_as_Yes</name>
        <label>Set Cleared for Publishing as Yes</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Loop_Hidden_Screen_Records_for_Cleared_for_Publishing.Published__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Loop_Hidden_Screen_Records_for_Cleared_for_Publishing.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_Cleared_for_Publishing_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cleared_for_Publishing_Collection</name>
        <label>Set Cleared for Publishing Collection</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ClearedForPublishingCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Hidden_Screen_Records_for_Cleared_for_Publishing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Hidden_Screen_Records_for_Cleared_for_Publishing</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Please_Do_Not_Publish</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Published</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Please_Publish</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Published</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Agree_that_it_will_be_published_decision</name>
        <label>Agree that it will be published decision</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>This_response_WILL_be_published_Do_you_agree_that_it_can_be_published</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>This_response_WILL_be_published_Do_you_agree_that_it_can_be_published</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Hidden_Screen_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cleared_for_Publishing_Decision</name>
        <label>Cleared for Publishing Decision</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Hidden_Screen_Record.Cleared_For_Publishing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Hidden_Screen_Record.Cleared_For_Publishing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cleared_for_Publishing_Decision_From_Question</name>
        <label>Cleared for Publishing Decision (From Question)</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Publish_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>The_response_will_NOT_be_published_Do_you_wish_to_publish_it</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Hidden_Screen_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Publish_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>The_response_will_NOT_be_published_Do_you_wish_to_publish_it</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HoD Approve {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HoD Approve</label>
    <loops>
        <name>Copy_1_of_Loop_Hidden_Screen_Records_for_Cleared_for_Publishing</name>
        <label>Loop Hidden Screen Records for Cleared for Publishing</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <collectionReference>Copy_1_of_Get_Hidden_Screen_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Cleared_for_Publishing_as_Yes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_hidden_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Hidden_Screen_Records_for_Cleared_for_Publishing</name>
        <label>Loop Hidden Screen Records for Cleared for Publishing</label>
        <locationX>94</locationX>
        <locationY>674</locationY>
        <collectionReference>Copy_2_of_Get_Hidden_Screen_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Cleared_for_Publishing_as_No</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_hidden_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>HoD Approve: Cleared for Publishing set as Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>94</locationX>
        <locationY>1190</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>HoD Approve: Cleared for Publishing set as No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Hidden_Screen_Record</name>
        <label>Get Hidden Screen Record</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_Hidden_Screen_Records_for_Cleared_for_Publishing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Detail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Hidden_Screen_Record</name>
        <label>Get Hidden Screen Record</label>
        <locationX>94</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Hidden_Screen_Records_for_Cleared_for_Publishing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Detail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hidden_Screen_Record</name>
        <label>Get Hidden Screen Record</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cleared_for_Publishing_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Detail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_hidden_screen</name>
        <label>Update hidden screen</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_a_history_record</targetReference>
        </connector>
        <inputReference>ClearedForPublishingYesCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_hidden_screen</name>
        <label>Update hidden screen</label>
        <locationX>94</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Create_a_history_record</targetReference>
        </connector>
        <inputReference>ClearedForPublishingCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Question</name>
        <label>Question</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agree_that_it_will_be_published_decision</targetReference>
        </connector>
        <fields>
            <name>This_response_WILL_be_published_Do_you_agree_that_it_can_be_published</name>
            <choiceReferences>Yes_Published</choiceReferences>
            <choiceReferences>No_Published</choiceReferences>
            <dataType>String</dataType>
            <fieldText>This response WILL be published. Do you agree that it can be published?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_2</name>
        <label>Question</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cleared_for_Publishing_Decision_From_Question</targetReference>
        </connector>
        <fields>
            <name>The_response_will_NOT_be_published_Do_you_wish_to_publish_it</name>
            <choiceReferences>Yes_Please_Publish</choiceReferences>
            <choiceReferences>No_Please_Do_Not_Publish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>The response will NOT be published. Do you wish to publish it?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hidden_Screen_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClearedForPublishingCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>ClearedForPublishingYesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
</Flow>
