force-app/main/default/flows/Holding_letter_G1_new_case_HOLDG1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>adjoining_owner</name>
        <choiceText>adjoining owner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>adjoining owner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clarifying_instructions</name>
        <choiceText>Clarifying instructions</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clarifying instructions</stringValue>
        </value>
    </choices>
    <choices>
        <name>Drafting_documentation</name>
        <choiceText>Drafting documentation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Drafting documentation</stringValue>
        </value>
    </choices>
    <choices>
        <name>lessees</name>
        <choiceText>lessees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>lessees</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_2_of_Disclaimer_date_passed</name>
        <label>Copy 2 of Disclaimer date passed?</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Select_reason_for_holding_letter</targetReference>
            </connector>
            <label>Copy 1 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Insert_disclaimer_date</targetReference>
            </connector>
            <label>Copy 1 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disclaimer_date_passed2</name>
        <label>Disclaimer date passed?</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_reason_for_holding_letter</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_disclaimer_date</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Will_costs_differ_from_500_plus_20_VAT_standard2</name>
        <label>Will costs differ from £500 plus 20% VAT standard?</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Will_costs_differ_from_500_plus_20_VAT_standard1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_amount_of_costs_inclusive_of_VAT</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Will_costs_differ_from_500_plus_20_VAT_standard1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Select_nature_of_purchaser</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Holding letter - G1 new case (HOLDG1) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Holding letter - G1 new case (HOLDG1)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirm_Solicitors_reference</name>
        <label>Confirm Solicitors reference</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Purchaser_s_Solicitors</targetReference>
        </connector>
        <fields>
            <name>Confirm_Solicitors_reference1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm Solicitors reference</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Select_reason_for_holding_letter</name>
        <label>Copy 1 of Copy 1 of Select reason for holding letter</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Select_reason_for_holding_letter1</name>
            <choiceReferences>Drafting_documentation</choiceReferences>
            <choiceReferences>Clarifying_instructions</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select reason for holding letter</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Disclaimer_date_passed</name>
        <label>Copy 1 of Disclaimer date passed?</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Insert_disclaimer_date</name>
        <label>Copy 1 of Insert disclaimer date</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Select_reason_for_holding_letter</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Insert_disclaimer_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert disclaimer date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Select_nature_of_purchaser</name>
        <label>Copy 1 of Select nature of purchaser</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Select_nature_of_purchaser1</name>
            <choiceReferences>lessees</choiceReferences>
            <choiceReferences>adjoining_owner</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select nature of purchaser</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Select_reason_for_holding_letter</name>
        <label>Copy 1 of Select reason for holding letter</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Select_reason_for_holding_letter1</name>
            <choiceReferences>Drafting_documentation</choiceReferences>
            <choiceReferences>Clarifying_instructions</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select reason for holding letter</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Select_reason_for_holding_letter</name>
        <label>Copy 2 of Select reason for holding letter</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Select_reason_for_holding_letter1</name>
            <choiceReferences>Drafting_documentation</choiceReferences>
            <choiceReferences>Clarifying_instructions</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select reason for holding letter</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disclaimer_date_passed</name>
        <label>Disclaimer date passed?</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Disclaimer_date_passed2</targetReference>
        </connector>
        <fields>
            <name>Disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_amount_of_costs_inclusive_of_VAT</name>
        <label>Enter amount of costs inclusive of VAT</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_nature_of_purchaser</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_of_costs_inclusive_of_VAT1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter amount of costs inclusive of VAT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_disclaimer_date</name>
        <label>Insert disclaimer date</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Select_reason_for_holding_letter</targetReference>
        </connector>
        <fields>
            <name>Insert_disclaimer_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert disclaimer date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchaser_s_Solicitors</name>
        <label>Purchaser&apos;s Solicitors</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sale_Property</targetReference>
        </connector>
        <fields>
            <name>Purchaser_s_Solicitors_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Purchaser_s_Solicitors_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SOL09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sale_Property</name>
        <label>Sale Property</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Will_costs_differ_from_500_plus_20_VAT_standard</targetReference>
        </connector>
        <fields>
            <name>Sale_Property_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sale_Property_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PRS10</name>
                    <dataType>String</dataType>
                    <fieldText>Sale Price: £:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sale_Property_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PRS09</name>
                    <dataType>String</dataType>
                    <fieldText>Disclaimer date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_nature_of_purchaser</name>
        <label>Select nature of purchaser</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Select_nature_of_purchaser1</name>
            <choiceReferences>lessees</choiceReferences>
            <choiceReferences>adjoining_owner</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select nature of purchaser</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_reason_for_holding_letter</name>
        <label>Select reason for holding letter</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Select_reason_for_holding_letter1</name>
            <choiceReferences>Drafting_documentation</choiceReferences>
            <choiceReferences>Clarifying_instructions</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select reason for holding letter</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Will_costs_differ_from_500_plus_20_VAT_standard</name>
        <label>Will costs differ from £500 plus 20% VAT standard?</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Will_costs_differ_from_500_plus_20_VAT_standard2</targetReference>
        </connector>
        <fields>
            <name>Will_costs_differ_from_500_plus_20_VAT_standard1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will costs differ from £500 plus 20% VAT standard?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Solicitors_reference</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
