force-app/main/default/flows/ILO_Approve.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Amendments_Variable</name>
        <label>Amendments Variable</label>
        <locationX>402</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>AmendmentsMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Have_you_made_amendments_to_the_draft</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Caroline_Variable</name>
        <label>Caroline Variable</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>requireCaroline</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Does_the_response_need_to_be_cleared_by_Caroline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_needed_from_Caroline_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Amendments_Variable</name>
        <label>Copy 1 of Amendments Variable</label>
        <locationX>1458</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>AmendmentsMade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_you_made_amendments_to_the_draft</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Cleared_for_Publishing_as_Yes</name>
        <label>Copy 1 of Set Cleared for Publishing as Yes</label>
        <locationX>138</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Hidden_Screen_Records_for_Cleared_for_Publishing.Cleared_For_Publishing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_Cleared_for_Publishing_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Cleared_for_Publishing_Collection</name>
        <label>Copy 1 of Set Cleared for Publishing Collection</label>
        <locationX>138</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>ClearedForPublishingCaroline</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Hidden_Screen_Records_for_Cleared_for_Publishing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Hidden_Screen_Records_for_Cleared_for_Publishing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approved_as_Yes</name>
        <label>Set Approved as Yes</label>
        <locationX>1238</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_Hidden_Screen_Records_for_Approved.Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Approved_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approved_Collection</name>
        <label>Set Approved Collection</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ApprovedCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Hidden_Screen_Records_for_Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Hidden_Screen_Records_for_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cleared_for_Publishing_as_Yes</name>
        <label>Set Cleared for Publishing as Yes</label>
        <locationX>490</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Hidden_Screen_Records_for_Cleared_for_Publishing.Cleared_For_Publishing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Cleared_for_Publishing_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cleared_for_Publishing_Collection</name>
        <label>Set Cleared for Publishing Collection</label>
        <locationX>490</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>ClearedForPublishingCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Hidden_Screen_Records_for_Cleared_for_Publishing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hidden_Screen_Records_for_Cleared_for_Publishing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HoD_Approval_Needed_as_Yes</name>
        <label>Set HoD Approval Needed as Yes</label>
        <locationX>886</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_Hidden_Screen_Records_for_HoD_Approval.Hod_Approval_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_HoD_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HoD_Collection</name>
        <label>Set HoD Collection</label>
        <locationX>886</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>HoDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Hidden_Screen_Records_for_HoD_Approval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Hidden_Screen_Records_for_HoD_Approval</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Amendments</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Appear</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Publish</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Amendments</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Appear</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Publish</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_needed_from_Caroline_Decision</name>
        <label>Approval needed from Caroline Decision?</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Question_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_response_need_to_be_cleared_by_Caroline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Hidden_Screen_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_response_need_to_be_cleared_by_Caroline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Hidden_Screen_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ILO_Response_Decision</name>
        <label>ILO Response Decision</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Can_the_response_be_published_to_the_website</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Yes_Caroline_and_Publishing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_the_response_need_to_be_cleared_by_Caroline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Can_the_response_be_published_to_the_website</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <label>No Caroline and Publishing No</label>
        </rules>
        <rules>
            <name>No_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Can_the_response_be_published_to_the_website</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Question_4</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Publish_to_BV_Website_Decision</name>
        <label>Publish to BV Website Decision</label>
        <locationX>490</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Publish_Caroline_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>This_will_appear_on_the_BV_website_Are_you_sure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Does_the_response_need_to_be_cleared_by_Caroline</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Get_Hidden_Screen_Record</targetReference>
            </connector>
            <label>No Caroline and Yes Publish</label>
        </rules>
        <rules>
            <name>Yes_Publish_To_Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>This_will_appear_on_the_BV_website_Are_you_sure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_Appear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Hidden_Screen_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Publish_To_Website</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>This_will_appear_on_the_BV_website_Are_you_sure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_Appear</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ILO Approve {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ILO Approve</label>
    <loops>
        <name>Copy_1_of_Hidden_Screen_Records_for_Cleared_for_Publishing</name>
        <label>Copy 1 of Hidden Screen Records for Cleared for Publishing</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <collectionReference>Copy_4_of_Get_Hidden_Screen_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Set_Cleared_for_Publishing_as_Yes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_hidden_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Hidden_Screen_Records_for_Cleared_for_Publishing</name>
        <label>Hidden Screen Records for Cleared for Publishing</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <collectionReference>Copy_2_of_Get_Hidden_Screen_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Cleared_for_Publishing_as_Yes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_hidden_screen_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Hidden_Screen_Records_for_Approved</name>
        <label>Loop Hidden Screen Records for Approved</label>
        <locationX>1150</locationX>
        <locationY>566</locationY>
        <collectionReference>Copy_1_of_Get_Hidden_Screen_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Approved_as_Yes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_hidden_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Hidden_Screen_Records_for_HoD_Approval</name>
        <label>Loop Hidden Screen Records for HoD Approval</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Hidden_Screen_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_HoD_Approval_Needed_as_Yes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_hidden_screen_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Hidden_Screen_Record</name>
        <label>Get Hidden Screen Record</label>
        <locationX>1150</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Hidden_Screen_Records_for_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Detail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Hidden_Screen_Record</name>
        <label>Get Hidden Screen Record</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hidden_Screen_Records_for_Cleared_for_Publishing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Detail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_4_of_Get_Hidden_Screen_Record</name>
        <label>Copy 4 of Get Hidden Screen Record</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Hidden_Screen_Records_for_Cleared_for_Publishing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Detail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Hidden_Screen_Record</name>
        <label>Get Hidden Screen Record</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Hidden_Screen_Records_for_HoD_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case_Detail__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_hidden_screen</name>
        <label>Copy 1 of Update hidden screen</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <inputReference>ClearedForPublishingCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_hidden_screen</name>
        <label>Update hidden screen</label>
        <locationX>1150</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Question_2</targetReference>
        </connector>
        <inputReference>ApprovedCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_hidden_screen_2</name>
        <label>Update hidden screen</label>
        <locationX>798</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Question_2</targetReference>
        </connector>
        <inputReference>HoDCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_hidden_screen_3</name>
        <label>Update hidden screen</label>
        <locationX>402</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Copy_1_of_Question</targetReference>
        </connector>
        <inputReference>ClearedForPublishingCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Question</name>
        <label>Question</label>
        <locationX>402</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Amendments_Variable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Have_you_made_amendments_to_the_draft</name>
            <choiceReferences>Yes_Amendments</choiceReferences>
            <choiceReferences>No_Amendments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you made amendments to the draft?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question</name>
        <label>Question</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Caroline_Variable</targetReference>
        </connector>
        <fields>
            <name>Does_the_response_need_to_be_cleared_by_Caroline</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the response need to be cleared by Caroline?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_2</name>
        <label>Question</label>
        <locationX>1106</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ILO_Response_Decision</targetReference>
        </connector>
        <fields>
            <name>Can_the_response_be_published_to_the_website</name>
            <choiceReferences>Yes_Publish</choiceReferences>
            <choiceReferences>No_Publish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Can the response be published to the website</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_3</name>
        <label>Question</label>
        <locationX>490</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Publish_to_BV_Website_Decision</targetReference>
        </connector>
        <fields>
            <name>This_will_appear_on_the_BV_website_Are_you_sure</name>
            <choiceReferences>Yes_Appear</choiceReferences>
            <choiceReferences>No_Appear</choiceReferences>
            <dataType>String</dataType>
            <fieldText>This will appear on the BV website. Are you sure?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_4</name>
        <label>Question</label>
        <locationX>1458</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Amendments_Variable</targetReference>
        </connector>
        <fields>
            <name>Have_you_made_amendments_to_the_draft</name>
            <choiceReferences>Yes_Amendments</choiceReferences>
            <choiceReferences>No_Amendments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you made amendments to the draft?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Question</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AmendmentsMade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApprovedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClearedForPublishingCaroline</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>ClearedForPublishingCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>HoDCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>requireCaroline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
