force-app/main/default/flows/Instruct_Conveyancing_Group_NBV18A.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>All_of_land</name>
        <choiceText>All of land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All of land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Be_discharged_from_proceeds_of_sale</name>
        <choiceText>Be discharged from proceeds of sale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Be discharged from proceeds of sale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Be_discharged_prior_to_completion</name>
        <choiceText>Be discharged prior to completion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Be discharged prior to completion</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_be_discharged_by_TS</name>
        <choiceText>Not be discharged by TS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not be discharged by TS</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Part_of_land</name>
        <choiceText>Part of land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Part of land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_purchasers_solicitor_same_as_informants2</name>
        <label>Are purchasers solicitor same as informants?</label>
        <locationX>2822</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Date_disbursements_incurred</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_purchasers_solicitor_same_as_informants1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Property_Land1</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_purchasers_solicitor_same_as_informants1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_name_and_address_of_purchasers_solicitors</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_keys11</name>
        <label>Are there any keys</label>
        <locationX>974</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>Are_there_any_leases_tenancies_or_licences_affecting_property12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_keys10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Name_and_Address_of_Key_Holder12</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_keys10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_any_leases_tenancies_or_licences_affecting_property12</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_keys7</name>
        <label>Are there any keys</label>
        <locationX>2822</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Are_there_any_leases_tenancies_or_licences_affecting_property</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_keys1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_name_and_address_of_key_holder</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_keys1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_any_leases_tenancies_or_licences_affecting_property</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_leases_tenancies_or_licences_affecting_property20</name>
        <label>Are there any leases, tenancies or licences affecting property?</label>
        <locationX>974</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Mortgage_affecting_property20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_leases_tenancies_or_licences_affecting_property13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_particulars_of_lease_tenancies_and_licences20</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_leases_tenancies_or_licences_affecting_property13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Mortgage_affecting_property20</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_leases_tenancies_or_licences_affecting_property8</name>
        <label>Are there any leases, tenancies or licences affecting property?</label>
        <locationX>2822</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Mortgage_affecting_property</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_leases_tenancies_or_licences_affecting_property7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_particulars_of_leases_tenancies_and_licences</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_leases_tenancies_or_licences_affecting_property7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Mortgage_affecting_property</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Have_you_collected_any_advance_payment_towards_the_completion_monies_s</name>
        <label>Copy 2 of Have you collected any advance payment towards the completion monies such as costs and disbursements</label>
        <locationX>2822</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Are_there_any_keys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_collected_any_advance_payment41</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Please_confirm_the_total</targetReference>
            </connector>
            <label>Copy 1 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_collected_any_advance_payment41</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_any_keys</targetReference>
            </connector>
            <label>Copy 1 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Total_transaction_has_value_of_over_10_000</name>
        <label>Copy 4 of Total transaction has value of over £10,000?</label>
        <locationX>2162</locationX>
        <locationY>4526</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_transaction_has_value_ofover10_000</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Money_Laundering_ID_Checks_completed</targetReference>
            </connector>
            <label>Copy 6 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_6_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_transaction_has_value_ofover10_000</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Copy 6 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_you_collected_any_advance_payment2</name>
        <label>Have you collected any advance payment towards the completion monies such as costs and disbursements</label>
        <locationX>974</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Insert_Name_and_Address_of_Auctioneers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_collected_any_advance_payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_confirm_the_total</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_collected_any_advance_payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Name_and_Address_of_Auctioneers</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Haveyouobtainedlinemanagerauthoritytosell</name>
        <label>Have you obtained line manager authority to sell?</label>
        <locationX>2360</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SEE_FOLLOWING_SCREENS_TO_CONFIRM_UNDER_WHAT_ACT_SECTION_COMPANY_DISSOLVED_AND_DA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_obtained_line_manager_authority_to_sell2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEE_FOLLOWING_SCREENS_TO_CONFIRM_UNDER_WHAT_ACT_SECTION_COMPANY_DISSOLVED_AND_DA</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>SelectedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_obtained_line_manager_authority_to_sell2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>This_document_will_not_proceed</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_sale_by_public_auction2</name>
        <label>Is sale by public auction?</label>
        <locationX>2360</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_sale_by_public_auction1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PropertyLand</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_sale_by_public_auction1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_name_and_address_of_purchaser</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Mortgage_affecting_property2</name>
        <label>Is there a Mortgage affecting property?</label>
        <locationX>2822</locationX>
        <locationY>3878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_Mortgage_affecting_property1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Name_and_Address_of_Mortgagees_and_their_Solicitors</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_Mortgage_affecting_property1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Official_copy_entries_and_title_plan_attached</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Mortgage_affecting_property24</name>
        <label>Is there a Mortgage affecting property?</label>
        <locationX>974</locationX>
        <locationY>3686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_Mortgage_affecting_property21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Insert_Name_and_Address_of_Mortgagees_and_their_Solicitors</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_there_a_Mortgage_affecting_property21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Official_copy_entries_and_title_plan_attached</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_sale_of_a_freeh2old_leasehold_reversion_at_formula_price2</name>
        <label>Is this sale of a freehold/leasehold reversion at formula price</label>
        <locationX>2360</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SEE_FOLLOWING_SCREENS_TO_CONFIRM_UNDER_WHAT_ACT_SECTION_COMPANY_DISSOLVED_AND_DA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_sale_of_a_freehold_leasehold_reversion_at_formula_price1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEE_FOLLOWING_SCREENS_TO_CONFIRM_UNDER_WHAT_ACT_SECTION_COMPANY_DISSOLVED_AND_DA</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_sale_of_a_freehold_leasehold_reversion_at_formula_price1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Have_you_obtained_line_manager_authority_to_sell</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_transaction_has_value_of_over_10_000a</name>
        <label>Total transaction has value of over £10,000?</label>
        <locationX>314</locationX>
        <locationY>4334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Total_transaction_has_value_ofover10_000</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Money_Laundering_ID_Checks_completed</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Total_transaction_has_value_ofover10_000</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_transaction_has_value_of_over_10_000b</name>
        <label>Total transaction has value of over £10,000?</label>
        <locationX>1106</locationX>
        <locationY>4010</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Total_transaction_has_value_ofover10_000</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Money_Laundering_ID_Checks_completed</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Total_transaction_has_value_ofover10_000</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Totaltransaction_has_value_of_over_10_000</name>
        <label>Total transaction has value of over £10,000?</label>
        <locationX>2954</locationX>
        <locationY>4202</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_transaction_has_value_ofover10_000</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Money_Laundering_ID_Checks_completed</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_transaction_has_value_ofover10_000</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Instruct Conveyancing Group (NBV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Instruct Conveyancing Group (NBV18A)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Are_Auction_Charges_approved</name>
        <label>Are Auction Charges approved?</label>
        <locationX>974</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Name_and_Address_of_Solicitor_Agent</targetReference>
        </connector>
        <fields>
            <name>Are_Auction_Charges_approved1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are Auction Charges approved?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_purchasers_solicitor_same_as_informants</name>
        <label>Are purchasers solicitor same as informants?</label>
        <locationX>2822</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_purchasers_solicitor_same_as_informants2</targetReference>
        </connector>
        <fields>
            <name>Are_purchasers_solicitor_same_as_informants1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are purchasers solicitor same as informants?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_there_any_keys</name>
        <label>Are there any keys</label>
        <locationX>2822</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_keys7</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_keys1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any keys</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_there_any_keys9</name>
        <label>Are there any keys</label>
        <locationX>974</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_keys11</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_keys10</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any keys</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_there_any_leases_tenancies_or_licences_affecting_property</name>
        <label>Are there any leases, tenancies or licences affecting property?</label>
        <locationX>2822</locationX>
        <locationY>3362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_leases_tenancies_or_licences_affecting_property8</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_leases_tenancies_or_licences_affecting_property7</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any leases, tenancies or licences affecting property?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_there_any_leases_tenancies_or_licences_affecting_property12</name>
        <label>Are there any leases, tenancies or licences affecting property?</label>
        <locationX>974</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_leases_tenancies_or_licences_affecting_property20</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_leases_tenancies_or_licences_affecting_property13</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any leases, tenancies or licences affecting property?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Company_Details</name>
        <label>Company Details</label>
        <locationX>2360</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Company_Event</targetReference>
        </connector>
        <fields>
            <name>Company_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Company_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COM11</name>
                    <dataType>String</dataType>
                    <fieldText>Section of Act</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Company_Event</name>
        <label>Company Event</label>
        <locationX>2360</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Property_Land</targetReference>
        </connector>
        <fields>
            <name>Company_Event_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Company_Event_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CEV02</name>
                    <dataType>String</dataType>
                    <fieldText>Limit of Disclaimer date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_name_and_address_of_purchasers_solicitors</name>
        <label>Confirm name and address of purchasers solicitors</label>
        <locationX>2822</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Property_Land</targetReference>
        </connector>
        <fields>
            <name>Confirm_name_and_address_of_purchasers2_solicitors</name>
            <fieldText>Confirm name and address of purchasers solicitors</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Date_disbursements_incurred</name>
        <label>Copy 1 of Date disbursements incurred</label>
        <locationX>2822</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Have_you_collected_any_advance_payment40</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Date_disbursements_incurred1</name>
            <dataType>Date</dataType>
            <fieldText>Date disbursements incurred</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Insert_amount_outstanding_under_Mortgage</name>
        <label>Copy 1 of Insert amount outstanding under Mortgage</label>
        <locationX>314</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Will_mortgage</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Insert_amount_outstanding_under_Mortgage1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert amount outstanding under Mortgage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Insert_Name_and_Address_of_Mortgagees_and_their_Solicitors</name>
        <label>Copy 1 of Insert Name and Address of Mortgagees and their Solicitors</label>
        <locationX>314</locationX>
        <locationY>3794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Insert_amount_outstanding_under_Mortgage</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Insert_Name_and_Address_of_Mortgagees_and_their_Solicitors1</name>
            <fieldText>Insert Name and Address of Mortgagees and their Solicitors</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Money_Laundering_ID_Checks_completed</name>
        <label>Copy 1 of Money Laundering ID Checks completed?</label>
        <locationX>842</locationX>
        <locationY>4118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Money_Laundering_ID_Checks_completed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Money Laundering ID Checks completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Official_copy_entries_and_title_plan_attached</name>
        <label>Copy 1 of Official copy entries and title plan attached?</label>
        <locationX>1106</locationX>
        <locationY>3794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Total_transaction_has_value_of_over_10_000</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Official_copy_entries_and_title_plan_attached3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Official copy entries and title plan attached?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Please_confirm_the_total</name>
        <label>Copy 1 of Please confirm the total £</label>
        <locationX>2602</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Please_give_details_of_who_paid_and_what_for</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Please_confirm_the_total1</name>
            <dataType>Currency</dataType>
            <fieldText>Please confirm the total £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Please_give_details_of_who_paid_and_what_for</name>
        <label>Copy 1 of Please give details of who paid and what for.</label>
        <locationX>2602</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_keys</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Please_give_details_of_who_paid_and_what_for1</name>
            <fieldText>Please give details of who paid and what for.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Property_Land</name>
        <label>Copy 1 of Property / Land</label>
        <locationX>2822</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Date_disbursements_incurred</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Property_Land1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Property_Land1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ASS08_COPY</name>
                    <dataType>String</dataType>
                    <fieldText>Sale Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_ASS10_COPY</name>
                    <dataType>String</dataType>
                    <fieldText>Disb:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Property_Land1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ASS09_COPY</name>
                    <dataType>String</dataType>
                    <fieldText>TS Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Total_transaction_has_value_of_over_10_000</name>
        <label>Copy 1 of Total transaction has value of over £10,000?</label>
        <locationX>1106</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Total_transaction_has_value_of_over_10_000b</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Total_transaction_has_value_ofover10_000</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Total transaction has value of over £10,000?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Will_mortgage</name>
        <label>Copy 1 of Will mortgage?</label>
        <locationX>314</locationX>
        <locationY>4010</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Official_copy_entries_and_title_plan_attached</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Will_mortgage1</name>
            <choiceReferences>Be_discharged_prior_to_completion</choiceReferences>
            <choiceReferences>Be_discharged_from_proceeds_of_sale</choiceReferences>
            <choiceReferences>Not_be_discharged_by_TS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will mortgage?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Money_Laundering_ID_Checks_completed</name>
        <label>Copy 2 of Money Laundering ID Checks completed?</label>
        <locationX>1898</locationX>
        <locationY>4634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Money_Laundering_ID_Checks_completed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Money Laundering ID Checks completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Official_copy_entries_and_title_plan_attached</name>
        <label>Copy 2 of Official copy entries and title plan attached?</label>
        <locationX>2162</locationX>
        <locationY>4310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Total_transaction_has_value_of_over_10_000</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Official_copy_entries_and_title_plan_attached3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Official copy entries and title plan attached?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Money_Laundering_ID_Checks_completed</name>
        <label>Copy 3 of Money Laundering ID Checks completed?</label>
        <locationX>50</locationX>
        <locationY>4442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Money_Laundering_ID_Checks_completed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Money Laundering ID Checks completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Official_copy_entries_and_title_plan_attached</name>
        <label>Copy 3 of Official copy entries and title plan attached?</label>
        <locationX>314</locationX>
        <locationY>4118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Total_transaction_has_value_of_over_10_000</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Official_copy_entries_and_title_plan_attached3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Official copy entries and title plan attached?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Total_transaction_has_value_of_over_10_000</name>
        <label>Copy 3 of Total transaction has value of over £10,000?</label>
        <locationX>2162</locationX>
        <locationY>4418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Total_transaction_has_value_of_over_10_000</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Total_transaction_has_value_ofover10_000</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Total transaction has value of over £10,000?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Total_transaction_has_value_of_over_10_000</name>
        <label>Copy 5 of Total transaction has value of over £10,000?</label>
        <locationX>314</locationX>
        <locationY>4226</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Total_transaction_has_value_of_over_10_000a</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Total_transaction_has_value_ofover10_000</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Total transaction has value of over £10,000?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Date_disbursements_incurred</name>
        <label>Date disbursements incurred</label>
        <locationX>974</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Have_you_collected_any_advance_payment_towards_the_completion_monies_such_as_cos</targetReference>
        </connector>
        <fields>
            <name>Date_disbursements_incurred1</name>
            <dataType>Date</dataType>
            <fieldText>Date disbursements incurred</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Have_you_collected_any_advance_payment40</name>
        <label>Have you collected any advance payment towards the completion monies such as costs and disbursements</label>
        <locationX>2822</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Have_you_collected_any_advance_payment_towards_the_completion_monies_s</targetReference>
        </connector>
        <fields>
            <name>Have_you_collected_any_advance_payment41</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you collected any advance payment towards the completion monies such as costs and disbursements</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Have_you_collected_any_advance_payment_towards_the_completion_monies_such_as_cos</name>
        <label>Have you collected any advance payment towards the completion monies such as costs and disbursements</label>
        <locationX>974</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Have_you_collected_any_advance_payment2</targetReference>
        </connector>
        <fields>
            <name>Have_you_collected_any_advance_payment</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you collected any advance payment towards the completion monies such as costs and disbursements</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Have_you_obtained_line_manager_authority_to_sell</name>
        <label>Have you obtained line manager authority to sell?</label>
        <locationX>2360</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Haveyouobtainedlinemanagerauthoritytosell</targetReference>
        </connector>
        <fields>
            <name>Have_you_obtained_line_manager_authority_to_sell2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you obtained line manager authority to sell?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_amount_outstanding_under_Mortgage</name>
        <label>Insert amount outstanding under Mortgage</label>
        <locationX>2162</locationX>
        <locationY>4094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Will_mortgage</targetReference>
        </connector>
        <fields>
            <name>Insert_amount_outstanding_under_Mortgage1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert amount outstanding under Mortgage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Name_and_Address_of_Auctioneers</name>
        <label>Insert Name and Address of Auctioneers</label>
        <locationX>974</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_Auction_Charges_approved</targetReference>
        </connector>
        <fields>
            <name>Insert_Name_and_Address_of_Auctioneers1</name>
            <fieldText>Insert Name and Address of Auctioneers</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_name_and_address_of_key_holder</name>
        <label>Insert Name and Address of Key Holder</label>
        <locationX>2602</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Telephone_Number_of_Key_Holder</targetReference>
        </connector>
        <fields>
            <name>Insert_Name_and_Address_of_Key_Holder1</name>
            <fieldText>Insert Name and Address of Key Holder</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Name_and_Address_of_Key_Holder12</name>
        <label>Insert Name and Address of Key Holder</label>
        <locationX>754</locationX>
        <locationY>2870</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Telephone_Number_of_Key_Holder12</targetReference>
        </connector>
        <fields>
            <name>Insert_Name_and_Address_of_Key_Holder13</name>
            <fieldText>Insert Name and Address of Key Holder</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Name_and_Address_of_Mortgagees_and_their_Solicitors</name>
        <label>Insert Name and Address of Mortgagees and their Solicitors</label>
        <locationX>2162</locationX>
        <locationY>3986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_amount_outstanding_under_Mortgage</targetReference>
        </connector>
        <fields>
            <name>Insert_Name_and_Address_of_Mortgagees_and_their_Solicitors1</name>
            <fieldText>Insert Name and Address of Mortgagees and their Solicitors</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_name_and_address_of_purchaser</name>
        <label>Insert name and address of purchaser</label>
        <locationX>2822</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_purchasers_solicitor_same_as_informants</targetReference>
        </connector>
        <fields>
            <name>Insert_name_and_address_of_purchaser1</name>
            <fieldText>Insert name and address of purchaser</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Name_and_Address_of_Solicitor_Agent</name>
        <label>Insert Name and Address of Solicitor / Agent</label>
        <locationX>974</locationX>
        <locationY>2546</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_keys9</targetReference>
        </connector>
        <fields>
            <name>Insert_Name_and_Address_of_Solicitor_Agent1</name>
            <fieldText>Insert Name and Address of Solicitor / Agent</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_particulars_of_lease_tenancies_and_licences20</name>
        <label>Insert particulars of lease, tenancies and licences</label>
        <locationX>754</locationX>
        <locationY>3386</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_a_Mortgage_affecting_property20</targetReference>
        </connector>
        <fields>
            <name>Insert_particulars_of_lease_tenancies_and_licences21</name>
            <dataType>String</dataType>
            <fieldText>Insert particulars of lease, tenancies and licences</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_particulars_of_leases_tenancies_and_licences</name>
        <label>Insert particulars of leases, tenancies and licences</label>
        <locationX>2602</locationX>
        <locationY>3578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_a_Mortgage_affecting_property</targetReference>
        </connector>
        <fields>
            <name>Insert_particulars_of_leases_tenancies_and_licences7</name>
            <dataType>String</dataType>
            <fieldText>Insert particulars of leases, tenancies and licences</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Telephone_Number_of_Key_Holder</name>
        <label>Insert Telephone Number of Key Holder</label>
        <locationX>2602</locationX>
        <locationY>3170</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_leases_tenancies_or_licences_affecting_property</targetReference>
        </connector>
        <fields>
            <name>Insert_Telephone_Number_of_Key_Holder7</name>
            <dataType>String</dataType>
            <fieldText>Insert Telephone Number of Key Holder</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Telephone_Number_of_Key_Holder12</name>
        <label>Insert Telephone Number of Key Holder</label>
        <locationX>754</locationX>
        <locationY>2978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_leases_tenancies_or_licences_affecting_property12</targetReference>
        </connector>
        <fields>
            <name>Insert_Telephone_Number_of_Key_Holder13</name>
            <dataType>String</dataType>
            <fieldText>Insert Telephone Number of Key Holder</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_sale_by_public_auction</name>
        <label>Is sale by public auction?</label>
        <locationX>2360</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_sale_by_public_auction2</targetReference>
        </connector>
        <fields>
            <name>Is_sale_by_public_auction1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is sale by public auction?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_there_a_Mortgage_affecting_property</name>
        <label>Is there a Mortgage affecting property?</label>
        <locationX>2822</locationX>
        <locationY>3770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_a_Mortgage_affecting_property2</targetReference>
        </connector>
        <fields>
            <name>Is_there_a_Mortgage_affecting_property1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a Mortgage affecting property?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_there_a_Mortgage_affecting_property20</name>
        <label>Is there a Mortgage affecting property?</label>
        <locationX>974</locationX>
        <locationY>3578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_a_Mortgage_affecting_property24</targetReference>
        </connector>
        <fields>
            <name>Is_there_a_Mortgage_affecting_property21</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a Mortgage affecting property?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_this_sale_of_a_freehold_leasehold_reversion_at_formula_price</name>
        <label>Is this sale of a freehold/leasehold reversion at formula price</label>
        <locationX>2360</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_sale_of_a_freeh2old_leasehold_reversion_at_formula_price2</targetReference>
        </connector>
        <fields>
            <name>Is_this_sale_of_a_freehold_leasehold_reversion_at_formula_price1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this sale of a freehold/leasehold reversion at formula price</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Money_Laundering_ID_Checks_completed</name>
        <label>Money Laundering ID Checks completed?</label>
        <locationX>2690</locationX>
        <locationY>4310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Money_Laundering_ID_Checks_completed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Money Laundering ID Checks completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Official_copy_entries_and_title_plan_attached</name>
        <label>Official copy entries and title plan attached?</label>
        <locationX>2954</locationX>
        <locationY>3986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Total_transaction_has_value_of_over_10_000</targetReference>
        </connector>
        <fields>
            <name>Official_copy_entries_and_title_plan_attached3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Official copy entries and title plan attached?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_confirm_sale_is</name>
        <label>Please confirm sale is:</label>
        <locationX>2360</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_sale_by_public_auction</targetReference>
        </connector>
        <fields>
            <name>Please_confirm_sale_is1</name>
            <choiceReferences>All_of_land</choiceReferences>
            <choiceReferences>Part_of_land</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please confirm sale is:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_confirm_the_total</name>
        <label>Please confirm the total £</label>
        <locationX>754</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_give_details_of_who_paid_and_what_for</targetReference>
        </connector>
        <fields>
            <name>Please_confirm_the_total1</name>
            <dataType>Currency</dataType>
            <fieldText>Please confirm the total £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_give_details_of_who_paid_and_what_for</name>
        <label>Please give details of who paid and what for.</label>
        <locationX>754</locationX>
        <locationY>2138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Name_and_Address_of_Auctioneers</targetReference>
        </connector>
        <fields>
            <name>Please_give_details_of_who_paid_and_what_for1</name>
            <fieldText>Please give details of who paid and what for.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Property_Land</name>
        <label>Property / Land</label>
        <locationX>2360</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_confirm_sale_is</targetReference>
        </connector>
        <fields>
            <name>Property_Land_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Land_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ASS01</name>
                    <dataType>String</dataType>
                    <fieldText>Address/Desc:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Property_Land1</name>
        <label>Property / Land</label>
        <locationX>2558</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Date_disbursements_incurred</targetReference>
        </connector>
        <fields>
            <name>Property_Land1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Land1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ASS08_COPY</name>
                    <dataType>String</dataType>
                    <fieldText>Sale Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ASS10_COPY</name>
                    <dataType>String</dataType>
                    <fieldText>Disb:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Land1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ASS09_COPY</name>
                    <dataType>String</dataType>
                    <fieldText>TS Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PropertyLand</name>
        <label>Property / Land</label>
        <locationX>974</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Date_disbursements_incurred</targetReference>
        </connector>
        <fields>
            <name>PropertyLand_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PropertyLand_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ASS09</name>
                    <dataType>String</dataType>
                    <fieldText>TS Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ASS10</name>
                    <dataType>String</dataType>
                    <fieldText>Disb:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SEE_FOLLOWING_SCREENS_TO_CONFIRM_UNDER_WHAT_ACT_SECTION_COMPANY_DISSOLVED_AND_DA</name>
        <label>SEE FOLLOWING SCREENS TO CONFIRM UNDER WHAT ACT/SECTION COMPANY DISSOLVED AND DATE OF DISCLAIMER IF APPLICABLE AND PROPERTY DESCRIPTION</label>
        <locationX>2360</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Company_Details</targetReference>
        </connector>
        <fields>
            <name>SEE_FOLLOWING_SCREENS_TO_CONFIRM_UNDER_WHAT_ACT_SECTION</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SEE FOLLOWING SCREENS TO CONFIRM UNDER WHAT ACT/SECTION COMPANY DISSOLVED AND DATE OF DISCLAIMER IF APPLICABLE AND PROPERTY DESCRIPTION</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>This_document_will_not_proceed</name>
        <label>This document will not proceed</label>
        <locationX>2316</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SEE_FOLLOWING_SCREENS_TO_CONFIRM_UNDER_WHAT_ACT_SECTION_COMPANY_DISSOLVED_AND_DA</targetReference>
        </connector>
        <fields>
            <name>This_document_will_not_proceed1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>This document will not proceed</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Total_transaction_has_value_of_over_10_000</name>
        <label>Total transaction has value of over £10,000?</label>
        <locationX>2954</locationX>
        <locationY>4094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Totaltransaction_has_value_of_over_10_000</targetReference>
        </connector>
        <fields>
            <name>Total_transaction_has_value_ofover10_000</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Total transaction has value of over £10,000?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Will_mortgage</name>
        <label>Will mortgage?</label>
        <locationX>2162</locationX>
        <locationY>4202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Official_copy_entries_and_title_plan_attached</targetReference>
        </connector>
        <fields>
            <name>Will_mortgage1</name>
            <choiceReferences>Be_discharged_prior_to_completion</choiceReferences>
            <choiceReferences>Be_discharged_from_proceeds_of_sale</choiceReferences>
            <choiceReferences>Not_be_discharged_by_TS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will mortgage?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2234</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_sale_of_a_freehold_leasehold_reversion_at_formula_price</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
