force-app/main/default/flows/Instructing_letter_to_DV_NOT_freehold_reversions_DVE5.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_other_plots_in_the_dissolved_company</name>
        <label>Are there other plots in the dissolved company title which require DV advice?</label>
        <locationX>1898</locationX>
        <locationY>1538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_number_of_other_plots</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_ti</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV_advice8</name>
        <label>Are there other plots in the dissolved company title which require DV advice?</label>
        <locationX>754</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV_advice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_number_of_other_plots</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV_advice1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_you_require_a_desktop_valuation_only2</name>
        <label>Do you require a desktop valuation only</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_require_a_desktop_valuation_only1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_their_reference</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_require_a_desktop_valuation_only1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_their_reference</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_adjoining_owner_expressed_interest10</name>
        <label>Has adjoining owner expressed interest and are you enclosing title details of their property?</label>
        <locationX>2250</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_adjoining_owner_expressed_interest4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_title_number_of_adjoining_property</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_adjoining_owner_expressed_interest4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_adjoining_owner_expressed_interest2</name>
        <label>Has adjoining owner expressed interest and are you enclosing title details of their property?</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_adjoining_owner_expressed_interest1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_title_number_of_adjoining_property</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_adjoining_owner_expressed_interest1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_property_registered2</name>
        <label>Is property registered?</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_property_registered1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_property_registered1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_of_conveyance</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_property_registered5</name>
        <label>Is property registered?</label>
        <locationX>1942</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_property_registered4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_adjoining_owner_expressed_interest</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_property_registered4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_of_conveyance2</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Instructing letter to DV - NOT freehold reversions (DVE5) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Instructing letter to DV - NOT freehold reversions (DVE5)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV12</name>
        <label>Are there other plots in the dissolved company title which require DV advice?</label>
        <locationX>1898</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_other_plots_in_the_dissolved_company</targetReference>
        </connector>
        <fields>
            <name>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV13</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there other plots in the dissolved company title which require DV advice?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV_advice</name>
        <label>Are there other plots in the dissolved company title which require DV advice?</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV_advice8</targetReference>
        </connector>
        <fields>
            <name>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV_advice1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there other plots in the dissolved company title which require DV advice?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_10_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_ti</name>
        <label>Copy 10 of Do you require the DV to check the physical boundaries against the title plan?</label>
        <locationX>1898</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Do_you_require_the_DV_to_provide_photographs</targetReference>
        </connector>
        <fields>
            <name>Copy_9_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to check the physical boundaries against the title plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Do_you_require_the_DV_to_provide_photographs</name>
        <label>Copy 1 of Do you require the DV to provide photographs?</label>
        <locationX>754</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Do_you_require_the_DV_to_provide_photographs1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to provide photographs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Does_the_property_include_roads_and_other_land_in_common</name>
        <label>Copy 1 of Does the property include roads and other land in common</label>
        <locationX>1634</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_8_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Does_the_property_include_roads_and_other_land_in_common1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the property include roads and other land in common</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_colour_in_which_the_freehold_is_shown_on_enclosed_plan</name>
        <label>Copy 1 of Enter colour in which the freehold is shown on enclosed plan</label>
        <locationX>1942</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_property_registered3</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_colour_in_which_the_freehold_is_shown_on_enclosed_plan2</name>
            <dataType>String</dataType>
            <fieldText>Enter colour in which the freehold is shown on enclosed plan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_colour_used_to_show_adjoining_property_on_Plan_2</name>
        <label>Copy 1 of Enter colour used to show adjoining property on Plan 2</label>
        <locationX>1898</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV12</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_colour_used_to_show_adjoining_property_on_Plan2</name>
            <dataType>String</dataType>
            <fieldText>Enter colour used to show adjoining property on Plan 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_colour_used_to_show_other_plots_on_Plan_1</name>
        <label>Copy 1 of Enter colour used to show other plots on Plan 1</label>
        <locationX>1634</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Does_the_property_include_roads_and_other_land_in_common</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_colour_used_to_show_other_plots_on_Plan1</name>
            <dataType>String</dataType>
            <fieldText>Enter colour used to show other plots on Plan 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_name_and_address_of_adjoining_owners</name>
        <label>Copy 1 of Enter name and address of adjoining owners</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_colour_used_to_show_adjoining_property_on_Plan_2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_name_and_address_of_adjoining_owners1</name>
            <fieldText>Enter name and address of adjoining owners</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_number_of_other_plots</name>
        <label>Copy 1 of Enter number of other plots</label>
        <locationX>1634</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_colour_used_to_show_other_plots_on_Plan_1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_number_of_other_plots1</name>
            <dataType>String</dataType>
            <fieldText>Enter number of other plots</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_their_reference</name>
        <label>Copy 1 of Enter their reference</label>
        <locationX>1942</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_colour_in_which_the_freehold_is_shown_on_enclosed_plan</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_their_reference1</name>
            <dataType>String</dataType>
            <fieldText>Enter their reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_title_number_of_adjoining_property</name>
        <label>Copy 1 of Enter title number of adjoining property</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_name_and_address_of_adjoining_owners</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_title_number_of_adjoining_property1</name>
            <dataType>String</dataType>
            <fieldText>Enter title number of adjoining property</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
        <label>Copy 2 of Do you require the DV to check the physical boundaries against the title plan?</label>
        <locationX>754</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Do_you_require_the_DV_to_provide_photographs</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to check the physical boundaries against the title plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Do_you_require_the_DV_to_provide_photographs</name>
        <label>Copy 2 of Do you require the DV to provide photographs?</label>
        <locationX>1194</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Do_you_require_the_DV_to_provide_photographs1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to provide photographs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Do_you_require_the_DV_to_provide_photographs</name>
        <label>Copy 3 of Do you require the DV to provide photographs?</label>
        <locationX>2338</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Do_you_require_the_DV_to_provide_photographs1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to provide photographs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
        <label>Copy 4 of Do you require the DV to check the physical boundaries against the title plan?</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Do_you_require_the_DV_to_provide_photographs</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to check the physical boundaries against the title plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Do_you_require_the_DV_to_provide_photographs</name>
        <label>Copy 4 of Do you require the DV to provide photographs?</label>
        <locationX>1634</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_4_of_Do_you_require_the_DV_to_provide_photographs1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to provide photographs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Do_you_require_the_DV_to_provide_photographs</name>
        <label>Copy 5 of Do you require the DV to provide photographs?</label>
        <locationX>1898</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_5_of_Do_you_require_the_DV_to_provide_photographs1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to provide photographs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_6_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
        <label>Copy 6 of Do you require the DV to check the physical boundaries against the title plan?</label>
        <locationX>2338</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Do_you_require_the_DV_to_provide_photographs</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to check the physical boundaries against the title plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_8_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
        <label>Copy 8 of Do you require the DV to check the physical boundaries against the title plan?</label>
        <locationX>1634</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Do_you_require_the_DV_to_provide_photographs</targetReference>
        </connector>
        <fields>
            <name>Copy_7_of_Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_tit</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to check the physical boundaries against the title plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_require_a_desktop_valuation_only</name>
        <label>Do you require a desktop valuation only</label>
        <locationX>1502</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_you_require_a_desktop_valuation_only2</targetReference>
        </connector>
        <fields>
            <name>Do_you_require_a_desktop_valuation_only1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require a desktop valuation only</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_title_plan</name>
        <label>Do you require the DV to check the physical boundaries against the title plan?</label>
        <locationX>490</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_you_require_the_DV_to_provide_photographs</targetReference>
        </connector>
        <fields>
            <name>Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_title_plan1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to check the physical boundaries against the title plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_require_the_DV_to_provide_photographs</name>
        <label>Do you require the DV to provide photographs?</label>
        <locationX>490</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Do_you_require_the_DV_to_provide_photographs1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you require the DV to provide photographs?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_the_property_include_roads_and_other_land_in_common</name>
        <label>Does the property include roads and other land in common</label>
        <locationX>490</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_you_require_the_DV_to_check_the_physical_boundaries_against_the_title_plan</targetReference>
        </connector>
        <fields>
            <name>Does_the_property_include_roads_and_other_land_in_common1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the property include roads and other land in common</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_colour_in_which_the_freehold_is_shown_on_enclosed_plan1</name>
        <label>Enter colour in which the freehold is shown on enclosed plan</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_property_registered</targetReference>
        </connector>
        <fields>
            <name>Enter_colour_in_which_the_freehold_is_shown_on_enclosed_plan2</name>
            <dataType>String</dataType>
            <fieldText>Enter colour in which the freehold is shown on enclosed plan</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_colour_used_to_show_adjoining_property_on_Plan_2</name>
        <label>Enter colour used to show adjoining property on Plan 2</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_other_plots_in_the_dissolved_company_title_which_require_DV_advice</targetReference>
        </connector>
        <fields>
            <name>Enter_colour_used_to_show_adjoining_property_on_Plan2</name>
            <dataType>String</dataType>
            <fieldText>Enter colour used to show adjoining property on Plan 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_colour_used_to_show_other_plots_on_Plan_1</name>
        <label>Enter colour used to show other plots on Plan 1</label>
        <locationX>490</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_the_property_include_roads_and_other_land_in_common</targetReference>
        </connector>
        <fields>
            <name>Enter_colour_used_to_show_other_plots_on_Plan1</name>
            <dataType>String</dataType>
            <fieldText>Enter colour used to show other plots on Plan 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_conveyance</name>
        <label>Enter date of conveyance</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Enter_date_of_conveyance1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of conveyance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_conveyance2</name>
        <label>Enter date of  conveyance</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_adjoining_owner_expressed_interest3</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_conveyance3</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of  conveyance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_name_and_address_of_adjoining_owners</name>
        <label>Enter name and address of adjoining owners</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_colour_used_to_show_adjoining_property_on_Plan_2</targetReference>
        </connector>
        <fields>
            <name>Enter_name_and_address_of_adjoining_owners1</name>
            <fieldText>Enter name and address of adjoining owners</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_number_of_other_plots</name>
        <label>Enter number of other plots</label>
        <locationX>490</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_colour_used_to_show_other_plots_on_Plan_1</targetReference>
        </connector>
        <fields>
            <name>Enter_number_of_other_plots1</name>
            <dataType>String</dataType>
            <fieldText>Enter number of other plots</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_their_reference</name>
        <label>Enter their reference</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_colour_in_which_the_freehold_is_shown_on_enclosed_plan1</targetReference>
        </connector>
        <fields>
            <name>Enter_their_reference1</name>
            <dataType>String</dataType>
            <fieldText>Enter their reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_title_number_of_adjoining_property</name>
        <label>Enter title number of adjoining property</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_name_and_address_of_adjoining_owners</targetReference>
        </connector>
        <fields>
            <name>Enter_title_number_of_adjoining_property1</name>
            <dataType>String</dataType>
            <fieldText>Enter title number of adjoining property</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_adjoining_owner_expressed_interest</name>
        <label>Has adjoining owner expressed interest and are you enclosing title details of their property?</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_adjoining_owner_expressed_interest2</targetReference>
        </connector>
        <fields>
            <name>Has_adjoining_owner_expressed_interest1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has adjoining owner expressed interest and are you enclosing title details of their property?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_adjoining_owner_expressed_interest3</name>
        <label>Has adjoining owner expressed interest and are you enclosing title details of their property?</label>
        <locationX>2250</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_adjoining_owner_expressed_interest10</targetReference>
        </connector>
        <fields>
            <name>Has_adjoining_owner_expressed_interest4</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has adjoining owner expressed interest and are you enclosing title details of their property?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_property_registered</name>
        <label>Is property registered?</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_property_registered2</targetReference>
        </connector>
        <fields>
            <name>Is_property_registered1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is property registered?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_property_registered3</name>
        <label>Is property registered?</label>
        <locationX>1942</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_property_registered5</targetReference>
        </connector>
        <fields>
            <name>Is_property_registered4</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is property registered?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_you_require_a_desktop_valuation_only</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
