force-app/main/default/flows/Instructions_to_council_COUNSEL1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_field_values</name>
        <label>Store field values</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TF03_LONGTEXT: {!Insert_outline_of_the_matter_on_which_you_are_seeking_Counsels_opinion1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>deadlineDate: {!Insert_deadline_date_for_receipt_of_Counsels_advice1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>EST02: {!EST02};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>currentOfficer: {!currentOfficer};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>caseReference: {!caseReference};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_history_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Instructions to council (COUNSEL1) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Instructions to council (COUNSEL1)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Instructions to Counsel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_case_detail_case_details</name>
        <label>Get case detail (case details)</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_field_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>currentOfficer</assignToReference>
            <field>Current_Officer__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_case_details</name>
        <label>Get case details</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_case_detail_case_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>currentOfficer</assignToReference>
            <field>Case_Officer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EST02</assignToReference>
            <field>Forenames__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseReference</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Insert_deadline_date_for_receipt_of_Counsels_advice</name>
        <label>‘Insert deadline date for receipt of Counsels advice</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_case_details</targetReference>
        </connector>
        <fields>
            <name>Insert_deadline_date_for_receipt_of_Counsels_advice1</name>
            <dataType>Date</dataType>
            <fieldText>‘Insert deadline date for receipt of Counsels advice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_outline_of_the_matter_on_which_you_are_seeking_Counsels_opinion</name>
        <label>Insert outline of the matter on which you are seeking Counsels opinion</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_deadline_date_for_receipt_of_Counsels_advice</targetReference>
        </connector>
        <fields>
            <name>Insert_outline_of_the_matter_on_which_you_are_seeking_Counsels_opinion1</name>
            <fieldText>Insert outline of the matter on which you are seeking Counsels opinion</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_outline_of_the_matter_on_which_you_are_seeking_Counsels_opinion</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentOfficer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EST02</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedFieldValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
