force-app/main/default/flows/Letter_Returning_incomplete_claim_RIC01.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Claimant1</name>
        <choiceText>Claimant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claimant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genealogist</name>
        <choiceText>Genealogist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genealogist</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_and_estate_LESS_than_15k</name>
        <choiceText>Yes_and_estate_LESS_than_£15k</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes_and_estate_LESS_than_£15k</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_and_estate_MORE_than_15k</name>
        <choiceText>Yes_and_estate_MORE_than_£15k</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes_and_estate_MORE_than_£15k</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Claim_within_3_months_of_30_year_deadline2</name>
        <label>Claim within 3 months of 30 year deadline?</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claim_within_3_months_of_30_year_deadline1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_of_deadline_for_claim</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Claim_within_3_months_of_30_year_deadline1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Claim_within_3_months_of_30_year_deadline</name>
        <label>Copy 2 of Claim within 3 months of 30 year deadline?</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Claim_within_3_months_of_30_year_deadline1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_date_of_deadline_for_claim</targetReference>
            </connector>
            <label>Copy 1 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Claim_within_3_months_of_30_year_deadline1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</targetReference>
            </connector>
            <label>Copy 1 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Claim_within_3_months_of_30_year_deadline</name>
        <label>Copy 4 of Claim within 3 months of 30 year deadline?</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Claim_within_3_months_of_30_year_deadline1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Enter_date_of_deadline_for_claim</targetReference>
            </connector>
            <label>Copy 2 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_2_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Claim_within_3_months_of_30_year_deadline1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</targetReference>
            </connector>
            <label>Copy 2 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_recipient2</name>
        <label>Select recipient</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Claimant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_recipient1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Claimant1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claimant</targetReference>
            </connector>
            <label>Selected Claimant</label>
        </rules>
        <rules>
            <name>Selected_Genealogist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_recipient1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Genealogist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Claimant</targetReference>
            </connector>
            <label>Selected Genealogist</label>
        </rules>
        <rules>
            <name>Selected_Solicitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_recipient1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Solicitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Claimant_s_Solicitors</targetReference>
            </connector>
            <label>Selected Solicitor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Letter Returning incomplete claim	(RIC01) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Letter Returning incomplete claim	(RIC01)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_required</name>
        <label>Add address, or list and select as required</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_you_sending_this_by_Signed_for_1st_Class</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address, or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_you_sending_this_by_Signed_for_1st_Class</name>
        <label>Are you sending this by Signed for 1st Class?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_their_ref</targetReference>
        </connector>
        <fields>
            <name>Are_you_sending_this_by_Signed_for_1st_Class1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sending this by Signed for 1st Class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claim_within_3_months_of_30_year_deadline</name>
        <label>Claim within 3 months of 30 year deadline?</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claim_within_3_months_of_30_year_deadline2</targetReference>
        </connector>
        <fields>
            <name>Claim_within_3_months_of_30_year_deadline1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Claim within 3 months of 30 year deadline?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimant</name>
        <label>Claimant</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_address_or_list_and_select_as_required</targetReference>
        </connector>
        <fields>
            <name>Claimant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN_01</name>
                    <dataType>String</dataType>
                    <fieldText>Surname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Claimant_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN02</name>
                    <dataType>String</dataType>
                    <fieldText>Forenames:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Claimant_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>KIN04</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimant_s_Solicitors</name>
        <label>Claimant&apos;s Solicitors</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Add_address_or_list_and_select_as_required</targetReference>
        </connector>
        <fields>
            <name>Claimant_s_Solicitors_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant_s_Solicitors_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KSO01</name>
                    <dataType>String</dataType>
                    <fieldText>Claimant&apos;s Solicitor:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Claimant_s_Solicitors_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KSO09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>KSO02</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Add_address_or_list_and_select_as_required</name>
        <label>Copy 1 of Add address, or list and select as required</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address, or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class</name>
        <label>Copy 1 of Are you sending this by Signed for 1st Class?</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_date_of_letter</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sending this by Signed for 1st Class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Claim_within_3_months_of_30_year_deadline</name>
        <label>Copy 1 of Claim within 3 months of 30 year deadline?</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Claim_within_3_months_of_30_year_deadline</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Claim_within_3_months_of_30_year_deadline1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Claim within 3 months of 30 year deadline?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Claimant</name>
        <label>Copy 1 of Claimant</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Are_you_sending_this_by_Signed_for_1st_Class</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Claimant_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Claimant_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN11</name>
                    <dataType>String</dataType>
                    <fieldText>Genealogist:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Claimant_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN20</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>KIN12</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_date_of_deadline_for_claim</name>
        <label>Copy 1 of Enter date of deadline for claim</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_date_of_deadline_for_claim1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of deadline for claim</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_date_of_letter</name>
        <label>Copy 1 of Enter date of letter</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Summary_of_missing_documents_or_information</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_date_of_letter1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_Salutation</name>
        <label>Copy 1 of Enter Salutation</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_date_of_letter</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_Salutation1</name>
            <dataType>String</dataType>
            <fieldText>Enter Salutation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</name>
        <label>Copy 1 of PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Summary_of_missing_documents_or_information</name>
        <label>Copy 1 of Summary of missing documents or information</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Claim_within_3_months_of_30_year_deadline</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Summary_of_missing_documents_or_information1</name>
            <fieldText>Summary of missing documents or information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Are_you_sending_this_by_Signed_for_1st_Class</name>
        <label>Copy 2 of Are you sending this by Signed for 1st Class?</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_Salutation</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Are_you_sending_this_by_Signed_for_1st_Class1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sending this by Signed for 1st Class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_date_of_deadline_for_claim</name>
        <label>Copy 2 of Enter date of deadline for claim</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_date_of_deadline_for_claim1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of deadline for claim</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_date_of_letter</name>
        <label>Copy 2 of Enter date of letter</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Summary_of_missing_documents_or_information</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_date_of_letter1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</name>
        <label>Copy 2 of PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Summary_of_missing_documents_or_information</name>
        <label>Copy 2 of Summary of missing documents or information</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Claim_within_3_months_of_30_year_deadline</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Summary_of_missing_documents_or_information1</name>
            <fieldText>Summary of missing documents or information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Claim_within_3_months_of_30_year_deadline</name>
        <label>Copy 3 of Claim within 3 months of 30 year deadline?</label>
        <locationX>1898</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Claim_within_3_months_of_30_year_deadline</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Claim_within_3_months_of_30_year_deadline1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Claim within 3 months of 30 year deadline?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</name>
        <label>Copy 3 of PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</name>
        <label>Copy 4 of PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_4_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</name>
        <label>Copy 5 of PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</label>
        <locationX>1898</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_5_of_PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_deadline_for_claim</name>
        <label>Enter date of deadline for claim</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_deadline_for_claim1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of deadline for claim</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_letter</name>
        <label>Enter date of letter</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Summary_of_missing_documents_or_information</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_letter1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Salutation</name>
        <label>Enter Salutation</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_letter</targetReference>
        </connector>
        <fields>
            <name>Enter_Salutation1</name>
            <dataType>String</dataType>
            <fieldText>Enter Salutation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_their_ref</name>
        <label>Enter their ref</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_Salutation</targetReference>
        </connector>
        <fields>
            <name>Enter_their_ref1</name>
            <dataType>String</dataType>
            <fieldText>Enter their ref</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST</name>
        <label>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GEGALOGIST1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GEGALOGIST</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_recipient</name>
        <label>Select recipient</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_recipient2</targetReference>
        </connector>
        <fields>
            <name>Select_recipient1</name>
            <choiceReferences>Claimant1</choiceReferences>
            <choiceReferences>Genealogist</choiceReferences>
            <choiceReferences>Solicitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select recipient</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_of_missing_documents_or_information</name>
        <label>Summary of missing documents or information</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claim_within_3_months_of_30_year_deadline</targetReference>
        </connector>
        <fields>
            <name>Summary_of_missing_documents_or_information1</name>
            <fieldText>Summary of missing documents or information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_recipient</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
