force-app/main/default/flows/Letter_to_probate_registry_re_missing_off_copies_PROB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_field_values</name>
        <label>Store field values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>noOfMissingCopies: {!noOfMissingCopiesFormula};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_history_record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>One</name>
        <choiceText>One</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One</stringValue>
        </value>
    </choices>
    <choices>
        <name>Two</name>
        <choiceText>Two</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Two</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>noOfMissingCopiesFormula</name>
        <dataType>String</dataType>
        <expression>if( {!Select_number_of_missing_copies1} = &quot;One&quot;, &quot;True&quot;, &quot;False&quot;)</expression>
    </formulas>
    <interviewLabel>Letter to probate registry re: missing off. copies (PROB) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Letter to probate registry re: missing off. copies (PROB)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Missing copies for + {!caseReference}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_case_data</name>
        <label>Get case data</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_field_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>caseReference</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Select_number_of_missing_copies</name>
        <label>Select number of missing copies</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_case_data</targetReference>
        </connector>
        <fields>
            <name>Select_number_of_missing_copies1</name>
            <choiceReferences>One</choiceReferences>
            <choiceReferences>Two</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select number of missing copies</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_number_of_missing_copies</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedFieldValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
