force-app/main/default/flows/Letters_to_Benefits_Agency_RFE_with_asset_details_BV25.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Cleared</name>
        <choiceText>Cleared?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cleared?</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None?</stringValue>
        </value>
    </choices>
    <choices>
        <name>None1</name>
        <choiceText>None?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None?</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sold</name>
        <choiceText>Sold?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sold?</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sold1</name>
        <choiceText>Sold?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sold?</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_any_other_assets2</name>
        <label>Are there any other assets?</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_other_assets1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_details_of_assets_values</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_other_assets1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_NOW_PLEASE_REMEMBER_TO_REVERSE_ANY_ACCRUALS</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Letters to Benefits Agency RFE with asset details (BV25) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Letters to Benefits Agency RFE with asset details (BV25)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_requested</name>
        <label>Add address, or list and select as requested</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Addresses</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_requested1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address, or list and select as requested</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_of_Pension_Benefit_arrears</name>
        <label>Amount of Pension/Benefit arrears</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stocks_Shares</targetReference>
        </connector>
        <fields>
            <name>Amount_of_Pension_Benefit_arrears1</name>
            <dataType>Currency</dataType>
            <fieldText>Amount of Pension/Benefit arrears</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_there_any_other_assets</name>
        <label>Are there any other assets?</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_other_assets2</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_other_assets1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any other assets?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bank_Building_society</name>
        <label>Bank/Building society</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insurance_Policy</targetReference>
        </connector>
        <fields>
            <name>Bank_Building_society_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bank_Building_society_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BAN01</name>
                    <dataType>String</dataType>
                    <fieldText>Bank</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Bank_Building_society_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BAN11</name>
                    <dataType>Currency</dataType>
                    <fieldText>Balance:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_NOW_PLEASE_REMEMBER_TO_REVERSE_ANY_ACCRUALS</name>
        <label>Copy 1 of NOW PLEASE REMEMBER TO REVERSE ANY ACCRUALS!</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_NOW_PLEASE_REMEMBER_TO_REVERSE_ANY_ACCRUALS1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NOW PLEASE REMEMBER TO REVERSE ANY ACCRUALS!</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_received_letter</name>
        <label>Enter date of received letter</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Bank_Building_society</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_received_letter1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of received letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_details_of_assets_values</name>
        <label>Enter details of assets &amp; values</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NOW_PLEASE_REMEMBER_TO_REVERSE_ANY_ACCRUALS</targetReference>
        </connector>
        <fields>
            <name>Enter_details_of_assets_values1</name>
            <fieldText>Enter details of assets &amp; values</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Furniture_and_effects</name>
        <label>Furniture and effects</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_other_assets</targetReference>
        </connector>
        <fields>
            <name>Furniture_and_effects1</name>
            <choiceReferences>None1</choiceReferences>
            <choiceReferences>Sold1</choiceReferences>
            <choiceReferences>Cleared</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Furniture and effects</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hospital</name>
        <label>Hospital</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>National_Savings</targetReference>
        </connector>
        <fields>
            <name>Hospital_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hospital_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HOS13</name>
                    <dataType>Currency</dataType>
                    <fieldText>Cash?:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hospital_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HOS14</name>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Jewellery?:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insurance_Policy</name>
        <label>Insurance Policy</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Hospital</targetReference>
        </connector>
        <fields>
            <name>Insurance_Policy_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Insurance_Policy_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>INS01</name>
                    <dataType>String</dataType>
                    <fieldText>Insurer:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Insurance_Policy_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>INS10</name>
                    <dataType>String</dataType>
                    <fieldText>Value:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>National_Savings</name>
        <label>National Savings?</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NationalSavings</targetReference>
        </connector>
        <fields>
            <name>National_Savings1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>National Savings?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NationalSavings</name>
        <label>National Savings</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Amount_of_Pension_Benefit_arrears</targetReference>
        </connector>
        <fields>
            <name>NationalSavings_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NationalSavings_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NAT01</name>
                    <dataType>String</dataType>
                    <fieldText>Account No:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NationalSavings_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NAT04</name>
                    <dataType>String</dataType>
                    <fieldText>NSC Holder No:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NationalSavings_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NAT16</name>
                    <dataType>String</dataType>
                    <fieldText>PSBonds Holder No:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NOW_PLEASE_REMEMBER_TO_REVERSE_ANY_ACCRUALS</name>
        <label>NOW PLEASE REMEMBER TO REVERSE ANY ACCRUALS!</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NOW_PLEASE_REMEMBER_TO_REVERSE_ANY_ACCRUALS1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>NOW PLEASE REMEMBER TO REVERSE ANY ACCRUALS!</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Addresses</name>
        <label>Other Addresses</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_received_letter</targetReference>
        </connector>
        <fields>
            <name>Other_Addresses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Other_Addresses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD01</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stocks_Shares</name>
        <label>Stocks/Shares</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Furniture_and_effects</targetReference>
        </connector>
        <fields>
            <name>Stocks_Shares_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stocks_Shares_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SHA01</name>
                    <dataType>String</dataType>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Stocks_Shares_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stocks_Shares_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SHA10</name>
                    <dataType>String</dataType>
                    <fieldText>No of Shares:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stocks_Shares_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SHA11</name>
                    <dataType>String</dataType>
                    <fieldText>Probate Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_address_or_list_and_select_as_requested</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
