force-app/main/default/flows/Offer_letter_inf_or_other_Add_to_Sols_OFFER1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Charge</name>
        <choiceText>Charge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Charge</stringValue>
        </value>
    </choices>
    <choices>
        <name>freehold</name>
        <choiceText>freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informant</name>
        <choiceText>Informant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_Charge</name>
        <choiceText>Land Charge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land Charge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lay_person_Company</name>
        <choiceText>Lay person / Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lay person / Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>Layperson_Company</name>
        <choiceText>Layperson/Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Layperson/Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>leasehold</name>
        <choiceText>leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>leasehold_reversion</name>
        <choiceText>leasehold reversion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>leasehold reversion</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Addressee</name>
        <choiceText>Other Addressee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Addressee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitors</name>
        <choiceText>Solicitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1208_75</name>
        <choiceText>1208.75</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1208.75</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1313_75</name>
        <choiceText>1313.75</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1313.75</stringValue>
        </value>
    </choices>
    <choices>
        <name>X500</name>
        <choiceText>500</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>500</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_10_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 10 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>6826</locationX>
        <locationY>2402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_13_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_5_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Insert_completion_date</targetReference>
            </connector>
            <label>Copy 13 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_13_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_5_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_17_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 13 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_10_of_Has_disclaimer_date_passed</name>
        <label>Copy 10 of Has disclaimer date passed?</label>
        <locationX>6782</locationX>
        <locationY>2186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_12_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_5_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_15_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 12 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_12_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_5_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
            </connector>
            <label>Copy 12 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_12_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 12 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>8146</locationX>
        <locationY>2510</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_16_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_6_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Insert_completion_date</targetReference>
            </connector>
            <label>Copy 16 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_16_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_6_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_20_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 16 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_12_of_Has_disclaimer_date_passed</name>
        <label>Copy 12 of Has disclaimer date passed?</label>
        <locationX>8102</locationX>
        <locationY>2294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_15_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_6_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_18_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 15 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_15_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_6_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
            </connector>
            <label>Copy 15 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_14_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaim</name>
        <label>Copy 14 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>9290</locationX>
        <locationY>2294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_14_of_Selected_Yes15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_7_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Insert_completion_date</targetReference>
            </connector>
            <label>Copy 14 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_14_of_Selected_No15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_7_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_23_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 14 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_14_of_Has_disclaimer_date_passed</name>
        <label>Copy 14 of Has disclaimer date passed?</label>
        <locationX>9246</locationX>
        <locationY>2078</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_14_of_Selected_Yes14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_7_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_21_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 14 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_14_of_Selected_No14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_7_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_13_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
            </connector>
            <label>Copy 14 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_District_Valuers_fees_payable</name>
        <label>Copy 2 of District Valuers fees payable?</label>
        <locationX>8311</locationX>
        <locationY>1538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_District_Valuers_fees_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_amount_of_DV_fees</targetReference>
            </connector>
            <label>Copy 1 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_District_Valuers_fees_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Other_disbursements_payable</targetReference>
            </connector>
            <label>Copy 1 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 2 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>1722</locationX>
        <locationY>2186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_7_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Insert_completion_date</targetReference>
            </connector>
            <label>Copy 7 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_7_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 7 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Has_disclaimer_date_passed</name>
        <label>Copy 2 of Has disclaimer date passed?</label>
        <locationX>5638</locationX>
        <locationY>2402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 3 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_3_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
            </connector>
            <label>Copy 3 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Other_disbursements_payable</name>
        <label>Copy 2 of Other disbursements payable?</label>
        <locationX>6540</locationX>
        <locationY>1862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Other_disbursements_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_nature_of_other_disbursements</targetReference>
            </connector>
            <label>Copy 2 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_2_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Other_disbursements_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Insert_total_amount_required_to_instruct_conveyancing</targetReference>
            </connector>
            <label>Copy 2 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 4 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>3042</locationX>
        <locationY>2294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_8_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Insert_completion_date</targetReference>
            </connector>
            <label>Copy 8 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_8_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 8 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Has_disclaimer_date_passed</name>
        <label>Copy 4 of Has disclaimer date passed?</label>
        <locationX>2998</locationX>
        <locationY>2078</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 5 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_5_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
            </connector>
            <label>Copy 5 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Other_disbursements_payable</name>
        <label>Copy 4 of Other disbursements payable?</label>
        <locationX>3900</locationX>
        <locationY>1538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Other_disbursements_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Enter_nature_of_other_disbursements</targetReference>
            </connector>
            <label>Copy 4 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_4_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Other_disbursements_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Insert_total_amount_required_to_instruct_conveyancing</targetReference>
            </connector>
            <label>Copy 4 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 6 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>4186</locationX>
        <locationY>2078</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_10_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Insert_completion_date</targetReference>
            </connector>
            <label>Copy 10 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_10_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 10 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_Has_disclaimer_date_passed</name>
        <label>Copy 6 of Has disclaimer date passed?</label>
        <locationX>1678</locationX>
        <locationY>1970</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 6 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_6_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
            </connector>
            <label>Copy 6 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_Other_disbursements_payable</name>
        <label>Copy 6 of Other disbursements payable?</label>
        <locationX>9004</locationX>
        <locationY>1754</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_14_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Other_disbursements_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Enter_nature_of_other_disbursements</targetReference>
            </connector>
            <label>Copy 14 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_14_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Other_disbursements_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Insert_total_amount_required_to_instruct_conveyancing</targetReference>
            </connector>
            <label>Copy 14 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_8_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 8 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>5682</locationX>
        <locationY>2618</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_11_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_4_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Insert_completion_date</targetReference>
            </connector>
            <label>Copy 11 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_11_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_4_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_14_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 11 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_8_of_Has_disclaimer_date_passed</name>
        <label>Copy 8 of Has disclaimer date passed?</label>
        <locationX>4142</locationX>
        <locationY>1862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_9_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_4_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Copy 9 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_9_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_4_of_Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
            </connector>
            <label>Copy 9 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>District_Valuers_fees_payable2</name>
        <label>District Valuers fees payable?</label>
        <locationX>3207</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>District_Valuers_fees_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_amount_of_DV_fees</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>District_Valuers_fees_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Other_disbursements_payable</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date2</name>
        <label>Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>578</locationX>
        <locationY>2402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_completion_date</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_disclaimer_date_passed2</name>
        <label>Has disclaimer date passed?</label>
        <locationX>534</locationX>
        <locationY>2186</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_disclaimer_date_passed1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_disbursements_payable2</name>
        <label>Other disbursements payable?</label>
        <locationX>1436</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_disbursements_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_nature_of_other_disbursements</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_disbursements_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Insert_total_amount_required_to_instruct_conveyancing</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Please_choose_addressee2</name>
        <label>Please choose addressee</label>
        <locationX>6732</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Informant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Informant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Writing_to</targetReference>
            </connector>
            <label>Selected Informant</label>
        </rules>
        <rules>
            <name>Selected_OtherAddressee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Addressee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_address_or_list_and_select_as_required</targetReference>
            </connector>
            <label>Selected Other Addressee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Offer letter (inf or other Add) to Sols (OFFER1) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offer letter (inf or other Add) to Sols (OFFER1)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_required</name>
        <label>Add address or list and select as required</label>
        <locationX>8311</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OtherAddresses</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Any_selling_agents_fees_payable_by_purchaser</name>
        <label>Any selling agents fees payable by purchaser?</label>
        <locationX>3207</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_nature_of_sale</targetReference>
        </connector>
        <fields>
            <name>Any_selling_agents_fees_payable_by_purchaser1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Any selling agents fees payable by purchaser?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_you_enclosing_plan_showing_sale_property_coloured_red</name>
        <label>Are you enclosing plan showing sale property coloured red?</label>
        <locationX>3207</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Property_Land</targetReference>
        </connector>
        <fields>
            <name>Are_you_enclosing_plan_showing_sale_property_coloured_red1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you enclosing plan showing sale property coloured red?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_10_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 10 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>3658</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_10_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_11_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 11 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>8146</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_12_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
        </connector>
        <fields>
            <name>Copy_6_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to set a completion date other than the disclaimer date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_11_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 11 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>3922</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_11_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_11_of_Has_disclaimer_date_passed</name>
        <label>Copy 11 of Has disclaimer date passed?</label>
        <locationX>8102</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_12_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_6_of_Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_12_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 12 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>4186</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_12_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_13_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 13 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>9290</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_14_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaim</targetReference>
        </connector>
        <fields>
            <name>Copy_7_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to set a completion date other than the disclaimer date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_13_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 13 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>5418</locationX>
        <locationY>2834</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_13_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_13_of_Has_disclaimer_date_passed</name>
        <label>Copy 13 of Has disclaimer date passed?</label>
        <locationX>9246</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_14_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_7_of_Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_14_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 14 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>5682</locationX>
        <locationY>2726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_14_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_15_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 15 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>6298</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_15_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_16_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 16 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>6562</locationX>
        <locationY>2618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_16_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_17_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 17 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>6826</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_17_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_18_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 18 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>7618</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_18_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_19_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 19 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>7882</locationX>
        <locationY>2726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_19_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Any_selling_agents_fees_payable_by_purchaser</name>
        <label>Copy 1 of Any selling agents fees payable by purchaser?</label>
        <locationX>8311</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Select_nature_of_sale</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Any_selling_agents_fees_payable_by_purchaser1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Any selling agents fees payable by purchaser?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Are_you_enclosing_plan_showing_sale_property_coloured_red</name>
        <label>Copy 1 of Are you enclosing plan showing sale property coloured red?</label>
        <locationX>8311</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Property_Land</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Are_you_enclosing_plan_showing_sale_property_coloured_red1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you enclosing plan showing sale property coloured red?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Did_you_commission_a_DV_report</name>
        <label>Copy 1 of Did you commission a DV report?</label>
        <locationX>8311</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Are_you_enclosing_plan_showing_sale_property_coloured_red</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Did_you_commission_a_DV_report1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you commission a DV report?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_District_Valuers_fees_payable</name>
        <label>Copy 1 of District Valuers fees payable?</label>
        <locationX>8311</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_District_Valuers_fees_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_District_Valuers_fees_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>District Valuers fees payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 1 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>1722</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to set a completion date other than the disclaimer date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 1 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>5154</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_amount_of_DV_fees</name>
        <label>Copy 1 of Enter amount of DV fees</label>
        <locationX>6540</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Other_disbursements_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_amount_of_DV_fees1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter amount of DV fees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_nature_of_other_disbursements</name>
        <label>Copy 1 of Enter nature of other disbursements</label>
        <locationX>5638</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_total_amount_of_other_disbursements</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_nature_of_other_disbursements2</name>
            <dataType>String</dataType>
            <fieldText>Enter nature of other disbursements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_total_amount_of_other_disbursements</name>
        <label>Copy 1 of Enter total amount of other disbursements</label>
        <locationX>5638</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Insert_total_amount_required_to_instruct_conveyancing</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_total_amount_of_other_disbursements1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total amount of other disbursements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Has_disclaimer_date_passed</name>
        <label>Copy 1 of Has disclaimer date passed?</label>
        <locationX>5638</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Insert_completion_date</name>
        <label>Copy 1 of Insert completion date</label>
        <locationX>1458</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Insert_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Insert_number_of_days_for_return_of_signed_Heads_of_Terms</name>
        <label>Copy 1 of Insert number of days for return of signed Heads of Terms</label>
        <locationX>8311</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_District_Valuers_fees_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Insert_number_of_days_for_return_of_signed_Heads_of_Terms1</name>
            <dataType>String</dataType>
            <fieldText>Insert number of days for return of signed Heads of Terms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Insert_total_amount_required_to_instruct_conveyancing</name>
        <label>Copy 1 of Insert total amount required to instruct conveyancing</label>
        <locationX>5638</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Insert_total_amount_required_to_instruct_conveyancing1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert total amount required to instruct conveyancing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Other_disbursements_payable</name>
        <label>Copy 1 of Other disbursements payable?</label>
        <locationX>6540</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Other_disbursements_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Other_disbursements_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other disbursements payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Property_Land</name>
        <label>Copy 1 of Property / Land</label>
        <locationX>8311</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Any_selling_agents_fees_payable_by_purchaser</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Property_Land_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Property_Land_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ASS08</name>
                    <dataType>String</dataType>
                    <fieldText>Sale price:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Select_nature_of_sale</name>
        <label>Copy 1 of Select nature of sale</label>
        <locationX>8311</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Insert_number_of_days_for_return_of_signed_Heads_of_Terms</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Select_nature_of_sale1</name>
            <choiceReferences>leasehold</choiceReferences>
            <choiceReferences>leasehold_reversion</choiceReferences>
            <choiceReferences>freehold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select nature of sale</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Writing_to</name>
        <label>Copy 1 of Writing to?</label>
        <locationX>8311</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Did_you_commission_a_DV_report</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Writing_to1</name>
            <choiceReferences>Solicitors</choiceReferences>
            <choiceReferences>Lay_person_Company</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Writing to?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_20_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 20 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>8146</locationX>
        <locationY>2618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_20_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_21_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 21 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>8762</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_21_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_22_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 22 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>9026</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_22_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_23_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 23 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>9290</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_23_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 2 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>2514</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_nature_of_other_disbursements</name>
        <label>Copy 2 of Enter nature of other disbursements</label>
        <locationX>2998</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_total_amount_of_other_disbursements</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_nature_of_other_disbursements2</name>
            <dataType>String</dataType>
            <fieldText>Enter nature of other disbursements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_total_amount_of_other_disbursements</name>
        <label>Copy 2 of Enter total amount of other disbursements</label>
        <locationX>2998</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Insert_total_amount_required_to_instruct_conveyancing</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_total_amount_of_other_disbursements1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total amount of other disbursements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Insert_completion_date</name>
        <label>Copy 2 of Insert completion date</label>
        <locationX>2778</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_8_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Insert_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Insert_total_amount_required_to_instruct_conveyancing</name>
        <label>Copy 2 of Insert total amount required to instruct conveyancing</label>
        <locationX>2998</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Insert_total_amount_required_to_instruct_conveyancing1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert total amount required to instruct conveyancing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 3 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>3042</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to set a completion date other than the disclaimer date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 3 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>1194</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Enter_nature_of_other_disbursements</name>
        <label>Copy 3 of Enter nature of other disbursements</label>
        <locationX>8102</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Enter_total_amount_of_other_disbursements</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Enter_nature_of_other_disbursements2</name>
            <dataType>String</dataType>
            <fieldText>Enter nature of other disbursements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Enter_total_amount_of_other_disbursements</name>
        <label>Copy 3 of Enter total amount of other disbursements</label>
        <locationX>8102</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Insert_total_amount_required_to_instruct_conveyancing</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Enter_total_amount_of_other_disbursements1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total amount of other disbursements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Has_disclaimer_date_passed</name>
        <label>Copy 3 of Has disclaimer date passed?</label>
        <locationX>2998</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Insert_completion_date</name>
        <label>Copy 3 of Insert completion date</label>
        <locationX>3922</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_11_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Insert_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Insert_total_amount_required_to_instruct_conveyancing</name>
        <label>Copy 3 of Insert total amount required to instruct conveyancing</label>
        <locationX>1678</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Insert_total_amount_required_to_instruct_conveyancing1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert total amount required to instruct conveyancing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Other_disbursements_payable</name>
        <label>Copy 3 of Other disbursements payable?</label>
        <locationX>3900</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Other_disbursements_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Other_disbursements_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other disbursements payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 4 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>314</locationX>
        <locationY>2618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_4_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Insert_completion_date</name>
        <label>Copy 4 of Insert completion date</label>
        <locationX>5418</locationX>
        <locationY>2726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_13_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Insert_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Insert_total_amount_required_to_instruct_conveyancing</name>
        <label>Copy 4 of Insert total amount required to instruct conveyancing</label>
        <locationX>4142</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_7_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Insert_total_amount_required_to_instruct_conveyancing1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert total amount required to instruct conveyancing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 5 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>4186</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to set a completion date other than the disclaimer date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 5 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>578</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_5_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Has_disclaimer_date_passed</name>
        <label>Copy 5 of Has disclaimer date passed?</label>
        <locationX>1678</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Insert_completion_date</name>
        <label>Copy 5 of Insert completion date</label>
        <locationX>6562</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_16_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_Insert_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Insert_total_amount_required_to_instruct_conveyancing</name>
        <label>Copy 5 of Insert total amount required to instruct conveyancing</label>
        <locationX>6782</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_9_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_Insert_total_amount_required_to_instruct_conveyancing1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert total amount required to instruct conveyancing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Other_disbursements_payable</name>
        <label>Copy 5 of Other disbursements payable?</label>
        <locationX>9004</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Other_disbursements_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Other_disbursements_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other disbursements payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_6_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 6 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>1458</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_6_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_6_of_Insert_completion_date</name>
        <label>Copy 6 of Insert completion date</label>
        <locationX>7882</locationX>
        <locationY>2618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_19_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_6_of_Insert_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_6_of_Insert_total_amount_required_to_instruct_conveyancing</name>
        <label>Copy 6 of Insert total amount required to instruct conveyancing</label>
        <locationX>8102</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_11_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_6_of_Insert_total_amount_required_to_instruct_conveyancing1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert total amount required to instruct conveyancing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_7_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 7 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>5682</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_8_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to set a completion date other than the disclaimer date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_7_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 7 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>1722</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_7_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_7_of_Has_disclaimer_date_passed</name>
        <label>Copy 7 of Has disclaimer date passed?</label>
        <locationX>4142</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_8_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_7_of_Insert_completion_date</name>
        <label>Copy 7 of Insert completion date</label>
        <locationX>9026</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_22_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_7_of_Insert_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_7_of_Insert_total_amount_required_to_instruct_conveyancing</name>
        <label>Copy 7 of Insert total amount required to instruct conveyancing</label>
        <locationX>9246</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_13_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_7_of_Insert_total_amount_required_to_instruct_conveyancing1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert total amount required to instruct conveyancing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_8_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 8 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>2778</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_8_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_9_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Copy 9 of Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>6826</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_10_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to set a completion date other than the disclaimer date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_9_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 9 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>3042</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_9_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_9_of_Has_disclaimer_date_passed</name>
        <label>Copy 9 of Has disclaimer date passed?</label>
        <locationX>6782</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_10_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Did_you_commission_a_DV_report</name>
        <label>Did you commission a DV report?</label>
        <locationX>3207</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_you_enclosing_plan_showing_sale_property_coloured_red</targetReference>
        </connector>
        <fields>
            <name>Did_you_commission_a_DV_report1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did you commission a DV report?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>District_Valuers_fees_payable</name>
        <label>District Valuers fees payable?</label>
        <locationX>3207</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>District_Valuers_fees_payable2</targetReference>
        </connector>
        <fields>
            <name>District_Valuers_fees_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>District Valuers fees payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date</name>
        <label>Do you wish to set a completion date other than the disclaimer date</label>
        <locationX>578</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date2</targetReference>
        </connector>
        <fields>
            <name>Do_you_wish_to_set_a_completion_date_other_than_the_disclaimer_date1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to set a completion date other than the disclaimer date</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Does total value of the transaction exceed £10,000.00?</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_amount_of_DV_fees</name>
        <label>Enter amount of DV fees</label>
        <locationX>1436</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_disbursements_payable</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_of_DV_fees1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter amount of DV fees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_nature_of_other_disbursements</name>
        <label>Enter nature of other disbursements</label>
        <locationX>534</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_total_amount_of_other_disbursements</targetReference>
        </connector>
        <fields>
            <name>Enter_nature_of_other_disbursements2</name>
            <dataType>String</dataType>
            <fieldText>Enter nature of other disbursements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_total_amount_of_other_disbursements</name>
        <label>Enter total amount of other disbursements</label>
        <locationX>534</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_total_amount_required_to_instruct_conveyancing</targetReference>
        </connector>
        <fields>
            <name>Enter_total_amount_of_other_disbursements1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total amount of other disbursements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_disclaimer_date_passed</name>
        <label>Has disclaimer date passed?</label>
        <locationX>534</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_disclaimer_date_passed2</targetReference>
        </connector>
        <fields>
            <name>Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_completion_date</name>
        <label>Insert completion date</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Insert_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Insert completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_number_of_days_for_return_of_signed_Heads_of_Terms</name>
        <label>Insert number of days for return of signed Heads of Terms</label>
        <locationX>3207</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>District_Valuers_fees_payable</targetReference>
        </connector>
        <fields>
            <name>Insert_number_of_days_for_return_of_signed_Heads_of_Terms1</name>
            <dataType>String</dataType>
            <fieldText>Insert number of days for return of signed Heads of Terms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_total_amount_required_to_instruct_conveyancing</name>
        <label>Insert total amount required to instruct conveyancing</label>
        <locationX>534</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Insert_total_amount_required_to_instruct_conveyancing1</name>
            <dataType>Currency</dataType>
            <fieldText>Insert total amount required to instruct conveyancing</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_disbursements_payable</name>
        <label>Other disbursements payable?</label>
        <locationX>1436</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_disbursements_payable2</targetReference>
        </connector>
        <fields>
            <name>Other_disbursements_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Other disbursements payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OtherAddresses</name>
        <label>Other Addresses</label>
        <locationX>8311</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Writing_to</targetReference>
        </connector>
        <fields>
            <name>OtherAddresses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OtherAddresses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD01</name>
                    <dataType>String</dataType>
                    <fieldText>Other Addresses</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OtherAddresses_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OAD02</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_choose_addressee</name>
        <label>Please choose addressee</label>
        <locationX>6732</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_choose_addressee2</targetReference>
        </connector>
        <fields>
            <name>Please_choose_addressee1</name>
            <choiceReferences>Informant</choiceReferences>
            <choiceReferences>Other_Addressee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose addressee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Property_Land</name>
        <label>Property / Land</label>
        <locationX>3207</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Any_selling_agents_fees_payable_by_purchaser</targetReference>
        </connector>
        <fields>
            <name>Property_Land_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Land_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ASS08</name>
                    <dataType>String</dataType>
                    <fieldText>Sale price:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_amount_of_TSol_costs</name>
        <label>Select amount of TSol costs £</label>
        <locationX>6732</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_choose_addressee</targetReference>
        </connector>
        <fields>
            <name>Select_amount_of_TSol_costs1</name>
            <choiceReferences>X1208_75</choiceReferences>
            <choiceReferences>X1313_75</choiceReferences>
            <choiceReferences>X500</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select amount of TSol costs £</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_nature_of_sale</name>
        <label>Select nature of sale</label>
        <locationX>3207</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_number_of_days_for_return_of_signed_Heads_of_Terms</targetReference>
        </connector>
        <fields>
            <name>Select_nature_of_sale1</name>
            <choiceReferences>leasehold</choiceReferences>
            <choiceReferences>leasehold_reversion</choiceReferences>
            <choiceReferences>freehold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select nature of sale</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Writing_to</name>
        <label>Writing to?</label>
        <locationX>3207</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_commission_a_DV_report</targetReference>
        </connector>
        <fields>
            <name>Writing_to1</name>
            <choiceReferences>Solicitors</choiceReferences>
            <choiceReferences>Lay_person_Company</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Writing to?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>6606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_amount_of_TSol_costs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
