force-app/main/default/flows/Offer_letter_to_sell_unquoted_shares_SHA09.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Informant</name>
        <choiceText>Informant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informant</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Addressee</name>
        <choiceText>Other Addressee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Addressee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Please_choose_addressee2</name>
        <label>Please choose addressee</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Informant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Informant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_of_the_letter_received</targetReference>
            </connector>
            <label>Selected Informant</label>
        </rules>
        <rules>
            <name>Selected_OtherAddressee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Addressee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_address_or_list_and_select_as_required</targetReference>
            </connector>
            <label>Selected Other Addressee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Offer letter to sell unquoted shares (SHA09) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offer letter to sell unquoted shares (SHA09)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_required</name>
        <label>Add address or list and select as required</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OtherAddresses</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_company_search_fees</name>
        <label>Confirm company search fees £</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_choose_addressee</targetReference>
        </connector>
        <fields>
            <name>Confirm_company_search_fees1</name>
            <dataType>Currency</dataType>
            <fieldText>Confirm company search fees £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_consideration</name>
        <label>Confirm consideration £</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_TSol_costs_exclusive_of_VAT</targetReference>
        </connector>
        <fields>
            <name>Confirm_consideration1</name>
            <dataType>Currency</dataType>
            <fieldText>Confirm consideration £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_TSol_costs_exclusive_of_VAT</name>
        <label>Confirm TSol costs exclusive of VAT £</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_company_search_fees</targetReference>
        </connector>
        <fields>
            <name>Confirm_TSol_costs_exclusive_of_VAT1</name>
            <dataType>Currency</dataType>
            <fieldText>Confirm TSol costs exclusive of VAT £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_date_of_the_letter_received</name>
        <label>Copy 1 of Enter date of the letter received</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Original_or_replacement_share_certificate_received</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_date_of_the_letter_received1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of the letter received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Original_or_replacement_share_certificate_received</name>
        <label>Copy 1 of Original or replacement share certificate received?</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Purchaser_is_company_buying_its_own_shares</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Original_or_replacement_share_certificate_received1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Original or replacement share certificate received?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Purchaser_is_company_buying_its_own_shares</name>
        <label>Copy 1 of Purchaser is company buying its own shares?</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Purchaser_is_company_buying_its_own_shares1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purchaser is company buying its own shares?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_the_letter_received</name>
        <label>Enter date of the letter received</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Original_or_replacement_share_certificate_received</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_the_letter_received1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of the letter received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Original_or_replacement_share_certificate_received</name>
        <label>Original or replacement share certificate received?</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Purchaser_is_company_buying_its_own_shares</targetReference>
        </connector>
        <fields>
            <name>Original_or_replacement_share_certificate_received1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Original or replacement share certificate received?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OtherAddresses</name>
        <label>Other Addresses</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_date_of_the_letter_received</targetReference>
        </connector>
        <fields>
            <name>OtherAddresses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OtherAddresses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD01</name>
                    <dataType>String</dataType>
                    <fieldText>Other Addresses</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OtherAddresses_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OAD02</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_choose_addressee</name>
        <label>Please choose addressee</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_choose_addressee2</targetReference>
        </connector>
        <fields>
            <name>Please_choose_addressee1</name>
            <choiceReferences>Informant</choiceReferences>
            <choiceReferences>Other_Addressee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose addressee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchaser_is_company_buying_its_own_shares</name>
        <label>Purchaser is company buying its own shares?</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Purchaser_is_company_buying_its_own_shares1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Purchaser is company buying its own shares?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_consideration</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
