force-app/main/default/flows/Other_to_sell_Headlease_HEADL_OFFER.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Charge</name>
        <choiceText>Charge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Charge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informant</name>
        <choiceText>Informant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_Charge</name>
        <choiceText>Land Charge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land Charge</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Addressee</name>
        <choiceText>Other Addressee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Addressee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_2_of_Disbursement_payable</name>
        <label>Copy 2 of Disbursement payable?</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Disbursement_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_details_of_disbursements_with_amounts</targetReference>
            </connector>
            <label>Copy 1 of Selected Yes</label>
        </rules>
        <rules>
            <name>Copy_1_of_Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Disbursement_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Enter_total_amount_of_payment_required</targetReference>
            </connector>
            <label>Copy 1 of Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disbursement_payable2</name>
        <label>Disbursement payable?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Disbursement_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_details_of_disbursements_with_amounts</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Disbursement_payable1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_total_amount_of_payment_required</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Please_choose_addressee2</name>
        <label>Please choose addressee</label>
        <locationX>886</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Informant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Informant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_of_letter_received</targetReference>
            </connector>
            <label>Selected Informant</label>
        </rules>
        <rules>
            <name>Selected_OtherAddressee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Addressee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_address_or_list_and_select_as_required</targetReference>
            </connector>
            <label>Selected Other Addressee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Other to sell Headlease (HEADL OFFER) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Other to sell Headlease (HEADL OFFER)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_required</name>
        <label>Add address or list and select as required</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OtherAddresses</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Disbursement_payable</name>
        <label>Copy 1 of Disbursement payable?</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Disbursement_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Disbursement_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disbursement payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 1 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_date_of_letter_received</name>
        <label>Copy 1 of Enter date of letter received</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Property_Land</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_date_of_letter_received1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_details_of_disbursements_with_amounts</name>
        <label>Copy 1 of Enter details of disbursements with amounts</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_total_amount_of_payment_required</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_details_of_disbursements_with_amounts1</name>
            <dataType>String</dataType>
            <fieldText>Enter details of disbursements with amounts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_total_amount_of_payment_required</name>
        <label>Copy 1 of Enter total amount of payment required</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_total_amount_of_payment_required1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total amount of payment required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Property_Land</name>
        <label>Copy 1 of Property / Land</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Disbursement_payable</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Property_Land_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Property_Land_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_ASS08</name>
                    <dataType>String</dataType>
                    <fieldText>Sale price:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 2 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_total_amount_of_payment_required</name>
        <label>Copy 2 of Enter total amount of payment required</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_total_amount_of_payment_required1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total amount of payment required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Copy 3 of Does total value of the transaction exceed £10,000.00?</label>
        <locationX>1018</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Enter_total_amount_of_payment_required</name>
        <label>Copy 3 of Enter total amount of payment required</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Enter_total_amount_of_payment_required1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total amount of payment required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disbursement_payable</name>
        <label>Disbursement payable?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Disbursement_payable2</targetReference>
        </connector>
        <fields>
            <name>Disbursement_payable1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Disbursement payable?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_total_value_of_the_transaction_exceed_10_000_00</name>
        <label>Does total value of the transaction exceed £10,000.00?</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Does_total_value_of_the_transaction_exceed_10_000_00a</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does total value of the transaction exceed £10,000.00?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_letter_received</name>
        <label>Enter date of letter received</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Property_Land</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_letter_received1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of letter received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_details_of_disbursements_with_amounts</name>
        <label>Enter details of disbursements with amounts</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_total_amount_of_payment_required</targetReference>
        </connector>
        <fields>
            <name>Enter_details_of_disbursements_with_amounts1</name>
            <dataType>String</dataType>
            <fieldText>Enter details of disbursements with amounts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_total_amount_of_payment_required</name>
        <label>Enter total amount of payment required</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_total_value_of_the_transaction_exceed_10_000_00</targetReference>
        </connector>
        <fields>
            <name>Enter_total_amount_of_payment_required1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter total amount of payment required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OtherAddresses</name>
        <label>Other Addresses</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_date_of_letter_received</targetReference>
        </connector>
        <fields>
            <name>OtherAddresses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OtherAddresses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD01</name>
                    <dataType>String</dataType>
                    <fieldText>Other Addresses</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OtherAddresses_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OAD02</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_choose_addressee</name>
        <label>Please choose addressee</label>
        <locationX>886</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_choose_addressee2</targetReference>
        </connector>
        <fields>
            <name>Please_choose_addressee1</name>
            <choiceReferences>Informant</choiceReferences>
            <choiceReferences>Other_Addressee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose addressee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Property_Land</name>
        <label>Property / Land</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Disbursement_payable</targetReference>
        </connector>
        <fields>
            <name>Property_Land_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Land_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ASS08</name>
                    <dataType>String</dataType>
                    <fieldText>Sale price:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_choose_addressee</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
