force-app/main/default/flows/Payment_request_to_BV_Finance_PAY.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_field_values</name>
        <label>Store field values</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>amountOfRemittance: {!Enter_amount_of_remittance1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>payeeName: {!Enter_payees_name1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>caseName: {!caseName};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>reasonForPayment: {!Reason_for_payment1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>administering: {!administeringFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>typeOfPayment: {!typeOfPaymentFormula};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>letterRef: {!Enter_invoice_letter_ref1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>letterDate: {!Enter_invoice_letter_date1};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>officerName: {!officerName};</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storedFieldValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>officerGrade: {!officerGrade};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_history_record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Disbursement</name>
        <choiceText>Disbursement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disbursement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>administeringFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!Administering1} = &quot;Yes&quot;, &quot;True&quot;, &quot;False&quot; )</expression>
    </formulas>
    <formulas>
        <name>typeOfPaymentFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!Type_of_payment1} = &quot;Estates&quot;, &quot;True&quot;, &quot;False&quot; )</expression>
    </formulas>
    <interviewLabel>Payment request to BV Finance (PAY) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment request to BV Finance (PAY)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_history_record</name>
        <label>Create history record</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>historyRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Payment Request to + {!caseReference}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case data</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_field_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>caseReference</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Administering</name>
        <label>Administering?</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_of_payment</targetReference>
        </connector>
        <fields>
            <name>Administering1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Administering?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_amount_of_remittance</name>
        <label>Enter amount of remittance</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_payees_name</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_of_remittance1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter amount of remittance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_invoice_letter_date</name>
        <label>Enter invoice/letter date</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
        <fields>
            <name>Enter_invoice_letter_date1</name>
            <dataType>Date</dataType>
            <fieldText>Enter invoice/letter date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_invoice_letter_ref</name>
        <label>Enter invoice/letter ref</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_invoice_letter_date</targetReference>
        </connector>
        <fields>
            <name>Enter_invoice_letter_ref1</name>
            <dataType>String</dataType>
            <fieldText>Enter invoice/letter ref</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_payees_name</name>
        <label>Enter payees name</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reason_for_payment</targetReference>
        </connector>
        <fields>
            <name>Enter_payees_name1</name>
            <dataType>String</dataType>
            <fieldText>Enter payees name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reason_for_payment</name>
        <label>Reason for payment?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Administering</targetReference>
        </connector>
        <fields>
            <name>Reason_for_payment1</name>
            <fieldText>Reason for payment?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_payment</name>
        <label>Type of payment</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_invoice_letter_ref</targetReference>
        </connector>
        <fields>
            <name>Type_of_payment1</name>
            <choiceReferences>Estates</choiceReferences>
            <choiceReferences>Disbursement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of payment</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_amount_of_remittance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>historyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>officerGrade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>officerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storedFieldValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
