force-app/main/default/flows/Post_Completion_details_G1_COMPG1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Neither</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>RX4</name>
        <choiceText>RX4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RX4</stringValue>
        </value>
    </choices>
    <choices>
        <name>WCT</name>
        <choiceText>WCT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WCT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Only_enclosing_completed_Transfer2</name>
        <label>Only enclosing completed Transfer?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Only_enclosing_completed_Transfer1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Only_enclosing_completed_Transfer1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_details_of_other_documents_enclosed</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Please_select_further_enclosure2</name>
        <label>Please select further enclosure</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_RX4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_further_enclosure1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RX4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_date_of_completed_RX4</targetReference>
            </connector>
            <label>Selected RX4</label>
        </rules>
        <rules>
            <name>Selected_WCT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_further_enclosure1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WCT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertdateofcompletedRX4</targetReference>
            </connector>
            <label>Selected WCT</label>
        </rules>
        <rules>
            <name>Selected_Neither</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_further_enclosure1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Neither</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Neither</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Post-Completion details - G1 (COMPG1) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Post-Completion details - G1 (COMPG1)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirm_Solicitors_reference</name>
        <label>Confirm Solicitors reference</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Purchaser_s_Solicitors</targetReference>
        </connector>
        <fields>
            <name>Confirm_Solicitors_reference1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm Solicitors reference</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_date_of_completed_RX4</name>
        <label>Insert date of completed RX4</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Insert_date_of_completed_RX41</name>
            <dataType>Date</dataType>
            <fieldText>Insert date of completed RX4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_date_of_telephone_contact</name>
        <label>Insert date of telephone contact</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Only_enclosing_completed_Transfer</targetReference>
        </connector>
        <fields>
            <name>Insert_date_of_telephone_contact1</name>
            <dataType>Date</dataType>
            <fieldText>Insert date of telephone contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_details_of_other_documents_enclosed</name>
        <label>Insert details of other documents enclosed</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_select_further_enclosure</targetReference>
        </connector>
        <fields>
            <name>Insert_details_of_other_documents_enclosed1</name>
            <fieldText>Insert details of other documents enclosed</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InsertdateofcompletedRX4</name>
        <label>Insert date of completed RX4</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Insert_date_of_completed_RX41</name>
            <dataType>Date</dataType>
            <fieldText>Insert date of completed RX4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Only_enclosing_completed_Transfer</name>
        <label>Only enclosing completed Transfer?</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Only_enclosing_completed_Transfer2</targetReference>
        </connector>
        <fields>
            <name>Only_enclosing_completed_Transfer1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Only enclosing completed Transfer?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_further_enclosure</name>
        <label>Please select further enclosure</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_select_further_enclosure2</targetReference>
        </connector>
        <fields>
            <name>Please_select_further_enclosure1</name>
            <choiceReferences>RX4</choiceReferences>
            <choiceReferences>WCT</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select further enclosure</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchaser_s_Solicitors</name>
        <label>Purchaser&apos;s Solicitors</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_date_of_telephone_contact</targetReference>
        </connector>
        <fields>
            <name>Purchaser_s_Solicitors_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Purchaser_s_Solicitors_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SOL09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Solicitors_reference</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
