force-app/main/default/flows/Put_Away_a_Case_Companies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_disposed</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_retained</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12</name>
        <choiceText>12</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>X20</name>
        <choiceText>20</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>X999</name>
        <choiceText>999</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>999</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_disposed</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_retained</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_HID04_Open_Closed</name>
        <label>Check HID04 (Open/Closed)</label>
        <locationX>94</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Detail_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Closed_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hiddenScreenOpenClosedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Detail_2</targetReference>
            </connector>
            <label>Open/Closed is Closed</label>
        </rules>
        <rules>
            <name>Open_Closed_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hiddenScreenOpenClosedStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_history_record</targetReference>
            </connector>
            <label>Open/Closed is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_Type_begins_with_e4_or_e5</name>
        <label>Check if Case Type begins with E4 or E5</label>
        <locationX>490</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Years_Retained</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Begins_with_E4_or_E5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseType</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>E4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseType</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>E5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disposed_of_or_disclaimed_the_asset</targetReference>
            </connector>
            <label>Begins with E4 or E5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_user_wants_to_put_the_case_away</name>
        <label>Check if the user wants to put the case away</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_BV_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_put_away</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_this_case_is_to_be_Put_Away</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BV_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_put_away</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_this_case_is_to_be_Put_Away</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_HID04_Open_Closed</name>
        <label>Copy 1 of Check HID04 (Open/Closed)</label>
        <locationX>886</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Case_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Open_Closed_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hiddenScreenOpenClosedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Case_Detail</targetReference>
            </connector>
            <label>Copy 1 of Open/Closed is Closed</label>
        </rules>
        <rules>
            <name>Copy_1_of_Open_Closed_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hiddenScreenOpenClosedStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_a_history_record</targetReference>
            </connector>
            <label>Copy 1 of Open/Closed is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disposed_decision</name>
        <label>Disposed decision</label>
        <locationX>94</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Years_Retained</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_disposed_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_disposed_of_or_disclaimed_the_asset_say_Yes_if_no_TSol_BV_interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_disposed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Years_Retained</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_disposed_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_disposed_of_or_disclaimed_the_asset_say_Yes_if_no_TSol_BV_interest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_disposed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retained_Assets_Submission_Form</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retained_Asset_Decision</name>
        <label>Retained Asset Decision</label>
        <locationX>94</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Years_Retained</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_retained_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_completed_the_Retained_Assets_Submission_form_logged_the_retained_land</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_retained</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Years_Retained</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_retained_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_completed_the_Retained_Assets_Submission_form_logged_the_retained_land</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No_retained</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Must_complete_retained_assets_submission_form</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>destructionDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR(TODAY()) + VALUE({!Please_record_years_to_be_retained}),
  MONTH(TODAY()),
  DAY(TODAY())
)</expression>
    </formulas>
    <formulas>
        <name>yearsToBeRetainedFormula</name>
        <dataType>Number</dataType>
        <expression>IF(
    NOT(ISBLANK({!X1})), VALUE({!X1}),
    IF(NOT(ISBLANK({!X6})), VALUE({!X6}),
        IF(NOT(ISBLANK({!X12})), VALUE({!X12}),
            IF(NOT(ISBLANK({!X20})), VALUE({!X20}),
                IF(NOT(ISBLANK({!X999})), VALUE({!X999}),
                    0
                )
            )
        )
    )
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Put Away a Case (Companies) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Put Away a Case (Companies)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_a_history_record</name>
        <label>Copy 1 of Create a history record</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Case_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Case Put Away</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Update_Case_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Case Put Away</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Case_Detail</name>
        <label>Copy 1 of Get Case Detail</label>
        <locationX>886</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Check_HID04_Open_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>hiddenScreenOpenClosedStatus</assignToReference>
            <field>Open_Closed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_BV_Case</name>
        <label>Get BV Case</label>
        <locationX>490</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Case_Type_begins_with_e4_or_e5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>caseType</assignToReference>
            <field>Case_Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Detail</name>
        <label>Get Case Detail</label>
        <locationX>94</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_HID04_Open_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>hiddenScreenOpenClosedStatus</assignToReference>
            <field>Open_Closed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Asset_Liability</name>
        <label>Copy 1 of Update Asset Liability</label>
        <locationX>886</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Case_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Companies_Domain_name</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PreNominet__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>AssetLiability__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_BV_Case</name>
        <label>Copy 1 of Update BV Case</label>
        <locationX>886</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Copy_1_of_Destruction_date_placeholder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Companies_Companies_events</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Years_To_Be_Retained__c</field>
            <value>
                <elementReference>yearsToBeRetainedFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_Detail</name>
        <label>Copy 1 of Update Case Detail</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Update_Case_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Put_Away__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopened__c</field>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Update_Case_Detail</name>
        <label>Update Case Detail</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Case_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Closed__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Case_Detail</name>
        <label>Copy 2 of Update Case Detail</label>
        <locationX>886</locationX>
        <locationY>1922</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Companies_Companies_events</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>destructionDateFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Case_Detail</name>
        <label>Copy 4 of Update Case Detail</label>
        <locationX>50</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Update_Case_Detail_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Closed__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_Liability</name>
        <label>Update Asset Liability</label>
        <locationX>94</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Get_Case_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Companies_Domain_name</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PreNominet__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>AssetLiability__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BV_Case</name>
        <label>Update BV Case</label>
        <locationX>94</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Destruction_date_placeholder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Companies_Companies_events</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Years_To_Be_Retained__c</field>
            <value>
                <elementReference>yearsToBeRetainedFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail</name>
        <label>Update Case Detail</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Copy_4_of_Update_Case_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Put_Away__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopened__c</field>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail_2</name>
        <label>Update Case Detail</label>
        <locationX>94</locationX>
        <locationY>2738</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Companies_Companies_events</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>destructionDateFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Destruction_date_placeholder</name>
        <label>Copy 1 of Destruction date placeholder</label>
        <locationX>886</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Re_pa_notice</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Re_pa_notice</name>
        <label>Copy 1 of Re-pa notice</label>
        <locationX>886</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_Asset_Liability</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_repa_display</name>
            <fieldText>&lt;p&gt;IF RE-PA PLEASE AMEND FILE LABEL RETENTION PERIOD ACCORDINGLY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Years_Retained</name>
        <label>Copy 1 of Years Retained</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Update_BV_Case</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Please_record_years_to_be_retained</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <choiceReferences>X20</choiceReferences>
            <choiceReferences>X999</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please record years to be retained</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Destruction_date_placeholder</name>
        <label>Destruction date placeholder</label>
        <locationX>94</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Re_pa_notice</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Disposed_of_or_disclaimed_the_asset</name>
        <label>Disposed of or disclaimed the asset</label>
        <locationX>94</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Disposed_decision</targetReference>
        </connector>
        <fields>
            <name>Have_you_disposed_of_or_disclaimed_the_asset_say_Yes_if_no_TSol_BV_interest</name>
            <choiceReferences>Yes_disposed</choiceReferences>
            <choiceReferences>No_disposed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you disposed of or disclaimed the asset - say Yes if no TSol BV interest</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Must_complete_retained_assets_submission_form</name>
        <label>Must complete retained assets submission form</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>retained_assets_display</name>
            <fieldText>&lt;p&gt;You MUST complete the Retained Assets Submission form &amp;amp; log any retained land in the Retained Assets Register&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Put_Away_the_case_question</name>
        <label>Put Away the case question</label>
        <locationX>490</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_the_user_wants_to_put_the_case_away</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_this_case_is_to_be_Put_Away</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sure this case is to be Put Away?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Re_pa_notice</name>
        <label>Re-pa notice</label>
        <locationX>94</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Asset_Liability</targetReference>
        </connector>
        <fields>
            <name>repa_display</name>
            <fieldText>&lt;p&gt;IF RE-PA PLEASE AMEND FILE LABEL RETENTION PERIOD ACCORDINGLY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retained_Assets_Submission_Form</name>
        <label>Retained Assets Submission Form</label>
        <locationX>94</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retained_Asset_Decision</targetReference>
        </connector>
        <fields>
            <name>Have_you_completed_the_Retained_Assets_Submission_form_logged_the_retained_land</name>
            <choiceReferences>Yes_retained</choiceReferences>
            <choiceReferences>No_retained</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you completed the Retained Assets Submission form      &amp; logged the retained land in the Retained Assets Register?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Years_Retained</name>
        <label>Years Retained</label>
        <locationX>94</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_BV_Case</targetReference>
        </connector>
        <fields>
            <name>Please_record_years_to_be_retained</name>
            <choiceReferences>X1</choiceReferences>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <choiceReferences>X20</choiceReferences>
            <choiceReferences>X999</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please record years to be retained</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Put_Away_the_case_question</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hiddenScreenOpenClosedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
