force-app/main/default/flows/Put_Away_a_Case_Conveyancing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ok</name>
        <choiceText>Ok</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ok</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12</name>
        <choiceText>12</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </choices>
    <choices>
        <name>X20</name>
        <choiceText>20</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20</stringValue>
        </value>
    </choices>
    <choices>
        <name>X30</name>
        <choiceText>30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6</name>
        <choiceText>6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6</stringValue>
        </value>
    </choices>
    <choices>
        <name>X80</name>
        <choiceText>80</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>80</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_HID04_Open_Closed</name>
        <label>Check HID04 (Open/Closed)</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Update_BV_Case_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Closed_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hiddenScreenOpenClosedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BV_Case_2</targetReference>
            </connector>
            <label>Open/Closed is Closed</label>
        </rules>
        <rules>
            <name>Open_Closed_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hiddenScreenOpenClosedStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_history_record</targetReference>
            </connector>
            <label>Open/Closed is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_user_wants_to_put_the_case_away</name>
        <label>Check if the user wants to put the case away</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Retention_Period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_this_case_is_to_be_Put_Away</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retention_Period</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_this_case_is_to_be_Put_Away</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>destructionDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(
  YEAR(TODAY()) + VALUE({!Select_retention_period_in_years}),
  MONTH(TODAY()),
  DAY(TODAY())
)</expression>
    </formulas>
    <formulas>
        <name>retentionPeriodInNumberFormat</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Select_retention_period_in_years})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Put Away a Case (Conveyancing) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Put Away a Case (Conveyancing)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>132</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Case_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Case Put Away</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Detail</name>
        <label>Get Case Detail</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_HID04_Open_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>hiddenScreenOpenClosedStatus</assignToReference>
            <field>Open_Closed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_BV_Case</name>
        <label>Update BV Case</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Lifespan_of_case_placeholder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conveyancing_Conveyancing_file_details_events</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Years_to_be_Retained__c</field>
            <value>
                <elementReference>retentionPeriodInNumberFormat</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BV_Case_2</name>
        <label>Update BV Case</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conveyancing_Conveyancing_file_details_events</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destruction_Date__c</field>
        </inputAssignments>
        <object>BV_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail</name>
        <label>Update Case Detail</label>
        <locationX>132</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_Case_Detail_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Put_Away__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopened__c</field>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail_2</name>
        <label>Update Case Detail</label>
        <locationX>132</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Update_BV_Case_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Closed__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <screens>
        <name>File_put_away_message</name>
        <label>File put away message</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Detail</targetReference>
        </connector>
        <fields>
            <name>File_has_now_been_Put_Away</name>
            <choiceReferences>Ok</choiceReferences>
            <dataType>String</dataType>
            <fieldText>File has now been Put Away</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lifespan_of_case_placeholder</name>
        <label>Lifespan of case placeholder</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Re_pa_notice</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Put_Away</name>
        <label>Put Away</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_the_user_wants_to_put_the_case_away</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_this_case_is_to_be_Put_Away</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&apos;Are you sure this case is to be Put Away?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Re_pa_notice</name>
        <label>Re-pa notice</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>File_put_away_message</targetReference>
        </connector>
        <fields>
            <name>repa_display</name>
            <fieldText>&lt;p&gt;IF RE-PA PLEASE AMEND FILE LABEL RETENTION PERIOD ACCORDINGLY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retention_Period</name>
        <label>Retention Period</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_BV_Case</targetReference>
        </connector>
        <fields>
            <name>Select_retention_period_in_years</name>
            <choiceReferences>X6</choiceReferences>
            <choiceReferences>X12</choiceReferences>
            <choiceReferences>X20</choiceReferences>
            <choiceReferences>X30</choiceReferences>
            <choiceReferences>X80</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select retention period in years</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Put_Away</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hiddenScreenOpenClosedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
