force-app/main/default/flows/Put_Away_a_Case_Freedom_of_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>X1_Year_Normal</name>
        <choiceText>1 Year - Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 Year - Normal</stringValue>
        </value>
    </choices>
    <choices>
        <name>X25_Years_Vexatious</name>
        <choiceText>25 Years - Vexatious</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25 Years - Vexatious</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_Years</name>
        <choiceText>5 Years</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 Years</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_Years_Vexatious</name>
        <choiceText>5 Years - Vexatious</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5 Years - Vexatious</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if</name>
        <label>Check if withdrawn</label>
        <locationX>446</locationX>
        <locationY>1982</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Withdrawn_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Withdrawn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_BV_Case</targetReference>
            </connector>
            <label>Withdrawn</label>
        </rules>
        <rules>
            <name>Not_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Withdrawn</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <label>Not Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Date_Reply_Sent_is_set</name>
        <label>Check if Date Reply Sent is set</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Detail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateReplySent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Detail_2</targetReference>
            </connector>
            <label>It is set</label>
        </rules>
        <rules>
            <name>It_is_not_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateReplySent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Detail</targetReference>
            </connector>
            <label>It is not set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_FOI_case_is_completed</name>
        <label>Check if FOI case is completed</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Detail_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOICaseCompletedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Detail_3</targetReference>
            </connector>
            <label>It is completed</label>
        </rules>
        <rules>
            <name>It_is_not_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOICaseCompletedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FOI_Information</targetReference>
            </connector>
            <label>It is not completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_retention_period_time</name>
        <label>Check retention period time</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Check_if</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>x1year_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retentionPeriodTIme</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BV_Case</targetReference>
            </connector>
            <label>1 Year</label>
        </rules>
        <rules>
            <name>x5year_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retentionPeriodTIme</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_BV_Case</targetReference>
            </connector>
            <label>5 Years</label>
        </rules>
        <rules>
            <name>x25year_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retentionPeriodTIme</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_2_of_Update_BV_Case</targetReference>
            </connector>
            <label>25 Years</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_withdrawn_status</name>
        <label>Check withdrawn status</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_if_Date_Reply_Sent_is_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>It_is_withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Withdrawn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Detail</targetReference>
            </connector>
            <label>It is withdrawn</label>
        </rules>
        <rules>
            <name>It_is_not_withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Withdrawn</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Date_Reply_Sent_is_set</targetReference>
            </connector>
            <label>It is not withdrawn</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateReplySent1YearAdded</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!DateReplySent}, 12)</expression>
    </formulas>
    <formulas>
        <name>DateReplySent25YearAdded</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!DateReplySent}, 300)</expression>
    </formulas>
    <formulas>
        <name>DateReplySent5YearAdded</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!DateReplySent}, 60)</expression>
    </formulas>
    <formulas>
        <name>DateWithdrawnAdd1Year</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!DateWithdrawn}, 12)</expression>
    </formulas>
    <formulas>
        <name>retentionPeriodTIme</name>
        <dataType>Number</dataType>
        <expression>CASE(
    LEFT({!Select_retention_period}, 
         FIND(&quot; &quot;, {!Select_retention_period}) - 1
    ),
    &quot;1&quot;, 1,
    &quot;5&quot;, 5,
    &quot;25&quot;, 25,
    0
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Put Away Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Put Away a Case (Freedom of Information)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_BV_Case</name>
        <label>Get BV Case</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_withdrawn_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FOIR_Front_Cover</stringValue>
            </value>
        </filters>
        <object>BV_Case__c</object>
        <outputAssignments>
            <assignToReference>DateReplySent</assignToReference>
            <field>Date_Reply_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DateWithdrawn</assignToReference>
            <field>Date_Withdrawn__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Withdrawn</assignToReference>
            <field>Withdrawn__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Detail</name>
        <label>Get Case Detail</label>
        <locationX>446</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_FOI_case_is_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>FOICaseCompletedStatus</assignToReference>
            <field>Completed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_BV_Case</name>
        <label>Copy 1 of Update BV Case</label>
        <locationX>226</locationX>
        <locationY>2090</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FOIR_Front_Cover</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>DateWithdrawnAdd1Year</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_2_of_Update_BV_Case</name>
        <label>Copy 2 of Copy 2 of Update BV Case</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Check_if</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FOIR_Front_Cover</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>DateReplySent25YearAdded</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_BV_Case</name>
        <label>Copy 2 of Update BV Case</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Check_if</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FOIR_Front_Cover</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>DateReplySent5YearAdded</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BV_Case</name>
        <label>Update BV Case</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Check_if</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FOIR_Front_Cover</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Destruction_Date__c</field>
            <value>
                <elementReference>DateReplySent1YearAdded</elementReference>
            </value>
        </inputAssignments>
        <object>BV_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail</name>
        <label>Update Case Detail</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Check_if_Date_Reply_Sent_is_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail_2</name>
        <label>Update Case Detail</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Get_Case_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail_3</name>
        <label>Update Case Detail</label>
        <locationX>446</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Update_Case_Detail_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Closed__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail_4</name>
        <label>Update Case Detail</label>
        <locationX>446</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>Retention_period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Put_Away__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <screens>
        <name>FOI_Information</name>
        <label>FOI Information</label>
        <locationX>402</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>foi_not_complete_display</name>
            <fieldText>&lt;p&gt;This FOI request has not been completed. Please ensure the response has been sent before attempting to PA the case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retention_period</name>
        <label>Retention period</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_retention_period_time</targetReference>
        </connector>
        <fields>
            <name>Select_retention_period</name>
            <choiceReferences>X1_Year_Normal</choiceReferences>
            <choiceReferences>X5_Years</choiceReferences>
            <choiceReferences>X25_Years_Vexatious</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select retention period</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BV_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateReplySent</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateWithdrawn</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOICaseCompletedStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Withdrawn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
