force-app/main/default/flows/Put_Away_a_Case_General.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_HID04_Open_Closed</name>
        <label>Check HID04 (Open/Closed)</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Detail_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Closed_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hiddenScreenOpenClosedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Detail_2</targetReference>
            </connector>
            <label>Open/Closed is Closed</label>
        </rules>
        <rules>
            <name>Open_Closed_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hiddenScreenOpenClosedStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_history_record</targetReference>
            </connector>
            <label>Open/Closed is Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Put Away a Case (General) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Put Away a Case (General)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_history_record</name>
        <label>Create a history record</label>
        <locationX>132</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Case_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Case Put Away</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BV_Case__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Officer__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Inserted_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Detail</name>
        <label>Get Case Detail</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_HID04_Open_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Case_Detail__c</object>
        <outputAssignments>
            <assignToReference>hiddenScreenOpenClosedStatus</assignToReference>
            <field>Open_Closed__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Detail</name>
        <label>Update Case Detail</label>
        <locationX>132</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Case_Detail_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Officer_History</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Put_Away__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reopened__c</field>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Detail_2</name>
        <label>Update Case Detail</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Case_Closed_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin_Hidden_Screen</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Closed__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case_Detail__c</object>
    </recordUpdates>
    <screens>
        <name>Case_Closed_Message</name>
        <label>Case Closed Message</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>case_closed</name>
            <fieldText>&lt;p&gt;Case has been put away&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Detail</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hiddenScreenOpenClosedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
