force-app/main/default/flows/Replies_to_Requisitions_on_Title.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Keys</name>
        <choiceText>Keys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Keys</name>
        <choiceText>No Keys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Keys</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Seeking_reimbursement_of_costs_from_purchaser</name>
        <label>Seeking reimbursement of costs from purchaser</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Are_title_deeds_missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedYes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seeking_reimbursement_of_costs_from_purchaser2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Special_Condition_clause_number_detailing_additional_costs</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>SelectedNo1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seeking_reimbursement_of_costs_from_purchaser2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Giving_vacant_possession</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Replies to Requisitions on Title ( {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Replies to Requisitions on Title (AUCT07_com)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Are_title_deeds_missing</name>
        <label>Are title deeds missing?</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Special_Condition_clause_number_detailing_title_documents_to_be_hand_over</targetReference>
        </connector>
        <fields>
            <name>Are_title_deeds_missing1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are title deeds missing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_For_access_on_completion_please_select</name>
        <label>Copy 1 of For access on completion please select</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_title_deeds_missing</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Choose</name>
            <choiceReferences>Keys</choiceReferences>
            <choiceReferences>No_Keys</choiceReferences>
            <choiceReferences>Land</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Giving_vacant_possession</name>
        <label>Copy 1 of Giving vacant possession?</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_For_access_on_completion_please_select</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Giving_vacant_possession1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Giving vacant possession?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_For_access_on_completion_please_select</name>
        <label>Copy 2 of For access on completion please select</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Choose</name>
            <choiceReferences>Keys</choiceReferences>
            <choiceReferences>No_Keys</choiceReferences>
            <choiceReferences>Land</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Giving_vacant_possession</name>
        <label>Copy 2 of Giving vacant possession?</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_For_access_on_completion_please_select</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Giving_vacant_possession1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Giving vacant possession?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_have_receipt_for_rent</name>
        <label>Do you have receipt for rent?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Seeking_reimbursement_of_costs_from_purchaser1</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_receipt_for_rent1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have receipt for rent?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>For_access_on_completion_please_select</name>
        <label>For access on completion please select</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_title_deeds_missing</targetReference>
        </connector>
        <fields>
            <name>Choose</name>
            <choiceReferences>Keys</choiceReferences>
            <choiceReferences>No_Keys</choiceReferences>
            <choiceReferences>Land</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Giving_vacant_possession</name>
        <label>Giving vacant possession?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>For_access_on_completion_please_select</targetReference>
        </connector>
        <fields>
            <name>Giving_vacant_possession1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Giving vacant possession?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Special_Condition_clause_number_detailing_additional_costs</name>
        <label>Insert Special Condition clause number detailing additional costs</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Giving_vacant_possession</targetReference>
        </connector>
        <fields>
            <name>Insert_Special_Condition_clause_number_detailing_additional_costs1</name>
            <dataType>Number</dataType>
            <fieldText>Insert Special Condition clause number detailing additional costs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Special_Condition_clause_number_detailing_title_documents_to_be_hand_over</name>
        <label>Insert Special Condition clause number detailing title documents to be hand over on completion</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Giving_vacant_possession</targetReference>
        </connector>
        <fields>
            <name>Insert_Special_Condition_clause_number</name>
            <dataType>Number</dataType>
            <fieldText>Insert Special Condition clause number detailing title documents to be hand over on completion</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seeking_reimbursement_of_costs_from_purchaser1</name>
        <label>Seeking reimbursement of costs from purchaser</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Seeking_reimbursement_of_costs_from_purchaser</targetReference>
        </connector>
        <fields>
            <name>Seeking_reimbursement_of_costs_from_purchaser2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seeking reimbursement of costs from purchaser</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_you_have_receipt_for_rent</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
