force-app/main/default/flows/Retain_asset_over_12_months_Submission_form_Ret_12.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>District_Valuer</name>
        <choiceText>District Valuer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>District Valuer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>informant</name>
        <choiceText>informant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>informant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Potential_value_identified_by_DV_or_other_valuer</name>
        <choiceText>Potential value identified by DV or other valuer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Potential value identified by DV or other valuer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sale_pending_and_the_12_month_period_from_notification_is_about_to_expire</name>
        <choiceText>Sale pending and the 12 month period  from notification is about to expire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sale pending and the 12 month period  from notification is about to expire</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Months</name>
        <choiceText>3 Months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3 Months</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_Months</name>
        <choiceText>6 Months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6 Months</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Select_reason_for_retention2</name>
        <label>Select reason for retention</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Select_extension_requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Sale_pending_and_the_12_month_period_from_notification_is_about_to_expi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_reason_for_retention1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sale_pending_and_the_12_month_period_from_notification_is_about_to_expire</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_expected_completion_date</targetReference>
            </connector>
            <label>Selected Sale pending and the 12 month period  from notification is about to expire</label>
        </rules>
        <rules>
            <name>Selected_Potential_value_identified_by_DV_or_other_valuer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_reason_for_retention1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Potential_value_identified_by_DV_or_other_valuer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_value</targetReference>
            </connector>
            <label>Selected Potential value identified by DV or other valuer</label>
        </rules>
        <rules>
            <name>Selected_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_reason_for_retention1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_details_of_other_reason_for_retention_beyond_12_months</targetReference>
            </connector>
            <label>Selected Other</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Retain asset over 12 months Submission form (Ret.12) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retain asset over 12 months Submission form (Ret.12)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Company_Details</name>
        <label>Company Details</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_section_and_act_under_which_company_dissolved</targetReference>
        </connector>
        <fields>
            <name>Company_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Company_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COM10</name>
                    <dataType>String</dataType>
                    <fieldText>Date dissolved</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Company_Details1</name>
        <label>Company Details</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_property</targetReference>
        </connector>
        <fields>
            <name>Company_Details1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Company_Details1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>COM11</name>
                    <dataType>String</dataType>
                    <fieldText>Section of Act</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_date_of_dissolution</name>
        <label>Confirm date of dissolution</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Company_Details</targetReference>
        </connector>
        <fields>
            <name>Confirm_date_of_dissolution1</name>
            <dataType>Date</dataType>
            <fieldText>Confirm date of dissolution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_section_and_act_under_which_company_dissolved</name>
        <label>Confirm section and act under which company dissolved</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Company_Details1</targetReference>
        </connector>
        <fields>
            <name>Confirm_section_and_act_under_which_company_dissolved1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm section and act under which company dissolved</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_details_of_other_reason_for_retention_beyond_12_months</name>
        <label>Enter details of other reason for retention beyond 12 months</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_extension_requested</targetReference>
        </connector>
        <fields>
            <name>Enter_details_of_other_reason_for_retention_beyond_12_months1</name>
            <fieldText>Enter details of other reason for retention beyond 12 months</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_expected_completion_date</name>
        <label>Enter expected completion date</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_extension_requested</targetReference>
        </connector>
        <fields>
            <name>Enter_expected_completion_date1</name>
            <dataType>Date</dataType>
            <fieldText>Enter expected completion date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_name_of_line_manager</name>
        <label>Enter name of line manager</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_date_of_dissolution</targetReference>
        </connector>
        <fields>
            <name>Enter_name_of_line_manager1</name>
            <dataType>String</dataType>
            <fieldText>Enter name of line manager</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_value</name>
        <label>Enter value</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_source_of_value</targetReference>
        </connector>
        <fields>
            <name>Enter_value1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_the_property</name>
        <label>Is the property</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Property_Details</targetReference>
        </connector>
        <fields>
            <name>Is_the_property1</name>
            <choiceReferences>Freehold</choiceReferences>
            <choiceReferences>Leasehold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Property_Details</name>
        <label>Property Details</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_reason_for_retention</targetReference>
        </connector>
        <fields>
            <name>Property_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ASS01</name>
                    <dataType>String</dataType>
                    <fieldText>Address/Desc:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CSU18</name>
                    <dataType>String</dataType>
                    <fieldText>Date of notification</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_extension_requested</name>
        <label>Select extension requested</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Select_extension_requested1</name>
            <choiceReferences>X3_Months</choiceReferences>
            <choiceReferences>X6_Months</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select extension requested</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_reason_for_retention</name>
        <label>Select reason for retention</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_reason_for_retention2</targetReference>
        </connector>
        <fields>
            <name>Select_reason_for_retention1</name>
            <choiceReferences>Sale_pending_and_the_12_month_period_from_notification_is_about_to_expire</choiceReferences>
            <choiceReferences>Potential_value_identified_by_DV_or_other_valuer</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select reason for retention</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_source_of_value</name>
        <label>Select source of value</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_extension_requested</targetReference>
        </connector>
        <fields>
            <name>Select_source_of_value2</name>
            <choiceReferences>District_Valuer</choiceReferences>
            <choiceReferences>informant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select source of value</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_name_of_line_manager</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
