force-app/main/default/flows/SOS_Add_Accural_Payment_Companies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Amount_Received</name>
        <label>Assign Amount Received</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_pay_utility</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>H1 Restoration payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_utility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_payment_type</name>
        <label>Assign payment type</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APC1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debt_Liability_Payment_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CL3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Asset_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Amount_Received</name>
        <label>Assign Amount Received</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_pay_utility</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liability_type_funeral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CL6 {!Enter_description_of_liability}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Amount_expect_to_pay</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accommodation_Payments</name>
        <choiceText>Accommodation Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accommodation Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounts</name>
        <choiceText>Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs</name>
        <choiceText>Admin Costs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs_Pensions_Tax_Solicitors_Fees</name>
        <choiceText>Admin Costs/Pensions/Tax/Solicitors Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs/Pensions/Tax/Solicitors Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annuities</name>
        <choiceText>Annuities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annuities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Artwork</name>
        <choiceText>Artwork</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Artwork</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Building_Society_account</name>
        <choiceText>Bank/Building Society account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank/Building Society account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car</name>
        <choiceText>Car</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_asset</name>
        <choiceText>Cash asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_loan</name>
        <choiceText>Cash loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificates</name>
        <choiceText>Certificates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Council_Tax</name>
        <choiceText>Council Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Council Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Funds</name>
        <choiceText>Court Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Effects</name>
        <choiceText>Effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electricity</name>
        <choiceText>Electricity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electricity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral</name>
        <choiceText>Funeral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral_Expenses</name>
        <choiceText>Funeral Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral Expenses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture</name>
        <choiceText>Furniture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gas</name>
        <choiceText>Gas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gas</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ground_rent</name>
        <choiceText>Ground rent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground rent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance_Policy</name>
        <choiceText>Insurance Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jewellery</name>
        <choiceText>Jewellery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jewellery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_payment</name>
        <choiceText>Kin payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance</name>
        <choiceText>Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memorial</name>
        <choiceText>Memorial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memorial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_home</name>
        <choiceText>Mobile home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Money_arising_from_trusts</name>
        <choiceText>Money arising from trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Money arising from trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mortgage</name>
        <choiceText>Mortgage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mortgage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Motorbike</name>
        <choiceText>Motorbike</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Motorbike</stringValue>
        </value>
    </choices>
    <choices>
        <name>National_Savings_and_Investments</name>
        <choiceText>National Savings and Investments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Savings and Investments</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_deduct</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insurance_policy</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_quoted_shares</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_sold</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nursing_residential_care_home_fees</name>
        <choiceText>Nursing/residential/care home fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nursing/residential/care home fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Liabilities_and_Creditors</name>
        <choiceText>Other Liabilities and Creditors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Liabilities and Creditors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payment&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pension</name>
        <choiceText>Pension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Overpayment</name>
        <choiceText>Pension Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Underpayment</name>
        <choiceText>Pension Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_effects</name>
        <choiceText>Personal effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Premium_Bonds</name>
        <choiceText>Premium Bonds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Premium Bonds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property</name>
        <choiceText>Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property_maintenance_charges</name>
        <choiceText>Property maintenance charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property maintenance charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receipt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Receipt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Refunds_from_utilities_etc</name>
        <choiceText>Refunds from utilities etc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refunds from utilities etc</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rent_arrears</name>
        <choiceText>Rent arrears</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rent arrears</stringValue>
        </value>
    </choices>
    <choices>
        <name>Restoration</name>
        <choiceText>Restoration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restoration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Secured_loans</name>
        <choiceText>Secured loans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secured loans</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_charges</name>
        <choiceText>Service charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shares</name>
        <choiceText>Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitors</name>
        <choiceText>Solicitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stamp_Collection</name>
        <choiceText>Stamp Collection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stamp Collection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stocks_Insurance</name>
        <choiceText>Stocks/Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stocks/Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Overpayment</name>
        <choiceText>Tax Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Underpayment</name>
        <choiceText>Tax Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telephone_utility_payment</name>
        <choiceText>Telephone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephone</stringValue>
        </value>
    </choices>
    <choices>
        <name>TV</name>
        <choiceText>TV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Trusts</name>
        <choiceText>Unit Trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit Trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utility_Bill</name>
        <choiceText>Utility Bill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utility Bill</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle</name>
        <choiceText>Vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water</name>
        <choiceText>Water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_deduct</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insurance_policy</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_quoted_shares</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_sold</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_tenanted</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Debt_Liability_Payment_Type_Decision</name>
        <label>Debt/Liability/Payment Type Decision</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Restoration_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Restoration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type</targetReference>
            </connector>
            <label>Restoration</label>
        </rules>
        <rules>
            <name>Other_Liabilities_and_Creditors_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Liabilities_and_Creditors</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Type</targetReference>
            </connector>
            <label>Other Liabilities and Creditors</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LocalAuthorityRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Local_Authority__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>LocalCouncilTax</assignToReference>
            <field>Council_Tax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocalAuthority</assignToReference>
            <field>Local_Authority__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaintenanceRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Address_Line_1__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>MaintenanceAddressLine1</assignToReference>
            <field>Address_Line_1__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NursingHomeRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Nursing_Home__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>NursingHome</assignToReference>
            <field>Nursing_Home__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NursingReference</assignToReference>
            <field>Reference__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceGroundRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Landlord_Agent__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>ServiceGroundLandlord</assignToReference>
            <field>Landlord_Agent__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TelephoneRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Telephone_Service_Provider__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>TelephoneAccountNumber</assignToReference>
            <field>Telephone_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelephoneServiceProvider</assignToReference>
            <field>Telephone_Service_Provider__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UtilityRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name_Of_Utility_Company__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>UtilityCompany</assignToReference>
            <field>Name_Of_Utility_Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UtilityAccountNumber</assignToReference>
            <field>Utility_Account_Number__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SOS Add Accural Payment (Companies) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOS Add Accural Payment (Companies)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Amount_expect_to_pay_utility</name>
        <label>Amount expect to pay</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_pay_utility</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to pay</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Amount_expect_to_pay</name>
        <label>Amount expect to pay</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_amount_you_expect_to_pay_utility</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to pay</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debt_Liability_Payment_type</name>
        <label>Debt/Liability/Payment type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_payment_type</targetReference>
        </connector>
        <fields>
            <name>Select_debt_liability_payment_type</name>
            <choiceReferences>Restoration</choiceReferences>
            <choiceReferences>Other_Liabilities_and_Creditors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select debt/liability/payment type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liability_type_funeral</name>
        <label>Description of liability</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assign_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>Enter_description_of_liability</name>
            <dataType>String</dataType>
            <fieldText>Enter description of liability</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debt_Liability_Payment_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AmountReceived</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CostsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DetailsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Payment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>KinClaimCosts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Land_type_assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiabilityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocalAuthority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalCouncilTax</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MaintenanceAddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Net_Interest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NursingHome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NursingReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceGroundLandlord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelephoneAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelephoneServiceProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UtilityAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UtilityCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
