force-app/main/default/flows/SOS_Add_Accrual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Narrative</name>
        <label>Set Narrative</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Narrative</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NarrativeFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Accommodation_Payments</name>
        <choiceText>Accommodation Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accommodation Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounts</name>
        <choiceText>Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs</name>
        <choiceText>Admin Costs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs_Pensions_Tax_Solicitors_Fees</name>
        <choiceText>Admin Costs/Pensions/Tax/Solicitors Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs/Pensions/Tax/Solicitors Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annuities</name>
        <choiceText>Annuities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annuities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Artwork</name>
        <choiceText>Artwork</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Artwork</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Building_Society_account</name>
        <choiceText>Bank/Building Society account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank/Building Society account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car</name>
        <choiceText>Car</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_asset</name>
        <choiceText>Cash asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_loan</name>
        <choiceText>Cash loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificates</name>
        <choiceText>Certificates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Council_Tax</name>
        <choiceText>Council Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Council Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Funds</name>
        <choiceText>Court Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Effects</name>
        <choiceText>Effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electricity</name>
        <choiceText>Electricity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electricity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral</name>
        <choiceText>Funeral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral_Expenses</name>
        <choiceText>Funeral Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral Expenses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture</name>
        <choiceText>Furniture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gas</name>
        <choiceText>Gas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gas</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ground_rent</name>
        <choiceText>Ground rent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground rent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance_Policy</name>
        <choiceText>Insurance Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jewellery</name>
        <choiceText>Jewellery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jewellery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_payment</name>
        <choiceText>Kin payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance</name>
        <choiceText>Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memorial</name>
        <choiceText>Memorial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memorial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_home</name>
        <choiceText>Mobile home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Money_arising_from_trusts</name>
        <choiceText>Money arising from trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Money arising from trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mortgage</name>
        <choiceText>Mortgage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mortgage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Motorbike</name>
        <choiceText>Motorbike</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Motorbike</stringValue>
        </value>
    </choices>
    <choices>
        <name>National_Savings_and_Investments</name>
        <choiceText>National Savings and Investments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Savings and Investments</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_deduct</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insurance_policy</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_quoted_shares</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_sold</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nursing_residential_care_home_fees</name>
        <choiceText>Nursing/residential/care home fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nursing/residential/care home fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payment&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pension</name>
        <choiceText>Pension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Overpayment</name>
        <choiceText>Pension Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Underpayment</name>
        <choiceText>Pension Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_effects</name>
        <choiceText>Personal effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Premium_Bonds</name>
        <choiceText>Premium Bonds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Premium Bonds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property</name>
        <choiceText>Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property_maintenance_charges</name>
        <choiceText>Property maintenance charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property maintenance charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receipt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Receipt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Refunds_from_utilities_etc</name>
        <choiceText>Refunds from utilities etc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refunds from utilities etc</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rent_arrears</name>
        <choiceText>Rent arrears</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rent arrears</stringValue>
        </value>
    </choices>
    <choices>
        <name>Secured_loans</name>
        <choiceText>Secured loans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secured loans</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_charges</name>
        <choiceText>Service charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shares</name>
        <choiceText>Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitors</name>
        <choiceText>Solicitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stamp_Collection</name>
        <choiceText>Stamp Collection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stamp Collection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stocks_Insurance</name>
        <choiceText>Stocks/Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stocks/Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Overpayment</name>
        <choiceText>Tax Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Underpayment</name>
        <choiceText>Tax Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telephone_utility_payment</name>
        <choiceText>Telephone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephone</stringValue>
        </value>
    </choices>
    <choices>
        <name>TV</name>
        <choiceText>TV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Trusts</name>
        <choiceText>Unit Trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit Trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utility_Bill</name>
        <choiceText>Utility Bill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utility Bill</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle</name>
        <choiceText>Vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water</name>
        <choiceText>Water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_deduct</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insurance_policy</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_quoted_shares</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_sold</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_tenanted</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Accrual_Type_Decision</name>
        <label>Accrual Type Decision</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Receipt_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_accrual_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Receipt_Chosen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receipt_subflow</targetReference>
            </connector>
            <label>Receipt</label>
        </rules>
        <rules>
            <name>Payment_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_accrual_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Payment_Chosen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_subflow</targetReference>
            </connector>
            <label>Payment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NarrativeFormula</name>
        <dataType>String</dataType>
        <expression>{!AssignmentType} &amp; &quot; &quot; &amp; {!AssetType} &amp; &quot; &quot; &amp; {!AddressType}</expression>
    </formulas>
    <interviewLabel>SOS Add Accrual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOS Add Accrual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Accrual_Type</name>
        <label>Accrual Type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Accrual_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_accrual_type</name>
            <choiceReferences>Receipt</choiceReferences>
            <choiceReferences>Payment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select accrual type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Accrual_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Payment_subflow</name>
        <label>Payment subflow</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>SOS_Add_Accural_Payment</flowName>
    </subflows>
    <subflows>
        <name>Receipt_subflow</name>
        <label>Receipt subflow</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Set_Narrative</targetReference>
        </connector>
        <flowName>SOS_Add_Accural_Receipt</flowName>
        <outputAssignments>
            <assignToReference>AddressType</assignToReference>
            <name>AddressType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AmountReceived</assignToReference>
            <name>AmountReceived</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssetType</assignToReference>
            <name>AssetType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssignmentType</assignToReference>
            <name>AssignmentType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReceiptType</assignToReference>
            <name>ReceiptType</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AmountReceived</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Land_type_assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Narrative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReceiptType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
