force-app/main/default/flows/SOS_Add_Accural_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Amount_Received</name>
        <label>Assign Amount Received</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_pay_utility</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_asset</name>
        <label>Assign asset</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Telephone_service_provider} account no.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Costs</name>
        <label>Assign Costs</label>
        <locationX>1810</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CostsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_are_the_admin_costs_due_to_E_g_local_authority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details</name>
        <label>Assign Details</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_utility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_final_payment</name>
        <label>Assign final payment</label>
        <locationX>4186</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Final_Payment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Payment_Amount_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_KinClaimCosts</name>
        <label>Assign KinClaimCosts</label>
        <locationX>4450</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>KinClaimCosts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_kin_claim_costs_NOT_including_VAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KinClaimCosts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Kin_Claim_Costs_VAT_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_final_payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Liability_Type</name>
        <label>Assign Liability Type</label>
        <locationX>2338</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>LiabilityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Solicitors fees</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Net_Interest</name>
        <label>Assign Net Interest</label>
        <locationX>4450</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Net_Interest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Net_Interest_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Kim_Claim_Deduction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_payment_type</name>
        <label>Assign payment type</label>
        <locationX>2976</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>APE1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debt_Liability_Payment_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Utility_Company_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Amount_Received</name>
        <label>Assign Amount Received</label>
        <locationX>2206</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_pay_admin_costs</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_asset</name>
        <label>Assign asset</label>
        <locationX>2206</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!LiabilityType} due to {!CostsType}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_admin_costs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Costs</name>
        <label>Assign Costs</label>
        <locationX>2338</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CostsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_name_of_Solicitors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Liability_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Details</name>
        <label>Assign Details</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Utility_Account_Number_water</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_utility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Liability_Type</name>
        <label>Assign Liability Type</label>
        <locationX>2206</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LiabilityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_liability_type_admin_costs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liability_Type_Decision_admin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liability_type_funeral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Amount_Received</name>
        <label>Assign Amount Received</label>
        <locationX>3042</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_pay_acc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_asset</name>
        <label>Assign asset</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Name_of_utility_company_water} bill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Costs</name>
        <label>Assign Costs</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CostsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Who_is_the_payment_due_to_admin_overpayment_tax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_final_payment</name>
        <label>Assign final payment</label>
        <locationX>4450</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Final_Payment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Payment_Amount_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_KinClaimCosts</name>
        <label>Assign KinClaimCosts</label>
        <locationX>4186</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>KinClaimCosts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>150.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>KinClaimCosts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Kin_Claim_Costs_VAT_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_final_payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Liability_Type</name>
        <label>Assign Liability Type</label>
        <locationX>3746</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LiabilityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_charge_type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Charge_type_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>3042</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liability_type_accommodation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Amount_Received</name>
        <label>Assign Amount Received</label>
        <locationX>3746</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_pay_property_maintenance</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_asset</name>
        <label>Assign asset</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Council Tax due to {!Local_Authority}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_utility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Costs</name>
        <label>Assign Costs</label>
        <locationX>2778</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CostsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_name_of_creditor_acc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_8_of_Assign_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Details</name>
        <label>Assign Details</label>
        <locationX>3042</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reference_nursing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_8_of_Assign_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Liability_Type</name>
        <label>Assign Liability Type</label>
        <locationX>3042</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LiabilityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_liability_type_admin_costs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liability_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>2206</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liability_type_admin_costs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Amount_Received</name>
        <label>Assign Amount Received</label>
        <locationX>4978</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_pay</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_asset</name>
        <label>Assign asset</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Funeral Expenses due to {!Who_are_the_funeral_expenses_due_to_E_g_undertaker_local_authority_etc}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Costs</name>
        <label>Assign Costs</label>
        <locationX>3042</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CostsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nursing_Home</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>5242</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Description_of_payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Amount_Received</name>
        <label>Assign Amount Received</label>
        <locationX>5242</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_pay_General</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_asset</name>
        <label>Assign asset</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Memorial payment due to {!Who_is_the_memorial_payment_due_to_E_g_stonemason_care_home_etc}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Costs</name>
        <label>Assign Asset</label>
        <locationX>3482</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!LiabilityType} charges due on property at {!Address_Line_1_occupier}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_property_maintenance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>3746</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Charge_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Asset</name>
        <label>Assign Asset</label>
        <locationX>5242</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Enter_description_of_payment_e_g_out_of_pocket_expenses} due to {!Who_is_the_payment_due_to}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_general</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Costs</name>
        <label>Assign Asset</label>
        <locationX>3746</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Landlord_Agent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_property_maintenance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>4450</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Estate_Account_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Asset</name>
        <label>Assign Asset</label>
        <locationX>4978</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Select_loan_type} due to {!Enter_name_of_creditor}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>4978</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EL5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_asset</name>
        <label>Assign asset</label>
        <locationX>3042</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!LiabilityType} due to {!CostsType}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_expect_to_pay_acc</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accommodation_Payments</name>
        <choiceText>Accommodation Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accommodation Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounts</name>
        <choiceText>Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs</name>
        <choiceText>Admin Costs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs_Pensions_Tax_Solicitors_Fees</name>
        <choiceText>Admin Costs/Pensions/Tax/Solicitors Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs/Pensions/Tax/Solicitors Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annuities</name>
        <choiceText>Annuities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annuities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Artwork</name>
        <choiceText>Artwork</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Artwork</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Building_Society_account</name>
        <choiceText>Bank/Building Society account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank/Building Society account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car</name>
        <choiceText>Car</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_asset</name>
        <choiceText>Cash asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_loan</name>
        <choiceText>Cash loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificates</name>
        <choiceText>Certificates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Council_Tax</name>
        <choiceText>Council Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Council Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Funds</name>
        <choiceText>Court Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Effects</name>
        <choiceText>Effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electricity</name>
        <choiceText>Electricity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electricity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral</name>
        <choiceText>Funeral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral_Expenses</name>
        <choiceText>Funeral Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral Expenses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture</name>
        <choiceText>Furniture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gas</name>
        <choiceText>Gas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gas</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ground_rent</name>
        <choiceText>Ground rent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground rent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance_Policy</name>
        <choiceText>Insurance Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jewellery</name>
        <choiceText>Jewellery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jewellery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_payment</name>
        <choiceText>Kin payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance</name>
        <choiceText>Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memorial</name>
        <choiceText>Memorial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memorial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_home</name>
        <choiceText>Mobile home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Money_arising_from_trusts</name>
        <choiceText>Money arising from trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Money arising from trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mortgage</name>
        <choiceText>Mortgage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mortgage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Motorbike</name>
        <choiceText>Motorbike</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Motorbike</stringValue>
        </value>
    </choices>
    <choices>
        <name>National_Savings_and_Investments</name>
        <choiceText>National Savings and Investments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Savings and Investments</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_deduct</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insurance_policy</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_quoted_shares</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_sold</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nursing_residential_care_home_fees</name>
        <choiceText>Nursing/residential/care home fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nursing/residential/care home fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payment&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pension</name>
        <choiceText>Pension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Overpayment</name>
        <choiceText>Pension Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Underpayment</name>
        <choiceText>Pension Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_effects</name>
        <choiceText>Personal effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Premium_Bonds</name>
        <choiceText>Premium Bonds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Premium Bonds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property</name>
        <choiceText>Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property_maintenance_charges</name>
        <choiceText>Property maintenance charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property maintenance charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receipt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Receipt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Refunds_from_utilities_etc</name>
        <choiceText>Refunds from utilities etc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refunds from utilities etc</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rent_arrears</name>
        <choiceText>Rent arrears</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rent arrears</stringValue>
        </value>
    </choices>
    <choices>
        <name>Secured_loans</name>
        <choiceText>Secured loans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secured loans</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_charges</name>
        <choiceText>Service charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shares</name>
        <choiceText>Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitors</name>
        <choiceText>Solicitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stamp_Collection</name>
        <choiceText>Stamp Collection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stamp Collection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stocks_Insurance</name>
        <choiceText>Stocks/Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stocks/Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Overpayment</name>
        <choiceText>Tax Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Underpayment</name>
        <choiceText>Tax Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telephone_utility_payment</name>
        <choiceText>Telephone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephone</stringValue>
        </value>
    </choices>
    <choices>
        <name>TV</name>
        <choiceText>TV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Trusts</name>
        <choiceText>Unit Trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit Trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utility_Bill</name>
        <choiceText>Utility Bill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utility Bill</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle</name>
        <choiceText>Vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water</name>
        <choiceText>Water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_deduct</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insurance_policy</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_quoted_shares</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_sold</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_tenanted</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Charge_type_decision</name>
        <label>Charge type decision</label>
        <locationX>3746</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Amount_expect_to_pay_property_maintenance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maintenance_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_charge_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Maintenance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Maintenace_Address</targetReference>
            </connector>
            <label>Maintenance</label>
        </rules>
        <rules>
            <name>Ground_rent_decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_charge_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ground_rent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_charge_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Service_charges</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_landlord_agent</targetReference>
            </connector>
            <label>Ground rent / Service Charges</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debt_Liability_Payment_Type_Decision</name>
        <label>Debt/Liability/Payment Type Decision</label>
        <locationX>2976</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Utility_Bill_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utility Bill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type</targetReference>
            </connector>
            <label>Utility Bill</label>
        </rules>
        <rules>
            <name>Funeral_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Funeral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Type</targetReference>
            </connector>
            <label>Funeral</label>
        </rules>
        <rules>
            <name>Admin_Costs_Pensions_Tax_Solicitors_Fees_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin Costs/Pensions/Tax/Solicitors Fees</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Type</targetReference>
            </connector>
            <label>Admin Costs/Pensions/Tax/Solicitors Fees</label>
        </rules>
        <rules>
            <name>Accommodation_Payments_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accommodation Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Type</targetReference>
            </connector>
            <label>Accommodation Payments</label>
        </rules>
        <rules>
            <name>Property_maintenance_charges_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property maintenance charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Type</targetReference>
            </connector>
            <label>Property maintenance charges</label>
        </rules>
        <rules>
            <name>Kin_payment_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kin payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_Type</targetReference>
            </connector>
            <label>Kin payment</label>
        </rules>
        <rules>
            <name>Secured_loans_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secured loans</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Type</targetReference>
            </connector>
            <label>Secured loans</label>
        </rules>
        <rules>
            <name>General_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_debt_liability_payment_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Type</targetReference>
            </connector>
            <label>General</label>
        </rules>
    </decisions>
    <decisions>
        <name>Kim_Claim_Deduction_Decision</name>
        <label>Kim Claim Deduction Decision</label>
        <locationX>4450</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Deduct_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deduct_kin_claim_costs_of_150_00_VAT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_KinClaimCosts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Deduct_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deduct_kin_claim_costs_of_150_00_VAT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kin_Claim_Costs_No_VAT</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liability_Type_Decision</name>
        <label>Liability Type Decision</label>
        <locationX>3042</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_8_of_Assign_asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rent_arrears_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_liability_type_accommodation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Rent_arrears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_of_Creditor_acc</targetReference>
            </connector>
            <label>Rent arrears</label>
        </rules>
        <rules>
            <name>Nursing_residential_care_home_fees_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_liability_type_accommodation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nursing_residential_care_home_fees</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_nursing_home</targetReference>
            </connector>
            <label>Nursing/residential/care home fees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liability_Type_Decision_admin</name>
        <label>Liability Type Decision</label>
        <locationX>2206</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admin_Costs_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_liability_type_admin_costs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Admin_Costs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Costs_Due_To</targetReference>
            </connector>
            <label>Admin Costs</label>
        </rules>
        <rules>
            <name>Overpayment_or_Underpayment_Tax_Pension</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_liability_type_admin_costs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tax_Overpayment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_liability_type_admin_costs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tax_Underpayment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_liability_type_admin_costs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pension_Underpayment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_liability_type_admin_costs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pension_Overpayment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Payment_due_to</targetReference>
            </connector>
            <label>Overpayment or Underpayment (Tax/Pension)</label>
        </rules>
        <rules>
            <name>Solicitors_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_liability_type_admin_costs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Solicitors</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_of_Solicitors</targetReference>
            </connector>
            <label>Solicitors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Liability_Type_decision_funeral</name>
        <label>Liability Type</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Funeral_Expenses_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_liability_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Funeral_Expenses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Funeral_expenses_due_to</targetReference>
            </connector>
            <label>Funeral Expenses</label>
        </rules>
        <rules>
            <name>Memorial_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_liability_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Memorial</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Memorial_payment_due_to</targetReference>
            </connector>
            <label>Memorial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Utility_Company_Decision</name>
        <label>Utility Company Decision</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Amount_expect_to_pay_utility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Telephone_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_utility_company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Telephone_utility_payment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_a_service_provider_screen</targetReference>
            </connector>
            <label>Telephone</label>
        </rules>
        <rules>
            <name>Utility_Service_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_utility_company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Water</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_utility_company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Gas</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_utility_company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Electricity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_utility_company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TV</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_utility_company_Screen</targetReference>
            </connector>
            <label>Utility Service</label>
        </rules>
        <rules>
            <name>Council_Tax_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_utility_company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Council_Tax</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_local_authority</targetReference>
            </connector>
            <label>Council Tax</label>
        </rules>
    </decisions>
    <description>Subflow for the SOS Add Accural main flow</description>
    <dynamicChoiceSets>
        <name>LocalAuthorityRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Local_Authority__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>LocalCouncilTax</assignToReference>
            <field>Council_Tax__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocalAuthority</assignToReference>
            <field>Local_Authority__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MaintenanceRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Address_Line_1__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>MaintenanceAddressLine1</assignToReference>
            <field>Address_Line_1__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NursingHomeRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Nursing_Home__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>NursingHome</assignToReference>
            <field>Nursing_Home__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NursingReference</assignToReference>
            <field>Reference__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceGroundRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Landlord_Agent__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>ServiceGroundLandlord</assignToReference>
            <field>Landlord_Agent__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TelephoneRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Telephone_Service_Provider__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>TelephoneAccountNumber</assignToReference>
            <field>Telephone_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelephoneServiceProvider</assignToReference>
            <field>Telephone_Service_Provider__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UtilityRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name_Of_Utility_Company__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>UtilityCompany</assignToReference>
            <field>Name_Of_Utility_Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UtilityAccountNumber</assignToReference>
            <field>Utility_Account_Number__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Final_Payment_Amount_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Enter_balance_on_estate_account} + {!Net_Interest} - {!KinClaimCosts}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Net_Interest_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Enter_gross_interest} - {!Enter_tax_on_interest}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Total_Kin_Claim_Costs_VAT_Formula</name>
        <dataType>Number</dataType>
        <expression>{!KinClaimCosts} / 100 * 120</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SOS Add Accural Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOS Add Accural Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Admin_Costs_Due_To</name>
        <label>Admin Costs Due To</label>
        <locationX>1810</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Costs</targetReference>
        </connector>
        <fields>
            <name>Who_are_the_admin_costs_due_to_E_g_local_authority</name>
            <dataType>String</dataType>
            <fieldText>Who are the admin costs due to? E.g. local authority</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_expect_to_pay</name>
        <label>Amount expect to pay</label>
        <locationX>4978</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Assign_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_pay</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to pay</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_expect_to_pay_acc</name>
        <label>Amount expect to pay</label>
        <locationX>3042</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assign_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_pay_acc</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to pay</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_expect_to_pay_admin_costs</name>
        <label>Amount expect to pay</label>
        <locationX>2206</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_pay_admin_costs</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to pay</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_expect_to_pay_general</name>
        <label>Amount expect to pay</label>
        <locationX>5242</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Assign_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_pay_General</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to pay</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_expect_to_pay_property_maintenance</name>
        <label>Amount expect to pay</label>
        <locationX>3746</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Assign_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_pay_property_maintenance</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to pay</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_expect_to_pay_utility</name>
        <label>Amount expect to pay</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_pay_utility</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to pay</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Charge_type</name>
        <label>Charge type</label>
        <locationX>3746</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assign_Liability_Type</targetReference>
        </connector>
        <fields>
            <name>Select_charge_type</name>
            <choiceReferences>Maintenance</choiceReferences>
            <choiceReferences>Ground_rent</choiceReferences>
            <choiceReferences>Service_charges</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select charge type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_a_service_provider_screen</name>
        <label>Choose a service provider</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Telephone_screen</targetReference>
        </connector>
        <fields>
            <name>Choose_a_service_provider</name>
            <choiceReferences>TelephoneRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a service provider</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_landlord_agent</name>
        <label>Choose landlord/agent</label>
        <locationX>3746</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lease</targetReference>
        </connector>
        <fields>
            <name>Choose_a_landlord_or_agent</name>
            <choiceReferences>ServiceGroundRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a landlord or agent</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_local_authority</name>
        <label>Choose local authority</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Local_Authority_screen</targetReference>
        </connector>
        <fields>
            <name>Choose_a_Local_Authority</name>
            <choiceReferences>LocalAuthorityRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a Local Authority</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Maintenace_Address</name>
        <label>Choose Maintenace Address</label>
        <locationX>3482</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Occupiers_Address</targetReference>
        </connector>
        <fields>
            <name>Choose_a_maintenance_address</name>
            <choiceReferences>MaintenanceRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a maintenance address</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_nursing_home</name>
        <label>Choose nursing home</label>
        <locationX>3042</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Nursing_Home_Fees</targetReference>
        </connector>
        <fields>
            <name>Choose_a_nursing_home</name>
            <choiceReferences>NursingHomeRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a nursing home</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_utility_company_Screen</name>
        <label>Choose utility company</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Utility_Service</targetReference>
        </connector>
        <fields>
            <name>Choose_a_utility_company</name>
            <choiceReferences>UtilityRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a utility company</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Payment_due_to</name>
        <label>Payment due to</label>
        <locationX>2074</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assign_Costs</targetReference>
        </connector>
        <fields>
            <name>Who_is_the_payment_due_to_admin_overpayment_tax</name>
            <dataType>String</dataType>
            <fieldText>Who is the payment due to?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Utility_Service</name>
        <label>Utility/Service</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assign_asset</targetReference>
        </connector>
        <fields>
            <name>Name_of_utility_company_water</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UtilityCompany</elementReference>
            </defaultValue>
            <fieldText>Name of utility company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_1_utility_water</name>
            <dataType>String</dataType>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_2_utility_water</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_3_utility_water</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_4_utility_water</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode_utility_water</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telephone_utility_water</name>
            <dataType>String</dataType>
            <fieldText>Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fax_utility_water</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Utility_Account_Number_water</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>UtilityAccountNumber</elementReference>
            </defaultValue>
            <fieldText>Utility Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_Due_utility_water</name>
            <dataType>Number</dataType>
            <fieldText>Amount Due</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Terminated_utility_water</name>
            <dataType>String</dataType>
            <fieldText>Terminated</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Debt_Liability_Payment_type</name>
        <label>Debt/Liability/Payment type</label>
        <locationX>2976</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_payment_type</targetReference>
        </connector>
        <fields>
            <name>Select_debt_liability_payment_type</name>
            <choiceReferences>Utility_Bill</choiceReferences>
            <choiceReferences>Funeral</choiceReferences>
            <choiceReferences>Admin_Costs_Pensions_Tax_Solicitors_Fees</choiceReferences>
            <choiceReferences>Accommodation_Payments</choiceReferences>
            <choiceReferences>Property_maintenance_charges</choiceReferences>
            <choiceReferences>Kin_payment</choiceReferences>
            <choiceReferences>Secured_loans</choiceReferences>
            <choiceReferences>General</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select debt/liability/payment type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Description_of_payment</name>
        <label>Description of payment</label>
        <locationX>5242</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_due_to</targetReference>
        </connector>
        <fields>
            <name>Enter_description_of_payment_e_g_out_of_pocket_expenses</name>
            <dataType>String</dataType>
            <fieldText>Enter description of payment, e.g. out of pocket expenses</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Estate_Account_Balance</name>
        <label>Estate Account Balance</label>
        <locationX>4450</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Gross_Interest</targetReference>
        </connector>
        <fields>
            <name>Enter_balance_on_estate_account</name>
            <dataType>Number</dataType>
            <fieldText>Enter balance on estate account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Funeral_expenses_due_to</name>
        <label>Funeral expenses due to</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Assign_asset</targetReference>
        </connector>
        <fields>
            <name>Who_are_the_funeral_expenses_due_to_E_g_undertaker_local_authority_etc</name>
            <dataType>String</dataType>
            <fieldText>Who are the funeral expenses due to? E.g. undertaker, local authority etc</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gross_Interest</name>
        <label>Gross Interest</label>
        <locationX>4450</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tax_on_interest</targetReference>
        </connector>
        <fields>
            <name>Enter_gross_interest</name>
            <dataType>Number</dataType>
            <fieldText>Enter gross interest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Kim_Claim_Deduction</name>
        <label>Kim Claim Deduction</label>
        <locationX>4450</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Kim_Claim_Deduction_Decision</targetReference>
        </connector>
        <fields>
            <name>Deduct_kin_claim_costs_of_150_00_VAT</name>
            <choiceReferences>Yes_deduct</choiceReferences>
            <choiceReferences>No_deduct</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Deduct kin claim costs of 150.00 + VAT?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Kin_Claim_Costs_No_VAT</name>
        <label>Kin Claim Costs (No VAT)</label>
        <locationX>4450</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_KinClaimCosts</targetReference>
        </connector>
        <fields>
            <name>Enter_kin_claim_costs_NOT_including_VAT</name>
            <dataType>Number</dataType>
            <fieldText>Enter kin claim costs NOT including VAT</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lease</name>
        <label>Lease</label>
        <locationX>3746</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Assign_Costs</targetReference>
        </connector>
        <fields>
            <name>Lease_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lease_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Landlord_Agent</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceGroundLandlord</elementReference>
                    </defaultValue>
                    <fieldText>Landlord/Agent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_1_lease</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_2_lease</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_3_lease</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_4_lease</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode_lease</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telephone_lease</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fax_lease</name>
                    <dataType>String</dataType>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Lease_date</name>
                    <dataType>String</dataType>
                    <fieldText>Lease date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Comments</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reference_lease</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lease_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agent</name>
                    <dataType>String</dataType>
                    <fieldText>Agent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Rent</name>
                    <dataType>Number</dataType>
                    <fieldText>Rent</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Payment_Due</name>
                    <dataType>String</dataType>
                    <fieldText>Payment Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Arrears</name>
                    <dataType>Number</dataType>
                    <fieldText>Arrears</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liability_type_accommodation</name>
        <label>Liability type</label>
        <locationX>3042</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Assign_Liability_Type</targetReference>
        </connector>
        <fields>
            <name>Select_liability_type_accommodation</name>
            <choiceReferences>Rent_arrears</choiceReferences>
            <choiceReferences>Nursing_residential_care_home_fees</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select liability type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liability_type_admin_costs</name>
        <label>Liability type</label>
        <locationX>2206</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Liability_Type</targetReference>
        </connector>
        <fields>
            <name>Select_liability_type_admin_costs</name>
            <choiceReferences>Admin_Costs</choiceReferences>
            <choiceReferences>Pension_Overpayment</choiceReferences>
            <choiceReferences>Pension_Underpayment</choiceReferences>
            <choiceReferences>Tax_Overpayment</choiceReferences>
            <choiceReferences>Tax_Underpayment</choiceReferences>
            <choiceReferences>Solicitors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select liability type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Liability_type_funeral</name>
        <label>Liability type</label>
        <locationX>1282</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Liability_Type_decision_funeral</targetReference>
        </connector>
        <fields>
            <name>Select_liability_type</name>
            <choiceReferences>Funeral_Expenses</choiceReferences>
            <choiceReferences>Memorial</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select liability type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loan_type</name>
        <label>Loan type</label>
        <locationX>4978</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Name_of_Creditor</targetReference>
        </connector>
        <fields>
            <name>Select_loan_type</name>
            <choiceReferences>Mortgage</choiceReferences>
            <choiceReferences>Cash_loan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select loan type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Local_Authority_screen</name>
        <label>Local Authority</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Assign_asset</targetReference>
        </connector>
        <fields>
            <name>Local_Authority_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Local_Authority_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Local_Authority</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LocalAuthority</elementReference>
                    </defaultValue>
                    <fieldText>Local Authority</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_1_local</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_2_local</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_3_local</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_4_local</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode_local</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Admin_Fee</name>
                    <dataType>Number</dataType>
                    <fieldText>Admin Fee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Council_Tax_Dept</name>
                    <dataType>String</dataType>
                    <fieldText>Council Tax Dept</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Council_Tax_local</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>LocalCouncilTax</elementReference>
                    </defaultValue>
                    <fieldText>Council Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Bill_received</name>
                    <dataType>String</dataType>
                    <fieldText>Bill received</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Home_Help_fees</name>
                    <dataType>Number</dataType>
                    <fieldText>Home Help fees</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Local_Authority_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Address</name>
                    <dataType>String</dataType>
                    <fieldText>Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telephone_local</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fax_local</name>
                    <dataType>String</dataType>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reference_council</name>
                    <dataType>String</dataType>
                    <fieldText>Council Tax Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Paid_council</name>
                    <dataType>String</dataType>
                    <fieldText>Paid Council Tax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Home_Help_Fees_Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Home Help Fees Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Paid_Home_Help_Fees</name>
                    <dataType>String</dataType>
                    <fieldText>Paid Home Help Fees</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Memorial_payment_due_to</name>
        <label>Memorial payment due to</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Assign_asset</targetReference>
        </connector>
        <fields>
            <name>Who_is_the_memorial_payment_due_to_E_g_stonemason_care_home_etc</name>
            <dataType>String</dataType>
            <fieldText>Who is the memorial payment due to? E.g. stonemason, care home etc</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Name_of_Creditor</name>
        <label>Name of Creditor</label>
        <locationX>4978</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_7_of_Assign_Asset</targetReference>
        </connector>
        <fields>
            <name>Enter_name_of_creditor</name>
            <dataType>String</dataType>
            <fieldText>Enter name of creditor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Name_of_Creditor_acc</name>
        <label>Name of Creditor</label>
        <locationX>2778</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Assign_Costs</targetReference>
        </connector>
        <fields>
            <name>Enter_name_of_creditor_acc</name>
            <dataType>String</dataType>
            <fieldText>Enter name of creditor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Name_of_Solicitors</name>
        <label>Name of Solicitors</label>
        <locationX>2338</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Costs</targetReference>
        </connector>
        <fields>
            <name>Enter_name_of_Solicitors</name>
            <dataType>String</dataType>
            <fieldText>Enter name of Solicitors</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nursing_Home_Fees</name>
        <label>Nursing Home Fees</label>
        <locationX>3042</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Assign_Costs</targetReference>
        </connector>
        <fields>
            <name>Nursing_Home</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NursingHome</elementReference>
            </defaultValue>
            <fieldText>Nursing Home</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_1_nursing</name>
            <dataType>String</dataType>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_2_nursing</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_3_nursing</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_4_nursing</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode_nursing</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telephone_nursing</name>
            <dataType>String</dataType>
            <fieldText>Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fax_nursing</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fees</name>
            <dataType>Number</dataType>
            <fieldText>Fees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Paid</name>
            <dataType>String</dataType>
            <fieldText>Paid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reference_nursing</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NursingReference</elementReference>
            </defaultValue>
            <fieldText>Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_address_nursing</name>
            <dataType>String</dataType>
            <fieldText>Email address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Occupiers_Address</name>
        <label>Occupiers Address</label>
        <locationX>3482</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Assign_Costs</targetReference>
        </connector>
        <fields>
            <name>Address_Line_1_occupier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MaintenanceAddressLine1</elementReference>
            </defaultValue>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_2_occupier</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_3_occupier</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_4_occupier</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode_occupier</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Owned_occupier</name>
            <choiceReferences>Unknown</choiceReferences>
            <choiceReferences>No_owned</choiceReferences>
            <choiceReferences>Yes_owned</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Owned</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tenanted</name>
            <choiceReferences>Unknown_tenanted</choiceReferences>
            <choiceReferences>No_tenanted</choiceReferences>
            <choiceReferences>Yes_tenanted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tenanted</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Title_Number_occupier</name>
            <dataType>String</dataType>
            <fieldText>Title Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_due_to</name>
        <label>Payment due to</label>
        <locationX>5242</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Assign_Asset</targetReference>
        </connector>
        <fields>
            <name>Who_is_the_payment_due_to</name>
            <dataType>String</dataType>
            <fieldText>Who is the payment due to?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tax_on_interest</name>
        <label>Tax on interest</label>
        <locationX>4450</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Net_Interest</targetReference>
        </connector>
        <fields>
            <name>Enter_tax_on_interest</name>
            <dataType>Number</dataType>
            <fieldText>Enter tax on interest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Telephone_screen</name>
        <label>Telephone</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_asset</targetReference>
        </connector>
        <fields>
            <name>Telephone_service_provider</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelephoneServiceProvider</elementReference>
            </defaultValue>
            <fieldText>Telephone service provider</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_1_telephone</name>
            <dataType>String</dataType>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_2_telephone</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_3_telephone</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_4_telephone</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode_telephone</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telephone_telephone</name>
            <dataType>String</dataType>
            <fieldText>Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fax_telephone</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TelephoneAccountNumber</elementReference>
            </defaultValue>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_Due</name>
            <dataType>Number</dataType>
            <fieldText>Amount Due</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Terminated</name>
            <dataType>String</dataType>
            <fieldText>Terminated</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telephone_No</name>
            <dataType>String</dataType>
            <fieldText>Telephone No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Utility_Company_Payments</name>
        <label>Utility Company Payments</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Utility_Company_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_utility_company</name>
            <choiceReferences>Telephone_utility_payment</choiceReferences>
            <choiceReferences>Electricity</choiceReferences>
            <choiceReferences>Gas</choiceReferences>
            <choiceReferences>Water</choiceReferences>
            <choiceReferences>TV</choiceReferences>
            <choiceReferences>Council_Tax</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select utility company</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2850</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debt_Liability_Payment_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AmountReceived</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CostsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DetailsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Final_Payment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>KinClaimCosts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Land_type_assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LiabilityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LocalAuthority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalCouncilTax</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MaintenanceAddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Net_Interest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NursingHome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NursingReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceGroundLandlord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelephoneAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelephoneServiceProvider</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UtilityAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UtilityCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
