force-app/main/default/flows/SOS_Add_Accural_Receipt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Address</name>
        <label>Assign Address</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_address_of_land</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_land</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Address_Property</name>
        <label>Assign Address</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_line_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Property_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_land</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Bank} account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Type_2</name>
        <label>Assign Asset Type</label>
        <locationX>1282</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cash held by {!Holder}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Type_3</name>
        <label>Assign Asset Type</label>
        <locationX>1546</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pension due from {!Private_Pension}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Type_Vehicle</name>
        <label>Assign Asset Type</label>
        <locationX>5154</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Type} {!Reg_No}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_vehicle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Details</name>
        <label>Assign Details</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Number_bank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Property_Type</name>
        <label>Assign Property Type</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Property_type_options} property</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Receipt</name>
        <label>Assign Receipt</label>
        <locationX>3262</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ReceiptType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARE2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipt_asset_type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Land_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_Stocks</name>
        <label>Assign Type</label>
        <locationX>4362</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asset_type_stocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_10</name>
        <label>Assign Land Type</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Select_land_type} land</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>4714</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!No_of_Units} Units in {!Fund_PEP}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>5858</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proceeds of sale of {!Select_asset_type_personal_effects}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_personal_effects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_property</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>2338</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NSI Certificates</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Details</name>
        <label>Assign Details</label>
        <locationX>1810</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Number_bank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Property_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>2294</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_cash</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>1810</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NSI Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Details</name>
        <label>Assign Details</label>
        <locationX>1282</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reference_cash</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Property_Type</name>
        <label>Assign Property Type</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_type_options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>2294</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>5858</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_personal_effects</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>2074</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NSI Premium Bonds</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Details</name>
        <label>Assign Details</label>
        <locationX>4714</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reference_unit_trusts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_stocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>4362</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>2778</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refund due from {!Enter_name_of_utility_company}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Details</name>
        <label>Assign Details</label>
        <locationX>3306</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_court_funds_account_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>5154</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vehicle_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>5154</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_vehicle</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>4010</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Copy_1_of_Insurer} policy no.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Details</name>
        <label>Assign Details</label>
        <locationX>4274</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>DetailsType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Policy_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_stocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>5858</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Personal_effects_asset_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>3306</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Court Funds</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Assign_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>3042</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monies arising from trusts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>3746</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!No_of_Shares} Shares in {!Company}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_stocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>4274</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Copy_1_of_Insurer} Annuities</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_5_of_Assign_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accommodation_Payments</name>
        <choiceText>Accommodation Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accommodation Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounts</name>
        <choiceText>Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs</name>
        <choiceText>Admin Costs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs_Pensions_Tax_Solicitors_Fees</name>
        <choiceText>Admin Costs/Pensions/Tax/Solicitors Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs/Pensions/Tax/Solicitors Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annuities</name>
        <choiceText>Annuities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annuities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Artwork</name>
        <choiceText>Artwork</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Artwork</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Building_Society_account</name>
        <choiceText>Bank/Building Society account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank/Building Society account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car</name>
        <choiceText>Car</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_asset</name>
        <choiceText>Cash asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_loan</name>
        <choiceText>Cash loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificates</name>
        <choiceText>Certificates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Council_Tax</name>
        <choiceText>Council Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Council Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Funds</name>
        <choiceText>Court Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Effects</name>
        <choiceText>Effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electricity</name>
        <choiceText>Electricity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electricity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral</name>
        <choiceText>Funeral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral_Expenses</name>
        <choiceText>Funeral Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral Expenses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture</name>
        <choiceText>Furniture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gas</name>
        <choiceText>Gas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gas</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ground_rent</name>
        <choiceText>Ground rent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground rent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance_Policy</name>
        <choiceText>Insurance Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jewellery</name>
        <choiceText>Jewellery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jewellery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_payment</name>
        <choiceText>Kin payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance</name>
        <choiceText>Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memorial</name>
        <choiceText>Memorial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memorial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_home</name>
        <choiceText>Mobile home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Money_arising_from_trusts</name>
        <choiceText>Money arising from trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Money arising from trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mortgage</name>
        <choiceText>Mortgage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mortgage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Motorbike</name>
        <choiceText>Motorbike</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Motorbike</stringValue>
        </value>
    </choices>
    <choices>
        <name>National_Savings_and_Investments</name>
        <choiceText>National Savings and Investments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Savings and Investments</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_deduct</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insurance_policy</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_quoted_shares</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_sold</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nursing_residential_care_home_fees</name>
        <choiceText>Nursing/residential/care home fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nursing/residential/care home fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payment&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pension</name>
        <choiceText>Pension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Overpayment</name>
        <choiceText>Pension Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Underpayment</name>
        <choiceText>Pension Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_effects</name>
        <choiceText>Personal effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Premium_Bonds</name>
        <choiceText>Premium Bonds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Premium Bonds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property</name>
        <choiceText>Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property_maintenance_charges</name>
        <choiceText>Property maintenance charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property maintenance charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receipt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Receipt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Refunds_from_utilities_etc</name>
        <choiceText>Refunds from utilities etc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refunds from utilities etc</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rent_arrears</name>
        <choiceText>Rent arrears</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rent arrears</stringValue>
        </value>
    </choices>
    <choices>
        <name>Secured_loans</name>
        <choiceText>Secured loans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secured loans</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_charges</name>
        <choiceText>Service charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shares</name>
        <choiceText>Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitors</name>
        <choiceText>Solicitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stamp_Collection</name>
        <choiceText>Stamp Collection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stamp Collection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stocks_Insurance</name>
        <choiceText>Stocks/Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stocks/Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Overpayment</name>
        <choiceText>Tax Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Underpayment</name>
        <choiceText>Tax Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telephone_utility_payment</name>
        <choiceText>Telephone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephone</stringValue>
        </value>
    </choices>
    <choices>
        <name>TV</name>
        <choiceText>TV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Trusts</name>
        <choiceText>Unit Trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit Trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utility_Bill</name>
        <choiceText>Utility Bill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utility Bill</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle</name>
        <choiceText>Vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water</name>
        <choiceText>Water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_deduct</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insurance_policy</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_quoted_shares</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_sold</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_tenanted</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Asset_type_Decision</name>
        <label>Asset type Decision</label>
        <locationX>2294</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bank_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Bank_Building_Society_account</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bank_Building_Society</targetReference>
            </connector>
            <label>Bank</label>
        </rules>
        <rules>
            <name>Cash_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cash</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cash_bank</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
        <rules>
            <name>Pension_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pension</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Pension</targetReference>
            </connector>
            <label>Pension</label>
        </rules>
        <rules>
            <name>National_Savings_and_Investments_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>National_Savings_and_Investments</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NSI_asset_type</targetReference>
            </connector>
            <label>National Savings and Investments</label>
        </rules>
        <rules>
            <name>Refunds_from_Utilities_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Refunds_from_utilities_etc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Utility_Company</targetReference>
            </connector>
            <label>Refunds from Utilities</label>
        </rules>
        <rules>
            <name>Monies_arising_from_trusts_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Money_arising_from_trusts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Monies arising from trusts</label>
        </rules>
        <rules>
            <name>Court_Funds_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Court_Funds</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Courts_Funds_account_number</targetReference>
            </connector>
            <label>Court Funds</label>
        </rules>
    </decisions>
    <decisions>
        <name>IP_Decision</name>
        <label>IP Decision</label>
        <locationX>4274</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_5_of_Assign_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insurance_Policy_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Annuities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Insurance Policy Decision</label>
        </rules>
        <rules>
            <name>Annuities_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Annuities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Annuities Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_mobile_home</name>
        <label>is mobile home?</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Amount_to_receive_property</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_is_Mobile_Home</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Property_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mobile_home</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Property_Type</targetReference>
            </connector>
            <label>Yes - is Mobile Home</label>
        </rules>
        <rules>
            <name>No_is_not_mobile_home</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Property_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Leasehold</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Property_type_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Freehold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Property_Type</targetReference>
            </connector>
            <label>No - is not mobile home</label>
        </rules>
    </decisions>
    <decisions>
        <name>NSI_Decision</name>
        <label>NSI Decision</label>
        <locationX>2206</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accounts_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_NSI_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accounts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Accounts</label>
        </rules>
        <rules>
            <name>Premium_Bonds_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Premium_Bonds</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Premium Bonds</label>
        </rules>
        <rules>
            <name>Certificates_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_NSI_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Certificates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Certificates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Personal_Effects_Decision_1</name>
        <label>Personal Effects Decision</label>
        <locationX>5858</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_12_of_Assign_Asset_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Furniture_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_personal_effects</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Furniture</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Furniture</label>
        </rules>
        <rules>
            <name>Effects_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_personal_effects</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Effects</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Effects</label>
        </rules>
        <rules>
            <name>Jewellery_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_personal_effects</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Jewellery</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Jewellery</label>
        </rules>
        <rules>
            <name>Artwork_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_personal_effects</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Artwork</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Artwork</label>
        </rules>
        <rules>
            <name>Stamp_Collection_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_personal_effects</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stamp_Collection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_Asset_Type</targetReference>
            </connector>
            <label>Stamp Collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Receipt_asset_type_Decision</name>
        <label>Receipt/asset type Decision</label>
        <locationX>3262</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Land_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Land</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type</targetReference>
            </connector>
            <label>Land</label>
        </rules>
        <rules>
            <name>Property_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Property</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Type</targetReference>
            </connector>
            <label>Property</label>
        </rules>
        <rules>
            <name>Cash_asset_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cash_asset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Type</targetReference>
            </connector>
            <label>Cash asset</label>
        </rules>
        <rules>
            <name>Stocks_Insurance_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stocks_Insurance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type_Stocks</targetReference>
            </connector>
            <label>Stocks/Insurance</label>
        </rules>
        <rules>
            <name>Vehicle_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Vehicle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Type</targetReference>
            </connector>
            <label>Vehicle</label>
        </rules>
        <rules>
            <name>Personal_effects_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Personal_effects</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Type</targetReference>
            </connector>
            <label>Personal effects</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stocks_asset_type_decision</name>
        <label>Stocks asset type decision</label>
        <locationX>4362</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Amount_to_receive_stocks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shares_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stocks_Shares</targetReference>
            </connector>
            <label>Shares</label>
        </rules>
        <rules>
            <name>Insurance_Policy_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Insurance_Policy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Annuities</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insurance_Policy_Copy</targetReference>
            </connector>
            <label>Insurance Policy / Annuities</label>
        </rules>
        <rules>
            <name>Unit_Trusts_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Unit_Trusts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Trusts_PEPS</targetReference>
            </connector>
            <label>Unit Trusts</label>
        </rules>
    </decisions>
    <description>Subflow for Receipt for SOS Add Accural Flow</description>
    <environments>Default</environments>
    <formulas>
        <name>NarrativeFormula</name>
        <dataType>String</dataType>
        <expression>{!AssignmentType} &amp; &quot; &quot; &amp; {!AssetType} &amp; &quot; &quot; &amp; {!AddressType}</expression>
    </formulas>
    <interviewLabel>SOS Add Accural Receipt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOS Add Accural Receipt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Address_input</name>
        <label>Address input</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Address</targetReference>
        </connector>
        <fields>
            <name>Enter_address_of_land</name>
            <dataType>String</dataType>
            <fieldText>Enter address of land</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_cash</name>
        <label>Amount to receive</label>
        <locationX>2294</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_cash</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_land</name>
        <label>Amount to receive</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_land</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_personal_effects</name>
        <label>Amount to receive</label>
        <locationX>5858</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_personal_effects</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_property</name>
        <label>Amount to receive</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_property</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_stocks</name>
        <label>Amount to receive</label>
        <locationX>4362</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_vehicle</name>
        <label>Amount to receive</label>
        <locationX>5154</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_vehicle</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Asset_type</name>
        <label>Asset type</label>
        <locationX>2294</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Asset_type_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_asset_type</name>
            <choiceReferences>Bank_Building_Society_account</choiceReferences>
            <choiceReferences>Cash</choiceReferences>
            <choiceReferences>Pension</choiceReferences>
            <choiceReferences>National_Savings_and_Investments</choiceReferences>
            <choiceReferences>Refunds_from_utilities_etc</choiceReferences>
            <choiceReferences>Money_arising_from_trusts</choiceReferences>
            <choiceReferences>Court_Funds</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select asset type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>asset_type_stocks</name>
        <label>Asset type stocks</label>
        <locationX>4362</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stocks_asset_type_decision</targetReference>
        </connector>
        <fields>
            <name>Select_asset_type_share</name>
            <choiceReferences>Shares</choiceReferences>
            <choiceReferences>Annuities</choiceReferences>
            <choiceReferences>Insurance_Policy</choiceReferences>
            <choiceReferences>Unit_Trusts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select asset type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Bank_Building_Society</name>
        <label>Bank/Building Society</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>Bank_Building_Society_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bank_Building_Society_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank</name>
                    <dataType>String</dataType>
                    <fieldText>Bank</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_1_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_2_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_3_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_4_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telephone_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fax_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Salutation_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Salutation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Bank_Building_Society_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reference_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Account_Number_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sort_Code_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Sort Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Balance_bank</name>
                    <dataType>Number</dataType>
                    <fieldText>Balance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Spreadsheet_Number_bank</name>
                    <dataType>String</dataType>
                    <fieldText>Spreadsheet Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Electronic_referral_bank</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Electronic referral?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cash_bank</name>
        <label>Cash</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Asset_Type_2</targetReference>
        </connector>
        <fields>
            <name>Cash_bank_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cash_bank_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cash_input_bank</name>
                    <dataType>Number</dataType>
                    <fieldText>Cash</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Holder</name>
                    <dataType>String</dataType>
                    <fieldText>Holder</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_1_cash</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_2_cash</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_3_cash</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_4_cash</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode_cash</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reference_cash</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cash_bank_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>From</name>
                    <dataType>String</dataType>
                    <fieldText>From</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Courts_Funds_account_number</name>
        <label>Courts Funds account number</label>
        <locationX>3306</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Assign_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>Enter_court_funds_account_number</name>
            <dataType>String</dataType>
            <fieldText>Enter court funds account number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insurance_Policy_Copy</name>
        <label>Insurance Policy</label>
        <locationX>4274</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IP_Decision</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Insurer</name>
            <dataType>String</dataType>
            <fieldText>Insurer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Address_Line_1_stocks_insurance</name>
            <dataType>String</dataType>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Address_Line_2_stocks_insurance</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Address_Line_3_stocks_insurance</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Address_Line_4_stocks_insurance</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Postcode_stocks_insurance</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Telephone_stocks_insurance</name>
            <dataType>String</dataType>
            <fieldText>Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Fax_stocks_insurance</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Policy_No</name>
            <dataType>String</dataType>
            <fieldText>Policy No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Value_stocks_insurance</name>
            <dataType>Number</dataType>
            <fieldText>Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Received</name>
            <dataType>String</dataType>
            <fieldText>Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Books_Policies_sent</name>
            <choiceReferences>Yes_insurance_policy</choiceReferences>
            <choiceReferences>No_insurance_policy</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Books/Policies sent</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Reference_insurance</name>
            <dataType>String</dataType>
            <fieldText>Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Land_type</name>
        <label>Land type</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_10</targetReference>
        </connector>
        <fields>
            <name>Select_land_type</name>
            <choiceReferences>Freehold</choiceReferences>
            <choiceReferences>Leasehold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select land type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NSI_asset_type</name>
        <label>NSI asset type</label>
        <locationX>2206</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NSI_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_NSI_asset_type</name>
            <choiceReferences>Accounts</choiceReferences>
            <choiceReferences>Premium_Bonds</choiceReferences>
            <choiceReferences>Certificates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select NSI asset type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Pension</name>
        <label>Other Pension</label>
        <locationX>1546</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Asset_Type_3</targetReference>
        </connector>
        <fields>
            <name>Private_Pension</name>
            <dataType>String</dataType>
            <fieldText>Private Pension</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_1_pension</name>
            <dataType>String</dataType>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_2_pension</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_3_pension</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_4_pension</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode_pension</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telephone_pension</name>
            <dataType>String</dataType>
            <fieldText>Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fax_pension</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pension_No</name>
            <dataType>String</dataType>
            <fieldText>Pension No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_Payable</name>
            <dataType>Number</dataType>
            <fieldText>Amount Payable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reference_pension</name>
            <dataType>String</dataType>
            <fieldText>Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Personal_effects_asset_type</name>
        <label>Personal effects asset type</label>
        <locationX>5858</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Personal_Effects_Decision_1</targetReference>
        </connector>
        <fields>
            <name>Select_asset_type_personal_effects</name>
            <choiceReferences>Furniture</choiceReferences>
            <choiceReferences>Effects</choiceReferences>
            <choiceReferences>Jewellery</choiceReferences>
            <choiceReferences>Artwork</choiceReferences>
            <choiceReferences>Stamp_Collection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select asset type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Property_details</name>
        <label>Property details</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Address_Property</targetReference>
        </connector>
        <fields>
            <name>Address_line_1</name>
            <dataType>String</dataType>
            <fieldText>Address line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_line_2</name>
            <dataType>String</dataType>
            <fieldText>Address line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_line_3</name>
            <dataType>String</dataType>
            <fieldText>Address line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Owned</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Owned</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Title_number</name>
            <dataType>String</dataType>
            <fieldText>Title number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Property_type</name>
        <label>Property type</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_mobile_home</targetReference>
        </connector>
        <fields>
            <name>Property_type_options</name>
            <choiceReferences>Freehold</choiceReferences>
            <choiceReferences>Leasehold</choiceReferences>
            <choiceReferences>Mobile_home</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Property type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Receipt_asset_type</name>
        <label>Receipt/asset type</label>
        <locationX>3262</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Receipt</targetReference>
        </connector>
        <fields>
            <name>Select_receipt_asset_type</name>
            <choiceReferences>Land</choiceReferences>
            <choiceReferences>Property</choiceReferences>
            <choiceReferences>Cash_asset</choiceReferences>
            <choiceReferences>Stocks_Insurance</choiceReferences>
            <choiceReferences>Vehicle</choiceReferences>
            <choiceReferences>Personal_effects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select receipt/asset type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stocks_Shares</name>
        <label>Stocks/Shares</label>
        <locationX>3746</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_8_of_Assign_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>Stocks_Shares_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stocks_Shares_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Registar</name>
                    <dataType>String</dataType>
                    <fieldText>Registar</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_1_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_2_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_3_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_4_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telephone_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fax_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>No_of_Shares</name>
                    <dataType>String</dataType>
                    <fieldText>No of Shares</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sold</name>
                    <choiceReferences>Yes_sold</choiceReferences>
                    <choiceReferences>No_sold</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sold</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stocks_Shares_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quoted_Shares</name>
                    <choiceReferences>Yes_quoted_shares</choiceReferences>
                    <choiceReferences>No_quoted_shares</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Quoted Shares</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unit_Trusts_PEPS</name>
        <label>Unit Trusts/PEPS</label>
        <locationX>4714</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_10_of_Assign_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>Fund_PEP</name>
            <dataType>String</dataType>
            <fieldText>Fund/PEP</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fund_PEP_Manager</name>
            <dataType>String</dataType>
            <fieldText>Fund/PEP Manager</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_1_unit_trusts</name>
            <dataType>String</dataType>
            <fieldText>Address Line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_2_unit_trusts</name>
            <dataType>String</dataType>
            <fieldText>Address Line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_3_unit_trusts</name>
            <dataType>String</dataType>
            <fieldText>Address Line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_Line_4_unit_trusts</name>
            <dataType>String</dataType>
            <fieldText>Address Line 4</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode_unit_trusts</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Telephone_unit_trusts</name>
            <dataType>String</dataType>
            <fieldText>Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fax_unit_trusts</name>
            <dataType>String</dataType>
            <fieldText>Fax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_of_Units</name>
            <dataType>Number</dataType>
            <fieldText>No of Units</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Probate_Value</name>
            <dataType>Number</dataType>
            <fieldText>Probate Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Sold_unit_trusts</name>
            <choiceReferences>Yes_sold</choiceReferences>
            <choiceReferences>No_sold</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sold</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reference_unit_trusts</name>
            <dataType>String</dataType>
            <fieldText>Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Utility_Company</name>
        <label>Utility Company</label>
        <locationX>2778</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Assign_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>Enter_name_of_utility_company</name>
            <dataType>String</dataType>
            <fieldText>Enter name of utility company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vehicle_input</name>
        <label>Vehicle input</label>
        <locationX>5154</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Asset_Type_Vehicle</targetReference>
        </connector>
        <fields>
            <name>Vehicle_input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vehicle_input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Auctioneer</name>
                    <dataType>String</dataType>
                    <fieldText>Auctioneer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_1</name>
                    <dataType>String</dataType>
                    <fieldText>Address 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_2</name>
                    <dataType>String</dataType>
                    <fieldText>Address 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_3</name>
                    <dataType>String</dataType>
                    <fieldText>Address 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_4</name>
                    <dataType>String</dataType>
                    <fieldText>Address 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode_vehicle</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telephone</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fax_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Fax Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type</name>
                    <choiceReferences>Car</choiceReferences>
                    <choiceReferences>Motorbike</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Make</name>
                    <dataType>String</dataType>
                    <fieldText>Make</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Model</name>
                    <dataType>String</dataType>
                    <fieldText>Model</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reg_No</name>
                    <dataType>String</dataType>
                    <fieldText>Reg No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vehicle_input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value</name>
                    <dataType>Number</dataType>
                    <fieldText>Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Date_of_sale</name>
                    <dataType>String</dataType>
                    <fieldText>Date of sale</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3136</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Receipt_asset_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AmountReceived</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DetailsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Land_type_assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiptType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
