force-app/main/default/flows/SOS_Add_Accural_Receipt_Companies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Address</name>
        <label>Assign Address</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_name_of_asset_holder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_land</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Address_Property</name>
        <label>Assign Address</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address_line_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_land</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Receipt</name>
        <label>Assign Receipt</label>
        <locationX>1590</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ReceiptType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ARE2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipt_asset_type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cash_balance_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_Stocks</name>
        <label>Assign Type</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asset_type_stocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_10</name>
        <label>Assign Land Type</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Select_type} land</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Name_of_asset_holder_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Address</name>
        <label>Copy 1 of Assign Address</label>
        <locationX>2074</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_name_of_asset_holder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Amount_to_receive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_property</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Asset_Type</name>
        <label>Copy 1 of Assign Asset Type</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!No_of_Shares} Shares in {!Company}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_vehicle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_a_charge_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_cash</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Choose_a_charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>1810</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_personal_effects</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Type</name>
        <label>Copy 3 of Assign Type</label>
        <locationX>2074</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Name_of_asset_holder_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>1546</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Property_Land</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_amount_received</name>
        <label>Assign amount received</label>
        <locationX>1546</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_vehicle</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Type</name>
        <label>Assign Type</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_personal_effects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_amount_received</name>
        <label>Copy 6 of Assign amount received</label>
        <locationX>2074</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_personal_effects</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Type</name>
        <label>Copy 6 of Assign Type</label>
        <locationX>2338</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Amount_to_receive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_amount_received</name>
        <label>Copy 7 of Assign amount received</label>
        <locationX>2338</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_personal_effects</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Type</name>
        <label>Copy 7 of Assign Type</label>
        <locationX>2602</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Amount_to_receive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_amount_received</name>
        <label>Copy 8 of Assign amount received</label>
        <locationX>2602</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_personal_effects</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Asset_Type</name>
        <label>Assign Asset Type</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>AssetType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!No_of_Shares} Shares in {!Company}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_to_receive_stocks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Type</name>
        <label>Copy 8 of Assign Type</label>
        <locationX>2866</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AssignmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EA5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_4_of_Amount_to_receive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_amount_received</name>
        <label>Copy 9 of Assign amount received</label>
        <locationX>2866</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AmountReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_amount_you_expect_to_receive_personal_effects</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Accommodation_Payments</name>
        <choiceText>Accommodation Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accommodation Payments</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounts</name>
        <choiceText>Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs</name>
        <choiceText>Admin Costs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Admin_Costs_Pensions_Tax_Solicitors_Fees</name>
        <choiceText>Admin Costs/Pensions/Tax/Solicitors Fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admin Costs/Pensions/Tax/Solicitors Fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Annuities</name>
        <choiceText>Annuities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Annuities</stringValue>
        </value>
    </choices>
    <choices>
        <name>Artwork</name>
        <choiceText>Artwork</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Artwork</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bank_Building_Society_account</name>
        <choiceText>Bank/Building Society account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bank/Building Society account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Car</name>
        <choiceText>Car</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Car</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_asset</name>
        <choiceText>Cash asset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash asset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_Balance</name>
        <choiceText>Cash Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_Entitlement</name>
        <choiceText>Cash Entitlement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash Entitlement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash_loan</name>
        <choiceText>Cash loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Certificates</name>
        <choiceText>Certificates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Charging_Order</name>
        <choiceText>Charging Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Charging Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Complex_Cash_Balance</name>
        <choiceText>Complex Cash Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complex Cash Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract</name>
        <choiceText>Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Costs</name>
        <choiceText>Costs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Costs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Council_Tax</name>
        <choiceText>Council Tax</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Council Tax</stringValue>
        </value>
    </choices>
    <choices>
        <name>Court_Funds</name>
        <choiceText>Court Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Court Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Disbursements</name>
        <choiceText>Disbursements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disbursements</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dividend</name>
        <choiceText>Dividend</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dividend</stringValue>
        </value>
    </choices>
    <choices>
        <name>Effects</name>
        <choiceText>Effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Electricity</name>
        <choiceText>Electricity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Electricity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Freehold</name>
        <choiceText>Freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>freehold_property</name>
        <choiceText>freehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>freehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral</name>
        <choiceText>Funeral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral_Expenses</name>
        <choiceText>Funeral Expenses</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Funeral Expenses</stringValue>
        </value>
    </choices>
    <choices>
        <name>Furniture</name>
        <choiceText>Furniture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Furniture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Gas</name>
        <choiceText>Gas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gas</stringValue>
        </value>
    </choices>
    <choices>
        <name>General</name>
        <choiceText>General</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ground_rent</name>
        <choiceText>Ground rent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ground rent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurance_Policy</name>
        <choiceText>Insurance Policy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurance Policy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jewellery</name>
        <choiceText>Jewellery</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jewellery</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kin_payment</name>
        <choiceText>Kin payment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kin payment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land</name>
        <choiceText>Land</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_or_Property</name>
        <choiceText>Land or Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land or Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Leasehold</name>
        <choiceText>Leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>leasehold_property</name>
        <choiceText>leasehold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>leasehold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance</name>
        <choiceText>Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memorial</name>
        <choiceText>Memorial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memorial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miscellaneous</name>
        <choiceText>Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile_home</name>
        <choiceText>Mobile home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Money_arising_from_trusts</name>
        <choiceText>Money arising from trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Money arising from trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mortgage</name>
        <choiceText>Mortgage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mortgage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mortgage_charge</name>
        <choiceText>Mortgage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mortgage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mortgage_Charging_Order</name>
        <choiceText>Mortgage/Charging Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mortgage/Charging Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Motorbike</name>
        <choiceText>Motorbike</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Motorbike</stringValue>
        </value>
    </choices>
    <choices>
        <name>National_Savings_and_Investments</name>
        <choiceText>National Savings and Investments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>National Savings and Investments</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_charge</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_deduct</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_insurance_policy</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_owned</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_quoted_shares</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_shares_case</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_sold</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_tenanted</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal_Cash_Balance</name>
        <choiceText>Normal Cash Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal Cash Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>not_known</name>
        <choiceText>not known</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>not known</stringValue>
        </value>
    </choices>
    <choices>
        <name>not_known_property_status</name>
        <choiceText>not known</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>not known</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nursing_residential_care_home_fees</name>
        <choiceText>Nursing/residential/care home fees</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nursing/residential/care home fees</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option</name>
        <choiceText>Option</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Option</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payment</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payment&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Pension</name>
        <choiceText>Pension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Overpayment</name>
        <choiceText>Pension Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Scheme</name>
        <choiceText>Pension Scheme</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Scheme</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pension_Underpayment</name>
        <choiceText>Pension Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pension Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_effects</name>
        <choiceText>Personal effects</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal effects</stringValue>
        </value>
    </choices>
    <choices>
        <name>Premium_Bonds</name>
        <choiceText>Premium Bonds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Premium Bonds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property</name>
        <choiceText>Property</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property</stringValue>
        </value>
    </choices>
    <choices>
        <name>Property_maintenance_charges</name>
        <choiceText>Property maintenance charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Property maintenance charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Receipt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Receipt&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Refunds_from_utilities_etc</name>
        <choiceText>Refunds from utilities etc</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refunds from utilities etc</stringValue>
        </value>
    </choices>
    <choices>
        <name>registered</name>
        <choiceText>registered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>registered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rent_arrears</name>
        <choiceText>Rent arrears</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rent arrears</stringValue>
        </value>
    </choices>
    <choices>
        <name>Restriction</name>
        <choiceText>Restriction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restriction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Restrictive_Covenant</name>
        <choiceText>Restrictive Covenant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restrictive Covenant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Secured_loans</name>
        <choiceText>Secured loans</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secured loans</stringValue>
        </value>
    </choices>
    <choices>
        <name>Service_charges</name>
        <choiceText>Service charges</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service charges</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shares</name>
        <choiceText>Shares</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shares</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitors</name>
        <choiceText>Solicitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stamp_Collection</name>
        <choiceText>Stamp Collection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stamp Collection</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stocks_Insurance</name>
        <choiceText>Stocks/Insurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stocks/Insurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surplus_from_Mortgage</name>
        <choiceText>Surplus from Mortgage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surplus from Mortgage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Overpayment</name>
        <choiceText>Tax Overpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Overpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tax_Underpayment</name>
        <choiceText>Tax Underpayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Underpayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telephone_utility_payment</name>
        <choiceText>Telephone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephone</stringValue>
        </value>
    </choices>
    <choices>
        <name>TV</name>
        <choiceText>TV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Trusts</name>
        <choiceText>Unit Trusts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unit Trusts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown_tenanted</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>unregistered</name>
        <choiceText>unregistered</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>unregistered</stringValue>
        </value>
    </choices>
    <choices>
        <name>Utility_Bill</name>
        <choiceText>Utility Bill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Utility Bill</stringValue>
        </value>
    </choices>
    <choices>
        <name>VAT</name>
        <choiceText>VAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vehicle</name>
        <choiceText>Vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Water</name>
        <choiceText>Water</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Water</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_charge</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_deduct</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_insurance_policy</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_owned</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_quoted_shares</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_shares_case</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_sold</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_tenanted</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Receipt_asset_type_Decision</name>
        <label>Receipt/asset type Decision</label>
        <locationX>1590</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cash_Balance_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cash_Balance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type</targetReference>
            </connector>
            <label>Cash Balance</label>
        </rules>
        <rules>
            <name>Mortgage_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Mortgage_Charging_Order</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Type</targetReference>
            </connector>
            <label>Mortgage/Charging Order</label>
        </rules>
        <rules>
            <name>Surplus_mortgage_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Surplus_from_Mortgage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Type</targetReference>
            </connector>
            <label>Surplus from Mortgage</label>
        </rules>
        <rules>
            <name>Shares_Decision0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type_Stocks</targetReference>
            </connector>
            <label>Shares</label>
        </rules>
        <rules>
            <name>Land_or_property_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Land_or_Property</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Type</targetReference>
            </connector>
            <label>Land or Property</label>
        </rules>
        <rules>
            <name>Pension_scheme_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Pension_Scheme</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Type</targetReference>
            </connector>
            <label>Pension Scheme</label>
        </rules>
        <rules>
            <name>Miscellaneous_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Miscellaneous</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Type</targetReference>
            </connector>
            <label>Miscellaneous</label>
        </rules>
        <rules>
            <name>Costs_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Costs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_Type</targetReference>
            </connector>
            <label>Costs</label>
        </rules>
        <rules>
            <name>VAT_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Type</targetReference>
            </connector>
            <label>VAT</label>
        </rules>
        <rules>
            <name>Disbursements_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_receipt_asset_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Disbursements</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Assign_Type</targetReference>
            </connector>
            <label>Disbursements</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stocks_asset_type_decision</name>
        <label>Stocks asset type decision</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Choose_company</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shares_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shares</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_company</targetReference>
            </connector>
            <label>Shares</label>
        </rules>
        <rules>
            <name>Dividend_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dividend</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_company</targetReference>
            </connector>
            <label>Dividend</label>
        </rules>
        <rules>
            <name>Cash_Entitlement_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_asset_type_share</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cash_Entitlement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_company</targetReference>
            </connector>
            <label>Cash Entitlement</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BankBuildingRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Bank__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>BankAccountNumber</assignToReference>
            <field>Bank_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BankName</assignToReference>
            <field>Bank__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CashRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Holder__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>CashHolder</assignToReference>
            <field>Holder__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CashRef</assignToReference>
            <field>Reference__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InsuranceRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Insurer__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>InsuranceInsurer</assignToReference>
            <field>Insurer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InsurancePolicyNo</assignToReference>
            <field>Policy_No__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PensionRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Private_Pension__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>PrivatePension</assignToReference>
            <field>Private_Pension__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PropertyRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Prop_Details_Addr_Line_1__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>PropertyAddressLine1</assignToReference>
            <field>Prop_Details_Addr_Line_1__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StockSharesRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Company__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>StockCompany</assignToReference>
            <field>Company__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StockNoOfShares</assignToReference>
            <field>No_Of_Shares__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Fund_Pep__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>UnitFundPEP</assignToReference>
            <field>Fund_Pep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitNoOfUnits</assignToReference>
            <field>No_Of_Units__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitReference</assignToReference>
            <field>Reference__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VehicleRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Vehicle_Type__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>VehicleRegNo</assignToReference>
            <field>Reg_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VehicleType</assignToReference>
            <field>Vehicle_Type__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NarrativeFormula</name>
        <dataType>String</dataType>
        <expression>{!AssignmentType} &amp; &quot; &quot; &amp; {!AssetType} &amp; &quot; &quot; &amp; {!AddressType}</expression>
    </formulas>
    <interviewLabel>SOS Add Accural Receipt (Companies) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOS Add Accural Receipt (Companies)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Amount_to_receive_cash</name>
        <label>Amount to receive</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_cash</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_land</name>
        <label>Amount to receive</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_land</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_personal_effects</name>
        <label>Amount to receive</label>
        <locationX>1810</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_personal_effects</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_property</name>
        <label>Amount to receive</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_property</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_stocks</name>
        <label>Amount to receive</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Amount_to_receive_vehicle</name>
        <label>Amount to receive</label>
        <locationX>1546</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Enter_amount_you_expect_to_receive_vehicle</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>asset_type_stocks</name>
        <label>Asset type</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stocks_asset_type_decision</targetReference>
        </connector>
        <fields>
            <name>Select_asset_type_share</name>
            <choiceReferences>Shares</choiceReferences>
            <choiceReferences>Dividend</choiceReferences>
            <choiceReferences>Cash_Entitlement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cash_balance_type</name>
        <label>Cash balance type</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_10</targetReference>
        </connector>
        <fields>
            <name>Select_type</name>
            <choiceReferences>Normal_Cash_Balance</choiceReferences>
            <choiceReferences>Complex_Cash_Balance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Charge_details</name>
        <label>Charge details</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Address_Property</targetReference>
        </connector>
        <fields>
            <name>Address_line_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PropertyAddressLine1</elementReference>
            </defaultValue>
            <fieldText>Address line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_line_2</name>
            <dataType>String</dataType>
            <fieldText>Address line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_line_3</name>
            <dataType>String</dataType>
            <fieldText>Address line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type_charge</name>
            <choiceReferences>Mortgage_charge</choiceReferences>
            <choiceReferences>Restriction</choiceReferences>
            <choiceReferences>Option</choiceReferences>
            <choiceReferences>Contract</choiceReferences>
            <choiceReferences>Restrictive_Covenant</choiceReferences>
            <choiceReferences>Charging_Order</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Charge_Date</name>
            <dataType>Date</dataType>
            <fieldText>Charge Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Charge_case</name>
            <choiceReferences>No_charge</choiceReferences>
            <choiceReferences>Yes_charge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Charge case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Title_number</name>
            <dataType>String</dataType>
            <fieldText>Title No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_a_charge_screen</name>
        <label>Choose a charge</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Charge_details</targetReference>
        </connector>
        <fields>
            <name>Choose_a_charge</name>
            <choiceReferences>PropertyRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a charge</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_company</name>
        <label>Choose a registrar</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stocks_Shares</targetReference>
        </connector>
        <fields>
            <name>Choose_a_company</name>
            <choiceReferences>StockSharesRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a registrar</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Amount_to_receive</name>
        <label>Copy 1 of Amount to receive</label>
        <locationX>2074</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_amount_you_expect_to_receive_personal_effects</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Charge_details</name>
        <label>Copy 1 of Charge details</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Amount_to_receive_cash</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Address_line_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PropertyAddressLine1</elementReference>
            </defaultValue>
            <fieldText>Address line 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Address_line_2</name>
            <dataType>String</dataType>
            <fieldText>Address line 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Address_line_3</name>
            <dataType>String</dataType>
            <fieldText>Address line 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Postcode</name>
            <dataType>String</dataType>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Type_charge</name>
            <choiceReferences>Mortgage_charge</choiceReferences>
            <choiceReferences>Restriction</choiceReferences>
            <choiceReferences>Option</choiceReferences>
            <choiceReferences>Contract</choiceReferences>
            <choiceReferences>Restrictive_Covenant</choiceReferences>
            <choiceReferences>Charging_Order</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Charge_Date</name>
            <dataType>Date</dataType>
            <fieldText>Charge Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Charge_case</name>
            <choiceReferences>No_charge</choiceReferences>
            <choiceReferences>Yes_charge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Charge case</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Title_number</name>
            <dataType>String</dataType>
            <fieldText>Title No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Name_of_asset_holder_input</name>
        <label>Description of asset</label>
        <locationX>2074</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Address</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_name_of_asset_holder</name>
            <dataType>String</dataType>
            <fieldText>Enter brief description of asset</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Amount_to_receive</name>
        <label>Copy 2 of Amount to receive</label>
        <locationX>2338</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_7_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_amount_you_expect_to_receive_personal_effects</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Choose_a_charge</name>
        <label>Copy 2 of Choose a charge</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Charge_details</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Choose_a_charge</name>
            <choiceReferences>PropertyRecordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Choose a charge</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Amount_to_receive</name>
        <label>Copy 3 of Amount to receive</label>
        <locationX>2602</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_8_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Enter_amount_you_expect_to_receive_personal_effects</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Amount_to_receive</name>
        <label>Copy 4 of Amount to receive</label>
        <locationX>2866</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_9_of_Assign_amount_received</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Enter_amount_you_expect_to_receive_personal_effects</name>
            <dataType>String</dataType>
            <fieldText>Enter amount you expect to receive</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Name_of_asset_holder_input</name>
        <label>Name of asset holder input</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Address</targetReference>
        </connector>
        <fields>
            <name>Enter_name_of_asset_holder</name>
            <dataType>String</dataType>
            <fieldText>Enter name of asset holder</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Property_Land</name>
        <label>Property/Land</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>Property_Land_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Land_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_Desc</name>
                    <dataType>String</dataType>
                    <fieldText>Address/Desc</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Title_No</name>
                    <dataType>String</dataType>
                    <fieldText>Title No</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tenure</name>
                    <choiceReferences>not_known</choiceReferences>
                    <choiceReferences>freehold_property</choiceReferences>
                    <choiceReferences>leasehold_property</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tenure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sale_price_property</name>
                    <dataType>Number</dataType>
                    <fieldText>Sale price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>TS_Costs</name>
                    <dataType>Number</dataType>
                    <fieldText>TS Costs</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Disb</name>
                    <dataType>Number</dataType>
                    <fieldText>Disb</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Land_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>not_known_property_status</choiceReferences>
                    <choiceReferences>unregistered</choiceReferences>
                    <choiceReferences>registered</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Estimated_value_of_retained_land</name>
                    <dataType>Number</dataType>
                    <fieldText>Estimated value of retained land</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Receipt_asset_type</name>
        <label>Receipt/asset type</label>
        <locationX>1590</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Receipt</targetReference>
        </connector>
        <fields>
            <name>Select_receipt_asset_type</name>
            <choiceReferences>Cash_Balance</choiceReferences>
            <choiceReferences>Mortgage_Charging_Order</choiceReferences>
            <choiceReferences>Surplus_from_Mortgage</choiceReferences>
            <choiceReferences>Shares</choiceReferences>
            <choiceReferences>Land_or_Property</choiceReferences>
            <choiceReferences>Pension_Scheme</choiceReferences>
            <choiceReferences>Miscellaneous</choiceReferences>
            <choiceReferences>Costs</choiceReferences>
            <choiceReferences>VAT</choiceReferences>
            <choiceReferences>Disbursements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select receipt/asset type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stocks_Shares</name>
        <label>Stocks/Shares</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_8_of_Assign_Asset_Type</targetReference>
        </connector>
        <fields>
            <name>Stocks_Shares_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Stocks_Shares_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Registar</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StockCompany</elementReference>
                    </defaultValue>
                    <fieldText>Registar</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_1_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_2_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_3_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address_Line_4_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Address Line 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Postcode_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Postcode</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telephone_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fax_stocks</name>
                    <dataType>String</dataType>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Stocks_Shares_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reference</name>
                    <dataType>String</dataType>
                    <fieldText>Ref</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>No_of_Shares</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StockNoOfShares</elementReference>
                    </defaultValue>
                    <fieldText>No of Shares</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sold</name>
                    <choiceReferences>Yes_sold</choiceReferences>
                    <choiceReferences>No_sold</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sold</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Shares_Case</name>
                    <choiceReferences>No_shares_case</choiceReferences>
                    <choiceReferences>Yes_shares_case</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Shares Case</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quoted_Shares</name>
                    <choiceReferences>Yes_quoted_shares</choiceReferences>
                    <choiceReferences>No_quoted_shares</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Quoted Shares</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sale_price</name>
                    <dataType>Number</dataType>
                    <fieldText>Sale price </fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1464</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Receipt_asset_type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AmountReceived</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BankAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CashHolder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CashRef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DetailsType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InsuranceInsurer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsurancePolicyNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Land_type_assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrivatePension</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyAddressLine1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiptType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StockCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StockNoOfShares</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitFundPEP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitNoOfUnits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UnitReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleRegNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
