force-app/main/default/flows/Tender_Letter_TENDER1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Charge</name>
        <choiceText>Charge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Charge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informant</name>
        <choiceText>Informant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Land_Charge</name>
        <choiceText>Land Charge</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Land Charge</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lay_public</name>
        <choiceText>Lay public</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lay public</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Addressee</name>
        <choiceText>Other Addressee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Addressee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Part</name>
        <choiceText>Part</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Part</stringValue>
        </value>
    </choices>
    <choices>
        <name>solicitors</name>
        <choiceText>solicitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>solicitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitors1</name>
        <choiceText>Solicitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Whole</name>
        <choiceText>Whole</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Whole</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Please_choose_addressee2</name>
        <label>Please choose addressee</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Informant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Informant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Writing_to</targetReference>
            </connector>
            <label>Selected Informant</label>
        </rules>
        <rules>
            <name>Selected_OtherAddressee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_addressee1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other_Addressee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_address_or_list_and_select_as_required</targetReference>
            </connector>
            <label>Selected Other Addressee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Tender Letter (TENDER1) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tender Letter (TENDER1)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_required</name>
        <label>Add address or list and select as required</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OtherAddresses</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_colour_used_to_show_land_on_the_plan_attached_to_the_tender_document</name>
        <label>Confirm colour used to show land on the plan attached to the tender document</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_is_sale_one_of</targetReference>
        </connector>
        <fields>
            <name>Confirm_colour_used_to_show_land_on_the_plan_attached_to_the_tender_document1</name>
            <dataType>String</dataType>
            <fieldText>Confirm colour used to show land on the plan attached to the tender document</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_is_sale_one_of</name>
        <label>Confirm is sale one of</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_first_contact_with_correspondent</targetReference>
        </connector>
        <fields>
            <name>Confirm_is_sale_one_of1</name>
            <choiceReferences>Whole</choiceReferences>
            <choiceReferences>Part</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm is sale one of</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirm_is_sale_one_of</name>
        <label>Copy 1 of Confirm is sale one of</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Is_this_first_contact_with_correspondent</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Confirm_is_sale_one_of1</name>
            <choiceReferences>Whole</choiceReferences>
            <choiceReferences>Part</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm is sale one of</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_minimum_bid_required</name>
        <label>Copy 1 of Enter minimum bid required £</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_minimum_bid_required1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter minimum bid required £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Has_disclaimer_date_passed</name>
        <label>Copy 1 of Has disclaimer date passed?</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Is_this_first_contact_with_correspondent</name>
        <label>Copy 1 of Is this first contact with correspondent?</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_minimum_bid_required</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Is_this_first_contact_with_correspondent2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this first contact with correspondent?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Writing_to</name>
        <label>Copy 1 of Writing to?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Confirm_colour_used_to_show_land_on_the_plan_attached_to_the_tender_do</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Writing_to1</name>
            <choiceReferences>Solicitors1</choiceReferences>
            <choiceReferences>Lay_public</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Writing to?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Confirm_colour_used_to_show_land_on_the_plan_attached_to_the_tender_do</name>
        <label>Copy 2 of Confirm colour used to show land on the plan attached to the tender document</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Confirm_is_sale_one_of</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Confirm_colour_used_to_show_land_on_the_plan_attached_to_the_tender_do</name>
            <dataType>String</dataType>
            <fieldText>Confirm colour used to show land on the plan attached to the tender document</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_minimum_bid_required</name>
        <label>Enter minimum bid required £</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_disclaimer_date_passed</targetReference>
        </connector>
        <fields>
            <name>Enter_minimum_bid_required1</name>
            <dataType>Currency</dataType>
            <fieldText>Enter minimum bid required £</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_disclaimer_date_passed</name>
        <label>Has disclaimer date passed?</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Has_disclaimer_date_passed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has disclaimer date passed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_this_first_contact_with_correspondent</name>
        <label>Is this first contact with correspondent?</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_minimum_bid_required</targetReference>
        </connector>
        <fields>
            <name>Is_this_first_contact_with_correspondent2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this first contact with correspondent?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OtherAddresses</name>
        <label>Other Addresses</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Writing_to</targetReference>
        </connector>
        <fields>
            <name>OtherAddresses_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OtherAddresses_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD01</name>
                    <dataType>String</dataType>
                    <fieldText>Other Addresses</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OtherAddresses_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OAD09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OAD02</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_choose_addressee</name>
        <label>Please choose addressee</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_choose_addressee2</targetReference>
        </connector>
        <fields>
            <name>Please_choose_addressee1</name>
            <choiceReferences>Informant</choiceReferences>
            <choiceReferences>Other_Addressee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose addressee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Writing_to</name>
        <label>Writing to?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_colour_used_to_show_land_on_the_plan_attached_to_the_tender_document</targetReference>
        </connector>
        <fields>
            <name>Writing_to1</name>
            <choiceReferences>Solicitors1</choiceReferences>
            <choiceReferences>Lay_public</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Writing to?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_choose_addressee</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
