force-app/main/default/flows/To_Apply_for_a_certificate_via_Enquiry_Officer_BV35.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Adoption</name>
        <choiceText>Adoption</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adoption</stringValue>
        </value>
    </choices>
    <choices>
        <name>Birth</name>
        <choiceText>Birth</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Birth</stringValue>
        </value>
    </choices>
    <choices>
        <name>Death</name>
        <choiceText>Death</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Death</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deceased</name>
        <choiceText>Deceased?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased?</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marriage</name>
        <choiceText>Marriage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marriage</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other?</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_4_of_Is_certificate_required_in_name_of</name>
        <label>Copy 4 of Is certificate required in name of</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Selected_Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Is_certificate_required_in_name_of2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deceased</elementReference>
                </rightValue>
            </conditions>
            <label>Copy 1 of Selected Deceased?</label>
        </rules>
        <rules>
            <name>Copy_1_of_Selected_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Is_certificate_required_in_name_of2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enter_name_in_which_certificate_required</targetReference>
            </connector>
            <label>Copy 1 of Selected Other?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_5_of_Is_certificate_required_in_name_of</name>
        <label>Copy 5 of Is certificate required in name of</label>
        <locationX>1656</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Selected_Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Is_certificate_required_in_name_of2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deceased</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_you_know_name_of_spouse</targetReference>
            </connector>
            <label>Copy 2 of Selected Deceased?</label>
        </rules>
        <rules>
            <name>Copy_2_of_Selected_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_2_of_Is_certificate_required_in_name_of2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Enter_name_in_which_certificate_required</targetReference>
            </connector>
            <label>Copy 2 of Selected Other?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_6_of_Is_certificate_required_in_name_of</name>
        <label>Copy 6 of Is certificate required in name of</label>
        <locationX>2712</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Selected_Deceased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Is_certificate_required_in_name_of2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deceased</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_adoptive_name_same_as_case_name</targetReference>
            </connector>
            <label>Copy 3 of Selected Deceased?</label>
        </rules>
        <rules>
            <name>Copy_3_of_Selected_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_3_of_Is_certificate_required_in_name_of2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Enter_name_in_which_certificate_required</targetReference>
            </connector>
            <label>Copy 3 of Selected Other?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_you_know_name_of_spouse8</name>
        <label>Do you know name of spouse?</label>
        <locationX>1326</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_know_name_of_spouse7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_name_of_spouse</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_know_name_of_spouse7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_adoptive_name_same_as_case_name8</name>
        <label>Is adoptive name same as case name?</label>
        <locationX>2382</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_adoptive_name_same_as_case_name7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_adoptive_name_same_as_case_name7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Enter_name_in_which_certificate_required</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_certificate_required_in_name_of3</name>
        <label>Is certificate required in name of</label>
        <locationX>94</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Enter_mothers_maiden_name_if_known</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Deceased3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_certificate_required_in_name_of2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Deceased</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_mothers_maiden_name_if_known</targetReference>
            </connector>
            <label>Selected Deceased?</label>
        </rules>
        <rules>
            <name>Selected_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_certificate_required_in_name_of2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_name_in_which_certificate_required</targetReference>
            </connector>
            <label>Selected Other?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Certificate_Required2</name>
        <label>Type of Certificate Required?</label>
        <locationX>1656</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Birth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Certificate_Required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Birth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_certificate_required_in_name_of</targetReference>
            </connector>
            <label>Selected Birth</label>
        </rules>
        <rules>
            <name>Selected_Death</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Certificate_Required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Death</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Is_certificate_required_in_name_of</targetReference>
            </connector>
            <label>Selected Death</label>
        </rules>
        <rules>
            <name>Selected_Marriage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Certificate_Required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Marriage</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Is_certificate_required_in_name_of</targetReference>
            </connector>
            <label>Selected Marriage</label>
        </rules>
        <rules>
            <name>Selected_Adoption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Certificate_Required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Adoption</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Is_certificate_required_in_name_of</targetReference>
            </connector>
            <label>Selected Adoption</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>To Apply for a certificate via Enquiry Officer (BV35) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>To Apply for a certificate via Enquiry Officer (BV35)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Copy_1_of_Enter_date_of_birth_death_marriage_adoption</name>
        <label>Copy 1 of Enter date of birth/death/marriage/adoption</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_birth</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_date_of_birth_death_marriage_adoption7</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of birth/death/marriage/adoption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_name_in_which_certificate_required</name>
        <label>Copy 1 of Enter name in which certificate required</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Enter_name_in_which_certificate_required7</name>
            <dataType>String</dataType>
            <fieldText>Enter name in which certificate required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Enter_place_if_known</name>
        <label>Copy 1 of Enter place if known</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Enter_place_if_known7</name>
            <dataType>String</dataType>
            <fieldText>Enter place if known</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Is_certificate_required_in_name_of</name>
        <label>Copy 1 of Is certificate required in name of</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Is_certificate_required_in_name_of</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Is_certificate_required_in_name_of2</name>
            <choiceReferences>Deceased</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is certificate required in name of</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_date_of_birth_death_marriage_adoption</name>
        <label>Copy 2 of Enter date of birth/death/marriage/adoption</label>
        <locationX>1656</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_place_if_known</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_date_of_birth_death_marriage_adoption7</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of birth/death/marriage/adoption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_name_in_which_certificate_required</name>
        <label>Copy 2 of Enter name in which certificate required</label>
        <locationX>1722</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Enter_name_in_which_certificate_required7</name>
            <dataType>String</dataType>
            <fieldText>Enter name in which certificate required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Enter_place_if_known</name>
        <label>Copy 2 of Enter place if known</label>
        <locationX>1656</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Enter_place_if_known7</name>
            <dataType>String</dataType>
            <fieldText>Enter place if known</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Is_certificate_required_in_name_of</name>
        <label>Copy 2 of Is certificate required in name of</label>
        <locationX>1656</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_5_of_Is_certificate_required_in_name_of</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Is_certificate_required_in_name_of2</name>
            <choiceReferences>Deceased</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is certificate required in name of</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Enter_date_of_birth_death_marriage_adoption</name>
        <label>Copy 3 of Enter date of birth/death/marriage/adoption</label>
        <locationX>2712</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Enter_place_if_known</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Enter_date_of_birth_death_marriage_adoption7</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of birth/death/marriage/adoption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Enter_name_in_which_certificate_required</name>
        <label>Copy 3 of Enter name in which certificate required</label>
        <locationX>2338</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Enter_name_in_which_certificate_required7</name>
            <dataType>String</dataType>
            <fieldText>Enter name in which certificate required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Enter_place_if_known</name>
        <label>Copy 3 of Enter place if known</label>
        <locationX>2712</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Enter_place_if_known7</name>
            <dataType>String</dataType>
            <fieldText>Enter place if known</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Is_certificate_required_in_name_of</name>
        <label>Copy 3 of Is certificate required in name of</label>
        <locationX>2712</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_6_of_Is_certificate_required_in_name_of</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_Is_certificate_required_in_name_of2</name>
            <choiceReferences>Deceased</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is certificate required in name of</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Enter_name_in_which_certificate_required</name>
        <label>Copy 4 of Enter name in which certificate required</label>
        <locationX>2778</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_Enter_name_in_which_certificate_required7</name>
            <dataType>String</dataType>
            <fieldText>Enter name in which certificate required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_know_name_of_spouse</name>
        <label>Do you know name of spouse?</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_you_know_name_of_spouse8</targetReference>
        </connector>
        <fields>
            <name>Do_you_know_name_of_spouse7</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you know name of spouse?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_birth</name>
        <label>Enter date of birth</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Enter_place_if_known</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_birth7</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_birth_death_marriage_adoption</name>
        <label>Enter date of birth/death/marriage/adoption</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_place_if_known</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_birth_death_marriage_adoption7</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of birth/death/marriage/adoption</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_mothers_maiden_name_if_known</name>
        <label>Enter mothers maiden name if known</label>
        <locationX>94</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Enter_mothers_maiden_name_if_known7</name>
            <dataType>String</dataType>
            <fieldText>Enter mothers maiden name if known</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_name_in_which_certificate_required</name>
        <label>Enter name in which certificate required</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_birth_death_marriage_adoption</targetReference>
        </connector>
        <fields>
            <name>Enter_name_in_which_certificate_required7</name>
            <dataType>String</dataType>
            <fieldText>Enter name in which certificate required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_name_of_spouse</name>
        <label>Enter name of spouse</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Enter_date_of_birth_death_marriage_adoption</targetReference>
        </connector>
        <fields>
            <name>Enter_name_of_spouse7</name>
            <dataType>String</dataType>
            <fieldText>Enter name of spouse</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_place_if_known</name>
        <label>Enter place if known</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_mothers_maiden_name_if_known</targetReference>
        </connector>
        <fields>
            <name>Enter_place_if_known7</name>
            <dataType>String</dataType>
            <fieldText>Enter place if known</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_adoptive_name_same_as_case_name</name>
        <label>Is adoptive name same as case name?</label>
        <locationX>2382</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_adoptive_name_same_as_case_name8</targetReference>
        </connector>
        <fields>
            <name>Is_adoptive_name_same_as_case_name7</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is adoptive name same as case name?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_certificate_required_in_name_of</name>
        <label>Is certificate required in name of</label>
        <locationX>94</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_certificate_required_in_name_of3</targetReference>
        </connector>
        <fields>
            <name>Is_certificate_required_in_name_of2</name>
            <choiceReferences>Deceased</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is certificate required in name of</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_Certificate_Required</name>
        <label>Type of Certificate Required?</label>
        <locationX>1656</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_of_Certificate_Required2</targetReference>
        </connector>
        <fields>
            <name>Type_of_Certificate_Required1</name>
            <choiceReferences>Birth</choiceReferences>
            <choiceReferences>Death</choiceReferences>
            <choiceReferences>Marriage</choiceReferences>
            <choiceReferences>Adoption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Certificate Required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1530</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_Certificate_Required</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
