force-app/main/default/flows/To_Claimant_Rep_Not_Entitled_Relationship_too_remote_KC2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Claimant</name>
        <choiceText>Claimant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claimant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Genealogist</name>
        <choiceText>Genealogist</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Genealogist</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Solicitor</name>
        <choiceText>Solicitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Solicitor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Please_select_representative3</name>
        <label>Please select representative</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Enter_date_of_representative_s_letter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Genealogist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_representative2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Genealogist</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_you_sending_this_by_Signed_for_1st_Class</targetReference>
            </connector>
            <label>Selected Genealogist</label>
        </rules>
        <rules>
            <name>Selected_Solicitor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_select_representative2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Solicitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_address_or_list_and_select_as_required</targetReference>
            </connector>
            <label>Selected Solicitor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>To Claimant Rep Not Entitled - Relationship too remote (KC2) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>To Claimant Rep Not Entitled - Relationship too remote (KC2)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Add_address_or_list_and_select_as_required</name>
        <label>Add address, or list and select as required</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claimant_s_Solicitors</targetReference>
        </connector>
        <fields>
            <name>Add_address_or_list_and_select_as_required1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add address, or list and select as required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_you_sending_this_by_Signed_for_1st_Class</name>
        <label>Are you sending this by Signed for 1st Class?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Claimant2</targetReference>
        </connector>
        <fields>
            <name>Are_you_sending_this_by_Signed_for_1st_Class2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sending this by Signed for 1st Class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimant2</name>
        <label>Claimant</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_salutation</targetReference>
        </connector>
        <fields>
            <name>Claimant2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KIN20</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claimant_s_Solicitors</name>
        <label>Claimant&apos;s Solicitors</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class</targetReference>
        </connector>
        <fields>
            <name>Claimant_s_Solicitors_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant_s_Solicitors_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Claimant_s_Solicitors_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Claimant_s_Solicitors_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KSO01</name>
                    <dataType>String</dataType>
                    <fieldText>Claimant&apos;s Solicitor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Claimant_s_Solicitors_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KSO09</name>
                    <dataType>String</dataType>
                    <fieldText>Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class</name>
        <label>Copy 1 of Are you sending this by Signed for 1st Class?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_representative_s_letter</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Are_you_sending_this_by_Signed_for_1st_Class2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you sending this by Signed for 1st Class?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Did_the_representative_s_letter_include_enclosures</name>
        <label>Did the representative’s  letter include enclosures?</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GENEALOGIST</targetReference>
        </connector>
        <fields>
            <name>Did_the_representative_s_letter_include_enclosures1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Did the representative’s  letter include enclosures?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_of_representative_s_letter</name>
        <label>Enter date of representative’s letter</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_the_representative_s_letter_include_enclosures</targetReference>
        </connector>
        <fields>
            <name>Enter_date_of_representative_s_letter2</name>
            <dataType>Date</dataType>
            <fieldText>Enter date of representative’s letter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_salutation</name>
        <label>Enter salutation</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_date_of_representative_s_letter</targetReference>
        </connector>
        <fields>
            <name>Enter_salutation1</name>
            <dataType>String</dataType>
            <fieldText>Enter salutation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GENEALOGIST</name>
        <label>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GENEALOGIST</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PLEASE_ENSURE_LETTER_IS_ADDRESSED_TO_CORRECT_CLAIMANT_GENEALOGIST1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PLEASE ENSURE LETTER IS ADDRESSED TO CORRECT CLAIMANT / GENEALOGIST</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_select_representative</name>
        <label>Please select representative</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Please_select_representative3</targetReference>
        </connector>
        <fields>
            <name>Please_select_representative2</name>
            <choiceReferences>Genealogist</choiceReferences>
            <choiceReferences>Solicitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select representative</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Please_select_representative</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
