force-app/main/default/flows/TP1_2009_TP12008.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Annexed_to</name>
        <choiceText>annexed to</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>annexed to</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clawback_Overage</name>
        <choiceText>Clawback / Overage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clawback / Overage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Drawn_on</name>
        <choiceText>drawn on</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>drawn on</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enhanced_Value</name>
        <choiceText>Enhanced Value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enhanced Value</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neither</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Adding_these_provisions2</name>
        <label>Adding these provisions?</label>
        <locationX>1942</locationX>
        <locationY>1970</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Clawback_Overage2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clawback_Overage</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Clawback / Overage</label>
        </rules>
        <rules>
            <name>Selected_Enhanced_Value2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Enhanced_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoesthePropertyaffordaccessorservicestoanotherProperty</targetReference>
            </connector>
            <label>Selected Enhanced Value</label>
        </rules>
        <rules>
            <name>Selected_Neither2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Neither</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Neither</label>
        </rules>
    </decisions>
    <decisions>
        <name>Adding_these_provisions5</name>
        <label>Adding these provisions</label>
        <locationX>182</locationX>
        <locationY>1970</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Clawback_Overage5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addingtheseprovisions3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clawback_Overage</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Clawback / Overage</label>
        </rules>
        <rules>
            <name>Selected_Enhanced_Value5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addingtheseprovisions3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Enhanced_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Property_afford_access_or_services_to_another_Property</targetReference>
            </connector>
            <label>Selected Enhanced Value</label>
        </rules>
        <rules>
            <name>Selected_Neither5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addingtheseprovisions3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Neither</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Neither</label>
        </rules>
    </decisions>
    <decisions>
        <name>Adding_these_provisions7</name>
        <label>Adding these provisions?</label>
        <locationX>974</locationX>
        <locationY>1862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Clawback_Overage7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addingtheseprovisions6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clawback_Overage</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Clawback / Overage</label>
        </rules>
        <rules>
            <name>Selected_Enhanced_Value7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addingtheseprovisions6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Enhanced_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Property_afford_access_or_services_to_another_Property7</targetReference>
            </connector>
            <label>Selected Enhanced Value</label>
        </rules>
        <rules>
            <name>Selected_Neither7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addingtheseprovisions6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Neither</elementReference>
                </rightValue>
            </conditions>
            <label>Selected Neither</label>
        </rules>
    </decisions>
    <decisions>
        <name>Arethereanyunclearrightsofwayofcommonorofaccess5</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>820</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedYes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Useclausetoexpressexistingrightswiththebenefits</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_these_provisions6</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Arethereanyunclearrightsofwayofcommonorofaccess8</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>3383</locationX>
        <locationY>1538</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectYes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Arethereanyunclearrightsofwayofcommonorofaccess2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Useclausetoexpressexistingrightswiththebenefits2</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Arethereanyunclearrightsofwayofcommonorofaccess2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Adding_these_provisions</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Adding_these_provisions</name>
        <label>Copy 2 of Adding these provisions?</label>
        <locationX>3702</locationX>
        <locationY>1754</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Selected_Clawback_Overage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clawback_Overage</elementReference>
                </rightValue>
            </conditions>
            <label>Copy 1 of Selected Clawback / Overage</label>
        </rules>
        <rules>
            <name>Copy_1_of_Selected_Enhanced_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Enhanced_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Does_the_Property_afford_access_or_services_to_another_Property</targetReference>
            </connector>
            <label>Copy 1 of Selected Enhanced Value</label>
        </rules>
        <rules>
            <name>Copy_1_of_Selected_Neither</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Neither</elementReference>
                </rightValue>
            </conditions>
            <label>Copy 1 of Selected Neither</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Adding_these_provisions</name>
        <label>Copy 4 of Adding these provisions?</label>
        <locationX>2734</locationX>
        <locationY>1970</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Selected_Clawback_Overage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Clawback_Overage</elementReference>
                </rightValue>
            </conditions>
            <label>Copy 2 of Selected Clawback / Overage</label>
        </rules>
        <rules>
            <name>Copy_2_of_Selected_Enhanced_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Enhanced_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Does_the_Property_afford_access_or_services_to_another_Property</targetReference>
            </connector>
            <label>Copy 2 of Selected Enhanced Value</label>
        </rules>
        <rules>
            <name>Copy_2_of_Selected_Neither</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adding_these_provisions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Neither</elementReference>
                </rightValue>
            </conditions>
            <label>Copy 2 of Selected Neither</label>
        </rules>
    </decisions>
    <decisions>
        <name>Covenantnottochangeexistinguserequired3</name>
        <label>Covenant not to change existing use required?</label>
        <locationX>2591</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedYes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Covenant_not_to_change_existing_use_required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nochangeofuserestrictionrequired</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>SelectedNo2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Covenant_not_to_change_existing_use_required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access2</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doyouwanttoattachfreeholdstandardprovisions2</name>
        <label>Do you want to attach freehold standard provisions</label>
        <locationX>3740</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Doyouwanttoattachfreeholdstandardprovisions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Isthisafreeholdreversionsale</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>SelectedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Doyouwanttoattachfreeholdstandardprovisions1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_clause_to_express_existing_rights_with_the_benefits9</name>
        <label>Use clause to express existing rights with the benefits?</label>
        <locationX>2580</locationX>
        <locationY>1754</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Useclausetoexpressexistingrightswiththebenefits3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addingtheseprovisions2</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Useclausetoexpressexistingrightswiththebenefits3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Adding_these_provisions</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TP1 2009 (TP12008) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TP1 2009 (TP12008)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Adding_these_provisions6</name>
        <label>Adding these provisions?</label>
        <locationX>974</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adding_these_provisions7</targetReference>
        </connector>
        <fields>
            <name>Addingtheseprovisions6</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Addingtheseprovisions</name>
        <label>Adding these provisions?</label>
        <locationX>182</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adding_these_provisions5</targetReference>
        </connector>
        <fields>
            <name>Adding_these_provisions</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Addingtheseprovisions2</name>
        <label>Adding these provisions?</label>
        <locationX>1942</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adding_these_provisions2</targetReference>
        </connector>
        <fields>
            <name>Addingtheseprovisions3</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_there_any_unclear_rights_of_way_of_common_or_of_access2</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>3383</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Arethereanyunclearrightsofwayofcommonorofaccess8</targetReference>
        </connector>
        <fields>
            <name>Arethereanyunclearrightsofwayofcommonorofaccess2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any unclear rights of way, of common or of access?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Arethereanyunclearrightsofwayofcommonorofaccess</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>820</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Arethereanyunclearrightsofwayofcommonorofaccess5</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_unclear_rights_of_way_of_common_or_of_access</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any unclear rights of way, of common or of access?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Aretheretwoormorepurchasers</name>
        <label>Are there two or more purchasers?</label>
        <locationX>2591</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Include_nuisance_clause</targetReference>
        </connector>
        <fields>
            <name>Are_there_two_or_more_purchasers</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there two or more purchasers?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_consideration</name>
        <label>Confirm consideration</label>
        <locationX>3740</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Doyouwanttoattachfreeholdstandardprovisions</targetReference>
        </connector>
        <fields>
            <name>Confirm_consideration1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm consideration</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Adding_these_provisions</name>
        <label>Copy 1 of Adding these provisions?</label>
        <locationX>3702</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_2_of_Adding_these_provisions</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_Adding_these_provisions</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Does_the_Property_afford_access_or_services_to_another_Property</name>
        <label>Copy 1 of Does the Property afford access or services to another Property</label>
        <locationX>2602</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Does_the_Property_afford_access_or_services_to_another_Prope</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the Property afford access or services to another Property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Does_the_Property_afford_access_or_services_to_another_Property</name>
        <label>Copy 2 of Does the Property afford access or services to another Property</label>
        <locationX>3570</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_Does_the_Property_afford_access_or_services_to_another_Prope</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the Property afford access or services to another Property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Adding_these_provisions</name>
        <label>Copy 3 of Adding these provisions?</label>
        <locationX>2734</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_4_of_Adding_these_provisions</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Copy_1_of_Adding_these_provisions</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Covenantnottochangeexistinguserequired</name>
        <label>Covenant not to change existing use required?</label>
        <locationX>2591</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covenantnottochangeexistinguserequired3</targetReference>
        </connector>
        <fields>
            <name>Covenant_not_to_change_existing_use_required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Covenant not to change existing use required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_conveyance_etc_containing_description_of_the_property_have_a_plan</name>
        <label>Does conveyance etc containing description of the property have a plan?</label>
        <locationX>3740</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_details_of_conveyance_etc_containing_description_of_property</targetReference>
        </connector>
        <fields>
            <name>Does_conveyance_etc_containing_description_of_the_property_have_a_plan1</name>
            <choiceReferences>Drawn_on</choiceReferences>
            <choiceReferences>Annexed_to</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does conveyance etc containing description of the property have a plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_the_Property_afford_access_or_services_to_another_Property</name>
        <label>Does the Property afford access or services to another Property</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Does_the_Property_afford_access_or_services_to_another_Property1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the Property afford access or services to another Property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_the_Property_afford_access_or_services_to_another_Property7</name>
        <label>Does the Property afford access or services to another Property</label>
        <locationX>842</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoesthePropertyaffordaccessorservicestoanotherProperty7</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the Property afford access or services to another Property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DoesthePropertyaffordaccessorservicestoanotherProperty</name>
        <label>Does the Property afford access or services to another Property</label>
        <locationX>1810</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DoesthePropertyaffordaccessorservicestoanotherProperty2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does the Property afford access or services to another Property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Doyouwanttoattachfreeholdstandardprovisions</name>
        <label>Do you want to attach freehold standard provisions</label>
        <locationX>3740</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Doyouwanttoattachfreeholdstandardprovisions2</targetReference>
        </connector>
        <fields>
            <name>Doyouwanttoattachfreeholdstandardprovisions1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to attach freehold standard provisions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_details_of_conveyance_etc_containing_description_of_property</name>
        <label>Enter details of conveyance etc containing description of property</label>
        <locationX>3740</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_consideration</targetReference>
        </connector>
        <fields>
            <name>Enter_details_of_conveyance_etc_containing_description_of_property1</name>
            <dataType>String</dataType>
            <fieldText>Enter details of conveyance etc containing description of property</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Include_All_such_estate_right_title_and_interest_if_any</name>
        <label>Include - All such estate, right, title and interest if any</label>
        <locationX>3740</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_conveyance_etc_containing_description_of_the_property_have_a_plan</targetReference>
        </connector>
        <fields>
            <name>Include_All_such_estate_right_title_and_interest_if_any1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include - All such estate, right, title and interest if any</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Include_nuisance_clause</name>
        <label>Include nuisance clause?</label>
        <locationX>2591</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covenantnottochangeexistinguserequired</targetReference>
        </connector>
        <fields>
            <name>Include_nuisance_clause1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include nuisance clause?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Indemnity_against_restrictive_or_other_covenants_needed</name>
        <label>Indemnity against restrictive or other covenants needed</label>
        <locationX>2591</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Aretheretwoormorepurchasers</targetReference>
        </connector>
        <fields>
            <name>Indemnity_against_restrictive_or_other_covenants_needed1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Indemnity against restrictive or other covenants needed</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Isthisafreeholdreversionsale</name>
        <label>Is this a freehold reversion sale?</label>
        <locationX>2591</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Indemnity_against_restrictive_or_other_covenants_needed</targetReference>
        </connector>
        <fields>
            <name>Is_this_a_freehold_reversion_sale1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this a freehold reversion sale?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nochangeofuserestrictionrequired</name>
        <label>No change of use restriction required?</label>
        <locationX>820</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Arethereanyunclearrightsofwayofcommonorofaccess</targetReference>
        </connector>
        <fields>
            <name>No_change_of_use_restriction_required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No change of use restriction required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Useclausetoexpressexistingrightswiththebenefits</name>
        <label>Use clause to express existing rights with the benefits?</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Addingtheseprovisions</targetReference>
        </connector>
        <fields>
            <name>Useclausetoexpressexistingrightswiththebenefits1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use clause to express existing rights with the benefits?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Useclausetoexpressexistingrightswiththebenefits2</name>
        <label>Use clause to express existing rights with the benefits?</label>
        <locationX>2580</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Use_clause_to_express_existing_rights_with_the_benefits9</targetReference>
        </connector>
        <fields>
            <name>Useclausetoexpressexistingrightswiththebenefits3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use clause to express existing rights with the benefits?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3614</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Include_All_such_estate_right_title_and_interest_if_any</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
