force-app/main/default/flows/TR1_2009_TR12008.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Annexed_to</name>
        <choiceText>annexed to</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>annexed to</stringValue>
        </value>
    </choices>
    <choices>
        <name>Clawback_Overage</name>
        <choiceText>Clawback / Overage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clawback / Overage</stringValue>
        </value>
    </choices>
    <choices>
        <name>Companies</name>
        <choiceText>Companies</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Companies</stringValue>
        </value>
    </choices>
    <choices>
        <name>Drawn_on</name>
        <choiceText>drawn on</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>drawn on</stringValue>
        </value>
    </choices>
    <choices>
        <name>Enhanced_Value</name>
        <choiceText>Enhanced Value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Enhanced Value</stringValue>
        </value>
    </choices>
    <choices>
        <name>Estates</name>
        <choiceText>Estates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Estates</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neither</name>
        <choiceText>Neither</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neither</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OK</name>
        <choiceText>OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OK</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_any_unclear_rights_of_way_of_common_or_of_access1</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_clause_expressing_rights_with_the_benefits</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_you_wish_to_include_a_final_catchall_provision_for_editing10</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Arethereanyunclearrightsofwayofcommonorofaccess30</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>1106</locationX>
        <locationY>1862</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Useclauseexpressingrightswiththebenefits</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Doyouwishtoincludeafinalcatchallprovisionforediting20</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Attachfreeholdfreeholdreversionstandardprovisions</name>
        <label>Attach freehold/freehold reversion standard provisions</label>
        <locationX>2459</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attach_freehold_freehold_reversion_standard_provisions2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Production_Message</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>SelectedNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attach_freehold_freehold_reversion_standard_provisions2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmappropriatemattertypeforpanel12CSsheet</name>
        <label>Confirm appropriate matter type for panel 12 CS sheet</label>
        <locationX>1788</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Companies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_appropriate_matter_type_for_panel_12_CS_sheet1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Companies</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Include_Freehold_covenants_provisions_indemnity_clause</targetReference>
            </connector>
            <label>Selected Companies</label>
        </rules>
        <rules>
            <name>Selected_Estates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_appropriate_matter_type_for_panel_12_CS_sheet1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Estates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_date_grant_issued</targetReference>
            </connector>
            <label>Selected Estates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Covenant_not_to_change_existing_use_required</name>
        <label>Covenant not to change existing use required?</label>
        <locationX>974</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Covenant_not_to_change_existing_use_required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nochangeofuserestrictionrequired</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Covenant_not_to_change_existing_use_required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Arethereanyunclearrightsofwayofcommonorofaccess26</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Covenant_not_to_change_existing_use_required2</name>
        <label>Covenant not to change existing use required?</label>
        <locationX>2162</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Covenant_not_to_change_existing_use_required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_change_of_use_restriction_required2</targetReference>
            </connector>
            <label>Selected Yes</label>
        </rules>
        <rules>
            <name>Selected_No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Covenant_not_to_change_existing_use_required1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access2</targetReference>
            </connector>
            <label>Selected No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TR1 2009 (TR12008) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TR1 2009 (TR12008)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Adding_these_provisions</name>
        <label>Adding these provisions?</label>
        <locationX>50</locationX>
        <locationY>2402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Adding_these_provisions1</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Addingtheseprovisions</name>
        <label>Adding these provisions?</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Addingtheseprovisions12</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Addingtheseprovisions18</name>
        <label>Adding these provisions?</label>
        <locationX>842</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Addingtheseprovisions19</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Addingtheseprovisions24</name>
        <label>Adding these provisions?</label>
        <locationX>1106</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Addingtheseprovisions25</name>
            <choiceReferences>Clawback_Overage</choiceReferences>
            <choiceReferences>Enhanced_Value</choiceReferences>
            <choiceReferences>Neither</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Adding these provisions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Are_there_any_unclear_rights_of_way_of_common_or_of_access2</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>2162</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_you_wish_to_include_a_final_catchall_provision_for_editing2</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_unclear_rights_of_way_of_common_or_of_access3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any unclear rights of way, of common or of access?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Arethereanyunclearrightsofwayofcommonorofaccess</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_there_any_unclear_rights_of_way_of_common_or_of_access1</targetReference>
        </connector>
        <fields>
            <name>Are_there_any_unclear_rights_of_way_of_common_or_of_access</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any unclear rights of way, of common or of access?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Arethereanyunclearrightsofwayofcommonorofaccess2</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>1898</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Doyouwishtoincludeafinalcatchallprovisionforediting2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Are_there_any_unclear_rights_of_way_of_common_or_of_access3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any unclear rights of way, of common or of access?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Arethereanyunclearrightsofwayofcommonorofaccess26</name>
        <label>Are there any unclear rights of way, of common or of access?</label>
        <locationX>1106</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Arethereanyunclearrightsofwayofcommonorofaccess30</targetReference>
        </connector>
        <fields>
            <name>Arethereanyunclearrightsofwayofcommonorofaccess27</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there any unclear rights of way, of common or of access?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Aretheretwoormorepurchasers</name>
        <label>Are there two or more purchasers?</label>
        <locationX>974</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Include_nuisance_clause</targetReference>
        </connector>
        <fields>
            <name>Are_there_two_or_more_purchasers</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there two or more purchasers?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Aretheretwoormorepurchasers2</name>
        <label>Are there two or more purchasers?</label>
        <locationX>2162</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covenantnottochangeexistinguserequired2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Are_there_two_or_more_purchasers</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are there two or more purchasers?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Attach_freehold_freehold_reversion_standard_provisions1</name>
        <label>Attach freehold/freehold reversion standard provisions</label>
        <locationX>2459</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attachfreeholdfreeholdreversionstandardprovisions</targetReference>
        </connector>
        <fields>
            <name>Attach_freehold_freehold_reversion_standard_provisions2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Attach freehold/freehold reversion standard provisions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_appropriate_matter_type_for_panel_12_CS_sheet</name>
        <label>Confirm appropriate matter type for panel 12 CS sheet</label>
        <locationX>1788</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmappropriatemattertypeforpanel12CSsheet</targetReference>
        </connector>
        <fields>
            <name>Confirm_appropriate_matter_type_for_panel_12_CS_sheet1</name>
            <choiceReferences>Companies</choiceReferences>
            <choiceReferences>Estates</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm appropriate matter type for panel 12 CS sheet</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_consideration</name>
        <label>Confirm consideration</label>
        <locationX>2459</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attach_freehold_freehold_reversion_standard_provisions1</targetReference>
        </connector>
        <fields>
            <name>Confirm_consideration1</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm consideration</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Covenantnottochangeexistinguserequired</name>
        <label>Covenant not to change existing use required?</label>
        <locationX>974</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covenant_not_to_change_existing_use_required</targetReference>
        </connector>
        <fields>
            <name>Covenant_not_to_change_existing_use_required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Covenant not to change existing use required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Covenantnottochangeexistinguserequired2</name>
        <label>Covenant not to change existing use required?</label>
        <locationX>2162</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covenant_not_to_change_existing_use_required2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Covenant_not_to_change_existing_use_required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Covenant not to change existing use required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_wish_to_include_a_final_catchall_provision_for_editing</name>
        <label>Do you wish to include a final catchall provision for editing?</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_freehold_property_subject_to_a_yearly_rent_charge</targetReference>
        </connector>
        <fields>
            <name>Do_you_wish_to_include_a_final_catchall_provision_for_editing1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to include a final catchall provision for editing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_wish_to_include_a_final_catchall_provision_for_editing10</name>
        <label>Do you wish to include a final catchall provision for editing?</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Isthefreeholdpropertysubjecttoayearlyrentcharge</targetReference>
        </connector>
        <fields>
            <name>Doyouwishtoincludeafinalcatchallprovisionforediting3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to include a final catchall provision for editing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_wish_to_include_a_final_catchall_provision_for_editing2</name>
        <label>Do you wish to include a final catchall provision for editing?</label>
        <locationX>2162</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Do_you_wish_to_include_a_final_catchall_provision_for_editing3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to include a final catchall provision for editing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Document_Production_Message</name>
        <label>Document Production Message</label>
        <locationX>1788</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_appropriate_matter_type_for_panel_12_CS_sheet</targetReference>
        </connector>
        <fields>
            <name>IN_CASES_OF_COMPANIES_FREEHOLD_REVERSIONS_ONLY_INCLUDE_No_8_WHEN_THE_PROPERTY_IS</name>
            <choiceReferences>OK</choiceReferences>
            <dataType>String</dataType>
            <fieldText>IN CASES OF COMPANIES FREEHOLD REVERSIONS ONLY INCLUDE No. 8 WHEN THE PROPERTY IS SUBJECT TO ANNUAL RENT CHARGE</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Does_conveyance_etc_containing_description_of_the_property_have_a_plan</name>
        <label>Does conveyance etc containing description of the property have a plan?</label>
        <locationX>2459</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_details_of_conveyance_etc_containing_description_of_property</targetReference>
        </connector>
        <fields>
            <name>Does_conveyance_etc_containing_description_of_the_property_have_a_plan1</name>
            <choiceReferences>Drawn_on</choiceReferences>
            <choiceReferences>Annexed_to</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Does conveyance etc containing description of the property have a plan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Doyouwishtoincludeafinalcatchallprovisionforediting</name>
        <label>Do you wish to include a final catchall provision for editing?</label>
        <locationX>842</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Isthefreeholdpropertysubjecttoayearlyrentcharge16</targetReference>
        </connector>
        <fields>
            <name>Doyouwishtoincludeafinalcatchallprovisionforediting14</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to include a final catchall provision for editing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Doyouwishtoincludeafinalcatchallprovisionforediting2</name>
        <label>Do you wish to include a final catchall provision for editing?</label>
        <locationX>1898</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Do_you_wish_to_include_a_final_catchall_provision_for_editing3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to include a final catchall provision for editing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Doyouwishtoincludeafinalcatchallprovisionforediting20</name>
        <label>Do you wish to include a final catchall provision for editing?</label>
        <locationX>1106</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Isthefreeholdpropertysubjecttoayearlyrentcharge22</targetReference>
        </connector>
        <fields>
            <name>Doyouwishtoincludeafinalcatchallprovisionforediting21</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you wish to include a final catchall provision for editing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_date_grant_issued</name>
        <label>Enter date grant issued</label>
        <locationX>2162</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IncludeFreeholdcovenantsprovisionsindemnityclause2</targetReference>
        </connector>
        <fields>
            <name>Enter_date_grant_issued1</name>
            <dataType>Date</dataType>
            <fieldText>Enter date grant issued</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_details_of_conveyance_etc_containing_description_of_property</name>
        <label>Enter details of conveyance etc containing description of property</label>
        <locationX>2459</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_consideration</targetReference>
        </connector>
        <fields>
            <name>Enter_details_of_conveyance_etc_containing_description_of_property1</name>
            <dataType>String</dataType>
            <fieldText>Enter details of conveyance etc containing description of property</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Include_All_such_estate_right_title_and_interest_if_any</name>
        <label>Include - All such estate, right, title and interest if any</label>
        <locationX>2459</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_conveyance_etc_containing_description_of_the_property_have_a_plan</targetReference>
        </connector>
        <fields>
            <name>Include_All_such_estate_right_title_and_interest_if_any1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include - All such estate, right, title and interest if any</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Include_Freehold_covenants_provisions_indemnity_clause</name>
        <label>Include Freehold covenants / provisions indemnity clause?</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Include_Landlords_covenants_provisions_indemnity_clause</targetReference>
        </connector>
        <fields>
            <name>Include_Freehold_covenants_provisions_indemnity_clause1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include Freehold covenants / provisions indemnity clause?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Include_Landlords_covenants_provisions_indemnity_clause</name>
        <label>Include Landlords covenants / provisions indemnity clause?</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Aretheretwoormorepurchasers</targetReference>
        </connector>
        <fields>
            <name>Include_Landlords_covenants_provisions_indemnity_clause1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include Landlords covenants / provisions indemnity clause?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Include_nuisance_clause</name>
        <label>Include nuisance clause?</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covenantnottochangeexistinguserequired</targetReference>
        </connector>
        <fields>
            <name>Include_nuisance_clause1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include nuisance clause?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IncludeFreeholdcovenantsprovisionsindemnityclause2</name>
        <label>Include Freehold covenants / provisions indemnity clause?</label>
        <locationX>2162</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IncludeLandlordscovenantsprovisionsindemnityclause2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Include_Freehold_covenants_provisions_indemnity_clause1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include Freehold covenants / provisions indemnity clause?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>IncludeLandlordscovenantsprovisionsindemnityclause2</name>
        <label>Include Landlords covenants / provisions indemnity clause?</label>
        <locationX>2162</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Aretheretwoormorepurchasers2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Include_Landlords_covenants_provisions_indemnity_clause1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Include Landlords covenants / provisions indemnity clause?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_the_freehold_property_subject_to_a_yearly_rent_charge</name>
        <label>Is the freehold property subject to a yearly rent charge?</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Adding_these_provisions</targetReference>
        </connector>
        <fields>
            <name>Is_the_freehold_property_subject_to_a_yearly_rent_charge1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the freehold property subject to a yearly rent charge?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Isthefreeholdpropertysubjecttoayearlyrentcharge</name>
        <label>Is the freehold property subject to a yearly rent charge?</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Addingtheseprovisions</targetReference>
        </connector>
        <fields>
            <name>Isthefreeholdpropertysubjecttoayearlyrentcharge11</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the freehold property subject to a yearly rent charge?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Isthefreeholdpropertysubjecttoayearlyrentcharge16</name>
        <label>Is the freehold property subject to a yearly rent charge?</label>
        <locationX>842</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Addingtheseprovisions18</targetReference>
        </connector>
        <fields>
            <name>Isthefreeholdpropertysubjecttoayearlyrentcharge17</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the freehold property subject to a yearly rent charge?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Isthefreeholdpropertysubjecttoayearlyrentcharge22</name>
        <label>Is the freehold property subject to a yearly rent charge?</label>
        <locationX>1106</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Addingtheseprovisions24</targetReference>
        </connector>
        <fields>
            <name>Isthefreeholdpropertysubjecttoayearlyrentcharge23</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the freehold property subject to a yearly rent charge?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_change_of_use_restriction_required2</name>
        <label>No change of use restriction required?</label>
        <locationX>1898</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Arethereanyunclearrightsofwayofcommonorofaccess2</targetReference>
        </connector>
        <fields>
            <name>No_change_of_use_restriction_required3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No change of use restriction required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nochangeofuserestrictionrequired</name>
        <label>No change of use restriction required?</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Arethereanyunclearrightsofwayofcommonorofaccess</targetReference>
        </connector>
        <fields>
            <name>No_change_of_use_restriction_required1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>No change of use restriction required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Use_clause_expressing_rights_with_the_benefits</name>
        <label>Use clause expressing rights with the benefits?</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_you_wish_to_include_a_final_catchall_provision_for_editing</targetReference>
        </connector>
        <fields>
            <name>Use_clause_expressing_rights_with_the_benefits1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use clause expressing rights with the benefits?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Useclauseexpressingrightswiththebenefits</name>
        <label>Use clause expressing rights with the benefits?</label>
        <locationX>842</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Doyouwishtoincludeafinalcatchallprovisionforediting</targetReference>
        </connector>
        <fields>
            <name>Useclauseexpressingrightswiththebenefits13</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Use clause expressing rights with the benefits?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2333</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Include_All_such_estate_right_title_and_interest_if_any</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
