force-app/main/default/flows/video3b.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Store_Field_Values</name>
        <label>Store Field Values</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>subflowValues</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>bankAccountNumber: {!getBank};</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <dynamicChoiceSets>
        <name>recordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Bank__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BV_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AssetLiability__c</object>
        <outputAssignments>
            <assignToReference>bankAccountNumber</assignToReference>
            <field>Bank_Account_Number__c</field>
        </outputAssignments>
        <valueField>Bank_Account_Number__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>video3b {!$Flow.CurrentDateTime}</interviewLabel>
    <label>video3b</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>video3bScreen</name>
        <label>video3bScreen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Field_Values</targetReference>
        </connector>
        <fields>
            <name>getBank</name>
            <choiceReferences>recordChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select bank</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>video3bScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bankAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subflowValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
