force-app/main/default/flows/x_document_generation_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Acknowdlegment</name>
        <choiceText>Acknowdlegment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acknowdlegment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Holding</name>
        <choiceText>Holding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Holding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recipient</name>
        <choiceText>Recipient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recipient</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Letter_type_decision</name>
        <label>Letter type decision</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_holding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_corresponding_letter_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Holding</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_much_x</targetReference>
            </connector>
            <label>Selected holding</label>
        </rules>
        <rules>
            <name>Selected_recipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_corresponding_letter_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Recipient</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_fill_your_address_in_here</targetReference>
            </connector>
            <label>Selected Recipient</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>x document generation flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>x document generation flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>How_much_x</name>
        <label>How much x</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Enter_x_number</name>
            <dataType>Number</dataType>
            <fieldText>Enter x number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_fill_your_address_in_here</name>
        <label>Please fill your address in here</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fill_your_address_in</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_a_letter_type</name>
        <label>Select a letter type</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Letter_type_decision</targetReference>
        </connector>
        <fields>
            <name>Select_the_corresponding_letter_type</name>
            <choiceReferences>Acknowdlegment</choiceReferences>
            <choiceReferences>Recipient</choiceReferences>
            <choiceReferences>Holding</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the corresponding letter type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_a_letter_type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
